<?php
$crypt = new Cny_Model_Encryption();
?>
<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_ftp.png"></td>
			<td width="368"><h1>Edit FTP Information</h1></td>
			<td width="165" align="center"></td>
			<td width="324" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<form method="post" action="/ftp/edit/id/<?=$this->ftp['id']?>" id="editForm">
		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th colspan="2">
							Edit FTP: <?=$this->ftp['website']?>
							<ul class="buttons">
								<li><a href="/ftp/delete/id/<?=$this->ftp['id']?>" onclick="return confirm('Are you sure you want to delete this FTP? This can not be undone!');" class="btn-delete"></a></li>
								<li><a href="/ftp/view/id/<?=$this->ftp['id']?>" class="btn-back"></a></li>
							</ul>
						</th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="3"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr width="836">
						<td width="160" class="title2">Website:</td>
						<td><input type="text" name="data[website]" value="<?=$this->ftp['website']?>"></td>
					</tr>
					<tr>
						<td class="title2">Client:</td>
						<td>
							<?=$this->formSelect('data[clientId]', $this->ftp['clientId'], array('id'=>'clientId', 'style'=>'width:250px;', 'class'=>'form-field'), $this->clients)?>
						</td>
					</tr>
					<tr>
						<td class="title2">Server:</td>
						<td>
							<?=$this->formSelect('data[serverId]', $this->ftp['serverId'], array('id'=>'serverId', 'style'=>'width:250px;', 'class'=>'form-field'), $this->servers)?>
						</td>
					</tr>
					<tr>
						<td class="title2">FTP Username:</td>
						<td><input type="text" name="data[ftp_username]" value="<?=$this->ftp['ftp_username']?>"></td>
					</tr>
					<tr>
						<td class="title2">FTP Password:</td>
						<td><input type="password" name="data[ftp_password]" id="ftp_password" value=""></td>
					</tr>
					<tr>
						<td class="title2">Confirm FTP Password:</td>
						<td><input type="password" name="data[vftp_password]" value=""></td>
					</tr>
					<tr>
						<td class="title2">DB Username:</td>
						<td><input type="text" name="data[db_username]" value="<?=$this->ftp['db_username']?>"></td>
					</tr>
					<tr>
						<td class="title2">DB Password:</td>
						<td><input type="password" name="data[db_password]" id="db_password" value=""></td>
					</tr>
					<tr>
						<td class="title2">Confirm DB Password:</td>
						<td><input type="password" name="data[vdb_password]" value=""></td>
					</tr>
				</tbody>
			</table>
		</div>

		<br/>

		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th width="418">Notes</th>
						<th width="418"></th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="2"></td>
					</tr>
				</tfoot>
				<tbody id="noteList">
					<tr width="836">
						<td colspan="2">
							<div id="notetable">
								<div class="noteheader-body">
									<p><textarea name="data[notes]" rows="10" cols="90" class="tinymce"><?=$this->ftp['notes']?></textarea></p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<br/>

		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th width="418">Encrypted Notes</th>
						<th width="418"></th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="2"></td>
					</tr>
				</tfoot>
				<tbody id="noteList">
					<tr width="836">
						<td colspan="2">
							<div id="notetable">
								<div class="noteheader-body">
									<p><textarea name="data[enc_notes]" rows="10" cols="90" class="tinymce"><?=$crypt->decrypt($this->enc_key,$this->ftp['enc_notes'])?></textarea></p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<br>
		<div id="form-at-buttonwrap">
			<input type="submit" class="btn-save" name="Save FTP" id="Save FTP" value="" />
		</div>

		</form>

	</div>
</div>

<style>
	/* ComboBox special overwrites */
	.ui-button-icon-only .ui-button-text { padding: 0.35em; }
	.ui-autocomplete-input { padding:0 0 0 0.25em; }
	.ui-autocomplete { text-align: left; height: 250px; overflow: auto; }
	button.ui-button-icon-only  { height:1.4em; width:2em; top:4px; }
</style>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#clientId").combobox();
	$("#serverId").combobox();

	$("#editForm").validate({
		rules: {
			"data[website]": "required",
			"data[clientId]": "required",
			"data[vftp_password]": {
				required: function(element) {
	        		if ($("#ftp_password").val() != "")
			        	return true;
			        else return false;
        		},
				equalTo: "#ftp_password"
			},
			"data[vdb_password]": {
				required: function(element) {
	        		if ($("#db_password").val() != "")
			        	return true;
			        else return false;
        		},
				equalTo: "#db_password"
			}
		},
		messages: {
			"data[website]": "Name required",
			"data[clientId]": "Client required",
			"data[vftp_password]": "Please verify FTP password",
			"data[vdb_password]": "Please verify DB password"
        }
	});

	tinymce.init({
		width : "300",
		selector: "textarea.tinymce",
		plugins: [
			"autolink lists link image",
			"searchreplace visualblocks",
			"contextmenu paste " //spellchecker (doesn't work)
		],
		toolbar: "bold italic underline strikethrough | cut copy paste | link | undo redo | searchreplace | forecolor | spellchecker ",
		relative_urls : false,
		menubar: false,
		toolbar_items_size: 'small'
	});
});
</script>
