<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<div class="tickets-system tickets-list cf">
	<div class="system-menu">
		<div class="ftp-info concepts-work">
			<div class="icon-concepts"><img src="/images/icn_ftp.png"></div>
			<h1>FTP Information</h1>
		</div>
		<div class="search-tix">
			<form method="post" action="/ftp">
				<input type="text" name="mask" value="<?=$this->mask?>" size="20" class="search-box">
				<input type="submit" value="Search" class="search-button">
			</form>
		</div>
	</div>

		<div class="table-wrap">
			<table class="centerTable system">
				<thead>
					<tr class="tickets-header">
						<th width="25" class="th-center"></th>
						<th width="250"><a href="/ftp/index/sort/website/dir/<?=$dir?>">Website</a></th>
						<th width="200"><a href="/ftp/index/sort/s.name/dir/<?=$dir?>">Server Name</a></th>
						<th width="250"><a href="/ftp/index/sort/ClientName/dir/<?=$dir?>">Client</a></th>
						<th width="55" class="th-center">View</th>
						<th width="55" class="th-center">Delete</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				$shade = true;
				foreach($this->ftps as $key => $val) {
					if($shade)
						$class = 'shadeoff';
					else
						$class = 'shadeon';
					$shade = !$shade;
				?>
					<tr width="840"  class="<?=$class?>">
						<td align="center"></td>
						<td><?=$val['website']?></td>
						<td><?=$val['server']?></td>
						<td><?=$val['ClientName']?></td>
						<td align="center"><a href="/ftp/view/id/<?=$val['id']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
						<td align="center"><a href="/ftp/delete/id/<?=$val['id']?>" onclick="return confirm('Are you sure you want to delete this FTP? This can not be undone!');"><i class="icn-red fa fa-ban fa"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>

			<?php echo $this->paginationControl($this->ftps, 'Sliding', 'pagination_control.phtml'); ?>
		</div>
</div>