<?php
$crypt = new Cny_Model_Encryption();
?>
<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_ftp.png"></td>
			<td width="368"><h1>View FTP Information</h1></td>
			<td width="165" align="center"></td>
			<td width="324" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th colspan="2">
							View FTP: <?=$this->ftp['website']?>
							<ul class="buttons">
								<li><a href="/ftp/delete/id/<?=$this->ftp['id']?>" onclick="return confirm('Are you sure you want to delete this FTP? This can not be undone!');" class="btn-delete"></a></li>
								<li><a href="/ftp/edit/id/<?=$this->ftp['id']?>" class="btn-edit"></a></li>
								<li><a href="/ftp" class="btn-back"></a></li>
							</ul>
						</th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="3"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr width="836">
						<td width="120" class="title2">Website:</td>
						<td><?=$this->ftp['website']?>	</td>
					</tr>
					<tr>
						<td class="title2">Client:</td>
						<td><?=$this->ftp['ClientName']?></td>
					</tr>
					<tr>
						<td class="title2">Server:</td>
						<td><?=$this->ftp['server']?> <span class="title2">Host:</span> <?=$this->ftp['host']?> <span class="title2">Owned By:</span> <?=$this->ftp['owned']?></td>
					</tr>
					<tr>
						<td class="title2">FTP Username:</td>
						<td> <span onclick='selectNode(this)'><?=$this->ftp['ftp_username']?></span></td>
					</tr>
					<tr>
						<td class="title2">FTP Password:</td>
						<td><span id="ftp_password"><?php if ($this->ftp['ftp_password']) echo preg_replace("(.?)", '*', $this->ftp['ftp_password'])?></span> <button onclick="displayPassword('ftp_password'); return false">View</button></td>
					</tr>
					<tr>
						<td class="title2">DB Username:</td>
						<td><span onclick='selectNode(this)'><?=$this->ftp['db_username']?></span></td>
					</tr>
					<tr>
						<td class="title2">DB Password:</td>
						<td><span id="db_password"><?php if ($this->ftp['db_password']) echo preg_replace("(.?)", '*', $this->ftp['db_password'])?></span> <button onclick="displayPassword('db_password'); return false">View</button></td>
					</tr>
				</tbody>
			</table>
		</div>

		<br/>

		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th width="418">Notes</th>
						<th width="418"></th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="2"></td>
					</tr>
				</tfoot>
				<tbody id="noteList">
					<tr width="836">
						<td colspan="2">
							<div id="notetable">
								<div class="noteheader-body">
									<p><?=$this->ftp['notes']?></p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<br/>

		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th width="418">Encrypted Notes</th>
						<th width="418"></th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="2"></td>
					</tr>
				</tfoot>
				<tbody id="noteList">
					<tr width="836">
						<td colspan="2">
							<div id="notetable">
								<div class="noteheader-body">
									<p><?=$crypt->decrypt($this->enc_key,$this->ftp['enc_notes'])?></p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});

function displayPassword(id) {
	$("#"+id).load("/ftp/password", {password: id, ftp_id: "<?=$this->ftp['id']?>"});
}

function selectNode (node) {
	//This is a third party function written by Martin Honnen
	//In comp.lang.javascript
	//http://groups-beta.google.com/group/comp.lang.javascript/browse_thread/thread/2b389e61c7b951f2/99b5f1bee9922c39?lnk=gst&q=(doc+%3D+node.ownerDocu ment)+%26%26+(win+%3D+doc.defaultView)&rnum=1&hl=e n#99b5f1bee9922c39

	var selection, range, doc, win;
	if ((doc = node.ownerDocument) && (win = doc.defaultView) && typeof win.getSelection != 'undefined' && typeof doc.createRange != 'undefined' && (selection = window.getSelection()) && typeof selection.removeAllRanges != 'undefined') {
		range = doc.createRange();
		range.selectNode(node);
		selection.removeAllRanges();
		selection.addRange(range);
	} else if (document.body && typeof document.body.createTextRange != 'undefined' && (range = document.body.createTextRange())) {
		range.moveToElementText(node);
		range.select();
	}
}
</script>