/* Project Lists */
#pm .projects-list-head {width: 865px;}
#pm .cny-projects {width: 884px;}
.hourtrack-header {background: #334488; color: #fff; }
.add-task {width: 200px;float: left;margin-left: 145px;}
.add-task a{display: block;padding-top: 11px;}
.user-switch-drop {width: 166px;padding-top: 15px;float: right;}
.lh32 {line-height: 32px !important;}

/* FTP Info */
#ftp.search-tix {padding-top: 3px;}
.ftp-info {width: 250px;float: left; padding-top: 15px;}

/*Schedules*/
.schedule-head {height: 50px;width: 870px;border-bottom: 1px solid #0F84C1;margin-bottom: 18px;}
.schedule-head h1, h1.sched {color:#0f84c1;float: left;font-size: 21px;}
.schedule-head .btn-addtask {float: right;padding-right: 12px;}

#pm .prod-email .mce-panel {width: 840px;}
/* NAV */
.quicklinks li .fa {padding-right: 8px;font-size: 15px; color:black;}
.quicklinks li .fa-plus-circle {color: green;}
.quicklinks li .fa-book,
.quicklinks li .fa-calendar	{color: brown;}
.quicklinks li .server-down {color: red;}
.quicklinks li .server-up {color: green;}

#nav-wrap.staff-nav #nav li {
	margin-right: 5px;
	white-space: nowrap;
	display: inline;
}
#nav-wrap.staff-nav #nav-home {margin-right: 33px !important;}

#nav-wrap.staff-nav #nav-tickets > ul {width: 110px;}
#nav-wrap.staff-nav #nav-tickets > ul > li {width: 110px;}
#nav-wrap.staff-nav #nav-tickets {width: 100px;}
#nav-wrap.staff-nav #nav-tickets > a {margin: 0 12px 0 0;}

#nav-wrap.staff-nav #nav-clients > ul {width: 105px;}
#nav-wrap.staff-nav #nav-clients > ul > li {width: 106px;}
#nav-wrap.staff-nav li#nav-clients {width: 100px;margin-left: -25px;margin-right: 16px;}
#nav-wrap.staff-nav #nav-clients > a {margin: 0 12px 0 0;}

#nav-wrap.staff-nav #nav-ftp > ul {width: 105px;}
#nav-wrap.staff-nav #nav-ftp > ul > li {width: 106px;}
#nav-wrap.staff-nav li#nav-ftp {width: 100px;margin-left: -25px;margin-right: 16px;}
#nav-wrap.staff-nav #nav-ftp > a {margin: 0 26px 0 0;}

#nav-wrap.staff-nav #nav-concepts > ul {width: 105px;}
#nav-wrap.staff-nav #nav-concepts > ul > li {width: 106px;}
#nav-wrap.staff-nav li#nav-concepts {width: 100px;margin-left: -25px;margin-right: 16px;}
#nav-wrap.staff-nav #nav-concepts > a {margin: 0 6px 0 0;}

#nav-wrap.staff-nav #nav-schedule > ul {width: 105px;}
#nav-wrap.staff-nav #nav-schedule > ul > li {width: 106px;}
#nav-wrap.staff-nav li#nav-schedule {width: 105px;margin-left: 2px;margin-right: 16px;}
#nav-wrap.staff-nav #nav-schedule > a {margin: 0;}

#nav-wrap.staff-nav #nav-admin > ul {width: 105px;}
#nav-wrap.staff-nav #nav-admin > ul > li {width: 106px;}
#nav-wrap.staff-nav li#nav-admin {width: 105px;margin-left: -6px;margin-right: 0px;}
#nav-wrap.staff-nav #nav-admin > a {margin: 0 16px 0 0;}


#nav-wrap.staff-nav #nav-pm > a {margin-right: 0px;}
#nav-wrap.staff-nav #nav-pm > ul {width: 128px;}
#nav-wrap.staff-nav #nav-pm > ul > li {width: 128px;}

#nav li li > ul {
	background: #0f84c1;
	height: auto;
	padding: 0px;
	border: 0px;
	position: absolute;
	z-index: 999;
	float: none;
	margin-top: -37px;
	width: 117px;
	left: 140px;
	opacity: 0;
	visibility: hidden;
}
#nav li li:hover > ul {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  -o-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}
/* CHARTS */
.chart200 {
	width: 185px;
	float:left;
	padding-right: 10px;
}
.chartTitle {
	height: 30px;
	background: #3970a0;
	line-height: 30px;
	color: white;
	padding: 0 5px;
}

.chartTitle .pm {
	background: url(/images/pm-chart-icon.png) no-repeat 6px 7px;
	padding: 0 0 0 28px;
}
.chartTitle .solutions {
	background: url(/images/sm-chart-icon.png) no-repeat 6px 7px;
	padding: 1px 0 0 30px;
}
.chartTitle .retainer {
	background: url(/images/retainers-chart-icon.png) no-repeat 6px 9px;
	padding: 1px 0 0 29px;
}

.chartSubTitle1 {
	height:25px;
	background-color: #248fa6;
	line-height: 25px;
	color: white;
	padding-left: 10px;
}
.chartSubTitle2 {
	height:25px;
	background-color: #248fa6;
	line-height: 25px;
	color: white;
	padding-left: 10px;
}
.chartSubTitle3 {
	height:25px;
	background-color: #248fa6;
	line-height: 25px;
	color: white;
	padding-left: 10px;
}
.chartLink {
	float: right;
	margin-top:5px;
}
#main-content {width: 925px;}
#upcoming_events_list  {
	color:#5E5E5E;
	line-height:16px;
	margin:10px;
}
#upcoming_events_list li {
	padding:6px 0;
	list-style-type: disc;
	margin: 0 0 0 15px;
}
#wrapper {width: 925px;}
/* CYBER LAYOUT TOP NAV */
#search-wrap.cybernav .floating-nav {
	padding-top: 12px;
}
#search-wrap .floating-nav {
	float: right;
}
#search-wrap .floating-nav li {
	float: left;
	text-align: left;
	padding: 0 25px;
	line-height: 18px;
}
#search-wrap .floating-nav li a:link, #search-wrap .floating-nav li a:visited {
	color:#888;
	text-decoration:none;
}
#search-wrap .floating-nav li a:hover {
	color: #4b4c4d;
}
#search-wrap .floating-nav .directory {
	background: url(/images/icon-directory.gif) no-repeat top left;
}
#search-wrap .floating-nav .calendar {
	background: url(/images/icon-calendar.gif) no-repeat top left;
}
#search-wrap .floating-nav .blog {
	background: url(/images/featured-blog-icon.gif) no-repeat top left;
}
#search-wrap .floating-nav .servers {
	padding-left: 0px;
}
#search-wrap .floating-nav .servers a {
	padding-top: 2px;
}
#search-wrap .floating-nav .quick_task {
	background: url(/images/icon-quicktask.png) no-repeat top left;
}


/* CYBER HOMEPAGE OVERRIDES */
#main-content.cyber {
	border: 0;
}
#main-content.cyber #main-header {
	background: #FFFFFF;
	width: 925px;
}
.pm-archive-search {height: 80px !important;}
.pm-archive-search .archive-search {padding-top: 10px;}
.owner-client {padding-left: 20px;padding-top: 12px;}
.noteheader-date {padding-right: 20px;}
.announcements a {padding-right: 8px;}
.delete-announcement {float: right;padding-top: 7px;}
.announcementheader {width: 825px; background: #3970a0;}
.announcementheader-body {width: 825px; background: #fff;}
#announcementtable {width: 826px;border: none;margin: 0 auto 25px auto;}
.announcements {float: none;}

.add-announcements {padding: 7px 0 0 0;font-weight: normal;font-size: 14px;}

.mb10 {margin-bottom: 10px;}
.mt10 {margin-top: 10px;}
.ml10 {margin-left: 10px;}
.pt10 {padding-top: 10px;}
.staff-home table.system {width: 830px;}
.staff-home .table-wrap {width: 885px;}
.staff-home .tickets-list {padding: 0; width: 885px; margin-left: 5px;}
.staff-home .tickets-list .centerTable {background: #248fa6;border-bottom: 0px;}
.staff-home .tickets-list table tbody tr:nth-child(odd)  { background: none;}
.staff-home .tickets-list table tbody tr:nth-child(even)  { background: none;}
.staff-home .tickets-system table tbody tr td {padding: 0;}
.staff-home .tickets-system {background: #248fa6;}

.noteheader-title {float: left; padding-top: 2px;}



/*CYBER HOMEPAGE ANNOUNCEMENTS BOX */
#mediamanagertable.announcements {
	background: #f0e4d6;
}
#mediamanagertable.announcements .announcementheader-body {
	background: #f0f1f3;
}
.datatable #mediamanagertable.announcements tr.header {
	background:url("/images/orange_header.gif") repeat-x scroll left top #c5802f;
	border-bottom: 0;
	height: 30px;
}

/* HOMEPAGE SIDEBAR */
#sidebar {
	background: #FFFFFF;
	border: 0;
}
#sidebar-titleback {
	height:30px;
	background: url(/images/blue_header.gif) repeat-x top left #113c67;
	line-height: 30px;
	color: white;
	padding: 0 5px;
}
#sidebar-titleback.green {
	background: url(/images/green_header.gif) repeat-x top left #113c67;
	height: 28px;
	line-height: 28px;
}
.sidebartitle {
	background: transparent;
	line-height: 30px;
	padding: 0 10px;
}
#sidebar #spacer {
	background: #FFFFFF;
	height: 20px;
}
#sidebar #twitterdiv {
	background:none repeat scroll 0 0 #EBF1F4;
	border: 1px solid #CCCCCC;
}
#sidebar #upcomingdiv {
	background:none repeat scroll 0 0 #e5f7e5;
	border: 1px solid #CCCCCC;
}

