/*LOGIN*/.myrs-form dd {
margin: 0 0 4px 0px;
}
.myrs-form-actions {
	/*padding-left: 40px;*/
}

#myrs-links {
position:absolute;
top:10px
left:10px;
}

/*HOME PAGE*/
#search-wrap{ 
}
#nav-wrap #logout{
	margin:0 10px 0 0;
}
#nav a:link, #nav a:visited {
margin:10px 30px 0 0;
   }
   #ft-wrap{
	margin:20px 0 0 0;
}


/*INTERIOR*/
#nav li {
   line-height:26px;
   }
#nav ul{
	margin:0 0 0 58px;
}
#navbar-sub ul{
	margin:6px 0 0 58px;
}
#wrapper{
	/*margin: 0 0 0 200px;*/
}

/*ADD TICKET FORM*/
#form-at #at-header {
	width:494px;
}
#form-at h1 {

}
#form-at input {
margin:4px 0 0 -20px;
}
#form-at textarea {
margin:4px 0 0 -20px;
}
#form-at .btn-addticket2{
	margin:0 0 0 80px;
}
