body {
	/*background: url(/images/background.gif) top left no-repeat #0b3762;*/
	font-family: "Arial", "Helvetica", "FreeSans", sans-serif;
	font-size: 11px;
}
#background_largeImg {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -1;
	display:none;
}
#login_wrapper {
	width: 100%;
	height: 100%;
}
.login-wrapper {
	width: 460px;
	margin: auto;
	z-index: 2;
	position: relative;
	top: 30%;
}


.login-menu {
	background: none repeat scroll 0 0 #0F84C1;
	height: 53px;
	margin: 0 auto 2px;
	width: 420px;
}

.error {
	color:#ff0000;
	font-weight:bold;
	text-align: center;
}

.login-box {
	background: #fff;
	width: 420px;
	margin: 0 auto 20px auto;
}

.login-box dt {
	width: 100px;
	float: left;
	margin: 10px 5px;
}
.login-box dd {
	width: 300px;
	float: left;
	margin: 10px 5px;
}


/* VALIDATION */
.error {
	cursor: default!important;
	color: red!important;
	font-size: 12px!important;
}