.modal {
	width: 510px;
	border: 15px solid #a8d7eb;
	display:block;
	background: #0086c3;
	padding-bottom: 20px;
	color: #fff;
}
.modal-head {
	width: 100%;
	height: 47px;
	background: #086497;
}
a.close-modal {
	height: 46px;
	width: 29px;
	display: none;
	cursor: pointer;
	background: url(/images/close-x.png) no-repeat center center;
	padding-right: 25px;
}
a.close-modal.posright {
	position: absolute;
	right: 15px;
	top: 15px;
}
.modal-head h1 {
	color: #fff;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 48px;
	display:block;
	width: 332px;
	margin: 0 auto;
}
.modal-content {
	width: 430px;
	margin: 0 auto;
	overflow: hidden;
}
.modal-content label  {
	width: 100%;
	display:block;
	margin: 14px 0 7px 0;
	color: #fff;
	font-size: 18px;
	font-weight: 100;
	text-align: left;
}
.modal-content input {
	display:block;
	width: 424px;
	line-height: 22px;
	font-size: 15px;
	padding-left: 5px;
}
.modal-content textarea {
	display:block;
	width: 424px;
	height: 125px;
	resize: none;
	margin-bottom: 20px;
	font-size: 15px;
	padding-top: 5px;
	padding-left: 5px;
}
.btn-addnote1 {
	background: url(/images/add-note-button.jpg) no-repeat left top;
	height: 44px;
	width: 162px;
	display: block;
	margin-top: 20px;
	float: left;
	border: none;
	cursor: pointer;
}
.btn-saveuser {
	background: url(/images/save-button.jpg) no-repeat left top;
	height: 44px !important;
	width: 162px !important;
	display: block;
	float: left;
	border: none;
	cursor: pointer;
}
.edit-user .b-iframe, .edit-user {
	height: 436px;
	width: 540px;
}
.add-ticket .b-iframe, .add-ticket {
	height: 738px;
	width: 540px;
}
.add-note .b-iframe {
	height: 610px;
}
.edit-ticket .b-iframe, .edit-ticket {
	height: 740px;
	width: 540px;
}
.b-iframe {
	width: 540px;
}
.concepts-add-note .b-iframe {
	height: 357px;
}
.schedule-requests .b-iframe {
	height: 531px;
}
.add-quick-task .b-iframe {
	height: 456px;
}
.add-cyber-ticket .b-iframe {
	height: 718px;
}
.concepts_add_note #form-at-buttonwrap {
	overflow: auto;
}

.modal-body form {
	background: #0086c3;
	width: 510px;
	overflow: hidden;
	display:block;
}

.modal-content .btn-addticket3, .modal-content .btn-addtask, .modal-content .btn-send-r {
	background: url(/images/white-button.jpg) no-repeat left top;
	height: 44px;
	width: 162px;
	display: block;
	margin: 0 auto;
	clear:both;
	border: none;
	cursor: pointer;
}
.modal-content .btn-addtask {
	background: url(/images/add-task-icon.png) no-repeat left top;
}
.modal-content .btn-send-r {
	background: url(/images/submit-button.png) no-repeat left top;
	display: inline-block;
}
.form-field {
	font-size: 18px;
	font-weight:bold;
	color: #075f8d;
	line-height: 30px;
	background: #ffffff;
	border: solid #dedcdd 2px;
	padding:2px;
	height:30px;
}
.tix-options {
	margin: 20px 0;
	overflow: hidden;
}
.modal-container {
	width: 540px;
	height: 100%;
}
.modal-content .row {
	width: 450px;
	height: 50px;
	float: left;
	margin: 5px 0;
}
.modal-content .row .c1 {
	width: 205px;
	height: 30px;
	float: left;
	margin-right: 20px;
}
.edit-users-modal .modal-content label {
	float: left;
	padding-right: 8px;
	padding-bottom: 8px;
	font-size: 13px;
	margin: 0;
}
.edit-users-modal .modal-content input {
	float: left;
	height: 22px;
	width: 204px;
	line-height: 21px;
}
.edit-client-wrap {
	padding: 10px 0;
	clear: both;
	overflow: hidden;
	width: 100%;
}
.client-role {
	padding-top: 20px;
	float: left;
	width: 211px;
}
.client-role div {
	width: 100%;
	height: 20px;
	float: left;
	padding-bottom: 10px;
}
.status-row {
	float: right;
	padding-top: 10px;
}
.submit-row {
	margin: 0 auto;
	width: 162px;
}
.modal-trigger {
	display: none;
}
/* ComboBox special overwrites */
.ui-button-icon-only .ui-button-text { padding: 0.35em !important; }
.ui-autocomplete-wrap .ui-autocomplete-input { padding:0.3em 0 0.35em 0.45em!important; display:inline-block !important;}
.ui-autocomplete { text-align: left; height: 250px; overflow: auto; }
.ui-autocomplete-wrap .ui-button { left: auto !important; }
/*Cyber user special overwrites*/
.condense-font .modal-content label {
	font-size: 14px;
}
.condense-font .modal-content input {
	font-size: 12px;
}
/*Modal Widths*/
.modalW480 {
	width: 480px;
}
/*Margins*/
.mTB20 {
	margin: 20px 0;
}
/*Text Alignments*/
.txt-right {
	text-align: right !important;
}
.txt-left {
	text-align: left !important;
}
.txt-center {
	text-align: center !important;
}