/* STANDARDS */
*{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
body {
	color: #5e5e5e;
	background: #ffffff;
	margin: 0;
	min-width: 1000px;
}
html, body { height: 100%; }

th { font-weight:bold; }

TABLE, TD, P {
	font-weight: normal;
	line-height: 22px;
	color: #5e5e5e;
}

FORM{ display: inline; }

A:link, A:visited, A:hover, A:active{
	font-weight: normal;
	text-decoration:underline;
	color: #0b3762;
}

strong, b{ font-weight:bold; }

.hide { display: none; }
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
/*NAV*/

#logo h1 a{
	display:block;
	background:url(/images/logo.gif) no-repeat left top;
	width: 200px;
	height: 55px;
	float: left;
	margin-top: 12px;
}
#logo h1 a span{ display:none; }

#search-wrap{
	font-size: 12px;
	font-weight:bold;
	color:#7999ba;
	float:right;
	overflow:hidden;
}
#search-wrap.cybernav #myrs-float-left {
	float: left;
	width:505px;
	overflow:hidden;
	text-align:left;
}
#myrs-float-right {
	float:left;
	width:200px;
	overflow:hidden;
	text-align:left;
}

.links-phone{
	font-size: 14px;
	font-weight:bold;
	padding-left: 5px;
}
#phone{
	display:none;
	width:16px;
	height:14px;
	float:left;
	clear:both;
	margin:1px 5px 0 0;
}
#mail{
	display:none;
	width:16px;
	height:12px;
	float:left;
	clear:both;
	margin:2px 5px 0 0;
}

.ticketslg{
	font-size:14px;
	font-weight:normal;
}
.hourtrack-header {background: #334488; color: #fff; }
/* TEMPLATE */

#document-wrap{
	width:100%;
	margin:0 auto;
	overflow:hidden;
}
#hd{
	background:#ffffff;
	height:62px;
	width: 910px;
	margin: 0 auto;
}
#search{
	margin:0 0 0 0;
}
#search-wrap input{
	float:left;
}
#search-wrap input#searchfield{
	color:#999999;
	width:120px;
	margin:4px 4px 0 0;
}

/* User slideout tab */
.dashtitle{float: left;width: 300px;}
.dashtitle h1 {color: white;text-transform: uppercase; font-size:17px;text-align: left;}
form.users {float: left;}
.slideout-bar {width: 100%; height: 3px;background: #32abdb; }
.user-switch { width: 100%;background: #3970a0; height: 25px; float: left; padding: 14px 0; border-bottom: 3px solid #32abdb;display: none;}
.user-switch label {color: white;}
.slide-toggler {padding: 0 12px 5px 12px;height: 20px;background: #32abdb;position: relative;top: 0;left: 105px;color: #fff;cursor: pointer;float: left;line-height: 24px; 
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}
.slide-toggler .fa {font-size: 16px;}
.slide-toggler:hover {color: white;text-decoration: none;}
.slide-content {width: 905px; margin: 0 auto;}
.pt20 {padding-top: 20px;}
.logout {float: right;}
.logout a.search-button {color: white; text-decoration: none; padding: 7px; }
.logout .fa {font-size: 15px;}
.slide-content #logo h1 a {margin-top: 0px;}

.navbar-fixed {
    top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;
}
/* NAVIGATION */

#nav-wrap{
	clear:both;
	overflow:hidden;
	background: #0f84c1;
	width: 100%;
	z-index: 1;
	border-bottom: 3px solid #ddd;
}

#nav {
	margin:0 auto;
	padding:0;
	height:34px;
	width:900px;
	z-index: 1;
}
#nav ul{
	margin:0;
}
#nav li {
   float:left;
   margin:0;
   padding: 5px 0;
   line-height:34px;
   list-style-type:none;
   margin-right: 12px;
}

.nav-size{font-size:14px;}

#nav a:link, #nav a:visited {
	color:#fff;
	letter-spacing:1px;
	margin:0 30px 0 0;
	float:right;
	width:auto;
	text-decoration:none;
	padding: 0 5px;
	font-size: 14px;
}
#nav a:hover {
	text-decoration: underline;
}
#nav li:hover > ul{
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  -o-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}
.nav-arrow {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 8px solid #0f84c1;
	width: 0;
	height: 0;
	margin: -5px auto 0 auto;
	display: block;
}
.subnav-arrow {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:8px solid #0f84c1; 
	margin: 0 auto;
	display: block;
	position: absolute;
	left: -8px;
	top: 26px;
}
#nav li > ul {
  background: #0f84c1;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  z-index: 999;
  float: none;
  margin-top: 42px;
  width: 117px;
	opacity: 0;
  visibility: hidden;
	  -webkit-transition-property: opacity, visibility;
  -moz-transition-property: opacity, visibility;
  -o-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: .2s, 0s;
  -moz-transition-duration: .2s, 0s;
  -o-transition-duration: .2s, 0s;
  transition-duration: .2s, 0s;
  -webkit-transition-delay: 0s, .2s;
  -moz-transition-delay: 0s, .2s;
  -o-transition-delay: 0s, .2s;
  transition-delay: 0s, .2s;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.75);
}
#nav li#nav-pay  {
	width: 140px !important;
	margin-right: 0px;
	margin-left: -45px;
}
#nav-pay ul {
	width: 130px !important;
}
#nav-pay li {
	width: 130px !important;
}
#nav li#nav-pay ul li a {
	width: 104px !important;
}
/* Concept Dropdown
#nav-pay a:link {
	margin-right: 0;
}
#nav-concepts a:link {
	margin: 0 30px 0 28px;
}
#nav-concepts li a:link{
	width: 101px !important;

}
*/
#nav li li {
  display: block;
  margin: 0px;
  padding: 0px;
  	width: 118px;
}
#nav li:hover li a {
  background: none;
}
#nav li ul li a {
	background: none !important;
	margin: 0 auto !important;
	padding: 2px 0;
	float: none !important;
	border-bottom: 1px dashed #ccc;
	width: 80px !important;
	font-size: 12px !important;

}
#nav .last-child{
	border-bottom: none;
}
#nav li ul a {
  display: block;
  height: 35px;
  font-size: 14px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 30px;
  text-align: center;
  float: left;
}
#nav li ul li:hover > a {
  text-decoration: underline;

}
#nav-contact a:link {
	margin-right: 22px;
	margin-left: 33px;
}
#nav-mysettings {
	width: 137px;
}
#nav-tickets {
	text-align: center;
	width: 121px;
	margin-right: 17px !important;
}
#nav-home {
	margin-right: 9px !important;
}
#nav-home a:link {
	margin-right: 0px !important;
}
#nav-wrap #logout{
	width:380px;
	height:21px;
	margin:6px 22px 0 0;
	display:block;
	float:right;
	clear:both;
	display: none;
}
#nav-retainer a:link {
	margin-right: 0;
}
#nav-retainer {
	margin-right: 0;
}
ul.social-icons {
	list-style-type: none;
	float: right;
	margin-top: 10px;
	margin-right: 3px;
}
ul.social-icons li {
	display: inline-block;
	width: 24px;
}

/*HOME RECENT TICKET FONTS*/

.ticket-blue {
	font-size: 16px;
	font-weight:bold;
	text-decoration: none;
	color: #1b446c;
}
a.ticket-blue:link, a.ticket-blue:visited, a.ticket-blue:active {
	font-size: 16px;
	font-weight:bold;
	text-decoration: none;
	color: #1b446c;
}
a.ticket-blue:hover{
	text-decoration: underline;
	color: #1b446c;
}
table.border {
	border:1px solid #cccccc;
}
table.border-home {
	border:1px solid #cccccc;
	margin: 0 0 0 24px;
}
table.home-pad {
	margin: 0 15px;
}
table.home-pad2 {
	margin: 0 0 0 14px;
}

/* BODY */

#bd{
	clear:both;
	text-align:left;
	margin:0 0 0 0;
}
#main-content{
	width:850px;
	margin:0 auto;
}
#main-content p{
	margin: 0 0 0 28px;
	color:#666666;
}

#main-content h2{
	background:url(/images/welcome.gif) no-repeat left top;
	width:198px;
	height:18px;
	margin:22px 0 0 28px;
	display:block;
	float:left;
	clear:both;
}

#wrapper{
	width: 895px;
	margin: 30px auto 0 auto;
}

#sidebar{
	float:right;
	width:222px;
	min-height:650px;
	background:#ebf1f4;
	color:#0b3762;
	border-left:1px solid #cccccc;
	overflow:hidden;
	clear:both;
}

#sidebar p{
	color:#5e5e5e;
	margin:10px 10px 10px 10px;
	line-height:22px;
}
#sidebar p a{
	text-decoration:underline;
	font-weight:normal;
	color:#0b3762;
}
#sidebar p a:hover{
	text-decoration:none;
	color:#0b3762;
}

.ticket-float-right {
	margin:3px 6px 0 0;
	float: right;
}
#sidebar #subnav{
	clear:both;
	overflow:hidden;
	height:218px
	}
#sidebar-titleback{
	float:right;
	width:222px;
	height:23px;
	margin:0 0 0 0;
	background:#0b3762;
	overflow:hidden;
}
.sidebartitle{
	font-size:14px;
	font-weight:bold;
	margin:0 0 0 6px;
	background:#0b3762;
	color:#ffffff;
	line-height:24px;
}
.sidebartitlelink{
	font-size:14px;
	font-weight:normal;
	margin:0 0 0 0;
	background:#0b3762;
	color:#ffffff;
}
a.sidebartitlelink:link, a.sidebartitlelink:visited, a.sidebartitlelink:active {
	font-size:14px;
	text-decoration: underline;
	font-weight:normal;
	color: #ffffff;
}
a.sidebartitlelink:hover{
	text-decoration: none;
}

#twitter_update_list {
	color:#5E5E5E;
	line-height:16px;
	margin:10px;
	clear: both;
}
#twitter_update_list LI {
	padding: 8px 0;
	list-style-image: url(/images/sidebar_bullet.gif);
	margin: 0 0 0 15px;
	/*border-bottom: 1px solid #CCCCCC;*/
}

#leftmain{ float:left; }
#centermain{ width:100%;}
#main-header{
	/*border:1px solid #cccccc;*/
	display:block;
	width:895px;
	height:46px;
	margin:0 auto;
	overflow:hidden;
	background: url(/images/home_header.gif) repeat-x top left;
}
#main-header h1{
	font-size:17px;
	font-weight:bold;
	color:#248fa6;
	float:left;
	margin:12px 0 0 16px;
}

#content-wrap #date {
	font-size:14px;
	font-weight:normal;
	color:#737373;
	float:right;
	display: none;
}
#home #date{
	margin:16px 12px 0 0;
	text-indent: -9999px;
	width: 100%;
}

/*FOOTER*/
#ft-wrap{
	background: url(/images/footer-back.gif) top left repeat;
	color:#95a9ba;
	height:70px;
	width:100%;
	overflow:hidden;
	text-align:center;
	overflow:hidden;
	clear:both;
}
#ft-break{
	margin-top:20px;
	}
#ft{
	margin-top:20px;
}
#ft a, #ft a:visited{
	font-size: 14px;
	text-decoration: none;
	color: #fff;
}
#ft a:hover{
	background: #0069ab;
}

#content_wrapper{
    position: relative;
    width: 100%;
    margin:0 auto;
    text-align:center;
    /*margin-left:110px;*/
    min-height: 100%;
    overflow:hidden;
}

#footer_wrapper{
	background: #0f84c1;
	height: 70px;
	color: #fff;
	width: 100%;
	text-align:center;
	/* left: 0;*/
	bottom: 0;
	overflow:hidden;
	position: absolute;
}
#footer{
	margin: 0 auto;
	width: 900px;
}
#footer p{
    color: #ffffff;
    margin: 18px 15px 0px 17px;
    font-size: 10px;
}
#footer p.powered{ float: left; }
#footer p.version{ float: right; }

/*SUB-NAV*/
#navbar-sub{
	border:1px solid #cccccc;
	background:#d4e1e7;
	height:34px;
	width:100%;
	margin:4px 0 0 0;
	float:left;
}
#navbar-sub ul{
	margin:8px 0 0 30px;
}
#navbar-sub-title{
	background:url(/images/h-customerportal.gif) no-repeat left top;
	width:141px;
	height:15px;
	margin:8px 22px 0 0;
	display:block;
	float:right;
	clear:both;
}

#subnav {
	margin:0;
	padding:0;
	height:34px;
	width:100%;
	float:left;
	display: none;
}
#subnav li {
	display:inline;
	padding:0;
	margin:0;
}
.subnav-size{font-size:14px;}
#subnav a:link, #subnav a:visited {
	font-weight:normal;
	color:#4b4c4d;
	letter-spacing:1px;
	margin:0 20px 0 0;
	float:left;
	width:auto;
	text-decoration:underline;
}
#subnav a:hover {
   color:#4b4c4d;
   text-decoration:none;
   }
#subnav a:active {
	text-decoration:underline;
	color:#4b4c4d;
}
UL#tickets #subnav-viewtickets a, UL#archive #subnav-archive a, UL#wishlist #subnav-wishlist a,
UL#account #subnav-viewusers a, UL#ftp #subnav-viewftp a, UL#addftp #subnav-addftp a,
UL#server #subnav-viewserver a, UL#addserver #subnav-addserver a, UL#retainer #subnav-retainers a,
UL#pmschedule #subnav-productionschedule a, UL#dailyschedule #subnav-dailyschedule a, UL#pmview #subnav-myprojects a,
UL#pmall #subnav-allprojects a, UL#pmarchive #subnav-pmarchive a, UL#usersview #subnav-usersview a,
UL#usersadd #subnav-usersadd a, UL#concepts #subnav-conceptview a, UL#conceptsview #subnav-conceptview a,
UL#conceptadd #subnav-conceptadd a, UL#clientsadd #subnav-addclient a, UL#clients #subnav-viewclients a,
UL#settings #subnav-settings a, UL#viewprojects #subnav-viewprojects a,
UL#view #subnav-view a, UL#requests #subnav-request a, UL#work #subnav-work a,
UL#requestview #subnav-changerequests a, UL#archiveprojects #subnav-archiveprojects a {
	font-weight:bold;
	text-decoration:underline;
	color:#4b4c4d;
}

UL#tickets #subnav-viewtickets a:hover, UL#archive #subnav-archive a:hover, UL#wishlist #subnav-wishlist a:hover,
UL#account #subnav-viewusers a:hover, UL#ftp #subnav-viewftp a:hover, UL#addftp #subnav-addftp a:hover,
UL#server #subnav-viewserver a:hover, UL#addserver #subnav-addserver a:hover, UL#retainer #subnav-retainers a:hover,
UL#pmschedule #subnav-productionschedule a:hover, UL#dailyschedule #subnav-dailyschedule a:hover, UL#pmview #subnav-myprojects a:hover,
UL#pmall #subnav-allprojects a:hover, UL#pmarchive #subnav-pmarchive a:hover, UL#usersview #subnav-usersview a:hover,
UL#usersadd #subnav-usersadd a:hover, UL#concepts #subnav-conceptview a:hover, UL#conceptsview #subnav-conceptview a:hover,
UL#conceptadd #subnav-conceptadd a:hover, UL#clientsadd #subnav-addclient a:hover, UL#clients #subnav-viewclients a:hover,
UL#settings #subnav-settings a:hover, UL#viewprojects #subnav-viewprojects a:hover,
UL#view #subnav-view a:hover, UL#requests #subnav-request a:hover, UL#work #subnav-work a:hover,
UL#requestview #subnav-changerequests a:hover, UL#archiveprojects #subnav-archiveprojects a:hover {
	text-decoration:none;
	color:#959494;
}


/* NEW HOMEPAGE */
#main-content .top {
	width: 850px;
	height: 435px;
	margin: 0 auto;
	float: left;
}
#main-content .bottom {
	width: 100%;
	float: left;
	margin-top: 7px;
	margin-bottom: 30px;
}

.top ul {
	width: 550px;
	height: 100%;
	float: left;
	list-style-type: none;
}
.top ul li {
	display: inline-block;
	margin-right: 25px;
	width: 155px;
	height: 215px;
}
li.tickets {background: url(/images/tickets.png) #e9993e top center no-repeat;}
li.tickets:hover { background: url(/images/tickets.png) #0f84c1 top center no-repeat; -webkit-transition:background-color 0.4s linear; -moz-transition:background-color 0.4s linear;  -o-transition:background-color 0.4s linear;  transition:background-color 0.4s linear; }

li.estimates {background: url(/images/estimates.png) #32abdb top center no-repeat;}
li.estimates:hover { background: url(/images/estimates.png) #0f84c1 top center no-repeat; -webkit-transition:background-color 0.4s linear; -moz-transition:background-color 0.4s linear;  -o-transition:background-color 0.4s linear;  transition:background-color 0.4s linear;  }

li.concepts {background: url(/images/concepts.png) #c24b3c 3px -4px no-repeat;}
li.concepts:hover { background: url(/images/concepts.png) #0f84c1 3px -4px no-repeat;	 -webkit-transition:background-color 0.4s linear; -moz-transition:background-color 0.4s linear;  -o-transition:background-color 0.4s linear;  transition:background-color 0.4s linear;  }

li.reporting {background: url(/images/reporting.png) #3970a0 top center no-repeat;}
li.reporting:hover { background: url(/images/reporting.png) #0f84c1 top center no-repeat; -webkit-transition:background-color 0.4s linear; -moz-transition:background-color 0.4s linear;  -o-transition:background-color 0.4s linear;  transition:background-color 0.4s linear;  }

li.billing {background: url(/images/billing.png) #4e8039 3px 9px no-repeat;}
li.billing:hover { background: url(/images/billing.png) #0f84c1 3px 9px no-repeat; -webkit-transition:background-color 0.4s linear; -moz-transition:background-color 0.4s linear;  -o-transition:background-color 0.4s linear;  transition:background-color 0.4s linear;  }

li.account {background: url(/images/my-account.png) #6568c1 top center no-repeat;}
li.account:hover { background: url(/images/my-account.png) #0f84c1 top center no-repeat; -webkit-transition:background-color 0.4s linear; -moz-transition:background-color 0.4s linear;  -o-transition:background-color 0.4s linear;  transition:background-color 0.4s linear;  }

.box-nav li:hover a {
	color: #0f84c1;
	-webkit-transition:color 0.4s ease-in;
   -moz-transition:color 0.4s ease-in;
   -o-transition:color 0.4s ease-in;
   transition:color 0.4s ease-in;
}


.top ul li a {
	width: 100%;
	height: 155px;
	display: block;
}
.top ul li span {
	float: left;
	text-align: center;
	width: 100%;
	padding: 21px 0;
	background: #fff;
}
.top ul li span a {
	width: 100%;
	height: 100%;
	color: #3970a0;
	font-size: 15px;
	letter-spacing: 1px;
	text-decoration: none;
}
/* TWITTER STYLES */
.twitter-timeline {
	padding-left: 6px;
}
.displayImportant {
	display: block !important;
}
.twitter-wrap {
	width: 298px;
	height: 375px;
	float: left;
	background: #3970a0;
}
.whats-new {
	width: 278px;
	height: 42px;
	background: url(/images/whats-new.png);
	padding: 0 10px;
	margin-bottom: 5px;
}
#wrapper #main-content .whats-new p {
	color: #fff;
	font-size: 15px;
	line-height: 42px;
	margin: 0;
	padding-left: 8px;
	letter-spacing: 1px;
}
.twitter-feed {
	width: 253px;
	height: 308px;
	margin: 0 auto;
	background: #fff;
	overflow-y: hidden;
}
.tweet {
	padding: 24px 17px 0;
}
.table-wrap {
	float: left;
	width: 100%;
}
#wrapper #main-content .tweet p {
	margin: 0;
	line-height: 15px;
	border-bottom: 1px solid #d1d1d1;
	padding-bottom: 13px;
	color: #545454;
	font-size: 12px;
}
.tweet a {
	text-decoration: none;
	font-size: 12px;
	color: #0f84c1;
}
.announcements {
	width: 885px;
	line-height: 60px;
	float: left;
	text-align: center;
	margin-left: 5px;
}
.announcements a {
	color: #3970a0;
	font-size: 15px;
	letter-spacing: 1px;
	text-decoration: none;

}
#concepts .tickets-system table tbody tr td,
#account .tickets-system table tbody tr td {padding: 6px 0px 6px;}
/*Tickets Top Menu */
.system-menu {
	width: 865px;
	height: 53px;
	background: #0f84c1;
	margin: 0 auto 2px auto;
}
.view-tix {
	width: 303px;
	height: 100%;
	float: left;
	padding-left: 10px;
}
.view-tix a {
	display: block;
	background: url(/images/tickets-icon.png) no-repeat left center;
	width: 180px;
	height: 53px;
	line-height: 55px;
	padding-left: 45px;
	text-decoration: none;
	color: #fff;
	font-weight: normal;
	font-size: 17px;
}
.add-tix {
	width: 236px;
	height: 100%;
	float: left;
}
.add-tix a {
	display: block;
	background: url(/images/add-tix.png) no-repeat left center;
	width: 180px;
	height: 53px;
	line-height: 55px;
	padding-left: 45px;
	text-decoration: none;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
}
.search-tix {
	width: 275px;
	padding-top: 15px;
	padding-right: 15px;
	float: right;
}
.search-button {
	background: #63aed5;
	color: #fff;
	line-height: 22px;
	letter-spacing: 1px;
	font-weight: 100;
	border: none;
	margin-left: 8px;
	padding: 0 12px;
	cursor: pointer;
}
.section-title  {
	line-height: 55px;
	padding-left: 20px;
	text-decoration: none;
	color: #fff;
	font-weight: normal;
	font-size: 17px;
}
.section-title .fa {
	font-size: 28px;
	padding-right: 9px;
	padding-top: 14px;
	float: left;
}
.search-box {
	width: 180px;
	height: 22px;
	border: none;
	padding-left: 3px;
}
.archive-search {
	padding-top: 16px;
	height: 30px;
	padding-left: 16px;
}
.archive-search label {
	color: #fff;
	padding-right: 5px;
	padding-left: 8px;
}
#server .system-menu {width: 896px;}
/*Tickets Tables */
.recent-activity {
	background: #248fa6;
	padding: 0 0 20px 0;
}
.recent-activity table {
	background: #fff;
	width: 780px;
}
.concepts-list {
	padding: 20px 0 20px 0 !important;
}
.concepts-list #interior-header {
	margin: 14px 0 -5px 0;
}
.reports table tbody tr th {
	float: left;
	margin-left: 40px;
}
.reports table tbody tr {
	border-bottom: 0;
}
.reports table tbody tr.header-two,
.reports table thead tr.header-two {
	background: #248fa6 !important;
}
.tickets-list {
	width: 100%;
	padding: 20px 0;
	background: #b0d7eb;
}

.tickets-system h3 {
	float: left;
	color: #fff;
	font-size: 15px;
	padding: 11px 0 3px 33px;
	height: 25px;
}
.recent-activity .centerTable { margin: 0px auto; padding: 0 5px; border: 10px solid #fff; }
.tickets-list .centerTable { margin: 0px auto; padding: 0 5px; border-bottom: 10px solid #fff; }
table.system { width: 865px; }
.tickets-system table {
	background: #fff;
}
.tickets-system table tbody tr:first-child td,
.tickets-system table thead tr:first-child td {
	padding-top: 0;
}
.recent-activity table tbody tr:nth-child(even) {
	background: #ebeaea;
}
.tickets-list table tbody tr:nth-child(odd) {
	background: #ebeaea;
}
.tickets-system table tbody tr td,
.tickets-system table thead tr td {
	padding: 6px 22px 6px;
}
.tickets-system table tbody tr td:first-child,
.tickets-system table thead tr td:first-child {
	padding-left: 20px;
}
.tickets-system table tbody tr td:nth-child(2),
.tickets-system table tbody tr td:nth-child(3),
.tickets-system table tbody tr td:nth-child(4),
.tickets-system table tbody tr td:nth-child(5),
.tickets-system table thead tr td:nth-child(2),
.tickets-system table thead tr td:nth-child(3),
.tickets-system table thead tr td:nth-child(4),
.tickets-system table thead tr td:nth-child(5){
	padding-left: 0;
}

#clients .table-fix table tbody tr td,
#clients .table-fix table tbody tr.tickets-header th {padding-left: 22px;}

#clients .table-fix table tbody tr td:nth-child(2),
#clients .table-fix table tbody tr td:nth-child(3) {padding-left: 0px;}


.recent-activity table tbody tr td:last-child,
.recent-activity table thead tr td:last-child {
	padding-right: 0;
}
.tickets-system table tbody tr th,
.tickets-system table thead tr th {
	padding: 3px 0;
	color: #fff;
	font-size: 13px;
	font-weight: normal;
}
.tickets-system th a {
	color: #FFFFFF;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
}
.tickets-header { background: #2d6296 !important; border-bottom: 10px solid #fff; color: #fff; }
.tickets-header th {font-weight: normal !important;}
.double-header { background: #248fa6 !important; color: #fff; }
.double-header th {padding-left: 20px; font-weight: normal !important;}

.view-info {padding: 10px 0;margin-bottom: 15px;}

.table2 {width: 895px;margin-bottom: 15px !important;}
.table2 th:first-child {padding-left: 12px;}
.activity-table {
	background: #fff;
	border-bottom: 2px solid #ccc;
}
.activity-table tr:nth-child(even) {
	background: #ebeaea;
}
.activity-table tr {
	padding: 5px 0;
}
.ctr8 {width: 865px; margin: 0 auto;}
.ctr7 {width: 845px; margin: 0 auto;}
.mt20 {margin-top: 20px;}
/* INTERIOR */
#interior-content{
	float:left;
	width:895px;
	margin:0 0 20px 0;
	overflow:hidden;
}
#interior-content p{
	margin: 0 0 0 28px;
	color:#666666;
}

#interior-content h2{
	background:url(/images/welcome.gif) no-repeat left top;
	width:198px;
	height:18px;
	margin:22px 0 0 28px;
	display:block;
	float:left;
	clear:both;
}
#interior-header{
	float:left;
	width:836px;
	height:46px;
	margin:14px 0 14px 0;
	overflow:hidden;
}
#interior-header #hr{
	float:left;
	width:856px;
	height:2px;
	border:2px solid #a1a1a1;
	margin:10px 0 0 5px;
}

#interior-header h1{
	font-size: 17px;
	font-weight:bold;
	text-decoration: none;
	color: #1b446c;
	margin:2px 0 0 0;
}

img.image_pad_right {
	float: right;
	margin: 2px 12px 4px 18px;
}
img.image_pad_left {
	float: left;
	margin: 2px 18px 4px 12px;
}

/* PAGINATION */
#pagination{
	font-size:12px;
	font-weight:bold;
	color:#000000;
	text-align: center;
	margin: 8px 0 -9px 0;
}
a.pagination:link, a.pagination:visited, a.pagination:active {
	font-size:14px;
	text-decoration: underline;
	font-weight:normal;
	color: #0b3762;
}
a.pagination:hover{
	text-decoration: none;
	color: #0b3762;
}
#pagination-entries{
	font-size:12px;
	font-weight:normal;
	color:#000000;
	text-align: center;
	margin: 10px 0 0 0;
	display: none;
}
/* New Popup MODAL */
.notes {
	width: 400px !important;
}
.notes .modal-head h1 {
	width: 270px !important;
}
.attach-file {
	width: 200px;
	float: left;
	padding-top: 8px;
}
.attachment {
	width: 158px !important;
}

.add-note-modal input {
	float: left;
	width: 323px;
	height: 25px;
	padding-left: 5px;
	margin-top: 5px;
	}
.add-note-modal .row {
	margin: 0 auto;
	width: 510px;
	padding-left: 35px;
}
.add-note-modal label {
	float: left;
	width: 100%;
	text-align: left;
	padding-top: 10px;
	font-size: 19px;
}
.add-note-modal textarea {
	float: left;
	width: 323px;
	height: 100px;
	padding-left: 5px;
	padding-top: 5px;
	margin-top: 5px;
}
.status-row {
	float: right;
	padding-top: 10px;
}
.edit-users-modal .modal-content .status-row label {
	padding-right: 0;
}
.edit-client-wrap {
	padding: 10px 0;
	float: left;
	width: 100%;
}
.client-role {
	padding-top: 20px;
	float: left;
	width: 211px;
 }
.client-role div {
	width: 100%;
	height: 20px;
	float: left;
	padding-bottom: 10px;
}
.edit-users-modal .modal .modal-content #form-at-buttonwrap {
	width: 100px;
}
.edit-users-modal .modal {
	width: 510px;
}
.submit-row {
	margin: 0 auto;
	width: 162px;
}
.modal-content .row {
	width: 450px;
	height: 50px;
	float: left;
	margin: 5px 0;
}
.modal-content .row2 {
	width: 245px;
	height: 50px;
	float: left;
	margin: 5px 0;
}
.modal-content .row .c1 {
	width: 205px;
	height: 30px;
	float: left;
	margin-right: 20px;
}
.edit-users-modal .modal-content {
	width: 434px;
}
.edit-users-modal .modal-content input {
	float: left;
	height: 22px;
	width: 204px;
}
.edit-users-modal .modal-content label {
	float: left;
	padding-right: 8px;
	padding-bottom: 8px;

}
.edit-users-modal .modal-head h1 {
	width: 334px;
}
.add-note-modal,
.edit-users-modal,
.thanks-ticket-modal,
.add-ticket-modal {
	display: none;
}
.thanks-ticket-modal .modal .modal-content {
	padding-top: 25px;
	text-align: center;
	color: #fff;
}
.thanks-ticket-modal .modal p {
	text-align: left;
	padding-bottom: 10px;
	color: #fff;
	width: 430px;
	margin: 0 auto;
}
p.service-agreement {
	text-align: center !important;
}
p.service-agreement a {
	font-weight: bold;
	color: #fff;
}
.modal {
	width: 510px;
	border: 15px solid #a8d7eb;
	float: left;
	background: #0086c3;
	padding-bottom: 20px;
	color: #fff;
}
.modal-head {
	width: 100%;
	height: 47px;
	background: #086497;
	float: left;
}
a.close-modal {
	height: 46px;
	width: 29px;
	display: block;
	cursor: pointer;
	background: url(/images/close-x.png) no-repeat center center;
	float: right;
	padding-right: 25px;
}
.modal-head h1 {
	color: #fff;
	text-align: right;
	font-size: 26px;
	text-transform: uppercase;
	line-height: 48px;
	float: left;
	width: 332px;
	margin: 0 auto;
}
.modal-content {
	width: 430px;
	margin: 0 auto;
}
.thanks-ticket-modal .modal-content label,
.add-ticket-modal .modal-content label {
	width: 100%;
	float: left;
	margin: 14px 0 7px 0;
	color: #fff;
	font-size: 18px;
	font-weight: 100;
	text-align: left;
}
.thanks-ticket-modal .modal-content input,
.add-ticket-modal .modal-content input {
	float: left;
	width: 424px;
	line-height: 32px;
	font-size: 15px;
	padding-left: 5px;
}
.modal-content textarea {
	float: left;
	width: 424px;
	height: 125px;
	resize: none;
	margin-bottom: 20px;
	font-size: 15px;
	padding-top: 5px;
	padding-left: 5px;
}
.modal .btn-addticket3 {
	background: url(/images/white-button.jpg) no-repeat left top;
	height: 44px;
	width: 162px;
	display: block;
	margin-top: 20px;
	float: left;
	border: none;
	cursor: pointer;
}
.modal .btn-addnote1 {
	background: url(/images/add-note-button.jpg) no-repeat left top;
	height: 44px;
	width: 162px;
	display: block;
	margin-top: 20px;
	float: left;
	border: none;
	cursor: pointer;
}
.modal .btn-saveuser {
	background: url(/images/save-button.jpg) no-repeat left top;
	height: 44px !important;
	width: 162px !important;
	display: block;
	float: left;
	border: none;
	cursor: pointer;
}



/*FORM*/
.my-account-section {
	border: 15px solid #b0d7eb;
	background: #b0d7eb;
	height: auto !important;
	width: 860px !important;
}
#form-at{
	border-spacing:2px;
	width:500px;
	height:650px;
	text-align:left;
}
#form-at #at-header {
	background:#1cab00;
	width:496px;
	height:30px;
	margin:2px 0 0 2px;
	overflow:visible;

}
#form-at h1 {
	font-size:17px;
	color:#ffffff;
	line-height:31px;
	padding:0 0 0 8px;
	margin:2px;
	float:left;
	display:block;
}
#form-at #closewindow {
	font-size:14px;
	font-weight:normal;
	color:#ffffff;
	line-height:19px;
	width:60px;
	height:20px;
	margin:6px 22px 0 0;
	float:right;

}
#form-at #closewindow a:link, #closewindow a:visited{
	font-size:14px;
	font-weight:normal;
	color:#ffffff;
	text-decoration:none;
}
#form-at #closewindow a:hover {
   color:#ffffff;
   text-decoration:underline;
}

#form-at label {
	font-size:18px;
	font-weight:bold;
	width:440px;
	color:#9b9b9b;
	line-height:28px;
	margin:0 0 0 30px;
}
#form-at .rounded {
	background:url(/images/field01.gif) no-repeat left top;
	width: 439px;
	height:45px;
	margin:0 0 0 30px;
}
#form-at .rounded2 {
	background:url(/images/field02.gif) no-repeat left top;
	width: 439px;
	height:183px;
	margin:0 0 0 30px;
}
#form-at input {
	color:#666666;
	background: #ffffff;
}
#form-at input[type=text], #form-at input[type=password] {
	font-size: 18px;
	font-weight:normal;
	color:#666666;
	line-height:30px;
	border: none;
	background: #ffffff;
	height:30px;
	width:420px;
	margin:6px 0 0 8px;
}
#form-at textarea {
	font-size: 18px;
	font-weight:normal;
	color:#666666;
	line-height:30px;
	border: none;
	background: #ffffff;
	height:170px;
	width:420px;
	margin:6px 0 0 8px;
}
.form-field {
	font-size: 18px;
	font-weight:bold;
	color: #075f8d;
	line-height: 30px;
	background: #ffffff;
	border: solid #dedcdd 2px;
	padding:2px;
	height:30px;
}
#form-at .text {
	font-size:18px;
	font-weight:normal;
	height:30px;
	line-height:30px;
	padding:6px 0 0 8px;
}
#form-at .rounded .ui-autocomplete-input {
	margin: 8px 0 8px 10px;
}

/*FORM BUTTONS*/
#form-at-buttonwrap{
		width:160px;
		height:30px;
	margin: 0 auto;
}
#form-at .btn-addticket2{
	background:url(/images/addticket2.gif) no-repeat left top;
	height:30px;
	width:149px;
	display:block;
	margin:0 0 0 0;
	float:left;
	border:none;
}
#form-at .btn-addticket2:hover{
	background: url(/images/btn-addticket2.gif) repeat 0px -30px;
}
#form-at .btn-addnote{
	background:url(/images/btn-addnote.gif) no-repeat left top;
	height:30px;
	width:149px;
	display:block;
	margin:0 0 0 0;
	float:left;
	border:none;
}
#form-at .btn-addnote:hover{
	background-position: left -30px;
}
.btn-save, #form-at input.btn-save {
	background:url(/images/btn-save.gif) no-repeat left top;
	height:30px;
	width:80px;
	display:block;
	margin:0 0 0 0;
	margin: auto;
	border:none;
}
.btn-save:hover, #form-at input.btn-save:hover{
	background-position: left -30px;
}
.btn-send, #form-at input.btn-send{
	background:url(/images/btn-send.gif) no-repeat left top;
	height:30px;
	width:80px;
	display:block;
	margin:0 0 0 0;
	margin: auto;
	border:none;
}
#form-at .btn-send:hover, #form-at input.btn-send:hover{
	background-position: left -30px;
}

/* SEARCH BOX */
#search_wrapper  {
	background:none repeat scroll 0 0 #E2E5EB;
	float:left;
	height:120px;
	margin-top:10px;
	width:100%;
}
#search_wrapper #searchcopy {
	margin:0 0 0 45px;
}
#search_wrapper #searchcopy p.row1 {
	display:block;
	float:left;
	margin:35px 0 0;
}
#search_wrapper #searchcopy label {
	display:block;
	float:left;
	margin:0 5px 0 0;
}
#search_wrapper #searchcopy input {
	display:block;
	float:left;
	margin:0;
	width:100px;
}
#search_wrapper #searchcopy p.row2 {
	display:block;
	float:left;
	margin:20px 0 0;
}

/*BUTTONS*/
a.btn-addticket{
	background:url(/images/btn-addticket.gif) no-repeat left top;
	height:23px;
	width:114px;
	display:block;
	margin:0 0 0 0;
	border:none;
}
a.btn-addticket:hover{
	background: url(/images/btn-addticket.gif) repeat 0px -23px;
}
a.btn-addtask{
	background:url(/images/btn-addtask.gif) no-repeat left top;
	height:23px;
	width:114px;
	display:block;
	margin:0 0 0 0;
	border:none;
}
a.btn-addtask:hover{
	background: url(/images/btn-addtask.gif) repeat 0px -23px;
}
a.btn-addwish{
	background:url(/images/btn-addwish.gif) no-repeat left top;
	height:23px;
	width:114px;
	display:block;
	margin:0 0 0 0;
	border:none;
}
a.btn-addwish:hover{
	background: url(/images/btn-addwish.gif) repeat 0px -23px;
}

/*MANAGER*/
.datatable table{
	/*width: 100%;*/
	border: 1px solid #a4a4a4;
}
.datatable table tr.footer{
	background: url(/images/ticket-bot.gif) repeat;
	height:15px;
	width:100%;
}
.datatable table tr.header{
	color: #ffffff;
	background: url(/images/green_header.gif) repeat-x top left #1cab00;
	height: 15px;
	font-weight: bold;
	font-size: 13px;
	border-bottom:1px solid white;
}
tr.header th{
	padding:2px 0 2px 8px;
}
.datatable table td {
	line-height:1.25em;
	padding:6px 0;
}
.datatable table tr.header2{
	background: #2d6296;
}
tr.header2 th, tr.header2 th a{
	color:#FFFFFF;
	font-size:13px;
	font-weight:normal;
	text-decoration:none;
	padding: 2px 0;
}
.th-center{
	text-align:center;
}
.datatable table .header2 td{
	line-height:22px;
}
.ticket-white-sub {
	font-size: 13px;
	font-weight:normal;
	text-decoration: none;
	color: #ffffff;
	margin:0 0 0 8px;
}
.datatable tr.shadeoff{
	background: #ffffff;
}
 .datatable tr.shadeon{
	 background: #DADADA;
}

/*VIEWTABLE*/
.viewtable table{
	/*width: 100%;*/
	border: 1px solid #a4a4a4;
}
.viewtable table tr.footer{
	background: url(/images/view-bot.gif) repeat;
	height:33px;
	width:100%;
}
.viewtable table tr.header{
	background: #2d6296;
	height:35px;
}
.viewtable tr.header th{
	font-size: 18px;
	color: #ffffff;
	font-weight: bold;
	padding:0 8px 0 16px;
	width:836px;
	float:none;
}
.viewtable table td{line-height:28px;
	float:none;}
.viewtable table tr.header2{
	background: #fefee7;
	height:40px;
}
.viewtable tr.header2 th{
	color:#9b9b9b;
	font-size:18px;
	font-weight:bold;
	text-decoration:none;
	padding:0 0 0 16px;
}
.noteList{
	clear:both;
	float:none;
}
.header2-subtitle{
	color:#000000;
	font-size:18px;
	font-weight:bold;
	text-decoration:none;
	margin-left:25px;
}
.viewtable .btn-pad{
	margin-right:8px;
}
.viewtable .th-center{
	text-align:center;
}
.viewtable table .header2 td{
	line-height:22px;
}
ul.buttons{
	margin: 1px 2px 0 0;
	padding:0;
	list-style-type:none;
	float:right;
	/*width:300px;*/
}
ul.buttons li{
   float:left;
   padding:0;
   margin:0 8px 0 0;
   line-height:34px;
   }
a.btn-delete:link, a.btn-delete:active, a.btn-delete:visited, a.btn-delete:hover {
	background: url(/images/btn-delete.gif) no-repeat 0px 0px;
	width:88px;
	height:21px;
	display:block;
	text-indent:-10000px;
}
a.btn-edit:link, a.btn-edit:active, a.btn-edit:visited, a.btn-edit:hover {
	background: url(/images/btn-edit.gif) no-repeat 0px 0px;
	width:88px;
	height:21px;
	display:block;
	text-indent:-10000px;
}
a.btn-back:link, a.btn-back:active, a.btn-back:visited, a.btn-back:hover {
	background: url(/images/btn-back.gif) no-repeat 0px 0px;
	width:88px;
	height:21px;
	display:block;
	text-indent:-10000px;
}
a.btn-view:link, a.btn-view:active, a.btn-view:visited, a.btn-view:hover {
	background: url(/images/btn-view.gif) no-repeat 0px 0px;
	width:88px;
	height:21px;
	display:block;
	text-indent:-10000px;
}
 #description{
	 width:100%;
	 float:left;
	 clear:both;
 }
 #description .title{
	color:#9b9b9b;
	font-size:18px;
	font-weight:bold;
	text-decoration:none;
	padding:0 0 0 16px;
	float:left;
}
#description #html_content{
	float:left;
	margin:4px 0 0 20px;
	width:650px;
	line-height:22px;
}
.title2{
	color:#9b9b9b;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	padding:0 0 0 16px;
}
.subtitle2{
	color:#000000;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	margin-left:8px;
}
.subtitle2 span {
	font-weight: normal;
	font-size:11px;
}
.subtitle3{
	color:#5c7b9b;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	margin-left:8px;
}
.red{
	color:#fd0606;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	margin-left:4px;
}
.green{
	color:#1cab00;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	margin-left:4px;
}

ul.buttons2{
	margin:20px 0 0 230px;
	padding:0;
	list-style-type:none;
	float:left;
	width:500px;
}
ul.buttons2 li {
	float:left;
	padding:0;
	margin:0 30px 0 0;
	line-height:34px;
}
a.btn-request:link, a.btn-request:active, a.btn-request:visited {
	background: url(/images/btn-request.gif) no-repeat 0px 0px;
	width:219px;
	height:30px;
	display:block;
	text-indent:-10000px;
}
a.btn-request:hover {
	background: url(/images/btn-request.gif) repeat 0px -30px;
}
a.btn-approve:link, a.btn-approve:active, a.btn-approve:visited {
	background: url(/images/btn-approve.gif) no-repeat 0px 0px;
	width:102px;
	height:30px;
	display:block;
	text-indent:-10000px;
}
a.btn-approve:hover{
	background: url(/images/btn-approve.gif) repeat 0px -30px;
}

#buttons3{

}
a.btn-addnote:link, a.btn-addnote:active, a.btn-addnote:visited {
	background: url(/images/btn-addnote.gif) no-repeat 0px 0px;
	width:136px;
	height:30px;
	display:block;
	text-indent:-10000px;
	margin:14px 0 0 360px;
}
a.btn-addnote:hover{
	background: url(/images/btn-addnote.gif) repeat 0px -30px;
}
a.addnote:link, a.addnote:visited {
	font-size:13px;
	font-weight:bold;
	color:#ffffff;
	text-decoration:underline;
	float:right;
	margin:0 0 0 0;
	padding: 5px 10px 0 0;
}
a.addnote:hover{
	color:#ffffff;
	text-decoration:none;
}

.addnote-float-right {
	margin:0 8px 0 0;
	float: right;
}
.notetable{
	width:847px;
	border: 1px solid #a4a4a4;
	margin:8px 8px 0 8px;
}
.noteheader{
	background: #0f84c1;
	float:left;
	width:847px;
	height:30px;
	overflow:hidden;
	clear:both;
}
.noteheader2{
	background: #b0d7eb;
	float:left;
	width:847px;
	height:30px;
	overflow:hidden;
	clear:both;
}
.noteheader-body{
	background: #ecedef;
	width:847px;
	overflow:hidden;
	clear:both;
}
.noteheader-body p{
	line-height:20px;
	padding:8px 40px 12px 60px;
}
.noteheader-body2{
	background: #f2fee1;
	width:847px;
	overflow:hidden;
	clear:both;
}
.noteheader-body2 p{
	line-height:20px;
	padding:8px 40px 12px 60px;
}
.noteheader-title{
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	line-height: 27px;
	margin: 0 0 0 16px;
}
.noteheader-title2{
	font-size: 14px;
	color: #0f84c1;
	font-weight: bold;
	line-height: 27px;
	margin: 0 0 0 16px;
}
.note-closer {
	cursor: pointer;
	padding-left: 20px;
	padding-right: 14px;
	line-height: 28px;
}
.note-closer:hover {
	text-decoration: none;
	color: #fff;
}
#notedate{
	float:right;
	display:hidden;
	clear:both;
}
.noteheader-datetitle{
	font-size:13px;
	color: #fff;
	font-weight: bold;
	line-height:18px;
	margin:5px 0 0 0;
}
.noteheader-date{
	font-size:13px;
	color: #fff;
	font-weight: normal;
	line-height:17px;
	margin:5px 0 0 0;
}
.noteheader-datetitle2{
	font-size:13px;
	color: #0f84c1;
	font-weight: bold;
	line-height:18px;
	margin:5px 0 0 0;
}
.noteheader-date2{
	font-size:13px;
	color: #0f84c1;
	font-weight: normal;
	line-height:17px;
	margin:5px 0 0 0;
}
.noteheader-time {
	font-size: 10px;
	margin-left: 3px;
}
.noteheader-body .attachment, .noteheader-body2 .attachment {
	text-align: right;
	margin-right: 5px;
}
.noteheader-body .attachment a:link, .noteheader-body .attachment a:visited,
.noteheader-body2 .attachment a:link, .noteheader-body2 .attachment a:visited {
	padding: 2px 15px 4px 0;
	background: url(/images/paper_clip_icon.gif) no-repeat center right;
	line-height: 20px;
	font-size: 10px;
}


/* ANNOUCENEMT LIST */
#announcementtable{
	width:622px;
	border: 1px solid #a4a4a4;
	margin:8px 8px 0 8px;
}
.announcementheader{
	background: #dde0e6;
	float:left;
	width:622px;
	height:30px;
	overflow:hidden;
	clear:both;
}
.announcementheader-body{
	background: #ecedef;
	width:622px;
	overflow:hidden;
	clear:both;
}
.announcementheader-body p{
	line-height:20px;
	padding:8px 20px 12px 10px;
}

/* CONTACT PAGE */
#contact h4 {
	color: #1B446C;
	font-weight: bold;
	font-size: 14px;
}
.greenHeader {
	background:url("/images/green_header.gif") repeat-x scroll left top #1CAB00;
	color:#FFFFFF;
	font-size:13px;
	font-weight:bold;
	height:15px;
	padding-left: 20px;
}
.blueHeader {
	background: #0f84c1;
	color: #fff;
	padding: 5px 0;
}
ul.buttons li a.search-button {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
}
.my-account-info {
	margin-top: 3px;
	background: #fff;
	padding-bottom: 15px;
}
.my-account-info li {
	width: 100%;
	margin-top: 5px;
}
.my-account-info ul {
	padding: 5px 0 0 11px;
}
/* VALIDATION */
label.error {
	color: red!important;
	font-size: 13px!important;
	margin: 0!important;
}

/* RETAINER PAGE */
.retainer_head_info {
	float: left;
	margin-left: 40px;
}

/* PRODUCTION SCHEDULE */
.home_tableborder {
	border-top: none;
	border-left: 1px solid #C1C9D0;
	border-right: 1px solid #C1C9D0;
	border-bottom: 1px solid #C1C9D0;
}
td.table_bluelt {
	background-color:#E8EEF3;
}
div.morning{ background:#66C449;margin-bottom:4px; }
div.afternoon{ background:#2A2B2A;margin-bottom:4px; }
div.endofday{ background:#2E377B;margin-bottom:4px; }
#planner_table1 div.sortable-active{border:1px solid red;}
#planner_table1 a,#planner_table2 a, #planner_table3 a{ border:none }
#planner_table1 div.due_morning,#planner_table2 div.due_afternoon, #planner_table3 div.due_endofday{ border:none; }
#planner_table1 div, #planner_table2 div, #planner_table3 div{ border:none; padding: 2px; }
#planner_table1 div.sortHelper, #planner_table2 div.sortHelper, #planner_table3 div.sortHelper{border: 3px dashed #666;width: auto !important;}
#planner_table1 * {
	border:none;
}
#planner_table1 td{
	border-color:#BCE8B1 -moz-use-text-color -moz-use-text-color rgb(188, 232, 177);
	border-style:solid none none solid;
	border-width:1px 0px 0px 1px;
	padding:2px;
}
a.planner_assigned_to:link, a.planner_assigned_to:visited, a.planner_assigned_to:active {
	color:#F3FC04;
	text-decoration:none;
	font-size: 11px;
	line-height: 14px;
}
a.planner_project:link, a.planner_project:visited, a.planner_project:active {
	color:#FFFFFF;
	text-decoration:none;
	font-size: 11px;
	line-height: 14px;
}
a.planner_client_title:link, a.planner_client_title:visited, a.planner_client_title:active {
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	font-size: 11px;
	line-height: 14px;
}
a.planner_client_title:hover, a.planner_project:hover, a.planner_assigned_to:hover {
	text-decoration: underline;
}
.sortable{ cursor:move }
.sortableWrapper{ min-height:250px; }
.planner_border { border: 1px solid #C1C9D0; }

/* DAILY SCHEDULE */
.day { width: 840px; }
.day .title {
	background: #0f84c1;
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
	padding:4px;
	text-decoration:none;
}
.day .status {
	cursor:pointer;
	float:right;
	font-size:12px;
	font-weight:normal;
	padding-right:10px;
	text-decoration:underline;
}

/* CALENDAR OF EVENTS */
.cal_event_popup td {
	text-align: left;
}

/* SERVER STATUS */
#server_status {
	vertical-align:middle;
	padding-right: 9px;
}

/* PROJECT MANAGER */
#mediamanagertable .shadeoff.red {
	background-color: #FFD2A9;
}
#mediamanagertable .shadeon.red {
	background-color: #FFBF85;
}
#mediamanagertable td img {
	vertical-align: middle;
}

#mediamanagertable .shadeoff.orange {
	background-color: #FBDF95;
}
#mediamanagertable .shadeon.orange {
	background-color: #FDD15B;
}

.projectList #mediamanagertable .shadeoff.yellow {
	background-color: #fcf9a9;
}
.projectList #mediamanagertable .shadeon.yellow {
	background-color: #faf673;
}

#pm_ftp {
	float:left;
	margin:5px 0 0 10px;
}
#pm_ftp LI {
	line-height: 18px;
}

/*TICKET VIEW */
.tview-section {
	border: 15px solid #b0d7eb;
	background: #b0d7eb;
	margin-bottom: 30px;
}
.tview-header{ height: 35px; background: #0f84c1; margin: 0 auto 2px auto; padding: 10px;}
.tview-header img.headericon {float: left;}
.tview-header h1 {float: left;padding-left: 11px; line-height: 38px; color: #fff !important; font-weight: normal !important; font-size: 17px;}

.tview-info {
	margin-top: 3px;
	background: #fff;
}
.tview-info ul {
	width: 50%;
	float: left;
	padding-bottom: 20px;
}
.tview-info ul li {
	margin: 10px 0 10px 20px;
	color: #000;
	font-size: 15px;

}
.tview-info li p {
	color: #000;
	font-size: 15px;

}
.tview-info li span.title {
	color: #b3b3b3;
	text-transform: uppercase;
	font-weight: bold;
}
.tview-info li.first-child {
	margin: 15px 0 15px 20px;
}
.tview-info li.first-child span.title {
	font-size: 18px;
}
.tview-buttons {
	margin: 0 auto 10px auto;
	width: 375px;
}
.centerDiv {
	margin: 0 auto;
}
.width-155 {
	width: 155px;
	margin-top: 20px;
	padding-bottom: 10px;
}

/* CONCEPTS & WORK FORM */
.reporting-header {
	padding-left: 20px;
	padding-top: 10px;
}
.reporting-header h1 {
	float: left;
	padding-left: 15px;
	line-height: 37px;
	color: #fff !important;
	font-weight: normal !important;
	font-size: 17px;
}
.reporting-header img {
	float: left;
}
.concepts-work { padding-left: 20px; margin: -2px 0 0 0;}
.concepts-work h1 { float: left; padding-left: 15px; line-height: 28px; color: #fff !important; font-weight: normal !important; font-size: 17px; }
.concepts-work img { float:left; }

#conceptForm #form-at {
	width: 835px;
}
#conceptForm #form-at #at-header {
	width: 831px;
}
#conceptForm #form-at label {
	width: 190px;
	float: left;
}
#conceptForm #form-at .input {
	width: 650px;
	display: inline;
	line-height: 28px;
}
#conceptForm #form-at input[type=text] {
	border: 1px solid #CFCFCF;
}
#conceptForm #form-at #header2 {
	padding: 4px 20px;
	color: #FFFFFF;
	background: #2D6296;
	margin: 0 2px;
}
#conceptForm #form-at #header2 a:link, #conceptForm #form-at #header2 a:visited {
	color: #FFFFFF;
}

/* CONCEPTS & WORK IMAGE EDIT PAGE */
.bb-none {border-bottom: 0px !important;}
#retainer .tickets-system table thead tr th {padding: 3px 2px;}
#nav a.blue-btn {
	background: #0f84c1;
	padding: 5px 12px 5px 8px;
}
.concept-entry {
	background: #fff;
	padding: 10px 0;
	width: 865px;
	margin: 2px auto 10px auto;
}
.concept-menu {
	width: 153px;
	margin: 0 auto;
	height: 25px;
}
#concepts  ul.buttons {padding-top: 9px;}
#conceptView { overflow: auto; }
#conceptView .holder {
	margin: 0px 12px;
	padding: 10px 5px;
	float: left;
	border: 1px solid #CFCFCF;
	text-align: center;
	background: #0f84c1;
	color: white;
}
#conceptView .thumb {
	padding-bottom: 10px;
}
#conceptView .thumb img {
	max-width: 222px;
	height: auto;
}
#conceptView .holder .btn-view,
#conceptView .holder .btn-delete {
	margin: 2px;
	float: left;
}
#conceptView #notetable, #conceptView .noteheader2, #conceptView .noteheader-body2,
#conceptView .noteheader, #conceptView .noteheader-body {
	width: 586px;
}
#addnote_notelist {
	border: none;
}
#addnote_notelist #notetable, #addnote_notelist .noteheader2, #addnote_notelist .noteheader-body2 {
	width: 480px;
}
.conceptLike, .conceptApprove {
	cursor: pointer;
	line-height:22px;
	padding: 0 12px;
	display: inline-block;
	float: left;
}
.conceptLike .fa, .conceptApprove .fa {font-size: 13px; padding-right: 5px;}
span.bold{font-weight: bold;}
#conceptView.imagenotes .approved {color: white; font-weight: normal;}
#conceptView.imagenotes .like {color: white; font-weight: normal;}


.concept_note_list {
	float: left;
	width: 604px;
}
.concept_note_list .notetable {
	width: 586px;
}
.concept_note_list #noteList {
	padding-bottom: 8px;
}

/* CONCEPT SLIDESHOW DISPLAY */
#slideshow .slide_pagination a.activeSlide {
color: #fff!important;
font-weight: bold!important;
}
#slideshow #nav .slide_pagination a:link {
	padding: 0;
	margin-right: 4px !important;
}
#slideshow #nav {
	height: auto;
}
#nav-wrapper {width: 100%; background: #0f84c1;}
#slideshow {border-top: 3px solid #0f84c1;}
#slideshow #float-right {
	float: right;
}
#slideshow #float-left {
	float: left;
}
#slideshow #hd {
	margin: 20px auto;
	height: 35px;
}
#slideshow h1 a {
	margin: 0;
	height: 35px;
	width: 192px;
}
#slideshow h2 {
	color:#0b3762;
	font-size: 16px;
	font-weight: bold;
}
#slideshow h3 {
	color:#E27A3F;
	font-size: 16px;
	font-weight: bold;
}
#slideshow h4 {
	color:#b2b2b2;
	font-size: 14px;
	font-weight: bold;
}
#slideshow #nav {
	padding: 10px 14px;
}
#slideshow #nav #float-right {
	margin-right: 28px;
	text-align: right;
}
#slideshow #size {
	text-align: center;
	font-size: 24px;
	color: #CFCFCF;
	width: 200px;
	margin: auto;
}
#slideshow #mid_wrapper {
	margin: auto;
	width: 600px;
}
#slideshow #wrapper {
	overflow: scroll;
}
#slideshow #wrapper, #slideshow #images {
	margin: auto;
	width: 100%;
	text-align: center;
}
#slideshow #mid_wrapper .addnote {
	background: url(/images/btn-add_note.jpg) no-repeat top left;
	width: 92px;
	height: 20px;
	display: block;
	text-align: center!important;
	margin: auto!important;
}
#form-at .btn-addlike {
	background:url(/images/btn-like.jpg) no-repeat left top;
	height:24px;
	width:55px;
	display:block;
	margin:3px 0;
	float:left;
	border:none;
}

/* SLIDESHOW NOTE */
.concept_notes {
	width: 440px;
	float: left;
}
.concept_notes .noteheader {
	width: 440px;
	text-align: left;
}
.concept_notes .noteheader-body {
	width: 440px;
	text-align: left;
}
.concept_notes .noteheader-body p {
	padding: 8px 20px 12px 30px;
}

.concept_notes #addnote_notelist #notetable,
.concept_notes #addnote_notelist .noteheader2,
.concept_notes #addnote_notelist .noteheader-body2 {
	width: 440px;
}

/* SLIDESHOW PAGINATION */
.slide_pagination {
	text-align: center;
	margin-top: -3px;
}
.slide_pagination a {
	color: #0B3762;
	padding: 0 2px;
}
.slide_pagination a.activeSlide {
	color: #000000!important;
	font-weight: bold!important;
}
.slide_pagination a:link, .slide_pagination a:visited {
	margin:0 10px 0 0!important;
	float: none!important;
}
.slide_pagination a:focus { outline: none; }


/* SERVICES PAGE */
.service_top {
	background: url(/images/service_top.gif) no-repeat top left;
	height: 15px;
	width: 708px;
	margin-top: 10px;
}
.service_bottom {
	background: url(/images/service_bottom.gif) no-repeat top left;
	height: 15px;
	width: 708px;
}
.service_mid {
	background: url(/images/service_back.gif) repeat-y top left;
	width: 708px;
	padding: 0 10px;
}
.service_mid h3, .service_mid h3 span {
	color: #0B3762;
	font-weight: bold;
	font-size: 18px;
}
.service_mid ul li {
	line-height: 16px;
	list-style-type: disc;
}
.service_mid ul li ul li {
	margin-left: 20px;
}

#services #email_icon {
	background: url(/images/portal_icons.png) no-repeat -50px 1px;
	width: 51px;
	height: 50px;
}
#services #hosting_icon {
	background: url(/images/portal_icons.png) no-repeat -175px 1px;
	width: 51px;
	height: 50px;
}
#services #google_icon {
	background: url(/images/portal_icons.png) no-repeat -102px 0px;
	width: 73px;
	height: 30px;
}
#services #social_icon {
	background: url(/images/portal_icons.png) no-repeat -327px 0px;
	width: 51px;
	height: 50px;
}
#services #mobile_icon {
	background: url(/images/portal_icons.png) no-repeat -276px 0px;
	width: 51px;
	height: 50px;
}
#services #marketing_icon {
	background: url(/images/portal_icons.png) no-repeat -226px 0px;
	width: 51px;
	height: 50px;
}
#services #ecom_icon {
	background: url(/images/portal_icons.png) no-repeat 0px 0px;
	width: 51px;
	height: 50px;
}
#services #cyber_icon {
	background: url(/images/portal_icons.png) no-repeat -378px 1px;
	width: 51px;
	height: 50px;
}

/* TOOLTIPS */
.tip {
	text-align: left;
}
.tip h4 {
	font-weight: bold;
	font-size: 13px;
	margin: 8px 0;
	color: #0B3762;
}
.tip p {
	margin: 4px 0;
	line-height: 14px;
}

/* PROJECTS SECTION */
#tab_content.ui-widget-content {
	border: 0;
	background: transparent;
}
.tab_interior table {
	border: 0;
}

/* PROJECTS AUTO TASK GENERATION PAGE */
#taskList_heading th {
	color: #fff;
	font-weight: bold;
	background: #999;
}

#taskList h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	padding: 0 0 0 15px;
	border-top: 1px solid #999;
	cursor: pointer;
}

/* PROJECT CALENDER */
table.calendar {
	border-left:1px solid #999;
	margin: auto;
}
tr.calendar-row	{
}
td.calendar-day	{
	min-height:60px;
	height: 60px;
	font-size:11px;
	position:relative;
}
* html div.calendar-day {
	height:60px;
}
/*
td.calendar-day:hover {
	background:#eceff5;
}
*/
td.calendar-day-np {
	background:#eee;
	min-height:60px;
}
* html div.calendar-day-np {
	height:60px;
}
td.calendar-day-head {
	background:#ccc;
	font-weight:bold;
	text-align:center;
	width:70px;
	padding:5px;
	border-bottom:1px solid #999;
	border-top:1px solid #999;
	border-right:1px solid #999;
}
div.day-number {
	background:#999;
	/*padding:5px;*/
	color:#fff;
	font-weight:bold;
	float:right;
	/*margin:-5px -5px 0 0;*/
	width:20px;
	text-align:center;
}
td.calendar-day, td.calendar-day-np {
	width:70px;
	padding:0 0 5px 5px;
	border-bottom:1px solid #999;
	border-right:1px solid #999;
}
th.calendar-title {
	text-align: center;
	border-left: 1px solid #fff;/*overwrite the gray border*/
}
th.calendar-title #prev_month, th.calendar-title #next_month {
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
}
th.calendar-title #prev_month {
	float: left;
}
th.calendar-title #next_month {
	float: right;
}

#p_cal .cal_task {
	width: 10px;
	height: 10px;
	float: left;
	margin: 2px;
}
#pm .mce-panel {width: 615px;}

.fa {font-size: 20px;}
.icn-edit {font-size:20px; color: brown;}
.icn-delete {font-size: 20px; color:#c24b3c;}
.icn-arrow-right {font-size: 20px;}
.icn-notes {font-size: 20px;}
.icn-blue {color: #0f84c1;}
.icn-red {color: #f20611;}

/* TICKET & TASK PRIORITY ICONS */

.ticket-priority-green:before, 
.task-priority-green:before,
.ticket-priority-red:before, 
.task-priority-red:before,
.ticket-priority-yellow:before, 
.task-priority-yellow:before {content: "\f111";}

.ticket-priority-red, .task-priority-red {color: #f20611;}
.ticket-priority-green, .task-priority-green{color: #02cf15;}
.ticket-priority-yellow, .task-priority-yellow {color: #e4cf00;}


/* TICKET STATUS ICONS */
.ticket-status-open:before {content: "\f07c"; color: green;}
.ticket-status-in_progress:before {content: "\f085"; color: #0f84c1;}
.ticket-status-attention_required:before, 
.task-status-attention_required:before {content: "\f0a2"; color:#c24b3c;}
.ticket-status-feedback_submitted:before {content: "\f08e"; color:#0f84c1;}
.ticket-status-completed:before {content: "\f058"; color: green;}
.ticket-status-closed:before, 
.task-status-closed:before {content: "\f187"; color:brown;}

/* TASK STATUS ICONS */
.task-status-alert:before {content: "\f071"; color:orange;}
.task-status-on_client:before {content: "\f007"; color: #0f84c1;}
.task-titleIcon_retainer:before {content: "\f017"; color: #0f84c1;}
.task-titleIcon_retainer:before {content: "\f017"; color: #0f84c1;}
.task-titleIcon_new{content: "\f0eb"; color: #0f84c1;}
.task-titleIcon_ticket {content: "\f0ca";color: #0f84c1;}

/* Overrides for Task Description Text */
.defaults p {margin: 4px 0;}
.defaults strong, .defaults b {font-weight: bold;}
.defaults ul, defaults ol, .defaults li {margin: 2px 10px;}
.defaults ul li {list-style-type: disc;}
.defaults ol li {list-style-type: decimal;}

/* End Override for Task Description Text */

/* Portal Talk IM window */
.im_client {
	width: 300px;
	height: 500px;
}
.im_title {
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	background: #1CAB00;
    border-bottom: 1px solid white;
    color: #FFFFFF;
    font-weight: bold;
    height: 20px;
}
.im_header {
	background: #2D6296;
	height: 25px;
	padding: 0 10px;
}
.im_header td {
	color: #fff;
	font-size: 11px;
}

#im_history {
	/*margin: 10px 0;*/
	height: 450px;
	overflow-y: scroll;
	clear: both;
}
#im_history .im_row {
	padding: 5px 10px;
	clear: both;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}
#im_history .im_row.newtix {
	background: green;
}
.im_row .time {
	color: #999;
}
.im_row .user_name {
	font-weight: bold;
}
.im_row .message {
	line-height: 14px;
}

.im_client .audio {
	background: url(/images/speaker.png) no-repeat 0 0;
	float: right;
	height: 24px;
	width: 24px;
	cursor: pointer;
}
.im_client .audio.mute {
	background-position: 0 -24px;
}

.im_row .closed_icon {
    background: url("/images/admin_icons.png") no-repeat scroll -284px -22px transparent;
    height: 18px;
    width: 18px;
    text-indent: -2000px;
}
.im_row .alert_icon {
    background: url("/images/admin_icons.png") no-repeat scroll -223px 0 transparent;
    height: 18px;
    width: 18px;
    text-indent: -2000px;
}
.im_row .new_icon {
    background: url("/images/admin_icons.png") no-repeat scroll -76px -22px transparent;
    height: 18px;
    width: 18px;
    text-indent: -2000px;
}
.im_row .note_icon {
	background: url("/images/icon-note.gif") no-repeat 0 0;
	height: 16px;
	width: 22px;
	text-indent: -2000px;
}

/* Schedule Request */
.schedule_edit td {
	padding-top: 4px;
}
.schedule_edit .form-field.indent {
	margin: 0 0 0 7px;
}
#form-at .btn-send-r {
	background:url(/images/btn-send-r.gif) no-repeat left top;
	height:23px;
	width:114px;
	display:block;
	margin:0 0 0 0;
	float:left;
	border:none;
}
#form-at .btn-send-r:hover {
	background-position: 0 -23px;
}

#form-at-buttonwrap .btn-update-r {
	background:url(/images/btn-update-r.gif) no-repeat left top;
	height:23px;
	width:114px;
	display:block;
	margin:0 0 0 0;
	float:left;
	border:none;
}
#form-at-buttonwrap .btn-update-r:hover {
	background-position: 0 -23px;
}

/* Retainer Report */
.retainer_header {
	position:absolute;
	top:0;
	background: #2D6296;
	color: #fff;
	width: 760px;
	padding: 10px;
}
.retainer_header .label {
	font-weight: bold;
}