<div class="add-ticket-modal modal">
	<form action="/cyber/announcementadd" method="post" id="noteForm">
		<input type="hidden" name="id" value="<?=$this->id?>">

		<div class="modal-head"><h1> Add Announcement</h1></div>
		<div class="modal-content">
			<div class="error"><span></span></div>

			<label>Announcement:</label>
			<textarea name="Description" id="description"></textarea>

			<div id="form-at-buttonwrap">
				<input type="submit" class="btn-addnote" name="Add Announcement" id="Add Announcement" value="" />
			</div>

		</div>
	</form>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#description").focus();

	jQuery.validator.messages.required = "";
	$("#noteForm").validate({
		rules: {
			Description: "required"
		},
		messages: {
			Description: "Description required"
        },
		invalidHandler: function(e, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				var message = errors == 1
					? 'You missed 1 field. It has been highlighted below'
					: 'You missed ' + errors + ' fields.  They have been highlighted below';
				$("div.error span").html(message);
				$("div.error").show();
			} else {
				$("div.error").hide();
			}
		}
	});
});
</script>