<?php
header("Cache-Control: no-cache, must-revalidate"); // HTTP/1.1
header("Expires: Mon, 26 Jul 1997 05:00:00 GMT"); // Date in the past
header('Content-Type: text/xml');

$chart_tag = "
<chart caption=''
	showLabels='1'
	baseFontSize='9'
	labelDisplay='WRAP'
	xAxisName=''
	yAxisName=''
	showValues='1'
	decimals='0'
	formatNumberScale='0'
	use3DLighting='1'
	rotateLabels='1'
	slantLabels='1'
	maxColWidth='60'>";

$chart_tag = ereg_replace("[\n|\r]+","",$chart_tag);
$chart_tag = str_replace("\t"," ",$chart_tag);


print '<?xml version="1.0" encoding="utf-8"?>';
print "
{$chart_tag}
	<set label='Scheduled' value='{$this->rt_counts["scheduled"]}' color='00a500'/>
	<set label='Opened' value='{$this->rt_counts["unopened"]}' color='ff0000'/>
	<set label='On Client' value='{$this->rt_counts["on client"]}' color='008ca5'/>
</chart>";
?>