<div id="main-content" class="cyber">
	<div id="main-header">
		<h1>Hello <?=$this->user->FirstName?>,</h1>
	</div>

	<div id="leftmain">

		<div style="clear:both;"></div>

		<div style="padding-left:5px;">

			<div class="chart200">
				<div class="chartTitle"><div class="pm">Project Manager</div></div>
				<div class="chartSubTitle1">Total Projects Open: <?=$this->projects_open?></div>
				<div id="project_manager_chartDIV"></div>
				<script type="text/javascript">
				<!--
				FusionCharts.setCurrentRenderer('javascript');
				var chart = new FusionCharts("/flash/Column2D.swf", "project_chart", "185", "320", "0", "0");
				chart.setXMLUrl('/cyber/chart/type/projects');
				chart.render("project_manager_chartDIV");
				//-->
				</script>
			</div>

			<div class="chart200">
				<div class="chartTitle solutions"><div class="solutions">Solutions Manager</div></div>
				<div class="chartSubTitle2">Unassigned Tickets: <?=$this->tickets_unassigned?></div>
				<div id="tickets_chartDIV"></div>
				<script type="text/javascript">
				<!--
				FusionCharts.setCurrentRenderer('javascript');
				var chart = new FusionCharts("/flash/Column2D.swf", "ticket_chart", "185", "320", "0", "0");
				chart.setXMLUrl('/cyber/chart/type/tickets');
				chart.render("tickets_chartDIV");
				//-->
				</script>
			</div>

			<div class="chart200">
				<div class="chartTitle retainer"><div class="retainer">Retainer Tracker</div></div>
				<div class="chartSubTitle3">Total Retainers: <?=$this->retainer_count?></div>
				<div id="retainer_tracker_chartDIV"></div>
				<script type="text/javascript">
				<!--
				FusionCharts.setCurrentRenderer('javascript');
				var chart = new FusionCharts("/flash/Column2D.swf", "retainer_chart", "185", "320", "0", "0");
				chart.setXMLUrl('/cyber/chart/type/retainers');
				chart.render("retainer_tracker_chartDIV");
				//-->
				</script>
			</div>
			
			<!--
			<div class="twitter-wrap">
				<div class=""><p>Upcoming Events</p></div>
				<ul id="upcoming_events_list">
					<?php
					//foreach ($this->calendar_events as $event) {
						//echo "<li><span>".date('n/d/y',strtotime($event['StartDateTime']))." - ".date('n/d/y',strtotime($event['EndDateTime'])).": {$event['Title']}</span></li>";
					//}
					?>
				</ul>
			</div>

			<br/><br/>
				-->
			<div class="twitter-wrap">
				<div class="whats-new"><p>What's New</p></div>
				<div class="loading">
					<a class="twitter-timeline" href="https://twitter.com/cyberny" data-widget-id="266698784585678850" data-chrome="noheader nofooter noborders transparent" data-related="twitterapi,twitter" data-tweet-limit="3" height="300" width="275">Tweets by @cyberny</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</div>

		</div>


		<div style="clear:both;"></div>

		<br>
		<div class="staff-home">
		<div class="tickets-system tickets-list cf">
		<h3>Announcements</h3>
		<div class="add-announcements">
			<a href="/cyber/announcementadd" class="addnote dialog pop-modal" data-pop-up="add-ticket" style="width:150px;">Add Announcement</a>
		</div>
		<div class="table-wrap">
			<table class="centerTable system announcements">
				<tbody>
				<?php
				foreach ($this->announcements as $n) {
				?>
					<tr width="640" id="note_<?=$n['id']?>">
						<td colspan="2">
							<span class="note_id hide"><?=$n['id']?></span>
							<div id="announcementtable">
								<div class="announcementheader">
									<span class="noteheader-title">On <?=date("F j, Y",strtotime($n['post_date']))?> <?=$n['name']?> Said...</span>
									<div class="delete-announcement">
										<span class="noteheader-date">
											<a href="/cyber/announcementedit/id/<?=$n['id']?>" class="dialog pop-modal" data-pop-up="add-ticket"><img src="/images/edit-announcement.png" width="15" height="15""></a>
											<a href="/cyber/announcementdelete/id/<?=$n['id']?>" onclick="return confirm('Are you sure you want to delete this announcement? This can not be undone')"><img src="/images/announcement-cancel.png" width="15" height="15""></a>
										</span>
									</div>
								</div>
								<div class="announcementheader-body">
									<p><?=nl2br($n['message'])?></p>
								</div>
							</div>
						</td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>
		</div>
		</div>
		</div>
		<br>
	</div>
</div>

<script type="text/javascript" src="/js/twitter.js"></script>
