<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_clients.png"></td>
			<td width="368"><h1>Add Client</h1></td>
			<td width="165" align="center"></td>
			<td width="324" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<form method="post" action="/clients/add" id="editForm">
		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th colspan="2">
							Add Client
							<ul class="buttons">
								<li><a href="/clients/" class="btn-back"></a></li>
							</ul>
						</th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="3"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr width="836">
						<td colspan="2">
							<input type="checkbox" name="createUser" id="createUser" value="yes" checked onclick="portalUser()" style="margin-left: 16px;"> Create a customer portal account
						</td>
					</tr>
					<tr width="836">
						<td width="160" class="title2">Name:</td>
						<td><input type="text" name="data[ClientName]" value="<?=$this->client['ClientName']?>"></td>
					</tr>
					<tr>
						<td class="title2">Client Code:</td>
						<td><input type="text" name="data[client_code]" value="<?=$this->client['client_code']?>"></td>
					</tr>
					<tr>
						<td class="title2">Contact First Name:</td>
						<td><input type="text" name="data[ContactFirstName]" value="<?=$this->client['ContactFirstName']?>"></td>
					</tr>
					<tr>
						<td class="title2">Contact Last Name:</td>
						<td><input type="text" name="data[ContactLastName]" value="<?=$this->client['ContactLastName']?>"></td>
					</tr>
					<tr>
						<td class="title2 portalUser">Email:</td>
						<td class="portalUser"><input type="text" name="portal[Email]" value="" autocomplete="off"></td>
					</tr>
					<tr>
						<td class="title2 portalUser">Password:</td>
						<td class="portalUser"><input type="password" id="password" name="portal[UserPassword]" value=""></td>
					</tr>
					<tr>
						<td class="title2 portalUser">Confirm Password:</td>
						<td class="portalUser"><input type="password" name="portal[vUserPassword]" value=""></td>
					</tr>
					<tr>
						<td class="title2">Telephone Number:</td>
						<td><input type="text" name="data[TelephoneNumber]" value="<?=$this->client['TelephoneNumber']?>"></td>
					</tr>
					<tr>
						<td class="title2">Fax Number:</td>
						<td><input type="text" name="data[FaxNumber]" value="<?=$this->client['FaxNumber']?>"></td>
					</tr>
					<tr>
						<td class="title2">Status:</td>
						<td>
							<?=$this->formSelect('data[Disabled]', $this->client['Disabled'], array('id'=>'Disabled', 'style'=>'width:250px;', 'class'=>'form-field'), array("no"=>"Enabled", "yes"=>"Disabled"))?>
						</td>
					</tr>

				</tbody>
			</table>
		</div>

		<br/>

		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th colspan="2">Retainer</th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="3"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr width="836">
						<td class="title2">Status:</td>
						<td>
							<?=$this->formSelect('retainer[Status]', $this->retainer['Status'], array('id'=>'Retainer', 'style'=>'width:250px;', 'class'=>'form-field'), array("enabled"=>"Enabled", "disabled"=>"Disabled"))?>
						</td>
					</tr>
					<tr width="836">
						<td width="160" class="title2">Hours:</td>
						<td><input type="text" name="retainer[Hours]" value="<?=$this->retainer['Hours']?>"></td>
					</tr>
					<tr>
						<td class="title2">Start Date:</td>
						<td><input type="text" name="retainer[StartDate]" id="retainer_start" value="<?=$this->retainer['StartDate']?>"></td>
					</tr>
					<tr>
						<td class="title2">End Date:</td>
						<td>
							<input type="text" name="retainer[EndDate]" id="retainer_end" value="<?=$this->retainer['EndDate']?>">
							<button onclick="$('#retainer_end').val(''); return false;">Ongoing</button>
						</td>
					</tr>
					<tr>
						<td class="title2">Fee:</td>
						<td><input type="text" name="retainer[Fee]" value="<?=$this->retainer['Fee']?>"></td>
					</tr>
					<tr>
						<td class="title2">Additional Hourly Rate:</td>
						<td><input type="text" name="retainer[AdditionalRate]" value="<?=$this->retainer['AdditionalRate']?>"></td>
					</tr>
					<tr>
						<td class="title2">Status:</td>
						<td>
							<?=$this->formSelect('retainer[Status]', $this->retainer['Status'], array('id'=>'Status', 'style'=>'width:250px;', 'class'=>'form-field'), array("disabled"=>"Disabled","enabled"=>"Enabled"))?>
						</td>
					</tr>

				</tbody>
			</table>
		</div>

		<br/>

		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th width="418">Retainer Notes</th>
						<th width="418"></th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="2"></td>
					</tr>
				</tfoot>
				<tbody id="noteList">
					<tr width="836">
						<td colspan="2">
							<div id="notetable">
								<div class="noteheader-body">
									<p><textarea name="retainer[Notes]" rows="10" cols="90"><?=nl2br($this->retainer['Notes'])?></textarea></p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<br>
		<div id="form-at-buttonwrap">
			<input type="submit" class="btn-save" name="Save Client" id="Save Client" value="" />
		</div>
		</form>

	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#retainer_start").datepicker({ dateFormat: 'yy-mm-dd' });
	$("#retainer_end").datepicker({ dateFormat: 'yy-mm-dd' });

	$("#editForm").validate({
		rules: {
			"data[ClientName]": "required",
			"data[ContactFirstName]": "required",
			"data[ContactLastName]": "required",
			"portal[UserPassword]": {
				required: function(element) {
	        		if ($("#createUser").attr("checked") != "")
			        	return true;
			        else return false;
        		}
			},
			"portal[vUserPassword]": {
				required: function(element) {
	        		if ($("#password").val() != "")
			        	return true;
			        else return false;
        		},
				equalTo: "#password"
			},
			"portal[Email]": {
				required: function(element) {
	        		if ($("#createUser").attr("checked") != "")
			        	return true;
			        else return false;
        		},
        		email: true,
        		remote: "/clients/validate/type/email"
			},
			"data[client_code]": {
				required: true,
				rangelength: [3,4]
			}
		},
		messages: {
			"data[ClientName]": "Name required",
			"data[ContactFirstName]": "Contact first name required",
			"data[ContactLastName]": "Contact last name required",
			"portal[UserPassword]": "Password required",
			"portal[vUserPassword]": "Confirm password",
			"portal[Email]": {
				required: "Email required",
				email: "Enter valid email address",
				remote: jQuery.format("<br class='clear'/>{0} is already in use")
			},
			"data[client_code]": "Client Code required"
        }
	});
});

function portalUser() {
	if ($("#createUser").attr("checked") == "") {
		$(".portalUser :input").val('');
		$(".portalUser").hide();
	}else {
		$(".portalUser").show();
	}
}
</script>
