<form action="/clients/addstaff" method="post" id="addStaffForm">
<input type="hidden" name="client_id" value="<?=$this->client_id?>">
<div id="form-at" style="height:300px;">

	<br>
	<label>Assign To:</label>
	<div class="rounded">
		<?=$this->formSelect('data[userID]', '', array('id'=>'userID', 'style'=>'width:250px;margin:8px;', 'class'=>'form-field'), array(""=>"Select Staff")+$this->staff)?>
	</div>

	<br>
	<label>Role:</label>
	<div class="rounded">
		<?=$this->formSelect('data[role]', '', array('id'=>'role', 'style'=>'width:250px;margin:8px;', 'class'=>'form-field'), array(""=>"Select Role","Developer"=>"Developer","Project Manager"=>"Project Manager"))?>
	</div>


	<br>
	<div id="form-at-buttonwrap">
		<input type="submit" class="btn-save" name="Add User" id="Add User" value="" />
	</div>

</div>
</form>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#addStaffForm").validate({
		rules: {
			"data[userID]": "required",
			"data[role]": "required"
		},
		messages: {
			"data[userID]": "Staff required",
			"data[role]": "Role required"
        }
	});
});
</script>