
<div id="form-at" style="height:720px;">
	<form action="/clients/adduser" method="post" id="addExistClientForm">
		<input type="hidden" name="client_id" value="<?=$this->client_id?>">
		<br>
		<label>Existing User:</label>
		<div class="rounded">
			<select name="existing_user_id" style="font-size:30px;border: 0 none;height: 40px;margin: 2px 13px;width: 400px;">
				<option value=""></option>
			<?php foreach ($this->existing_users as $user_id =>$user_name) { ?>
				<option value="<?=$user_id?>"><?=$user_name?></option>
			<?php } ?>
			</select>
		</div>
		<br>
		<div id="form-at-buttonwrap">
			<input type="submit" class="btn-save" name="existing_user" id="Add Existing User" value="" />
		</div>
	</form>

	<form action="/clients/adduser" method="post" id="addClientForm">
	<input type="hidden" name="client_id" value="<?=$this->client_id?>">
	<br>
	<label>First Name:</label>
	<div class="rounded"><input type="text" name="data[FirstName]" /></div>

	<br>
	<label>Last Name:</label>
	<div class="rounded"><input type="text" name="data[LastName]" /></div>

	<br>
	<label>Email:</label>
	<div class="rounded"><input type="text" name="data[Email]" /></div>

	<br>
	<label>Phone:</label>
	<div class="rounded"><input type="text" name="data[Phone]" /></div>
<!--
	<br>
	<label>User Name:</label>
	<div class="rounded"><input type="text" name="data[UserName]" /></div>
-->
	<br>
	<label>Password:</label>
	<div class="rounded"><input type="text" id="password" name="data[UserPassword]" /></div>

	<br>
	<label>Confirm Password:</label>
	<div class="rounded"><input type="text" name="data[vUserPassword]" /></div>

	<br>
	<div id="form-at-buttonwrap">
		<input type="submit" class="btn-save" name="Add User" id="Add User" value="" />
	</div>
	</form>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#addClientForm").validate({
		rules: {
			"data[FirstName]": "required",
			"data[LastName]": "required",
			"data[Email]": {
				required: true,
				email: true,
				remote: "/clients/validate/type/email"
			},
			"data[Phone]": {
				phoneUS: true
			},
			//"data[UserName]": "required",
			"data[UserPassword]": "required",
			"data[vUserPassword]": {
				required: true,
				equalTo: "#password"
			}
		},
		messages: {
			"data[FirstName]": "First name required",
			"data[LastName]": "Last name required",
			"data[Email]": {
				required: "Email required",
				email: "Enter valid email address",
				remote: jQuery.format("<br class='clear'/>{0} is already in use")
			},
			"data[Phone]": {
				phone: "Phone number incorrect"
			},
			//"data[UserName]": "User name required",
			"data[UserPassword]": "Password required",
			"data[vUserPassword]": "Confirm password"
        }
	});
});
</script>