<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_clients.png"></td>
			<td width="368"><h1>Edit Client Information</h1></td>
			<td width="165" align="center"></td>
			<td width="324" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<form method="post" action="/clients/edit/id/<?=$this->client['id']?>" id="editForm">
		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th colspan="2">
							Edit Client
							<ul class="buttons">
								<li><a href="/clients/delete/id/<?=$this->client['id']?>" onclick="return confirm('Are you sure you want to delete this client? This can not be undone!');" class="btn-delete"></a></li>
								<li><a href="/clients/view/id/<?=$this->client['id']?>" class="btn-back"></a></li>
							</ul>
						</th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="3"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr width="836">
						<td width="160" class="title2">Name:</td>
						<td><input type="text" name="data[ClientName]" value="<?=$this->client['ClientName']?>"></td>
					</tr>
					<tr>
						<td class="title2">Client Code:</td>
						<td><input type="text" name="data[client_code]" value="<?=$this->client['client_code']?>"></td>
					</tr>
					<tr>
						<td class="title2">Contact First Name:</td>
						<td><input type="text" name="data[ContactFirstName]" value="<?=$this->client['ContactFirstName']?>"></td>
					</tr>
					<tr>
						<td class="title2">Contact Last Name:</td>
						<td><input type="text" name="data[ContactLastName]" value="<?=$this->client['ContactLastName']?>"></td>
					</tr>
					<tr>
						<td class="title2">Telephone Number:</td>
						<td><input type="text" name="data[TelephoneNumber]" value="<?=$this->client['TelephoneNumber']?>"></td>
					</tr>
					<tr>
						<td class="title2">Fax Number:</td>
						<td><input type="text" name="data[FaxNumber]" value="<?=$this->client['FaxNumber']?>"></td>
					</tr>
					<tr>
						<td class="title2">Status:</td>
						<td>
							<?=$this->formSelect('data[Disabled]', $this->client['Disabled'], array('id'=>'Disabled', 'style'=>'width:250px;', 'class'=>'form-field'), array("no"=>"Enabled", "yes"=>"Disabled"))?>
						</td>
					</tr>

				</tbody>
			</table>
		</div>

		<br/>

		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th colspan="4">Retainer</th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="4"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php foreach ($this->retainers as $retainer) { ?>
					<tr width="836">
						<td class="title2">Status:</td>
						<td>
							<?=$this->formSelect("retainer[{$retainer['id']}][Status]", $retainer['Status'], array('id'=>'Retainer', 'style'=>'width:250px;', 'class'=>'form-field'), array("enabled"=>"Enabled", "disabled"=>"Disabled"))?>
						</td>
					</tr>
					<tr width="836">
						<td width="160" class="title2">Hours:</td>
						<td colspan="3"><input type="text" name="retainer[<?=$retainer['id']?>][Hours]" value="<?=$retainer['Hours']?>"></td>
					</tr>
					<tr>
						<td class="title2">Start Date:</td>
						<td width="200"><input type="text" name="retainer[<?=$retainer['id']?>][StartDate]" id="retainer_start_<?=$retainer['id']?>" value="<?=$retainer['StartDate']?>"></td>

						<td width="160" class="title2">End Date:</td>
						<td>
							<input type="text" name="retainer[<?=$retainer['id']?>][EndDate]" id="retainer_end_<?=$retainer['id']?>" value="<?=$retainer['EndDate']?>">
							<button onclick="$('#retainer_end_<?=$retainer['id']?>').val(''); return false;">Ongoing</button>
						</td>
					</tr>
					<tr>
						<td class="title2">Fee:</td>
						<td width="200"><input type="text" name="retainer[<?=$retainer['id']?>][Fee]" value="<?=$retainer['Fee']?>"></td>

						<td class="title2">Additional Hourly Rate:</td>
						<td><input type="text" name="retainer[<?=$retainer['id']?>][AdditionalRate]" value="<?=$retainer['AdditionalRate']?>"></td>
					</tr>
					<tr>
						<td class="title2">Note</td>
						<td colspan="3"><textarea name="retainer[<?=$retainer['id']?>][Notes]" rows="5" cols="50"><?=nl2br($retainer['Notes'])?></textarea></td>
					</tr>
					<tr>
						<td colspan="4">&nbsp;</td>
					</tr>
					<!--
					<tr>
						<td class="title2">Status:</td>
						<td>
							<?=$this->formSelect('retainer['.$retainer['id'].'][Status]', $retainer['Status'], array('id'=>'Status', 'style'=>'width:250px;', 'class'=>'form-field'), array("enabled"=>"Enabled", "disabled"=>"Disabled"))?>
						</td>
					</tr>
					-->
				<?php } ?>

					<tr width="836">
						<td colspan="4" class="title2"><hr/>New Retainer:</td>
					</tr>
					<tr width="836">
						<td width="160" class="title2">Hours:</td>
						<td colspan="3"><input type="text" name="retainer_new[Hours]" value=""></td>
					</tr>
					<tr>
						<td class="title2">Start Date:</td>
						<td><input type="text" name="retainer_new[StartDate]" id="retainer_start" value=""></td>

						<td class="title2">End Date:</td>
						<td>
							<input type="text" name="retainer_new[EndDate]" id="retainer_end" value="">
							<button onclick="$('#retainer_end').val(''); return false;">Ongoing</button>
						</td>
					</tr>
					<tr>
						<td class="title2">Fee:</td>
						<td><input type="text" name="retainer_new[Fee]" value=""></td>

						<td class="title2">Additional Hourly Rate:</td>
						<td><input type="text" name="retainer_new[AdditionalRate]" value=""></td>
					</tr>
					<tr>
						<td class="title2">Note</td>
						<td colspan="3"><textarea name="retainer_new[Notes]" rows="5" cols="50"></textarea></td>
					</tr>

				</tbody>
			</table>
		</div>

		<br/>
		<div id="form-at-buttonwrap">
			<input type="submit" class="btn-save" name="Save Client" id="Save Client" value="" />
		</div>
		</form>

	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	<?php foreach ($this->retainers as $retainer) { ?>
	$("#retainer_start_<?=$retainer['id']?>").datepicker({ dateFormat: 'yy-mm-dd' <?=($retainer['StartDate'])?", defaultDate: '{$retainer['StartDate']}' " : ""?> });
	$("#retainer_end_<?=$retainer['id']?>").datepicker({ dateFormat: 'yy-mm-dd' <?=($retainer['EndDate'])?", defaultDate: '{$retainer['EndDate']}' " : ""?> });
	<?php } ?>
	$("#retainer_start").datepicker({ dateFormat: 'yy-mm-dd' });
	$("#retainer_end").datepicker({ dateFormat: 'yy-mm-dd' });

	$("#editForm").validate({
		rules: {
			"data[ClientName]": "required",
			"data[client_code]": {
				required: true,
				rangelength: [3,4]
			}
		},
		messages: {
			"data[ClientName]": "Name required",
			"data[client_code]": "Client Code required"
        }
	});
});
</script>
