<form action="/clients/edituser" method="post" id="editClientForm">
<input type="hidden" name="client_id" value="<?=$this->client_id?>">
<input type="hidden" name="id" value="<?=$this->user['ID']?>">
<div id="form-at" style="height:700px;">

	<br>
	<label>First Name:</label>
	<div class="rounded"><input type="text" name="data[FirstName]" value="<?=$this->user['FirstName']?>" /></div>

	<br>
	<label>Last Name:</label>
	<div class="rounded"><input type="text" name="data[LastName]" value="<?=$this->user['LastName']?>" /></div>

	<br>
	<label>Email:</label>
	<div class="rounded"><input type="text" name="data[Email]" value="<?=$this->user['Email']?>" /></div>

	<br>
	<label>Phone:</label>
	<div class="rounded"><input type="text" name="data[Phone]" value="<?=$this->user['Phone']?>" /></div>
<!--
	<br>
	<label>User Name:</label>
	<div class="rounded"><input type="text" name="data[UserName]" value="<?=$this->user['UserName']?>" /></div>
-->
	<br>
	<label>Password:</label>
	<div class="rounded"><input type="text" id="password" name="data[UserPassword]" value="" /></div>

	<br>
	<label>Confirm Password:</label>
	<div class="rounded"><input type="text" name="data[vUserPassword]" value="" /></div>

	<br>
	<label>Status:</label>
	<div class="rounded">
		<?=$this->formSelect('data[Disabled]', $this->user['Disabled'], array('id'=>'Disabled', 'style'=>'width:250px;', 'class'=>'form-field'), array("no"=>"Enabled", "yes"=>"Disabled"))?>
	</div>

	<br>
	<div id="form-at-buttonwrap">
		<input type="submit" class="btn-save" name="Save User" id="Save User" value="" />
	</div>

</div>
</form>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#editClientForm").validate({
		rules: {
			"data[FirstName]": "required",
			"data[LastName]": "required",
			"data[Email]": {
				required: true,
				email: true
			},
			"data[Phone]": {
				phoneUS: true
			},
			//"data[UserName]": "required",
			//"data[UserPassword]": "required",
			"data[vUserPassword]": {
				required: function(element) {
	        		if ($("#password").val() != "")
			        	return true;
			        else return false;
        		},
				equalTo: "#password"
			}
		},
		messages: {
			"data[FirstName]": "First name required",
			"data[LastName]": "Last name required",
			"data[Email]": "Email required",
			"data[Phone]": {
				phone: "Phone number incorrect"
			},
			//"data[UserName]": "User name required",
			"data[UserPassword]": "Password required",
			"data[vUserPassword]": "Confirm password"
        }
	});
});
</script>