<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<div class="table-fix tickets-system tickets-list cf">
	<div class="system-menu">
		<div class="ftp-info concepts-work">
			<div class="icon-concepts"><img src="/images/icn_clients.png"></div>
			<h1>Clients</h1>
		</div>
		<div class="search-tix">
			<form method="post" action="/clients">
				<input type="text" name="mask" value="<?=$this->mask?>" size="20" class="search-box">
				<input type="submit" value="Search" class="search-button">
			</form>
		</div>
	</div>

	<div class="table-wrap">
			<table class="centerTable system">
				<thead>
					<tr class="tickets-header">
						<th width="25" class="th-center"></th>
						<th width="480"><a href="/clients/index/sort/ClientName/dir/<?=$dir?>">Name</a></th>
						<th width="180"><a href="/clients/index/sort/Disabled/dir/<?=$dir?>">Status</a></th>
						<th width="50" class="th-center">View</th>
						<th width="50" class="th-center">Edit</th>
						<th width="50" class="th-center">Delete</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				$shade = true;
				foreach($this->clients as $key => $val) {
					if($shade)
						$class = 'shadeoff';
					else
						$class = 'shadeon';
					$shade = !$shade;
				?>
					<tr width="840"  class="<?=$class?>">
						<td align="center"></td>
						<td><?=$val['ClientName']?></td>
						<td>
							<?=($val['Disabled'] == "no")?"Enabled":"Disabled"?>
						</td>
						<td align="center"><a href="/clients/view/id/<?=$val['id']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
						<td align="center"><a href="/clients/edit/id/<?=$val['id']?>"><i class="icn-edit fa fa-pencil-square-o"></i></a></td>
						<td align="center"><a href="/clients/delete/id/<?=$val['id']?>" onclick="return confirm('Are you sure you want to delete this client? This can not be undone!');"><i class="icn-red fa fa-ban fa"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>

			<?php echo $this->paginationControl($this->clients, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
</div>