<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_clients.png"></td>
			<td width="368"><h1>View Client Information</h1></td>
			<td width="165" align="center"></td>
			<td width="324" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th colspan="2">
							View Client
							<ul class="buttons">
								<li><a href="/clients/delete/id/<?=$this->client['id']?>" onclick="return confirm('Are you sure you want to delete this client? This can not be undone!');" class="btn-delete"></a></li>
								<li><a href="/clients/edit/id/<?=$this->client['id']?>" class="btn-edit"></a></li>
								<li><a href="/clients/" class="btn-back"></a></li>
							</ul>
						</th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="3"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr width="836">
						<td width="160" class="title2">Name:</td>
						<td><?=$this->client['ClientName']?></td>
					</tr>
					<tr>
						<td class="title2">Client Code:</td>
						<td><?=$this->client['client_code']?></td>
					</tr>
					<tr>
						<td class="title2">Contact First Name:</td>
						<td><?=$this->client['ContactFirstName']?></td>
					</tr>
					<tr>
						<td class="title2">Contact Last Name:</td>
						<td><?=$this->client['ContactLastName']?></td>
					</tr>
					<tr>
						<td class="title2">Telephone Number:</td>
						<td><?=$this->client['TelephoneNumber']?></td>
					</tr>
					<tr>
						<td class="title2">Fax Number:</td>
						<td><?=$this->client['FaxNumber']?></td>
					</tr>
					<tr>
						<td class="title2">Status:</td>
						<td>
							<?=($this->client['Disabled']=='no')?"Enabled":"Disabled"?>
						</td>
					</tr>

				</tbody>
			</table>
		</div>

		<br/>

		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th colspan="4">Retainer</th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="4"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php foreach ($this->retainers as $retainer) { ?>
					<tr width="836">
						<td width="160" class="title2">Status:</td>
						<td colspan="3"><?=ucfirst($retainer['Status'])?></td>
					</tr>
					<tr width="836">
						<td width="160" class="title2">Hours:</td>
						<td colspan="3"><?=$retainer['Hours']?></td>
					</tr>
					<tr>
						<td class="title2">Start Date:</td>
						<td width="200"><?=$retainer['StartDate']?></td>

						<td width="160" class="title2">End Date:</td>
						<td><?=($retainer['EndDate'])?$retainer['EndDate']:"ongoing"?></td>
					</tr>
					<tr>
						<td class="title2">Fee:</td>
						<td><?=$retainer['Fee']?></td>

						<td class="title2">Additional Hourly Rate:</td>
						<td><?=$retainer['AdditionalRate']?></td>
					</tr>
					<tr>
						<td class="title2">Note</td>
						<td colspan="3"><?=nl2br($retainer['Notes'])?></td>
					</tr>
					<tr>
						<td colspan="4">&nbsp;</td>
					</tr>
					<!--
					<tr>
						<td class="title2">Status:</td>
						<td>
							<?=ucfirst($this->retainer['Status'])?>
						</td>
					</tr>
					-->
				<?php } ?>
				</tbody>
			</table>
		</div>

		<br/><br/>

		<a name="users"></a>
		<div class="datatable">
			<table id="mediamanagertable">
				<thead>
					<tr width="840" class="header">
						<th colspan="6">Client Users</th>
						<th colspan="2">
							<a href="/clients/adduser/client_id/<?=$this->client['id']?>" class="addnote dialog" title="Add User">Add User</a>
						</th>
					</tr>
					<tr class="header2">
						<th width="25" class="th-center"></th>
						<th width="150">First Name</a></th>
						<th width="150">Last Name</a></th>
						<!--<th width="150">User Name</a></th>-->
						<th width="310">Email</a></th>
						<th width="50" class="th-center">View</th>
						<th width="50" class="th-center">Edit</th>
						<th width="50" class="th-center">Delete</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				$shade = true;
				foreach($this->users as $key => $val) {
					if($shade)
						$class = 'shadeoff';
					else
						$class = 'shadeon';
					$shade = !$shade;
				?>
					<tr width="840"  class="<?=$class?>">
						<td align="center"></td>
						<td><?=$val['FirstName']?></td>
						<td><?=$val['LastName']?></td>
						<!--<td><?=$val['UserName']?></td>-->
						<td><?=$val['Email']?></td>
						<td align="center"><a href="/clients/viewuser/client_id/<?=$this->client['id']?>/id/<?=$val['ID']?>" class="dialog" title="View User"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
						<td align="center"><a href="/clients/edituser/client_id/<?=$this->client['id']?>/id/<?=$val['ID']?>" class="dialog" title="Edit User"><i class="icn-edit fa fa-pencil-square-o"></i></a></td>
						<td align="center"><a href="/clients/deleteuser/client_id/<?=$this->client['id']?>/id/<?=$val['ID']?>" onclick="return confirm('Are you sure you want to delete this user? This can not be undone!');"><i class="icn-red fa fa-ban fa"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>
		</div>

		<br/><br/>

		<a name="staff"></a>
		<div class="datatable">
			<table id="mediamanagertable">
				<thead>
					<tr width="840" class="header">
						<th colspan="2">Cyber-NY Staff</th>
						<th colspan="2">
							<a href="/clients/addstaff/client_id/<?=$this->client['id']?>" class="addnote dialog" title="Add Cyber-NY Staff" style="width:160px;">Add Cyber-NY Staff</a>
						</th>
					</tr>
					<tr class="header2">
						<th width="25" class="th-center"></th>
						<th width="615">Name</a></th>
						<th width="150">Role</a></th>
						<th width="50" class="th-center">Delete</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				$shade = true;
				foreach($this->staff as $key => $val) {
					if($shade)
						$class = 'shadeoff';
					else
						$class = 'shadeon';
					$shade = !$shade;
				?>
					<tr width="840"  class="<?=$class?>">
						<td align="center"></td>
						<td><?=$val['name']?></td>
						<td><?=$val['role']?></td>
						<td align="center"><a href="/clients/deletestaff/client_id/<?=$this->client['id']?>/id/<?=$val['id']?>" onclick="return confirm('Are you sure you want to delete this staff?');"><i class="icn-red fa fa-ban fa"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>
		</div>

		<br/><br/>

		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th width="418">Client Notes</th>
						<th width="418">
							<a href="/clients/addnote/id/<?=$this->client['id']?>" class="addnote dialog" title="Add Note">Add Note</a><img src="/images/icon-addnote.gif" class="addnote-float-right" border="0">
						</th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="2"></td>
					</tr>
				</tfoot>
				<tbody id="noteList">
				<?php
				foreach ($this->notes as $note) {
				?>
					<tr width="836" id="note_<?=$note['id']?>">
						<td colspan="2">
							<span class="note_id hide"><?=$note['id']?></span>
							<div id="notetable">
								<div class="noteheader">
									<span class="noteheader-title"><?=$note['name']?> Said...</span>
									<div id="notedate">
										<span class="noteheader-datetitle">Date Sent:</span>
										<span class="noteheader-date"><?=date("n/j/y",strtotime($note['EntryDate']))?> <img src="/images/icon-delete.gif" hspace="10" border="0" onclick="removeNote('<?=$note['id']?>')"></span>
									</div>
								</div>
								<div class="noteheader-body">
									<p><?=nl2br($note['Notes'])?></p>
								</div>
							</div>
						</td>
					</tr>
				<?php
				}
				?>
				<tr width="836">
					<td colspan="2" id="buttons3"><a href="/clients/addnote/id/<?=$this->client['id']?>" title="Add Note" class="btn-addnote dialog">Add Note</a></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	setInterval(updateNotes,60000); //1 minute
});


function updateNotes() {
	$.getJSON("/clients/updatenotes/", { last_note: $("#noteList .note_id:first").html(), client: "<?=$this->client['id']?>" }, function(data){
		$.each(data.items, function(i,item){
			$("#noteList").prepend('<tr><td colspan="2" id="note_'+item.id+'" class="hide"><div id="notetable"><span class="note_id hide">'+item.id+'</span><div class="noteheader'+item.role+'"><span class="noteheader-title">'+item.name+' Said...</span><div id="notedate"><span class="noteheader-datetitle">Date Sent:</span><span class="noteheader-date">'+item.created+' <img src="/images/icon-delete.gif" hspace="10" border="0" onclick="removeNote('+item.id+')"></span></div></div><div class="noteheader-body"><p>'+item.message+'</p></div></div></td></tr>');
			$("#note_"+item.id).slideDown(1000);
		});
	});
}

function removeNote(note_id) {
	var del = confirm("Are you sure you want to delete this note?");

	if (del) {
		$("#note_"+note_id).effect("explode",1000).remove();
		$.post("/clients/deletenote", { note_id: note_id } );
	}
}
</script>
