<div id="form-at" style="height:200px;">

	<br>
	<label>First Name: <?=$this->user['FirstName']?></label>

	<br>
	<label>Last Name: <?=$this->user['LastName']?></label>

	<br>
	<label>Email: <?=$this->user['Email']?></label>

	<br>
	<label>Phone: <?=$this->user['Phone']?></label>
<!--
	<br>
	<label>User Name: <?=$this->user['UserName']?></label>
-->
	<br>
	<label>Status: <?=($this->user['Disabled']=="yes")?"Disabled":"Enabled"?></label>

</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});
</script>