<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn-projects.png"></td>
			<td width="165"><h1>Projects</h1></td>
			<td width="368" align="center"></td>
			<td width="324" align="right">
				<ul class="buttons">
					<li><a href="/projects/" class="btn-back"></a></li>
				</ul>
			</td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<form method="post" action="/projects/add/" id="conceptForm">
		<div id="form-at" style="height:1300px">
			<div id="at-header">
				<h1>Add Project</h1>
			</div>

			<br>
			<label>Client:</label>
			<div class="input">
				<?=$this->formSelect('data[client_id]', $this->project['client_id'], array('id'=>'client', 'style'=>'width:190px;', 'class'=>'form-field'), $this->clients)?>
			</div>

			<br>
			<label>Project Name:</label>
			<div class="input">
				<input type="text" name="data[name]" id="project_name" value="<?=$this->project['name']?>" style="width:200px;" />
			</div>

			<br style="clear:both;"/>
			<label>Job Code:</label>
			<div class="input">
				<input type="text" name="data[job_code]" id="project_name" value="" style="width:200px;" />
			</div>

			<br>
			<label>Project Lead:</label>
			<div class="input">
				<?=$this->formSelect('data[project_lead_id]', $this->project['project_lead_id'], array('id'=>'project_lead_id', 'style'=>'width:190px;', 'class'=>'form-field'), $this->staff)?>
			</div>

			<br style="clear:both;"/>
			<label>Start Date:</label>
			<div class="input">
				<input type="text" name="data[start_date]" id="start_date" class="date-pick" value="<?=$this->project['start_date']?>" style="width:200px;" />
			</div>

			<br style="clear:both;"/>
			<label>Completion Date:</label>
			<div class="input">
				<input type="text" name="data[completion_date]" id="completion_date" class="date-pick" value="<?=$this->project['completion_date']?>" style="width:200px;" />
			</div>

			<br style="clear:both;"/>
			<label>Current Status:</label>
			<div class="input">
				<?=$this->formSelect('data[current_status_id]', $this->project['current_status_id'], array('id'=>'current_status', 'style'=>'width:250px;', 'class'=>''), $this->status)?>
			</div>

			<br style="clear:both;"/>
			<label>Project Type:</label>
			<div class="input">
				<?=$this->formSelect('data[client_project_type_id]', $this->project['client_project_type_id'], array('id'=>'client_project_type_id', 'style'=>'width:250px;', 'class'=>''), $this->types)?>
			</div>

			<br style="clear:both;"/>
			<label>Wireframe URL:</label>
			<div class="input">
				<input type="text" name="data[wireframe_url]" id="wireframe_url" value="<?=$this->project['wireframe_url']?>" style="width:200px;" />
			</div>

			<br style="clear:both;"/>
			<label>Admin Control Panel Username:</label>
			<div class="input">
				<input type="text" name="data[admin_username]" id="admin_username" value="<?=$this->project['admin_username']?>" style="width:200px;" />
			</div>

			<br style="clear:both;"/>
			<label>Admin Control Panel Password:</label>
			<div class="input">
				<input type="text" name="data[admin_password]" id="admin_password" value="<?=$this->project['admin_password']?>" style="width:200px;" />
			</div>

			<br style="clear:both;"/>
			<label>Summary:</label>
			<div class="rounded2" style="margin: 5px 10px;float:left;">
				<textarea name="data[summary]" id="project_summary" style="width:420px;" rows="6"><?=$this->project['summary']?></textarea>
			</div>

			<br style="clear:both;"/>
			<label>Description:</label>
			<div class="rounded2" style="margin: 5px 10px;float:left;">
				<textarea name="data[description]" id="project_description" style="width:420px;" rows="6"><?=$this->project['description']?></textarea>
			</div>

			<br style="clear:both;"/><br/>
			<label>Server:</label>
			<div class="input">
				<?=$this->formSelect('data[server_id]', $this->project['server_id'], array('id'=>'server_id', 'style'=>'width:250px;', 'class'=>''), $this->servers)?>
			</div>

			<br style="clear:both;"/>
			<label>FTP:</label>
			<div class="input">
				<?=$this->formSelect('data[ftp_id]', $this->project['ftp_id'], array('id'=>'ftp_id', 'style'=>'width:250px;', 'class'=>''), $this->ftps)?>
			</div>

			<br style="clear:both;"/>
			<label>Programming Language:</label>
			<div class="input">
				<?=$this->formSelect('data[language]', $this->project['language'], array('id'=>'language', 'style'=>'width:250px;', 'class'=>''), $this->languages)?>
			</div>

			<br style="clear:both;"/>
			<label>Database:</label>
			<div class="input">
				<?=$this->formSelect('data[database]', $this->project['database'], array('id'=>'database', 'style'=>'width:250px;', 'class'=>''), $this->databases)?>
			</div>

			<br style="clear:both;"/>
			<label>Framework:</label>
			<div class="input">
				<?=$this->formSelect('data[framework]', $this->project['framework'], array('id'=>'framework', 'style'=>'width:250px;', 'class'=>''), $this->frameworks)?>
			</div>

			<br style="clear:both;"/>
			<label>CMS:</label>
			<div class="input">
				<?=$this->formSelect('data[cms]', $this->project['cms'], array('id'=>'cms', 'style'=>'width:250px;', 'class'=>''), $this->cmses)?>
			</div>

			<br style="clear:both;"/>
			<label>Payment Processing:</label>
			<div class="input">
				<?=$this->formSelect('data[cc_processing]', $this->project['cc_processing'], array('id'=>'cc_processing', 'style'=>'width:250px;', 'class'=>''), $this->cc_processing)?>
			</div>

			<br style="clear:both;"/>
			<label>SSL:</label>
			<div class="input">
				<?=$this->formSelect('data[ssl]', $this->project['ssl'], array('id'=>'ssl', 'style'=>'width:250px;', 'class'=>''), array("no"=>"No","yes"=>"Yes"))?>
			</div>

			<br style="clear:both;"/>
			<label>Hosting:</label>
			<div class="input">
				<?=$this->formSelect('data[hosting]', $this->project['hosting'], array('id'=>'hosting', 'style'=>'width:250px;', 'class'=>''), $this->hosting)?>
			</div>

			<br style="clear:both;"/><br/>
			<div id="form-at-buttonwrap">
				<input type="submit" class="btn-save" name="Submit" id="Submit" value="" />
			</div>
		</div>
		</form>

	</div>
</div>

<style>
	/* ComboBox special overwrites */
	.ui-button-icon-only .ui-button-text { padding: 0.35em; }
	.ui-autocomplete-input { padding:0.3em 0 0.35em 0.45em!important; width:250px!important;margin-top:2px!important;height:18px!important;}
	.ui-autocomplete { text-align: left; height: 250px; overflow: auto; width:250px; }
</style>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#client").combobox();
	$("#ftp_id").combobox();

	$(".date-pick").datepicker();

	$("#conceptForm").validate({
		rules: {
			"data[client_id]": "required",
			"data[name]": "required"
		},
		messages: {

        }
	});
});
</script>