<div class="add-note-modal modal">
	<form action="/projects/addstaff" method="post" id="addStaffForm" target="_parent">
		<input type="hidden" name="client_project_id" value="<?=$this->client_project_id?>">

		<div class="modal-head"><h1> Add Cyber-NY Staff</h1></div>
		<div class="modal-content">
			<div class="error"><span></span></div>

			<label>Assign To:</label>
			<?=$this->formSelect('data[userID]', '', array('id'=>'userID', 'style'=>'width:250px;margin:8px;', 'class'=>'form-field'), array(""=>"Select Staff")+$this->staff)?>

			<label>Role:</label>
			<?=$this->formSelect('data[role]', '', array('id'=>'role', 'style'=>'width:250px;margin:8px;', 'class'=>'form-field'), array(""=>"Select Role","Developer"=>"Developer","Project Manager"=>"Project Manager"))?>

			<div id="form-at-buttonwrap">
				<input type="submit" class="btn-save" name="Add User" id="Add User" value="" />
			</div>

		</div>
	</form>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	jQuery.validator.messages.required = "";
	$("#addStaffForm").validate({
		rules: {
			"data[userID]": "required",
			"data[role]": "required"
		},
		messages: {
			"data[userID]": "Staff required",
			"data[role]": "Role required"
        },
		invalidHandler: function(e, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				var message = errors == 1
					? 'You missed 1 field. It has been highlighted below'
					: 'You missed ' + errors + ' fields.  They have been highlighted below';
				$("div.error span").html(message);
				$("div.error").show();
			} else {
				$("div.error").hide();
			}
		}
	});
});
</script>