<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div class="tickets-system tickets-list cf">
	<div class="system-menu">
		<div class="ftp-info concepts-work">
			<div class="icon-concepts"><img src="/images/icn-projects.png"></div>
			<h1>Projects Archive</h1>
		</div>
		<div class="search-tix">
			<form method="post" action="/projects/archive">
				<input type="text" name="mask" value="<?=$this->mask?>" size="20" class="search-box">
				<input type="submit" value="Search" class="search-button">
			</form>
		</div>
	</div>


		<div class="table-wrap">
			<table class="centerTable system">
				<thead>
					<tr class="tickets-header">
						<td width="20"></td>
						<th width="190"><a href="/projects/archive/sort/name/dir/<?=$dir?>">Project Name</a></th>
						<th width="152"><a href="/projects/archive/sort/ClientName/dir/<?=$dir?>">Client</a></th>
						<th width="100"><a href="/projects/archive/sort/current/dir/<?=$dir?>">Status</a></th>
						<th width="75"><a href="/projects/archive/sort/start_date/dir/<?=$dir?>">Start</a></th>
						<th width="100"><a href="/projects/archive/sort/completion_date/dir/<?=$dir?>">Completion</a></th>
						<th width="80"><a href="/projects/archive/sort/hours/dir/<?=$dir?>">Hours</a></th>
						<th width="40" class="th-center">Delete</th>
						<th width="40" class="th-center">Edit</th>
						<th width="43" class="th-center">View</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				foreach($this->clients as $key => $val) {

				?>
					<tr width="840" id="<?=$val['id']?>" class="pmrow">
						<td></td>
						<td><a href="/projects/view/id/<?=$val['id']?>"><?=$val['name']?></a></td>
						<td><?=$val['ClientName']?></td>
						<td><?=$val['current']?></td>
						<td><?=($val['start_date'])?date("n/d/y",strtotime($val['start_date'])):""?></td>
						<td><?=($val['completion_date'])?date("n/d/y",strtotime($val['completion_date'])):""?></td>
						<td><?=sec2hm($val['hours'])?></td>
						<td align="center"><a href="/projects/delete/id/<?=$val['id']?>" onclick="return confirm('Are you sure you want to delete this project? This can not be undone!');"><i class="icn-red fa fa-ban fa"></i></a></td>
						<td align="center"><a href="/projects/edit/id/<?=$val['id']?>"><i class="icn-edit fa fa-pencil-square-o"></i></a></td>
						<td align="center"><a href="/projects/view/id/<?=$val['id']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>

			<?php echo $this->paginationControl($this->clients, 'Sliding', 'pagination_control.phtml'); ?>
		</div>
	</div>


<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$.contextMenu({
		selector: 'tbody .pmrow',
		callback: function(action, options) {
			var id = $(this).attr("id");
			if (action == "edit") {
				window.location = "/projects/edit/id/"+id;
				return false;
			}
				<?php
				foreach ($this->project_statuses as $k=>$status) {
				?>
			else if (action == "<?=$status?>") {
				window.location = "/projects/status/return/archive/status/<?=$k?>/id/"+id;
				return false;
			}
			<?php
			}
			?>
		},
		items: {
			"edit": {name: "Edit", icon: "edit"},
			"sep1": "---------",
			<?php foreach ($this->project_statuses as $k=>$status) { ?>
			"<?=$status?>": {name: "<?=$status?>", icon: "statuses"},
			<?php
			}
			?>
			"sep2": "---------"
		}
	});

});
</script>