<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn-projects.png"></td>
			<td width="165"><h1>Projects</h1></td>
			<td width="343" align="center">
				<a href="/projects/add" id="addproject" class="btn-addproject"><span style="display:none;">Add Project</span></a>
			</td>
			<td width="304" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content" style="width:840px;">
	<div id="centermain">

		<div id="p_cal"></div>

		<br/><br/>
		<form method="POST" action="/projects/autoadd">
		<input type="hidden" name="id" value="<?=$this->project['id']?>"/>
		<div class="datatable">
			<table id="mediamanagertable">
				<tr id="taskList_heading">
					<th width="50"></th>
					<th width="480">Task</th>
					<th width="150">Due</th>
					<th width="160">Assign To</th>
				</tr>
				<tbody id="taskList">
			<?php
			$status_section = "";
			$startDate = $this->project['start_date'];
			if (!$startDate) $startDate = date("n/d/Y");
			
			foreach($this->tasks as $task) {
				$section_color = ($task['status_color'])?$task['status_color']:"#000000";
				if ($task['status_section'] != $status_section) {
					$status_section = $task['status_section'];
				$class = "shadeoff";
			?>
				<tr>
					<th colspan="4"><h3 style="color:<?=$section_color?>;" onclick="showHide('.<?=$status_section?>')"><?=$status_section?></h3></th>
				</tr>
			<?php
				}				
				if ($class == "shadeoff") $class = "shadeon";
				else $class = "shadeoff";
			?>
				<tr class="<?=$class?> <?=$status_section?>">
					<td align="center">
						<input type="checkbox" class="checkbox" name="data[<?=$task['id']?>][active]" value="on" checked>
					</td>
					<td>
						<div class="title"><?=$task['title']?></div>
						<input type="hidden" class="color" value="<?=$section_color?>">
					</td>
					<td>
						<input type="text" class="date-pick" name="data[<?=$task['id']?>][ExpectedEndDate]" value="<?=dueDate($task['days_from_start'],$startDate)?>" size="10">
					</td>
					<td>
						<?=$this->formSelect("data[{$task['id']}][UserID]", '', array('id'=>'cyber', 'style'=>'width:140px;', 'class'=>'staff'), $this->staff)?>
					</td>
				</tr>
			<?php
			}
			?>
				</tbody>
			</table>
			
			<br/><br/>
			<input type="submit" value="Create Tasks">
		</div>
		</form>

	</div>
</div>

<style>
	.cluetip-jtip {text-align:left;}
</style>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$(".date-pick").datepicker();

	drawCalendar(<?=date("n")?>,<?=date("Y")?>);
	
	$(".date-pick").bind("change",function(){
		updateCalendar($("#cal_month").val(),$("#cal_year").val());
	});
	$(".checkbox").bind("change",function(){
		updateCalendar($("#cal_month").val(),$("#cal_year").val());
	});
	
});

function drawCalendar(month,year) {
	$("#p_cal").load("/projects/cal/month/"+month+"/year/"+year, function() {
		updateCalendar(month,year);
	});
}

function updateCalendar(month, year) {
	//clear any residual info in boxes (only if a simple update instead of redraw)
	$(".day-info").html('');
	
	$("#taskList tr").each(function(index) {
		var active = $(this).find(".checkbox").attr("checked");
		
		if (active) {
			var title = $(this).find(".title").html();
			var color = $(this).find(".color").val();
			var date = new Date($(this).find(".date-pick").val());
	
			var item_month = (+date.getMonth()+1);
			
			if (item_month == month && date.getFullYear() == year) {
				var dateString = date.getDate()+"_"+month+"_"+year;
	
				$("#day_"+dateString).append("<div class='cal_task tooltip' rel='#tip_"+index+"' style='background: "+color+";'></div><div id='tip_"+index+"' class='tip'>"+title+"</div>");
			}
		}
	});
	
	$('.tooltip').cluetip({
		local: true,
		showTitle: false,
		width: 300,
		cluetipClass: 'jtip',
		hoverIntent: {
			sensitivity:  1,
			interval:     200
		}
	});
}

function showHide(e) {
	$(e).toggle();
}
</script>