<?php
if ($this->concepts) {
?>
	<div class="viewtable tab_interior">
		<table width="836">
			<thead>
				<tr width="836" class="header">
					<th colspan="10">
						View Concepts
					</th>
				</tr>
				<tr class="header2">
					<th width="16"></th>
					<th width="520">Concept</th>
					<th width="80" class="th-center">Round</th>
					<th width="80" class="th-center">Date</th>
					<th width="80" class="th-center">Notes</th>
					<th width="60" class="th-center">View</th>
				</tr>
			</thead>
			<tbody id="mediamanagertable" class="datatable">
			<?php
			$shade = true;
			foreach($this->concepts as $key => $val) {
				if($shade)
					$class = 'shadeoff';
				else
					$class = 'shadeon';
				$shade = !$shade;

			?>
				<tr width="836"  class="<?=$class?>">
					<td align="center"></td>
					<td><?=$val['title'].": ".$val['name']?></td>
					<td align="center"><?=$val['round']?></td>
					<td align="center"><?=date("n/d/Y",strtotime($val['created']))?></td>
					<td align="center"><a href='/concepts/notes/concept_id/<?=$val['id']?>'><img src='/images/icon-note.gif'></a></td>
					<td align='center'>
					<?php
					if ($this->user->cyber_user=="yes") {
					?>
						<a href='/concepts/view/concept_id/<?=$val['id']?>'><img src='/images/view.gif'></a>
					<?php
					}else {
					?>
						<a href='/concept/display/concept_id/<?=$val['id']?>' target="_blank"><img src='/images/view.gif'></a>
					<?php
					}
					?>
					</td>
				</tr>
			<?php
			}
			?>
			</tbody>
		</table>
	</div>
	<br/>
<?php
} else {
	echo "There are no Concepts currently associated with this project";
}
?>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});
</script>