<div class="viewtable tab_interior">
	<table width="836">
		<tbody>
			<tr>
				<td width="10"></td>
				<td><?=nl2br($this->project['description'])?></td>
				<td width="10"></td>
			</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});
</script>