<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn-projects.png"></td>
			<td width="165"><h1>Projects</h1></td>
			<td width="343" align="center">
				<a href="/projects/add" id="addproject" class="btn-addproject"><span style="display:none;">Add Project</span></a>
			</td>
			<td width="304" align="right">
				<form method="post" action="/projects">
				<input type="text" name="mask" value="<?=$this->mask?>" size="20">
				<input type="submit" value="Search">
				&nbsp;
				</form>
			</td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<div class="datatable">
			<table id="mediamanagertable">
				<thead>
					<tr width="840" class="header">
						<th colspan="10">View Clients</th>
					</tr>
					<tr class="header2">
						<td width="20"></td>
						<th width="765"><a href="/projects/index/sort/ClientName/dir/<?=$dir?>">Client</a></th>
						<th width="55" class="th-center">View</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				$shade = true;
				foreach($this->clients as $key => $val) {
					if($shade)
						$class = 'shadeoff';
					else
						$class = 'shadeon';
					$shade = !$shade;

				?>
					<tr width="840"  class="<?=$class?>">
						<td></td>
						<td><a href="/projects/list/clientID/<?=$val['client_id']?>"><?=$val['ClientName']?></a></td>
						<td align="center"><a href="/projects/list/clientID/<?=$val['client_id']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>

			<?php echo $this->paginationControl($this->clients, 'Sliding', 'pagination_control.phtml'); ?>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});
</script>