<div class="viewtable tab_interior">
	<table width="836">
		<tbody>
			<tr width="836">
				<td class="title2" width="150">Project Type: </td>
				<td><?=$this->project['type']?></td>
			</tr>
			<tr>
				<td class="title2" width="150">Project Lead: </td>
				<td><?=$this->project['project_lead']?></td>
			</tr>
			<tr>
				<td class="title2" width="150">Current Status: </td>
				<td><?=$this->project['current']?></td>
			</tr>
			<tr>
				<td class="title2">Scheduled Status: </td>
				<td><?=$this->project['scheduled']?></td>
			</tr>
			<tr>
				<td class="title2">Start Date: </td>
				<td><?=$this->project['start_date']?></td>
			</tr>
			<tr>
				<td class="title2">Completion Date: </td>
				<td><?=$this->project['completion_date']?></td>
			</tr>
			<tr>
				<td class="title2">Wireframe URL: </td>
				<td><?=$this->project['wireframe_url']?></td>
			</tr>
			<tr>
				<td class="title2">Approved Concepts: </td>
				<td><a href="/concept/approved/client_id/<?=$this->project['client_id']?>/project_id/<?=$this->project['id']?>" target="_blank">Approved Concepts Gallery</a></td>
			</tr>
			<tr>
				<td class="title2" valign="top">Summary: </td>
				<td><?=$this->project['summary']?></td>
			</tr>
		</tbody>
	</table>
</div>


<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});
</script>