<div class="datatable">
	<table id="mediamanagertable">
		<thead>
			<tr width="840" class="header">
				<th colspan="2">Cyber-NY Staff</th>
				<th colspan="2">
					<a href="/projects/addstaff/client_project_id/<?=$this->id?>" class="addnote dialog pop-modal" data-pop-up="add_staff" title="Add Cyber-NY Staff" style="width:160px;">Add Cyber-NY Staff</a>
				</th>
			</tr>
			<tr class="header2">
				<th width="25" class="th-center"></th>
				<th width="615">Name</a></th>
				<th width="150">Role</a></th>
				<th width="50" class="th-center">Delete</th>
			</tr>
		</thead>
		<tfoot><tr><td colspan="4"></td></tr></tfoot>
		<tbody>
<?php
$shade = true;
foreach($this->staff as $key => $val) {
	if($shade)
		$class = 'shadeoff';
	else
		$class = 'shadeon';
	$shade = !$shade;
?>
			<tr width="840"  class="<?php echo $class?>">
				<td align="center"></td>
				<td><?=$val['name']?></td>
				<td><?=$val['role']?></td>
				<td align="center"><a href="/clients/deletestaff/client_id/<?=$this->id?>/id/<?=$val['id']?>" onclick="return confirm('Are you sure you want to delete this staff?');"><i class="icn-red fa fa-ban fa"></i></a></td>
			</tr>
<?php
}
?>
		</tbody>
	</table>
</div>

<script>
	$(document).ready(function() {
		$('.pop-modal').on('click', function(event) {
			event.preventDefault();
			event.stopPropagation();

			var self = $('.modal-trigger'),
				popUrl = $(this).data('pop-url'),
				modalClass = $(this).data('pop-up'),
				contentType = $(this).data('pop-type');

			if (typeof(popUrl) == 'undefined') popUrl = $(this).attr('href');
			if (typeof(contentType) == 'undefined') contentType = 'iframe';

			self.addClass(modalClass);

			$('.modal-trigger').bPopup({
				content: contentType,
				contentContainer: '.modal-container',
				loadUrl: popUrl,
				closeClass: 'close-modal',
				onClose: function() {
					self.removeClass(modalClass);
				}
			});

		});
	});
</script>