<div class="viewtable tab_interior">
	<table width="836">
		<thead>
			<tr width="836" class="header">
				<th width="836" colspan="10">
					Tasks
					<a href="/pm/add/ClientID/<?=$this->project['client_id']?>/client_project_id/<?=$this->project['id']?>/url/<?=base64_encode("/projects/view/id/".$this->project['id']."#tasks")?>" class="addnote" title="Add Task">Add Task</a>
				</th>
			</tr>
			<tr class="header2">
				<th width="10" class="th-center"></th>
				<th width="80">Owner</th>
				<th width="226">Task Name</th>
				<th width="85">Due Date</th>
				<th width="61" class="th-center">Status</th>
				<th width="61" class="th-center">Type</th>
				<th width="81" class="th-center">Hours</th>
				<th width="61" class="th-center">View</th>
			</tr>
		</thead>
		<tbody id="mediamanagertable" class="datatable">
		<?php
		$shade = true;
		foreach($this->tasks as $key => $val) {
			$project = new Cny_Model_Project($val);
			if($shade)
				$class = 'shadeoff';
			else
				$class = 'shadeon';
			$shade = !$shade;

			$statusInfo = $project->statusInfo();
			//$priorityInfo = $project->priorityInfo();
		?>
			<tr width="836" id="<?=$val['id']?>" class="pmrow <?=$class?> <?=$statusInfo['class']?>">
				<td align="center"></td>
				<td><?=$val['UserName']?></td>
				<td><?=$val['Title']?></td>
				<td align="center"><?=date("n/d/y",$val['ExpectedEndDate'])?></td>
				<td align="center"><div class="fa task-status-<?=$statusInfo['image']?>" title="<?=$val['ProjectStatusName']?>"></div></td>
				<td align="center"><?=$project->titleIcons($val)?></td>
				<td align="center"><?=$project->sec2hm($val['TotalTime'])?></td>
				<td align="center"><a href="/pm/view/id/<?=$val['id']?>/prev/project"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
			</tr>
		<?php
		}
		?>
		</tbody>
	</table>
</div>


<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});
</script>