<?php
$crypt = new Cny_Model_Encryption();
?>
<div class="viewtable tab_interior">
	<table width="836">
		<tbody>
			<tr>
				<td class="title2" width="150">Admin CMS Username: </td>
				<td><?=$this->project['admin_username']?></td>
			</tr>
			<tr>
				<td class="title2">Admin CMS Password: </td>
				<td><?=$this->project['admin_password']?></td>
			</tr>
			<tr>
				<td class="title2">Programming Language: </td>
				<td><?=$this->project['language']?></td>
			</tr>
			<tr>
				<td class="title2">Database: </td>
				<td><?=$this->project['database']?></td>
			</tr>
			<tr>
				<td class="title2">Framework: </td>
				<td><?=$this->project['framework']?></td>
			</tr>
			<tr>
				<td class="title2">CMS: </td>
				<td><?=$this->project['cms']?></td>
			</tr>
			<tr>
				<td class="title2">Payment Processing: </td>
				<td><?=$this->project['cc_processing']?></td>
			</tr>
			<tr>
				<td class="title2">SSL: </td>
				<td><?=$this->project['ssl']?></td>
			</tr>
			<tr>
				<td class="title2">Hosting: </td>
				<td><?=$this->project['hosting']?></td>
			</tr>
		</tbody>
	</table>
</div>
<br><br>

<?php
if ($this->ftp) {
?>
<div class="viewtable tab_interior">
	<table width="836">
		<thead>
			<tr width="836" class="header">
				<th colspan="2">
					View FTP: <?=$this->ftp['website']?>
				</th>
			</tr>
		</thead>
		<tbody id="ftp">
			<tr width="836">
				<td width="120" class="title2">Website:</td>
				<td><?=$this->ftp['website']?>	</td>
			</tr>
			<tr>
				<td class="title2">Server:</td>
				<td><?=$this->ftp['server']?> <span class="title2">Host:</span> <?=$this->ftp['host']?> <span class="title2">Owned By:</span> <?=$this->ftp['owned']?></td>
			</tr>
			<tr>
				<td class="title2">FTP Username:</td>
				<td> <span onclick='selectNode(this)'><?=$this->ftp['ftp_username']?></span></td>
			</tr>
			<tr>
				<td class="title2">FTP Password:</td>
				<td><span id="ftp_password"><?php if ($this->ftp['ftp_password']) echo preg_replace("(.?)", '*', $this->ftp['ftp_password'])?></span> <button onclick="displayPassword('ftp_password'); return false">View</button></td>
			</tr>
			<tr>
				<td class="title2">DB Username:</td>
				<td><span onclick='selectNode(this)'><?=$this->ftp['db_username']?></span></td>
			</tr>
			<tr>
				<td class="title2">DB Password:</td>
				<td><span id="db_password"><?php if ($this->ftp['db_password']) echo preg_replace("(.?)", '*', $this->ftp['db_password'])?></span> <button onclick="displayPassword('db_password'); return false">View</button></td>
			</tr>
			<tr>
				<td class="title2">Notes:</td>
				<td>
					<div id="notetable" style="width: 650px;">
						<div class="noteheader-body" style="width: 650px;">
							<p><?=nl2br($this->ftp['notes'])?></p>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td class="title2">Encrypted Notes:</td>
				<td>
					<div id="notetable" style="width: 650px;">
						<div class="noteheader-body" style="width: 650px;">
							<p><?=$crypt->decrypt($this->enc_key,$this->ftp['enc_notes'])?></p>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<br/>
<?php
}

if ($this->server) {
?>
<div class="viewtable tab_interior">
	<table width="836">
		<thead>
			<tr width="836" class="header">
				<th colspan="2">
					View Server: <?=$this->server['name']?>
				</th>
			</tr>
		</thead>
		<tbody id="server">
			<tr width="836">
				<td width="120" class="title2">Name:</td>
				<td><?=$this->server['name']?>	</td>
			</tr>
			<tr>
				<td class="title2">Type:</td>
				<td><?=$this->server['type']?></td>
			</tr>
			<tr>
				<td class="title2">Host:</td>
				<td><?=$this->server['host']?></td>
			</tr>
			<tr>
				<td class="title2">Owned By:</td>
				<td><?=$this->server['owned']?></td>
			</tr>
			<tr>
				<td class="title2">Server Number:</td>
				<td><?=$this->server['serverNumber']?></td>
			</tr>
			<tr>
				<td class="title2">IP:</td>
				<td><?=$this->server['IP']?></td>
			</tr>
			<tr>
				<td class="title2">Webmin URL:</td>
				<td><?=$this->server['webminUrl']?></td>
			</tr>
			<tr>
				<td class="title2">Database URL:</td>
				<td><?=$this->server['databaseUrl']?></td>
			</tr>
			<tr>
				<td class="title2">Notes:</td>
				<td>
					<div id="notetable" style="width: 650px;">
						<div class="noteheader-body" style="width: 650px;">
							<p><?=nl2br($this->server['notes'])?></p>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<br/>
<?php
}
?>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});

function displayPassword(id) {
	$("#"+id).load("/ftp/password", {password: id, ftp_id: "<?=$this->ftp['id']?>"});
}

function selectNode (node) {
	//This is a third party function written by Martin Honnen
	//In comp.lang.javascript
	//http://groups-beta.google.com/group/comp.lang.javascript/browse_thread/thread/2b389e61c7b951f2/99b5f1bee9922c39?lnk=gst&q=(doc+%3D+node.ownerDocu ment)+%26%26+(win+%3D+doc.defaultView)&rnum=1&hl=e n#99b5f1bee9922c39

	var selection, range, doc, win;
	if ((doc = node.ownerDocument) && (win = doc.defaultView) && typeof win.getSelection != 'undefined' && typeof doc.createRange != 'undefined' && (selection = window.getSelection()) && typeof selection.removeAllRanges != 'undefined') {
		range = doc.createRange();
		range.selectNode(node);
		selection.removeAllRanges();
		selection.addRange(range);
	} else if (document.body && typeof document.body.createTextRange != 'undefined' && (range = document.body.createTextRange())) {
		range.moveToElementText(node);
		range.select();
	}
}
</script>