<div id="interior-header">
	<table width="836" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="left"><img src="/images/icn-projects.png" hspace="4"></td>
			<td width="165"><h1>View Project</h1></td>
			<td width="488" align="center"></td>
			<td width="204" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">
		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th colspan="2">
							Client: <?=$this->project['ClientName']?>
							<ul class="buttons">
								<li><a href="/projects/delete/id/<?=$this->project['id']?>" onclick="return confirm('Are you sure you want to delete this project? This can not be undone!');" class="btn-delete">delete</a></li>
								<li><a href="/projects/edit/id/<?=$this->project['id']?>" class="btn-edit" title="Edit Project">edit</a></li>
								<li><a href="/projects/list" class="btn-back">back</a></li>
							</ul>
						</th>
					</tr>
					<tr width="836" class="header2">
						<th colspan="1">Project Name: <span class="header2-subtitle"><?=$this->project['name']?></span></th>
						<th colspan="1">Job Code: <span class="header2-subtitle"><?=$this->project['job_code']?></span></th>
					</tr>
					<tr>
						<th colspan="3">
							<div id="tabs">
								<ul>
									<li id="overview"><a href="/projects/overview/id/<?=$this->project['id']?>" title="Overview">Overview</a></li>
									<li id="details"><a href="/projects/details/id/<?=$this->project['id']?>" title="Details">Details</a></li>
									<li id="info"><a href="/projects/technical/id/<?=$this->project['id']?>" title="Technical Info">Technical Info</a></li>
									<li id="tasks"><a href="/projects/tasks/id/<?=$this->project['id']?>" title="Tasks">Tasks</a></li>
									<li id="concepts"><a href="/projects/concepts/id/<?=$this->project['id']?>" title="Concepts">Concepts</a></li>
									<li id="staff"><a href="/projects/staff/id/<?=$this->project['id']?>" title="Work Group">Work Group</a></li>
								</ul>
							</div>
						</th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="3"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<td>
							<div id="tab_content"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#tabs").tabs({
		ajaxOptions: {
			error: function(xhr, status, index, anchor) {
				$(anchor.hash).html("There was an error loading this content. Please try again later.");
			}
		}
	});

	//load a specific panel if anchor matches
	var myFile = document.location.toString();
	if (myFile.match('#')) {
		var myAnchor = '#' + myFile.split('#')[1];
		$('#tabs li#'+myAnchor+' a').click();
	}
});
</script>