<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_retainer.png"></td>
			<td width="443"><h1>View Retainer History</h1></td>
			<td width="165" align="center"></td>
			<td width="204" align="right">
				<ul class="buttons">
					<li><a href="/retainer" class="btn-back"></a></li>
				</ul>
			</td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<form method="post" action="">
		<table width="840" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td width="205">Search: <input type="text" name="mask" value="<?=$this->mask?>"></td>
				<td width="75">Date Range :</td>
				<td width="50"><input type="text" name="from_date" id="from_date" value="<?=$this->from_date?>" size="10"></td>
				<td width="20" align="center">to</td>
				<td width="50"><input type="text" name="to_date" id="to_date" value="<?=$this->to_date?>" size="10"></td>
				<td width="100">Export Report <input type="checkbox" name="export"></td>
				<td width="100"><input type="submit" value="Search"></td>
			</tr>
		</table>
		<br/>

		<div class="datatable">
			<table id="mediamanagertable">
				<thead>
					<tr width="840" class="header">
						<th colspan="10">
							<div style="float:left;"><?=$this->client['ClientName']?></div>
							<div class="retainer_head_info">Current Monthly Retainer: <?=$this->current_retainer?></div>
							<div class="retainer_head_info">Total Hours Due: <?=$this->retainer_due?></div>
							<div class="retainer_head_info">Total Hours Used: <?=sec2hm($this->ticket_total, true) //=sec2hm($this->client['currentHours'])?></div>
						</th>
					</tr>
					<tr class="header2">
						<th width="50"></th>
						<th width="150"><a href="/retainer/details/sort/owner/dir/<?=$dir?>">Assigned To</a></th>
						<th width="320"><a href="/retainer/details/sort/Title/dir/<?=$dir?>">Project Name</a></th>
						<th width="100"><a href="/retainer/details/sort/job_code/dir/<?=$dir?>">Job Code</a></th>
						<th width="100" class="th-center"><a href="/retainer/details/sort/currentHours/dir/<?=$dir?>">Current Hours</a></th>
						<th width="60" class="th-center"><a href="/retainer/details/sort/ProjectStatusName/dir/<?=$dir?>">Status</a></th>
						<th width="60" class="th-center">View</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				$shade = true;
				foreach($this->tickets as $key => $val) {
					if($shade)
						$class = 'shadeoff';
					else
						$class = 'shadeon';
					$shade = !$shade;

					switch( strtolower( $val['ProjectStatusName'] ) ){
						case 'completed':
							$statusImage= "5.gif";
							break;
						case 'on client':
							$statusImage = "6.gif";
							break;
						case 'closed':
							$statusImage = "closed.gif";
							break;
						default:
			                $statusImage = "2.gif";
						    break;
					}

				?>
					<tr width="840"  class="<?=$class?>">
						<td></td>
						<td><?=$val['owner']?></td>
						<td><?=$val['Title']?></td>
						<td><?=$val['job_code']?></td>
						<td align="center"><?=sec2hm($val['currentHours'], true)?></td>
						<td align="center"><img src="/images/<?=$statusImage?>" title="<?=$val['ProjectStatusName']?>"></td>
						<td align="center"><a href="/pm/view/id/<?=$val['id']?>"><img src="/images/view.gif"></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>
			</form>

			<?php echo $this->paginationControl($this->tickets, 'Sliding', 'pagination_control.phtml'); ?>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#from_date").datepicker({ dateFormat: 'yy-mm-dd', defaultDate: '<?=$this->from_date?>' });
	$("#to_date").datepicker({ dateFormat: 'yy-mm-dd', defaultDate: '<?=$this->to_date?>' });
});
</script>