<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div class="tickets-system tickets-list cf">
	<div class="projects-list-head system-menu">
		<div class="ftp-info concepts-work">
			<div class="icon-concepts"><img src="/images/icn_retainer.png"></div>
			<h1 class="lh32">Retainer Tracker</h1>
		</div>
	</div>


	<form method="post" action="">
		<div class="table-wrap">
			<table class="centerTable system">
				<tr width="840" class="hourtrack-header">
					<td width="300">
						<a href="/retainer/index/from_date/<?=date("Y-m-d",mktime(0,0,0,date('n')-1,1,date("Y")))?>/to_date/<?=date("Y-m-d",mktime(0,0,0,date('n')-1,date("t",mktime(0,0,0,date("d")-1,1,date("Y"))),date("Y")))?>">Previous Month</a> | <a href="/clients/retainers">Current Month</a>
					</td>
					<td width="100">Date Range :</td>
					<td width="75"><input type="text" name="from_date" id="from_date" value="<?=$this->from_date?>"></td>
					<td width="45" align="center">to</td>
					<td width="125"><input type="text" name="to_date" id="to_date" value="<?=$this->to_date?>"></td>
					<td width="175"><input type="submit" value="Search"></td>
				</tr>
			</table>
			<table class="centerTable system">
				<thead>
					<tr class="tickets-header">
						<th colspan="10">View Retainers</th>
					</tr>
					<tr class="tickets-header">
						<th width="50"></th>
						<th width="350"><a href="/retainer/index/sort/ClientName/dir/<?=$dir?>">Client</a></th>
						<th width="100"><a href="/retainer/index/sort/Hours/dir/<?=$dir?>">Retainer</a></th>
						<th width="100"><a href="/retainer/index/sort/currentHours/dir/<?=$dir?>">Hours</a></th>
						<th width="100">Available</th>
						<th width="60"><a href="/retainer/index/sort/percent/dir/<?=$dir?>">Status</a></th>
						<th width="60" class="th-center">View</th>
						<th width="60" class="th-center">Report</th>
						<th width="60" class="th-center">YTD</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				foreach($this->retainers as $key => $val) {
					if ($val['percent'] > 90)
						$status_icon = "status_red.gif";
					elseif ($val['percent'] > 60)
						$status_icon = "status_orange.gif";
					elseif ($val['percent'] > 0)
						$status_icon = "status_green.gif";
					else
						$status_icon = "status_white.gif";

				?>
					<tr width="840"  class="pmrow">
						<td></td>
						<td><?=$val['ClientName']?></td>
						<td align="center"><?=$this->client_retainer[$val['ClientID']]['due'];//$val['Hours']?></td>
						<td align="center"><?=sec2hm($val['currentHours'], true)?></td>
						<td align="center"><?=dec2hm($this->client_retainer[$val['ClientID']]['available'], true)?></td>
						<td align="center"><img src="/images/<?=$status_icon?>" title="Complete: <?=$val['percent']?>%"></td>
						<td align="center"><a href="/retainer/details/clientID/<?=$val['ClientID']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
						<td align="center"><a href="/retainer/report/clientID/<?=$val['ClientID']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
						<td align="center"><a href="/retainer/ytd/clientID/<?=$val['ClientID']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>
		</div>
	</form>

	<?php echo $this->paginationControl($this->retainers, 'Sliding', 'pagination_control.phtml'); ?>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#from_date").datepicker({ dateFormat: 'yy-mm-dd', defaultDate: '<?=$this->from_date?>' });
	$("#to_date").datepicker({ dateFormat: 'yy-mm-dd', defaultDate: '<?=$this->to_date?>' });
});
</script>