<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_retainer.png"></td>
			<td width="443"><h1>View Retainer Report - <?=$this->client['ClientName']?></h1></td>
			<td width="165" align="center"></td>
			<td width="204" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<form method="post" action="">
			<table width="840" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td width="205">Search: <input type="text" name="mask" value="<?=$this->mask?>"></td>
					<td width="75">Date Range :</td>
					<td width="50"><input type="text" name="from_date" id="from_date" value="<?=$this->from_date?>" size="10"></td>
					<td width="20" align="center">to</td>
					<td width="50"><input type="text" name="to_date" id="to_date" value="<?=$this->to_date?>" size="10"></td>
					<td width="100">Export Report <input type="checkbox" name="export"></td>
					<td width="100"><input type="submit" value="Search"></td>
				</tr>
			</table>
			<br/>

			<div class="datatable" style="position: relative;padding-top: 70px;">
		<?php
		$total_due = $total_used = 0;
		foreach ($this->retainers as $retainer) {
				$shade = true; $last_month = "";
			foreach($retainer['tickets'] as $month => $tickets) {
				$hour_total = 0;
		?>

				<table id="mediamanagertable">
					<thead>
						<tr class="header">
							<th width="680" colspan="10" style="font-weight:bold;"><?=date("F Y",strtotime($month))?></th>
						</tr>
						<tr class="header2">
							<th width="50"></th>
							<th width="150">Assigned To</th>
							<th width="320">Project Name</th>
							<th width="100">Job Code</th>
							<th width="100" class="th-center">Current Hours</th>
							<th width="60" class="th-center">Status</th>
						</tr>
					</thead>
					<tbody>
					<?php
						foreach ($tickets as $key => $val) {
							$hour_total += $val['currentHours'];

							if($shade) $class = 'shadeoff';
							else $class = 'shadeon';
							$shade = !$shade;

							switch( strtolower( $val['ProjectStatusName'] ) ){
								case 'completed':
									$statusImage= "5.gif";
									break;
								case 'on client':
									$statusImage = "6.gif";
									break;
								case 'closed':
									$statusImage = "closed.gif";
									break;
								default:
									$statusImage = "2.gif";
									break;
							}
							?>
						<tr width="840"  class="<?=$class?>">
							<td></td>
							<td><?=$val['owner']?></td>
							<td><?=$val['Title']?></td>
							<td><?=$val['job_code']?></td>
							<td align="center"><?=sec2hm($val['currentHours'], true)?></td>
							<td align="center"><img src="/images/<?=$statusImage?>" title="<?=$val['ProjectStatusName']?>"></td>
						</tr>
							<?php
						}
						$total_used += $hour_total;
				?>
						<tr class="header3">
							<th width="630" colspan="10">
								&nbsp;
								Hours per Month: <?=$retainer['Hours']?> &nbsp;&nbsp;&nbsp;
								Hours Used: <?=sec2hm($hour_total)?>
							</th>
						</tr>
					</tbody>
				</table><br/><br/>
			<?php
						$total_due += $retainer['Hours'];
					}
			}
			?>

				<div class="retainer_header">
					<span class="label">Client Name:</span> <?=$this->client['ClientName']?>
					<div style="float:right"><span class="label">Date Range:</span> <?=date("M j Y",strtotime($this->from_date))?> to <?=date("M j Y",strtotime($this->to_date))?></div>
					<div style="clear:both">
						<span class="label">Total Hours Due:</span> <?=$total_due?>
						<span class="label">Total Hours Used:</span> <?=sec2hm($total_used)?>
					</div>
				</div>
			</div>
		</form>

		<?php //echo $this->paginationControl($this->tickets, 'Sliding', 'pagination_control.phtml'); ?>

</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$("#from_date").datepicker({ dateFormat: 'yy-mm-dd', defaultDate: '<?=$this->from_date?>' });
		$("#to_date").datepicker({ dateFormat: 'yy-mm-dd', defaultDate: '<?=$this->to_date?>' });
	});
</script>