<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div class="tickets-system tickets-list reports cf">
		<div class="system-menu">
			<div class="reporting-header"><img src="/images/reporting-icon.png"><h1>Reporting</h1></div>
		</div>

		<div class="system-menu">
			<form method="post" action="">
				<p class="row1 archive-search">
					<label>Search: </label><input type="text" name="mask" value="<?=$this->mask?>">
					<label>Date Range:</label><input type="text" name="from_date" id="from_date" value="<?=$this->from_date?>" size="10">
					<label>to</label><input type="text" name="to_date" id="to_date" value="<?=$this->to_date?>" size="10">
					<label>Export Report</label> <input type="checkbox" name="export">
					<input type="submit" class="submit_btn search-button" value="Search" style="margin-left: 10px;">
				</p>
				<div style="clear: both;"></div>
			</form>
		</div>

		<div class="table-wrap">
			<table class="centerTable system">
				<thead>
					<tr class="hourtrack-header">
						<th></th>
						<th colspan="2"><?=$this->client['ClientName']?></th>
						<th colspan="8" style="text-align: right;">
						Total Retainer: <?=$this->client['Hours']?>&nbsp;&nbsp;&nbsp;&nbsp; Total Hours Used: <?=sec2hm($this->client['currentHours'])?>&nbsp;</th>
					</tr>
					<tr class="tickets-header bb-none">
						<th></th>
						<th><a href="/retainer/details/sort/owner/dir/<?=$dir?>">Assigned To</a></th>
						<th><a href="/retainer/details/sort/Title/dir/<?=$dir?>">Project Name</a></th>
						<th class="th-center"><a href="/retainer/details/sort/currentHours/dir/<?=$dir?>">Current Hours</a></th>
						<th class="th-center"><a href="/retainer/details/sort/ProjectStatusName/dir/<?=$dir?>">Status</a></th>
					</tr>
				</thead>
				<tbody>
				<?php
				foreach($this->tickets as $key => $val) {
					switch( strtolower( $val['ProjectStatusName'] ) ){
						case 'completed':
							$statusImage= "5.gif";
							break;
						case 'on client':
							$statusImage = "6.gif";
							break;
						case 'closed':
							$statusImage = "closed.gif";
							break;
						default:
			                $statusImage = "2.gif";
						    break;
					}

				?>
					<tr width="840">
						<td></td>
						<td><?=$val['owner']?></td>
						<td><?=$val['Title']?></td>
						<td align="center"><?=sec2hm($val['currentHours'], true)?></td>
						<td align="center"><img src="/images/<?=$statusImage?>" title="<?=$val['ProjectStatusName']?>"></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>

			<?php echo $this->paginationControl($this->tickets, 'Sliding', 'pagination_control.phtml'); ?>
		</div>
</div>


<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#from_date").datepicker({ dateFormat: 'yy-mm-dd', defaultDate: '<?=$this->from_date?>' });
	$("#to_date").datepicker({ dateFormat: 'yy-mm-dd', defaultDate: '<?=$this->to_date?>' });
});
</script>