<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";

$use_total = $ret_total = 0;
?>

<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_retainer.png"></td>
			<td width="443"><h1>12 Month Report: <span><?=$this->client['ClientName']?></span></h1></td>
			<td width="165" align="center"></td>
			<td width="204" align="right">
				<ul class="buttons">
					<li><a href="/retainer" class="btn-back"></a></li>
				</ul>
			</td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<form method="post" action="">
			<table width="840" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td width="300">
						<a href="/retainer/ytd/from_date/<?=date("Y-01-01")?>/to_date/<?=date("Y-m-d",mktime(0,0,0,date('n'),date("t"),date("Y")))?>/clientID/<?=$this->client['id']?>">Year to Date</a> |
						<a href="/retainer/ytd/from_date/<?=date("Y-m-d",mktime(0,0,0,date('n')+1,1,date("Y")-1))?>/to_date/<?=date("Y-m-d",mktime(0,0,0,date('n'),date("t"),date("Y")))?>/clientID/<?=$this->client['id']?>">Last 12 Month Period</a>
					</td>
					<td width="75">Date Range :</td>
					<td width="50"><input type="text" name="from_date" id="from_date" value="<?=$this->from_date?>" size="10"></td>
					<td width="20" align="center">to</td>
					<td width="50"><input type="text" name="to_date" id="to_date" value="<?=$this->to_date?>" size="10"></td>
					<td width="100">Export Report <input type="checkbox" name="export"></td>
					<td width="100"><input type="submit" value="Search"></td>
				</tr>
			</table>
			<br/>

			<div class="datatable">
				<table id="mediamanagertable">
					<thead>
					<tr width="840" class="header">
						<th width="4"></th>
						<th width="100"></th>
						<?php
						$from_time = strtotime($this->from_date);
						$to_time = strtotime($this->to_date." 23:59:59");

						/* //for when we upgrade to PHP 5.3+
						$date1 = new DateTime($this->view->from_date);
						$date2 = new DateTime($this->view->to_date);
						$interval = $date1->diff($date2);
						$month_diff = $interval->y*12 + $interval->m;
						if ($interval->d) $month_diff++;
						*/

						$month_diff = abs(GetMonthsFromDate($to_time) - GetMonthsFromDate($from_time));
						if ($this->from_date != $this->to_date) $month_diff++;

						for ($c=0;$c<$month_diff;$c++) {
							echo "<th width='60'>".date("M",strtotime("$this->from_date + $c month"))."</th>";
						}
						?>

						<th width="100">Total</th>
					</tr>
					</thead>
					<tbody>
					<tr width="840"  class="shadeon">
						<td></td>
						<td>Retainer:</td>
						<?php
						for ($c=0;$c<$month_diff;$c++) {
							$time = $this->retainer_due[date("Ym",strtotime("$this->from_date + $c month"))];
							$ret_total += $time;
							echo "<td>".number_format($time,2)."</td>";
						}
						?>
						<td><?=number_format($ret_total,2)?></td>
					</tr>
					<tr width="840"  class="shadeoff">
						<td></td>
						<td>Utilized:</td>
						<?php
						for ($c=0;$c<$month_diff;$c++) {
							$time = $this->retainer_use[date("Ym",strtotime("$this->from_date + $c month"))];
							$use_total += (sec2dec($time, true));
							echo "<td>".number_format((sec2dec($time, true)),2)."</td>";
						}
						?>
						<td><?=number_format($use_total,2)?></td>
					</tr>

					</tbody>
					<tfoot>
					<tr>
						<td colspan="<?=$month_diff+2?>" align="right">Difference: &nbsp;</td>
						<td><?=number_format($ret_total - $use_total,2)?></td>
					</tr>
					</tfoot>
				</table>
		</form>

	</div>
</div>
</div>

<style>
	table#mediamanagertable tfoot td {
		background: #1B446C;
		color: #ffffff;
	}
	table#mediamanagertable .shadeon td {
		color: #1b446c;
	}
	table#mediamanagertable .shadeoff td {
		color: #1CAB00;
	}
	#interior-header h1 span {
		color: #1CAB00;
		font-weight: bold;
		font-size: 16px;
	}
</style>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$("#from_date").datepicker({ dateFormat: 'yy-mm-dd', defaultDate: '<?=$this->from_date?>' });
		$("#to_date").datepicker({ dateFormat: 'yy-mm-dd', defaultDate: '<?=$this->to_date?>' });
	});
</script>