<div id="login_wrapper">
	<div id="login_content">
		<h2>CNY-SiteManager</h2>
		<h3>Login</h3>
		<?php echo $this->loginform; ?>
		<input class="btn_login" type="submit" value=""><span> or <a href="/admin/auth/forgot">Forgot Password?</a></span>
		<div style="clear: both;padding-top:30px;"></div>
		<center style="color:#ff0000;font-weight:bold"><?php echo @$this->error ?></center>
		<?php echo $this->message ?>
	</div>
	<div style="clear: both;"></div>
</div>