<div id="main-content">
	<div class="top">
		<ul class="box-nav">
			<li class="tickets">
				<a href="/tickets"></a>
				<span><a href="/tickets">Tickets</a></span>
			</li>
			<li class="estimates">
				<a href="/estimates"></a>
				<span><a href="/estimates">Estimates</a></span>
			</li>
			<li class="concepts">
				<a href="/concepts"></a>
				<span><a href="/concepts">Concepts</a></span>
			</li>
			<li class="reporting">
				<a href="/reporting"></a>
				<span><a href="/reporting">Reporting</a></span>
			</li>
			<li class="billing">
				<a href="/billing"></a>
				<span><a href="/billing">Billing</a></span>
			</li>
			<li class="account">
				<a href="/account"></a>
				<span><a href="/account">My Account</a></span>
			</li>
		</ul>
		<div class="twitter-wrap">
		<div class="whats-new"><p>What's New</p></div>
		<div class="loading">
		<a class="twitter-timeline" href="https://twitter.com/cyberny" data-widget-id="266698784585678850"  data-chrome="noheader nofooter noborders transparent"  data-related="twitterapi,twitter" data-tweet-limit="3" height="300" width="275">Tweets by @cyberny</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<!--
			<div class="twitter-feed">
				<div class="tweet"><p>The Trials of Muhammad Ali - a new documentary film from Kino Lorber. Now in theaters! Website by Cyber-NY...
			<a href="http://fb.me/1E8qfjvSL">http://fb.me/1E8qfjvSL</a></p>
				</div>
				<div class="tweet"><p>Our latest website Tastes Like Chicken! Words I never thought I would say. Check out friends of Cyber-NY, TLC...
			<a href="http://fb.me/1eWiLYywu">http://fb.me/1eWiLYywu </a></p>
				</div>
				<div class="tweet"><p>More Than Honey. The new documentary film released by Kino Lorber in Theaters this Summer. Website by Cyber-NY....
			<a href="http://fb.me/2qQGsCdC7">http://fb.me/2qQGsCdC7</a></p>
				</div>
			</div>
			-->
		</div>
		</div>
		<div class="announcements">
			<a href="/announcements">Announcements</a>
		</div>
	</div>
	<div class="bottom">
		<div class="recent-activity tickets-system cf">
			<h3>Recent Activity</h3>
			<div class="table-wrap">
			<table class="centerTable">
				<tbody>
				<?php
				foreach($this->recent as $key => $val) {
					if ($val['type'] == 'ticket') {
				?>
					<tr>
						<td>Ticket</td>
						<td><?=($val['data']['duedate'])?$val['data']['duedate']:$val['data']['created']?></td>
						<td><a href="/tickets/view/id/<?=$val['data']['id']?>" target="_blank"><?=$val['data']['summary']?></a></td>
						<td><?=$val['data']['status']?></td>
						<td><a href="/tickets/view/id/<?=$val['data']['id']?>" target="_blank"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
					</tr>
				<?php
					}elseif ($val['type'] == 'concept') {
				?>
					<tr>
						<td>Concept</td>
						<td><?=date("n/d/Y",strtotime($val['data']['created']))?></td>
						<td>
							<a href='/concept/display/client_id/<?=$val['data']['client_id']?>/concept_id/<?=$val['data']['id']?>' target="_blank">
								<?=$val['data']['title'].": ".$val['data']['name']?>
							</a>
						</td>
						<td>Round: <?=$val['data']['round']?></td>
						<td width="50"><a href='/concept/display/client_id/<?=$val['data']['client_id']?>/concept_id/<?=$val['data']['id']?>' target="_blank"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
					</tr>
				<?php
					}elseif ($val['type'] == 'estimate') {
				?>
					<tr>
						<td>Estimate</td>
						<td><?=$val['data']['created']?></td>
						<td><a href="/estimates/view/id/<?=$val['data']['id']?>" target="_blank"><?=$val['data']['summary']?></a></td>
						<td><?=$val['data']['status']?></td>
						<td><a href="/estimates/view/id/<?=$val['data']['id']?>" target="_blank"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
					</tr>
				<?php
					}
				}
				?>
				</tbody>
			</table>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/js/twitter.js"></script>