<div id="myrs-container">
	<div id="myrs-torso">
		<!-- BEGIN Content -->

		<!-- BEGIN Auth / Login -->
		<div id="myrs-page" class="clearfix">
			<div id="myrs-main">
				<div id="myrs-inactivity" class="myrs-hide"></div>
				<div class="myrs-box">
					<h3>Welcome to Cyber-NY</h3>

					<form method="POST" action="/auth/choose" id="loginForm" class="myrs-form" style="width:422px;">
						<div style="margin:auto;text-align: center;">
							<h4>Please select an account:</h4><br/>
							<select name="client_id">
								<?php foreach ($this->clients as $client_id => $client_name) { ?>
								<option value="<?=$client_id?>"><?=$client_name?></option>
								<?php } ?>
							</select>
							<br/><br/>
							<input type="submit" value="Log In" />
						</div>
						<center style="color:#ff0000;font-weight:bold"><?php echo @$this->error ?></center>
						<?php echo $this->message ?>

					</form>
					<div id="myrs-links" class="clearfix">
						<div class="myrs-float-left">
							<img src="images/phone.gif" width="16" height="14" alt="" />
							Phone: <span class="links-phone">1-888-70-CYBER</span>
						</div>
						<div class="myrs-float-right">
							<img src="images/mail.gif" width="16" height="12" alt="" />
							Email: <a href="mailto:support@cyber-ny.com"> support@cyber-ny.com</a>
						</div>
					</div>

				</div>
			</div>

		</div>
		<!-- END Auth / Login -->

		<!-- END Content -->
	</div>

	<div id="myrs-footer">
		<div class="clearfix">
			<div id="myrs-footer-copyright">
				Copyright &#169; <?=date("Y")?> <a href="http://www.cyber-ny.com/" target="_blank">Cyber-NY</a> |
				visit <a href="http://www.cyber-ny.com/" target="_blank">www.cyber-ny.com</a> |
				New York Office: 212.475.2721 | San Francisco 415.738.6195
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {

	});
</script>