<div id="myrs-container">
	<div id="myrs-torso">
	<!-- BEGIN Content -->

		<!-- BEGIN Auth / Login -->
		<div id="myrs-page" class="clearfix">
			<div id="myrs-main">
				<div id="myrs-inactivity" class="myrs-hide"></div>
				<div class="myrs-box">
					<h3>Forgot Password</h3>
					<form id="login" class="myrs-form" method="post" action="/auth/forgot" enctype="application/x-www-form-urlencoded">
					<dl class="zend_form">
						<dt>
							<label class="required" for="email">Email Address</label>
						</dt>
						<dd>
							<input id="email" type="text" value="" name="email"/>
						</dd>
					</dl>

					<p class="myrs-form-actions">
						<input class="submit" type="submit" value="Send">
					</p>

					<div style="clear: both;padding-top:70px;"></div>
					<center style="color:#ff0000;font-weight:bold"><?php echo @$this->error ?></center>
					</form>

					<div id="myrs-links" class="clearfix">
						<div class="myrs-float-left">
							<img src="images/phone.gif" width="16" height="14" alt="" />
							Phone: <span class="links-phone">1-888-70-CYBER</span>
						</div>
						<div class="myrs-float-right">
							<img src="images/mail.gif" width="16" height="12" alt="" />
							Email: <a href="mailto:support@cyber-ny.com"> support@cyber-ny.com</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END Auth / Login -->

	<!-- END Content -->
	</div>

	<div id="myrs-footer">
		<div class="clearfix">
			<div id="myrs-footer-copyright">
				Copyright &#169; <?=date("Y")?> <a href="http://www.cyber-ny.com/" target="_blank">Cyber-NY</a> |
				visit <a href="http://www.cyber-ny.com/" target="_blank">www.cyber-ny.com</a> |
				New York Office: 212.475.2721 | San Francisco 415.738.6195
			</div>
		</div>
	</div>
</div>