<div class="login-wrapper">
	<div class="login tickets-list cf">
		<div class="login-menu">
			<h2>Cyber-NY</h2>
			<h3>Customer Portal</h3>
		</div>
		<div class="login-box">
			<form method="POST" action="/auth/identify" id="loginForm" class="myrs-form">
				<?php echo $this->loginform->username ?>
				<?php echo $this->loginform->password?>

				<p class="myrs-form-actions">
					<input type="hidden" name="screen_resolution" id="screen_resolution" />
					<input type="hidden" name="time_zone" id="time_zone" />
					<input type="hidden" name="targetUri" value="/" />
					<input type="submit" value="Log In" />
					or <a href="/auth/forgot">Forgot Password</a>
				</p>

				<div class="error"><?php echo @$this->error ?></div>
				<?php echo $this->message ?>

			</form>

			<div id="myrs-links" class="clearfix">
				<div class="myrs-float-left">
					<img src="images/phone.gif" width="16" height="14" alt="" />
					Phone: <span class="links-phone">1-888-70-CYBER</span>
				</div>
				<div class="myrs-float-right">
					<img src="images/mail.gif" width="16" height="12" alt="" />
					Email: <a href="mailto:support@cyber-ny.com"> support@cyber-ny.com</a>
				</div>
			</div>



			<div class="login-footer">
				<div class="copyright">
					Copyright &#169; <?=date("Y")?> <a href="http://www.cyber-ny.com/" target="_blank">Cyber-NY</a> |
					visit <a href="http://www.cyber-ny.com/" target="_blank">www.cyber-ny.com</a> |
					New York Office: 212.475.2721 | San Francisco 415.738.6195
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#username").focus();

	$("#loginForm").validate({
		rules: {
			"username": "required",
			"password": "required"
		},
		messages: {
			"username": "<br/>Username required",
			"password": "<br/>Password required"
        }
	});

});
</script>