<div id="interior-header">
	<table width="836" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="left"><img src="/images/icn_my_schdl.png" hspace="4"></td>
			<td width="165"><h1>Edit Request</h1></td>
			<td width="488" align="center"></td>
			<td width="204" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<form action="/schedule/edit/id/<?=$this->request['id']?>" method="post" id="editForm">
<div id="interior-content">
	<div id="centermain">
		<div class="viewtable">
			<table width="840" class="schedule_edit">
				<thead>
					<tr width="836" class="header">
						<th colspan="2">Request: <?=$this->request['title']?></th>
						<th>
							<ul class="buttons">
								<li><a href="/schedule/delete/id/<?=$this->request['id']?>" onclick="return confirm('Are you sure you want to delete this request? This can not be undone!');" class="btn-delete">delete</a></li>
								<li><a href="/schedule/view/id/<?=$this->request['id']?>" class="btn-back">back</a></li>
							</ul>
						</th>
					</tr>
					<tr width="836">
						<td colspan="3">
							<table width="836" style="border:0;">
								<tr class="header2">
									<th width="134">Title: </th>
									<th><input type="text" name="data[title]" value="<?=$this->request['title']?>" style="width:400px;" /></th>
								</tr>
							</table>
						</td>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="3"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr width="836">
						<td width="836" colspan="3">
							<table width="836" style="border:0;">
								<tr>
									<td class="title2" width="150">Date: </td>
									<td colspan="3">
										<input type="text" name="data[start_date]" class="date-pick" value="<?=($this->request['start_date'])?date("m/d/Y",strtotime($this->request['start_date'])):""?>" style="width:100px;" />
										To
										<input type="text" name="data[end_date]" class="date-pick" value="<?=($this->request['end_date'])?date("m/d/Y",strtotime($this->request['end_date'])):""?>" style="width:100px;" />
									</td>
								</tr>
								<tr>
									<td class="title2">Type: </td>
									<td colspan="3"><?=$this->formSelect('data[type]', $this->request['type'], array('id'=>'type', 'class'=>'form-field'), $this->types)?></td>
								</tr>
								<tr>
									<td valign="top" class="title2">Description: </td>
									<td colspan="3"><textarea name="data[description]" rows="5" cols="60"><?=$this->request['description']?></textarea></td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<br>
		<div id="form-at-buttonwrap">
			<input type="submit" class="btn-update-r" name="Save" value="" />
		</div>
	</div>
</div>
</form>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$(".date-pick").datepicker({defaultDate: "<?=date("m/d/Y")?>"});

	$("#editForm").validate({
		rules: {
			"data[title]": "required",
			"data[start_date]": "required",
			"data[end_date]": "required",
			"data[description]": "required",
			"data[type]": "required"
		},
		messages: {
			"data[title]": "Title required",
			"data[description]": "Description required",
			"data[start_date]": "Start date required",
			"data[end_date]": "End date required",
			"data[type]": "Select type"
        }
	});
});
</script>