<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<div class="tickets-system tickets-list concepts-list cf">
<div class="system-menu">
		<div id="interior-header">
			<div class="concepts-work"><div class="icon-concepts"><img src="/images/icn_my_schdl.png" alt="schedule"></div><h1>My Schedule</h1></div>
		</div>
	</div>

		<form method="post" action="/schedule/index">
		<div class="table-wrap">
			<table class="centerTable system">
				<thead>
					<tr class="tickets-header">
						<th width="20" class="th-center"></th>
						<th width="150"><a href="/schedule/index/sort/start_date/dir/<?=$dir?>">Start Date</a></th>
						<th width="450"><a href="/schedule/index/sort/Title/dir/<?=$dir?>">Title</a></th>
						<th width="120" class="th-center"><a href="/pm/index/sort/status/dir/<?=$dir?>">Status</a></th>
						<th width="50" class="th-center">View</th>
						<th width="50" class="th-center">Delete</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				foreach($this->requests as $key => $val) {
				?>
					<tr width="840">
						<td></td>
						<td><?=date("n/d/y",strtotime($val['start_date']))?></td>
						<td><?=$val['title']?></td>
						<td><?=$val['status']?></td>
						<td align="center"><a href="/schedule/view/id/<?=$val['id']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
						<td align="center"><a href="/schedule/delete/id/<?=$val['id']?>" onclick="return confirm('Are you sure you want to delete this request? This can not be undone!');"><i class="icn-red fa fa-ban fa"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>

			<?php echo $this->paginationControl($this->requests, 'Sliding', 'pagination_control.phtml'); ?>
		</div>
		</form>
</div>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	//
});
</script>