<div class="add-ticket-modal modal">
	<form action="/schedule/request" method="post" id="addForm">

		<div class="modal-head"><h1> Request Schedule Change</h1></div>
		<div class="modal-content">
			<div class="error"><span></span></div>


	<table width="500" border="0" align="center" cellpadding="2" cellspacing="0" class="schedule_edit">
		<tr>
			<td colspan="2">
				<p style="padding: 5px;">Please enter your request or notification of a change to your work schedule including vacation, sick day, unable to work from office, partial day off, etc.</p>
			</td>
		</tr>
		<tr>
			<td align="left" width="150">
				<label>Request Title:</label>
			</td>
			<td>
				<input type="text" name="data[title]" style="width: 300px;" />
			</td>
		</tr>
		<tr>
			<td align="left" width="150">
				<label>Dates:</label>
			</td>
			<td>
				<input type="text" class="date-pick" name="data[start_date]" id="from" autocomplete="off" style="width: 125px; display:inline;" />
				To
				<input type="text" class="date-pick" name="data[end_date]" id="to" autocomplete="off" style="width: 125px; display:inline;" />
			</td>
		</tr>
		<tr>
			<td align="left" width="150">
				<label>Type:</label>
			</td>
			<td>
				<?=$this->formSelect('data[type]', '', array('id'=>'type', 'class'=>'form-field indent'), $this->types)?>
			</td>
		</tr>
		<tr>
			<td>
				<label>Description:</label>
			</td>
			<td>
				<textarea name="data[description]" style="width: 300px;height:100px;"></textarea>
			</td>
		</tr>
	</table>

	<br>
	<div id="form-at-buttonwrap" class="txt-right">
		<input type="submit" class="btn-send-r" name="Submit Request" value="" />
	</div>

</div>
</form>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

	var dates = $( "#from, #to" ).datepicker({
		defaultDate: "today",
		changeMonth: true,
		onSelect: function( selectedDate ) {
			var option = this.id == "from" ? "minDate" : "maxDate",
				instance = $( this ).data( "datepicker" ),
				date = $.datepicker.parseDate(
					instance.settings.dateFormat ||
					$.datepicker._defaults.dateFormat,
					selectedDate, instance.settings );
			dates.not( this ).datepicker( "option", option, date );

			if (this.id == "from") $("#to").val($(this).val());
		}
	});

	jQuery.validator.messages.required = "";
	$("#addForm").validate({
		rules: {
			"data[title]": "required",
			"data[start_date]": "required",
			"data[end_date]": "required",
			"data[description]": "required",
			"data[type]": "required"
		},
		messages: {
			"data[title]": "Title required",
			"data[description]": "Description required",
			"data[start_date]": "Start date required",
			"data[end_date]": "End date required",
			"data[type]": "Select type"
        },
		invalidHandler: function(e, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				var message = errors == 1
					? 'You missed 1 field. It has been highlighted below'
					: 'You missed ' + errors + ' fields.  They have been highlighted below';
				$("div.error span").html(message);
				$("div.error").show();
			} else {
				$("div.error").hide();
			}
		}
	});
});
</script>