<div id="interior-content">
	<div id="centermain">

		<div id="form-at" class="my-account-section">

			<div class="blueHeader cf">
				<div class="section-title">
					<i class="fa fa-calendar" style="padding-top: 5px;"></i><h1>Request: <?=$this->request['title']?></h1>
				</div>
				<ul class="buttons" style="float: right;">
					<li><a href="/schedule/delete/id/<?=$this->request['id']?>" onclick="return confirm('Are you sure you want to delete this request? This can not be undone!');" class="btn-delete">delete</a></li>
					<li><a href="/schedule/edit/id/<?=$this->request['id']?>" class="btn-edit">edit</a></li>
					<li><a href="/schedule" class="btn-back">back</a></li>
				</ul>
			</div>
			<div class="my-account-info">
			<ul>
				<li><strong>Date:</strong> <?=($this->request['start_date'])?date("m/d/Y",strtotime($this->request['start_date'])):""?> to <?=($this->request['end_date'])?date("m/d/Y",strtotime($this->request['end_date'])):""?></li>
				<li><strong>Type:</strong> <?=$this->types[$this->request['type']]?></li>
				<li><strong>Description: </strong><?=$this->request['description']?></li>
				<li><strong>Status:</strong> <?=$this->statuses[$this->request['status']]?></li>
			</ul>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});
</script>