<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_settings.png"></td>
			<td width="165"><h1>Account Users</h1></td>
			<td width="368" align="center"></td>
			<td width="324" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<form method="post" action="/account/add/" id="myForm">
		<div id="form-at" style="margin:auto;height:750px;">
			<div id="at-header">
				<h1>Edit User</h1>
			</div>

			<!--
			<br>
			<label>User Name:</label>
			<div class="rounded">
				<input type="text" name="data[UserName]" value="<?=$this->accountUser['UserName']?>" />
			</div>
			-->

			<br>
			<label>First Name:</label>
			<div class="rounded">
				<input type="text" name="data[FirstName]" value="<?=$this->accountUser['FirstName']?>" />
			</div>

			<br>
			<label>Last Name:</label>
			<div class="rounded">
				<input type="text" name="data[LastName]" value="<?=$this->accountUser['LastName']?>" />
			</div>

			<br>
			<label>Email:</label>
			<div class="rounded">
				<input type="text" name="data[Email]" value="<?=$this->accountUser['Email']?>" />
			</div>

			<br>
			<label>Phone:</label>
			<div class="rounded">
				<input type="text" name="data[Phone]" value="<?=$this->accountUser['Phone']?>" autocomplete="off" />
			</div>

			<br>
			<label>Password:</label>
			<div class="rounded">
				<input type="password" name="data[UserPassword]" value="" id="password" />
			</div>

			<br>
			<label>Confirm Password:</label>
			<div class="rounded">
				<input type="password" name="data[vUserPassword]" value="" />
			</div>

			<br>
			<label>Status: <?=$this->formSelect('data[Disabled]', $this->accountUser['Disabled'], array('id'=>'status', 'style'=>'width:190px;', 'class'=>'form-field'), array("no"=>"Enabled","yes"=>"Disabled"))?></label>

			<br/><br/>
			<div id="form-at-buttonwrap">
				<input type="submit" class="btn-save" name="Submit" id="Submit" value="" />
			</div>
		</div>
		</form>

	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#myForm").validate({
		rules: {
			"data[UserName]": "required",
			"data[FirstName]": "required",
			"data[LastName]": "required",
			"data[Email]": {
				required: true,
				email: true,
				remote: "/account/validate/type/email/id/0"
			},
			"data[Phone]": {
				phoneUS: true
			},
			"data[UserPassword]": {
				required: true
			},
			"data[vUserPassword]": {
				required: true,
				equalTo: "#password"
			}

		},
		messages: {
			"data[UserName]": "User name required",
			"data[FirstName]": "First name required",
			"data[LastName]": "Last name required",
			"data[Email]": {
				required: "Email required",
				email: "Email not valid",
				remote: jQuery.format("{0} is already in use")
			},
			"data[Phone]": {
				phone: "Phone number incorrect"
			},
			"data[UserPassword]": "Provide a password",
			"data[vUserPassword]": "Confirm password"
        }
	});
});
</script>