<div class="edit-users-modal modal">
	<form method="post" action="/account/edit/id/<?=$this->accountUser['ID']?>" id="myForm" target="_parent">
		<div class="modal-head">
			<h1>Edit User</h1>
		</div>
		<div class="modal-content">
			<div class="error"><span></span></div>
			<div class="row" style="margin-top: 20px">
				<div class="c1"><label>First Name:</label><input type="text" name="data[FirstName]" value="<?=$this->accountUser['FirstName']?>" /></div>
				<div class="c1"><label>Last Name:</label><input type="text" name="data[LastName]" value="<?=$this->accountUser['LastName']?>" /></div>
			</div>
			<div class="row">
				<div class="c1"><label>Email:</label><input type="text" name="data[Email]" value="<?=$this->accountUser['Email']?>" /></div>
				<div class="c1"><label>Phone:</label><input type="text" name="data[Phone]" value="<?=$this->accountUser['Phone']?>" autocomplete="off" /></div>
			</div>
			<div class="row">
				<div class="c1"><label>Password:</label><input type="password" name="data[UserPassword]" value="" id="password" /></div>
				<div class="c1"><label>Confirm Password:</label><input type="password" name="data[vUserPassword]" value="" /></div>
			</div>
			<div class="edit-client-wrap">
				<div class="client-role">
					<div><label>Client: <?=$this->accountUser['ClientName']?></label></div>
					<div><label>Role: <?=$this->accountUser['Roles']?></label></div>
				</div>
				<div class="status-row">
					<label>Status: <?=$this->formSelect('data[Disabled]', $this->accountUser['Disabled'], array('id'=>'status', 'style'=>'width:160px;', 'class'=>'form-field'), array("no"=>"Enabled","yes"=>"Disabled"))?></label>
				</div>
			</div>
			<div class="submit-row">
				<input type="submit" class="btn-saveuser" name="Submit" id="Submit" value="" />
			</div>
		</div>
	</form>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	jQuery.validator.messages.required = "";
	$("#myForm").validate({
		rules: {
			"data[UserName]": "required",
			"data[FirstName]": "required",
			"data[LastName]": "required",
			"data[Email]": {
				required: true,
				email: true,
				remote: "/account/validate/type/email/id/<?=$this->accountUser['ID']?>"
			},
			"data[Phone]": {
				phoneUS: true
			},
			"data[vUserPassword]": {
				required: function(element) {
	        		if ($("#password").val() != "")
			        	return true;
			        else return false;
        		},
				equalTo: "#password"
			}

		},
		messages: {
			"data[UserName]": "User name required",
			"data[FirstName]": "First name required",
			"data[LastName]": "Last name required",
			"data[Email]": {
				required: "Email required",
				email: "Email not valid",
				remote: jQuery.format("{0} is already in use")
			},
			"data[Phone]": {
				phone: "Phone number incorrect"
			},
			"data[vUserPassword]": "Confirm password"
        },
		invalidHandler: function(e, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				var message = errors == 1
					? 'You missed 1 field. It has been highlighted below'
					: 'You missed ' + errors + ' fields.  They have been highlighted below';
				$("div.error span").html(message);
				$("div.error").show();
			} else {
				$("div.error").hide();
			}
		}
	});
});
</script>