<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<div class="tickets-system tickets-list concepts-list cf">
	<div class="system-menu">
		<div id="interior-header">
			<div class="concepts-work"><img src="/images/my-account-icon.png"><h1>Account Users</h1></div>
		</div>
	</div>

	<div class="table-wrap">
			<table class="centerTable system">
				<tbody>
					<tr class="tickets-header">
						<th width="50"></th>
						<th width="245"><a href="/account/index/sort/FirstName/dir/<?=$dir?>">First Name</a></th>
						<th width="200"><a href="/account/index/sort/LastName/dir/<?=$dir?>">Last Name</a></th>
						<th width="110"><a href="/account/index/sort/Disabled/dir/<?=$dir?>">Disabled</a></th>
						<th width="80" class="th-center">View</th>
						<th width="80" class="th-center">Edit</th>
						<th width="80" class="th-center">Delete</th>
					</tr>
				<tbody>
				<?php
				foreach($this->users as $key => $val) {
				?>
					<tr width="895"  class="<?=$class?>">
						<td></td>
						<td><?=$val['FirstName']?></td>
						<td><?=$val['LastName']?></td>
						<td><?=$val['Disabled']?></td>
						<td align="center"><a href="/account/view/id/<?=$val['ID']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
						<td align="center"><a class="pop-modal dialog" href="/account/edit/id/<?=$val['ID']?>" data-pop-up="edit-user"><i class="icn-edit fa fa-pencil-square-o"></i></a></td>
						<td align="center"><a href="/account/delete/id/<?=$val['ID']?>" onclick="return confirm('Are you sure you want to delete this User? This can not be undone!');"><i class="icn-red fa fa-ban fa"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>

			<?php echo $this->paginationControl($this->users, 'Sliding', 'pagination_control.phtml'); ?>
		</div>
</div>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});
</script>