<div id="interior-content">
	<div id="centermain">

		<div id="form-at" class="my-account-section">
			<div class="blueHeader cf">
				<div class="concepts-work"><img src="/images/my-account-icon.png"><h1>View Account Settings</h1></div>
				<ul class="buttons" style="float: right;">
				<li><a href="/account/delete/id/<?=$this->accountUser['ID']?>" onclick="return confirm('Are you sure you want to delete this user? This can not be undone!');" class="search-button">Delete</a></li>
				<li><a href="/account/edit/id/<?=$this->accountUser['ID']?>" class="search-button pop-modal dialog" data-pop-up="edit-user">Edit</a></li>
				<li><a href="/account" class="search-button">Back</a></li>
			</ul>
			</div>
			<div class="my-account-info">
			<ul>
				<li><strong>First Name:</strong> <?=$this->accountUser['FirstName']?></li>
				<li><strong>Last Name:</strong> <?=$this->accountUser['LastName']?></li>
				<li><strong>Email: </strong><?=$this->accountUser['Email']?></li>
				<li><strong>Phone: </strong><?=$this->accountUser['Phone']?></li>
				<li><strong>Client:</strong> <?=$this->accountUser['ClientName']?></li>
				<li><strong>Status:</strong> <?=($this->accountUser['Disabled'] == "no") ? "Enabled" : "Disabled";?></li>
			</ul>
			</div>
		</div>

	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});
</script>