<div id="interior-content">
	<div id="centermain">

		<div id="form-at" class="my-account-section edit-admin-user">
			<div class="blueHeader cf">
				<div class="concepts-work"><img src="/images/my-account-icon.png"><h1>Add Admin User</h1></div>
				<ul class="buttons" style="float: right;">
					<li><a href="/users/" class="search-button">Back</a></li>
				</ul>
			</div>

			<div class="my-account-info">

				<form method="post" action="/users/add/" id="myForm">

					<ul>
						<li>
							<label>First Name:</label>
							<input type="text" name="data[FirstName]" id="firstname" value="<?=$this->adminUser['FirstName']?>" />
						</li>
						<li>
							<label>Last Name:</label>
							<input type="text" name="data[LastName]" value="<?=$this->adminUser['LastName']?>" />
						</li>
						<li>
							<label>Nickname:</label>
							<input type="text" name="data[UserName]" id="username" value="<?=$this->adminUser['UserName']?>" />
						</li>
						<li>
							<label>Email:</label>
							<input type="text" name="data[Email]" value="<?=$this->adminUser['Email']?>" />
						</li>
						<li>
							<label>Phone:</label>
							<input type="text" name="data[Phone]" value="<?=$this->adminUser['Phone']?>" />
						</li>
						<li>
							<label>Password:</label>
							<input type="password" name="data[UserPassword]" value="" id="password" />
						</li>
						<li>
							<label>Confirm Password:</label>
							<input type="password" name="data[vUserPassword]" value="" />
						</li>
						<?php if($this->user->intranet_admin == 1) { ?>
							<li>
								<label>Weekly Activity Goal:</label>
								<input type="text" name="cyber[activity_goal]" value="<?=$this->adminUser['activity_goal']?>" />
							</li>
						<?php } ?>
						<li>
							<label>Admin:</label>
							<?=$this->formSelect('cyber[intranet_admin]', $this->adminUser['intranet_admin'], array('id'=>'intranet_admin', 'style'=>'width:100px;', 'class'=>'form-field'), array("0"=>"No","1"=>"Yes"))?>
						</li>
						<li>
							<label>Status:</label>
							<?=$this->formSelect('data[Disabled]', $this->adminUser['Disabled'], array('id'=>'status', 'style'=>'width:190px;', 'class'=>'form-field'), array("no"=>"Enabled","yes"=>"Disabled"))?>
						</li>
					</ul>


					<div id="form-at-buttonwrap">
						<input type="submit" class="btn-save" name="Submit" id="Submit" value="" />
					</div>

				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#firstname").bind("blur",function(){
		if ($("#username").val() == '') $("#username").val($("#firstname").val());
	});

	$("#myForm").validate({
		rules: {
			"data[UserName]": "required",
			"data[FirstName]": "required",
			"data[LastName]": "required",
			"data[Email]": {
				required: true,
				email: true,
				remote: "/account/validate/type/email/id/0"
			},
			"data[Phone]": {
				phoneUS: true
			},
			"data[vUserPassword]": {
				required: function(element) {
	        		if ($("#password").val() != "")
			        	return true;
			        else return false;
        		},
				equalTo: "#password"
			}

		},
		messages: {
			"data[UserName]": "User name required",
			"data[FirstName]": "First name required",
			"data[LastName]": "Last name required",
			"data[Email]": {
				required: "Email required",
				email: "Enter valid email address",
				remote: jQuery.format("<br class='clear'/>{0} is already in use")
			},
			"data[Phone]": {
				phone: "Phone number incorrect"
			},
			"data[vUserPassword]": "Confirm password"
        }
	});
});
</script>