<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<div class="tickets-system tickets-list cf">
	<div class="system-menu">
		<div class="ftp-info concepts-work">
			<div class="icon-concepts"><img src="/images/icn_user.png"></div>
			<h1>Cyber-NY Users Archive</h1>
		</div>
	</div>

	<div class="table-wrap">
		<table class="centerTable system">
			<thead>
			<tr class="tickets-header">
				<th width="20"></th>
				<th width="175"><a href="/users/archive/sort/FirstName/dir/<?=$dir?>">First Name</a></th>
				<th width="175"><a href="/users/archive/sort/LastName/dir/<?=$dir?>">Last Name</a></th>
				<th width="125"><a href="/users/archive/sort/UserName/dir/<?=$dir?>">Nickname</a></th>
				<th width="225"><a href="/users/archive/sort/Email/dir/<?=$dir?>">Email</a></th>
				<?php if($this->user->intranet_admin == 1) { ?>
					<th width="160">Weekly Activity goal</th>
				<?php } ?>
				<th width="60" class="th-center">View</th>
				<th width="60" class="th-center">Edit</th>
				<th width="60" class="th-center">Delete</th>
			</tr>
			</thead>
			<tfoot>
			<tr>
				<td colspan="9"></td>
			</tr>
			</tfoot>
			<tbody>
			<?php
			foreach($this->users as $key => $val) {

				?>
				<tr width="895">
					<td></td>
					<td><?=$val['FirstName']?></td>
					<td><?=$val['LastName']?></td>
					<td><?=$val['UserName']?></td>
					<td><?=$val['Email']?></td>
					<?php if($this->user->intranet_admin == 1) { ?>
						<td><?=$val['activity_goal']?></td>
					<?php } ?>
					<td align="center"><a href="/users/view/id/<?=$val['ID']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
					<td align="center"><a href="/users/edit/id/<?=$val['ID']?>"><i class="fa fa-pencil-square-o icn-edit"></i></a></td>
					<td align="center"><a href="/users/delete/id/<?=$val['ID']?>" onclick="return confirm('Are you sure you want to delete this User? This can not be undone!');">
							<i class="icn-red fa fa-ban fa"></i>
						</a></td>
				</tr>
			<?php
			}
			?>
			</tbody>
		</table>

		<?php echo $this->paginationControl($this->users, 'Sliding', 'pagination_control.phtml'); ?>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {

	});
</script>