<div id="interior-content">
	<div id="centermain">

		<div id="form-at" class="my-account-section">
			<div class="blueHeader cf">
				<div class="concepts-work"><img src="/images/my-account-icon.png"><h1>View Admin User</h1></div>
				<ul class="buttons" style="float: right;">
					<li><a href="/users/delete/id/<?=$this->adminUser['ID']?>" onclick="return confirm('Are you sure you want to delete this user? This can not be undone!');" class="search-button">Delete</a></li>
					<li><a href="/users/edit/id/<?=$this->adminUser['ID']?>" class="search-button">Edit</a></li>
					<li><a href="/users" class="search-button">Back</a></li>
				</ul>
			</div>

			<div class="my-account-info">
				<ul>
					<li>First Name: <?=$this->adminUser['FirstName']?></li>
					<li>Last Name: <?=$this->adminUser['LastName']?></li>
					<li>Nickname: <?=$this->adminUser['UserName']?></li>
					<li>Email: <?=$this->adminUser['Email']?></li>
					<li>Phone: <?=$this->adminUser['Phone']?></li>
					<?php if($this->user->intranet_admin == 1) { ?>
						<li>Weekly Activity Goal: <?=$this->adminUser['activity_goal']?></li>
					<?php } ?>
					<li>Admin: <?=($this->adminUser['intranet_admin'] == "1") ? "Yes" : "No";?></li>
					<li>Status: <?=($this->adminUser['Disabled'] == "no") ? "Enabled" : "Disabled";?></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});
</script>