<?	if ($this->pageCount): ?>
<div id="pagination">
<!-- Previous page link -->
<?		if (isset($this->previous)): ?>
<span class="previous"><a href="<?= $this->url(array('page' => $this->previous)); ?>?<?=$_SERVER['QUERY_STRING']?>">[previous]</a></span>
<?		else: ?>
<span class="disabled"></span>
<?		endif; ?>

<!-- Numbered page links -->
<?		foreach ($this->pagesInRange as $page): ?>
<?			if ($page != $this->current): ?>
<span class="pages"><a href="<?= $this->url(array('page' => $page)); ?>?<?=$_SERVER['QUERY_STRING']?>">[<?= $page; ?>]</a></span>
<?			else: ?>
<span class="current">[<?= $page; ?>]</span>
<?			endif; ?>
<?		endforeach; ?>

<!-- Next page link -->
<?		if (isset($this->next)): ?>
<span class="next"><a href="<?= $this->url(array('page' => $this->next)); ?>?<?=$_SERVER['QUERY_STRING']?>">[next]</a></span>
<?		else: ?>
<span class="disabled"></span>
<?		endif; ?>
</div>
<div id="pagination-entries">
	Entries 1 - <?=$this->currentItemCount?> of <?=$this->totalItemCount?> [Total <?=$this->pageCount?> Pages]
</div>
<?	endif; ?>
