
<table width="500" class="cal_event_popup">
	<tr>
		<td>Title</td>
		<td><input type="text" id="title" value="" autocomplete="off"></td>
	</tr>
	<tr>
		<td>Start Date/Time</td>
		<td><input type="text" class="date-pick" id="start" value="<?=$this->date?>" autocomplete="off"></td>
	</tr>
	<tr>
		<td>End Date/Time</td>
		<td><input type="text" class="date-pick" id="end" value="" autocomplete="off"></td>
	</tr>
	<tr>
		<td>Event Type</td>
		<td>
			<select id="type">
				<option value="general">General</option>
				<option value="meeting">Meeting</option>
				<option value="vacation">Vacation</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>Description</td>
		<td><textarea id="description"></textarea></td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<button type="button" onclick="saveEvent()">Save</button>
		</td>
	</tr>
</table>

<script type="text/javascript">
function saveEvent() {
	$.post("/calendar/save/", { act: "add", title: $("#title").val(), start: $("#start").val(), end: $("#end").val(), description: $("#description").val(), type: $("#type").val()},
		function(data){
			$("#dialog").dialog( "close" );
			$.jMonthCalendar.ChangeMonth(new Date(<?=$this->explode[3]?>, <?=(date('n',strtotime($this->date))-1)?>, 1));
	});

}

$(document).ready(function() {
	$(".date-pick").datepicker({defaultDate: "<?=$this->date?>"});
});
</script>