
<table width="500" class="cal_event_popup">
	<tr>
		<td>Title</td>
		<td><input type="text" id="title" value="<?=$this->event['title']?>" autocomplete="off"></td>
	</tr>
	<tr>
		<td>Start Date/Time</td>
		<td><input type="text" class="date-pick" id="start" value="<?=date('n/d/Y',strtotime($this->event['start']))?>" autocomplete="off"></td>
	</tr>
	<tr>
		<td>End Date/Time</td>
		<td><input type="text" class="date-pick" id="end" value="<?=date('n/d/Y',strtotime($this->event['end']))?>" autocomplete="off"></td>
	</tr>
	<tr>
		<td>Event Type</td>
		<td>
			<select id="type">
				<option value="general" <?php if ($this->event['type'] == 'general') echo 'selected';?>>General</option>
				<option value="meeting" <?php if ($this->event['type'] == 'meeting') echo 'selected';?>>Meeting</option>
				<option value="vacation" <?php if ($this->event['type'] == 'vacation') echo 'selected';?>>Vacation</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>Description</td>
		<td><textarea id="description"><?=$this->event['description']?></textarea></td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<button type="button" onclick="deleteEvent()">Delete</button>
			<button type="button" onclick="saveEvent()">Save</button>
		</td>
	</tr>
</table>

<script type="text/javascript">
function saveEvent() {
	$.post("/calendar/save/", { id: <?=$this->event['id']?>, act: "save", title: $("#title").val(), start: $("#start").val(), end: $("#end").val(), description: $("#description").val(), type: $("#type").val()},
		function(data){
			$("#dialog").dialog( "close" );
			$.jMonthCalendar.ChangeMonth(new Date(<?=$this->explode[3]?>, <?=(date('n',strtotime($this->date))-1)?>, 1));
	});
}

function deleteEvent() {
	var agree = confirm("Are you sure you want to Delete this event? This can not be undone.");

	if (agree === true) {
		$.post("/calendar/save/", { id: <?=$this->event['id']?>, act: "delete"},
			function(data){
				$("#dialog").dialog( "close" );
				$.jMonthCalendar.ChangeMonth(new Date(<?=$this->explode[3]?>, <?=(date('n',strtotime($this->date))-1)?>, 1));
		});
	}
}

$(document).ready(function() {
	$(".date-pick").datepicker();
});
</script>