<link rel='stylesheet' type='text/css' href='/css/fullcalendar.css' />
<script type='text/javascript' src='/js/fullcalendar.min.js'></script>

<style type="text/css" media="screen">
#tooltip { background: #fff; padding: 5px; border: 1px solid #ddd; position: absolute; }

.meeting { background-color: #FFB55F !important; }
.vacation { background-color: #79FF4F !important; }
.general { background-color: #C0D0FF !important; }

.legend { float:left; padding-right: 10px; }
.block { width:15px; height:15px; float: right;}
.tally { float:right; font-size: .8em; padding: 0 5px; }
</style>

<br style="clear:both;"/>

<div>
	<div class="legend">Vacation: <div class="block vacation">&nbsp;</div> <div class="tally">(<?=$this->vacation?>)</div></div>
	<div class="legend">Meeting: <div class="block meeting">&nbsp;</div> <div class="tally">(<?=$this->meeting?>)</div></div>
	<div class="legend">General: <div class="block general">&nbsp;</div> <div class="tally">(<?=$this->general?>)</div></div>
</div>

<br style="clear:both;"/><br/>

<div id="full_calendar"></div>

<br style="clear:both;"/>
<div id="cal_tooltip" style="display:none;"></div>
<a id="tooltip_trigger" style="display:none;" href="#cal_tooltip" rel="#cal_tooltip"></a>

<script type="text/javascript">
$(document).ready(function() {
	$('a#tooltip_trigger').cluetip({local:true,showTitle:false,positionBy:'mouse'});

	$('#full_calendar').fullCalendar({
		theme: true,
		events: '/calendar/events/',
		eventMouseover: function(event, e) {
			$("#cal_tooltip").html(event.description);
			$('a#tooltip_trigger').trigger('showCluetip');
			$('#cluetip').css({ "left": e.pageX, "top": e.pageY });
		},
		eventMouseout: function(event) {
			$('a#tooltip_trigger').trigger('hideCluetip');
		},
		loading: function(isLoading) {
			if (isLoading === false) {
				//turn on the contextual menu
				enableContextMenu();
			}
		},
		eventRender: function(event, element) {
			element.attr("eventid",event.id);
		}

	});

});

function enableContextMenu() {
	$.contextMenu({
		selector: '.fc-event',
		callback: function(action, options) {
			var id = $(this).attr("eventid");
			if (action == "add") {
				window.location = "/calendar/ical/id/"+id;
				this.contextMenu("hide");
				return false;
			}
		},
		items: {
			"add": {name: "Add to iCal/Outlook/Google Calendar", icon: "calendar"}
		}
	});
}
</script>