<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_directory.png"></td>
			<td width="368"><h1>Edit Directory Contact</h1></td>
			<td width="165" align="center"></td>
			<td width="324" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<form method="post" action="/directory/edit" id="editForm">
		<input type="hidden" name="id" value="<?=$this->contact['id']?>">
		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th colspan="2">
							Add Contact
							<ul class="buttons">
								<li><a href="/directory/" class="btn-back"></a></li>
							</ul>
						</th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="3"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr width="836">
						<td width="160" class="title2">First Name:</td>
						<td><input type="text" name="data[first_name]" value="<?=$this->contact['first_name']?>"></td>
					</tr>
					<tr>
						<td class="title2">Last Name:</td>
						<td><input type="text" name="data[last_name]" value="<?=$this->contact['last_name']?>"></td>
					</tr>
					<tr>
						<td class="title2">Company:</td>
						<td><input type="text" name="data[company]" value="<?=$this->contact['company']?>"></td>
					</tr>
					<tr>
						<td class="title2">Address:</td>
						<td><input type="text" name="data[address]" value="<?=$this->contact['address']?>"></td>
					</tr>
					<tr>
						<td class="title2">City:</td>
						<td><input type="text" name="data[city]" value="<?=$this->contact['city']?>"></td>
					</tr>
					<tr>
						<td class="title2">State:</td>
						<td><input type="text" name="data[state]" size="3" maxlength="2" value="<?=$this->contact['state']?>"></td>
					</tr>
					<tr>
						<td class="title2">Zip:</td>
						<td><input type="text" name="data[zip]" size="10" maxlength="10" value="<?=$this->contact['zip']?>"></td>
					</tr>
					<tr>
						<td class="title2">Work Phone:</td>
						<td><input type="text" name="data[work_phone]" value="<?=$this->contact['work_phone']?>"></td>
					</tr>
					<tr>
						<td class="title2">Home Phone:</td>
						<td><input type="text" name="data[home_phone]" value="<?=$this->contact['home_phone']?>"></td>
					</tr>
					<tr>
						<td class="title2">Cell Phone:</td>
						<td><input type="text" name="data[cell_phone]" value="<?=$this->contact['cell_phone']?>"></td>
					</tr>
					<tr>
						<td class="title2">Email:</td>
						<td><input type="text" name="data[email]" value="<?=$this->contact['email']?>"></td>
					</tr>
					<tr>
						<td class="title2">Memo:</td>
						<td><textarea name="data[memo]" rows="6" cols="45"><?=$this->contact['memo']?></textarea></td>
					</tr>
				</tbody>
			</table>
		</div>

		<br>
		<div id="form-at-buttonwrap">
			<input type="submit" class="btn-save" name="Save Client" id="Save Client" value="" />
		</div>
		</form>

	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#editForm").validate({
		rules: {
			"data[first_name]": "required",
			"data[last_name]": "required",
			"data[email]": {
				email: true
			}
		},
		messages: {
			"data[first_name]": "first name required",
			"data[last_name]": "last name required",
			"data[email]": {
				required: "Email required",
				email: "Enter valid email address"
			},
        }
	});
});
</script>
