<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_directory.png"></td>
			<td width="165"><h1>Contact Directory</h1></td>
			<td width="443" align="center"></td>
			<td width="300" align="right">
				<form method="post" action="/directory">
				<input type="text" name="mask" value="<?=$this->mask?>" size="20">
				<input type="submit" value="Search">
				&nbsp;
				</form>
			</td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<div class="datatable">
			<table id="mediamanagertable">
				<thead>
					<tr width="840" class="header">
						<th colspan="12">View Contacts</th>
					</tr>
					<tr class="header2">
						<th width="25" class="th-center"></th>
						<th width="140"><a href="/directory/index/sort/first_name/dir/<?=$dir?>">First Name</a></th>
						<th width="140"><a href="/directory/index/sort/last_name/dir/<?=$dir?>">last Name</a></th>
						<th width="100"><a href="/directory/index/sort/company/dir/<?=$dir?>">Company</a></th>
						<th width="100"><a href="/directory/index/sort/work_phone/dir/<?=$dir?>">Phone Number</a></th>
						<th width="180"><a href="/directory/index/sort/email/dir/<?=$dir?>">Email</a></th>
						<th width="50" class="th-center">View</th>
						<th width="50" class="th-center">Edit</th>
						<th width="50" class="th-center">Delete</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td></td>
						<td colspan="8">
							<form method="post" action="/directory/adddirectory">
							Add Contact to my directory:
							<?=$this->formSelect('data[directory_id]', '', array('id'=>'directory_id', 'class'=>'form-field'), $this->directory)?>

							<input type="submit" name="Add" value="Add">
							</form>
						</td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				$shade = true;
				foreach($this->contacts as $key => $val) {
					if($shade)
						$class = 'shadeoff';
					else
						$class = 'shadeon';
					$shade = !$shade;
				?>
					<tr width="840"  class="<?=$class?>">
						<td align="center"></td>
						<td><?=$val['first_name']?></td>
						<td><?=$val['last_name']?></td>
						<td><?=$val['company']?></td>
						<td><?=$val['work_phone']?></td>
						<td><a href="mailto:<?=$val['email']?>"><?=$val['email']?></a></td>
						<td align="center"><a href="/directory/view/id/<?=$val['id']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
						<td align="center"><a href="/directory/edit/id/<?=$val['id']?>"><i class="icn-edit fa fa-pencil-square-o"></i></a></td>
						<td align="center"><a href="/directory/delete/id/<?=$val['id']?>" onclick="return confirm('Are you sure you want to delete this contact from your directory? This can not be undone!');"><i class="icn-red fa fa-ban fa"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>

			<?php echo $this->paginationControl($this->contacts, 'Sliding', 'pagination_control.phtml'); ?>
		</div>
	</div>
</div>

<style>
	/* ComboBox special overwrites */
	.ui-button-icon-only .ui-button-text { padding: 0.35em; }
	.ui-autocomplete-input { padding:0.3em 0 0.35em 0.45em!important; width:200px!important;margin-top:2px!important;}
	.ui-autocomplete { text-align: left; height: 150px; overflow: auto; width:150px; }
</style>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#directory_id").combobox();
});
</script>