<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_directory.png"></td>
			<td width="368"><h1>Directory Contact</h1></td>
			<td width="165" align="center"></td>
			<td width="324" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th colspan="2">
							View Contact
							<ul class="buttons">
								<li><a href="/directory/deletecontact/id/<?=$this->contact['id']?>" onclick="return confirm('Are you sure you want to delete this contact? This can not be undone!');" class="btn-delete"></a></li>
								<li><a href="/directory/edit/id/<?=$this->contact['id']?>" class="btn-edit"></a></li>
								<li><a href="/directory" class="btn-back"></a></li>
							</ul>
						</th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="3"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr width="836">
						<td width="160" class="title2">First Name:</td>
						<td><?=$this->contact['first_name']?></td>
					</tr>
					<tr>
						<td class="title2">Last Name:</td>
						<td><?=$this->contact['last_name']?></td>
					</tr>
					<tr>
						<td class="title2">Company:</td>
						<td><?=$this->contact['company']?></td>
					</tr>
					<tr>
						<td class="title2">Address:</td>
						<td><?=$this->contact['address']?></td>
					</tr>
					<tr>
						<td class="title2">City:</td>
						<td><?=$this->contact['city']?></td>
					</tr>
					<tr>
						<td class="title2">State:</td>
						<td><?=$this->contact['state']?></td>
					</tr>
					<tr>
						<td class="title2">Zip:</td>
						<td><?=$this->contact['zip']?></td>
					</tr>
					<tr>
						<td class="title2">Work Phone:</td>
						<td><?=$this->contact['work_phone']?></td>
					</tr>
					<tr>
						<td class="title2">Home Phone:</td>
						<td><?=$this->contact['home_phone']?></td>
					</tr>
					<tr>
						<td class="title2">Cell Phone:</td>
						<td><?=$this->contact['cell_phone']?></td>
					</tr>
					<tr>
						<td class="title2">Email:</td>
						<td><?=$this->contact['email']?></td>
					</tr>
					<tr>
						<td class="title2">Memo:</td>
						<td><?=$this->contact['memo']?></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});
</script>
