<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
$ticket = new Cny_Model_Ticket();
?>

<div id="interior-header">
	<table width="895" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_services.png"></td>
			<td width="165"><h1>Services</h1></td>
			<td width="488" align="center"></td>
			<td width="204" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<div class="service_top"></div>
		<div class="service_mid">
			<table>
				<tr>
					<td valign="middle" width="100"><div id="email_icon" class="tooltip" rel="#email_tip" title="Email Services"></div></td>
					<td valign="middle" width="200">
						<h3><span class="tooltip" rel="#email_tip" title="Email Services">Email</span></h3>
						<div id="email_tip" class="tip">
							<h4>Managed Email:</h4>
							<p>Cyber-NY provides a variety of managed email solutions including webmail, IMAP, POP3 and Managed Exchange Server.  Managed email starts at $35/month.
							<br/><br/><a href="/services/email" class="dialog" title="Email Services">Click here</a> to get an estimate on services.</p>

							<h4>Email Marketing & List Management:</h4>
							<p>Cyber-NY empowers marketers and communicators by managing the e-mail process from design to delivery. We provide our clients with a comprehensive list management and e-mail solution ideal for customer relationship management, newsletters, marketing e-mails and direct response campaigns.
							<br/><br/><a href="/services/email" class="dialog" title="Email Services">Click here</a> to get an estimate on services.</p>
						</div>
					</td>
					<td width="350" valign="top">
						<ul>
							<li>Request New Email Account or Pointer</li>
							<li>Managed Email Service</li>
							<li>Managed Exchange Mail Server</li>
							<li>Email Marketing & Database</li>
						</ul>
					</td>
					<td width="50" valign="middle">
						<a href="/services/email" class="dialog" title="Email Services"><img src="/images/icon-services.gif"></a>
					</td>
				</tr>
			</table>

			<div id="emailForm">

			</div>
		</div>
		<div class="service_bottom"></div>

		<div class="service_top"></div>
		<div class="service_mid">
			<table>
				<tr>
					<td valign="middle" width="100"><div id="hosting_icon" class="tooltip" rel="#hosting_tip" title="Hosting Services"></div></td>
					<td valign="middle" width="200">
						<h3><span class="tooltip" rel="#hosting_tip" title="Hosting Services">Hosting</span></h3>
						<div id="hosting_tip" class="tip">
							<p>Cyber-NY provides managed hosting solutions on dedicated Linux and Windows OS Servers, Could Hosting Environments or on our network of Virtual Server Environments.  Let us know more about your particular hosting needs and we'll design an environment that delivers top performance with dedicated support, security and data back-up.
							<br/><br/><a href="/services/hosting" class="dialog" title="Hosting Services">Click here</a> to get an estimate.</p>
						</div>
					</td>
					<td width="350" valign="top">
						<ul>
							<li>Virtual & Cloud Hosting</li>
							<li>Dedicated Server</li>
							<li>Amazon S3 Media Hosting</li>
						</ul>
					</td>
					<td width="50" valign="middle">
						<a href="/services/hosting" class="dialog" title="Hosting Services"><img src="/images/icon-services.gif"></a>
					</td>
				</tr>
			</table>

			<div id="hostingForm">

			</div>
		</div>
		<div class="service_bottom"></div>

		<div class="service_top"></div>
		<div class="service_mid">
			<table>
				<tr>
					<td valign="middle" width="100"><div id="google_icon" class="tooltip" rel="#google_tip" title="Google Services"></div></td>
					<td valign="middle" width="200">
						<h3><span class="tooltip" rel="#google_tip" title="Google Services">Google Services</span></h3>
						<div id="google_tip" class="tip">
							<p>Leverage the power of Google's search, analytics, document, map, mail and calendar technology.  Let us know what application you have in mind and we will put together an integration plan and customize the Google component so that it fits seamlessly within your website.
							<br/><br/><a href="/services/google" class="dialog" title="Google Services">Click here</a> to get an estimate on integration.</p>
						</div>
					</td>
					<td width="350" valign="top">
						<ul>
							<li>Add Google Analytics</li>
							<li>Integrate Google Calendar</li>
							<li>Google Maps</li>
							<li>Google Website Search</li>
						</ul>
					</td>
					<td width="50" valign="middle">
						<a href="/services/google" class="dialog" title="Google Services"><img src="/images/icon-services.gif"></a>
					</td>
				</tr>
			</table>

			<div id="googleForm">

			</div>
		</div>
		<div class="service_bottom"></div>

		<div class="service_top"></div>
		<div class="service_mid">
			<table>
				<tr>
					<td valign="middle" width="100"><div id="social_icon" class="tooltip" rel="#social_tip" title="Social Networking Services"></div></td>
					<td valign="middle" width="200">
						<h3><span class="tooltip" rel="#social_tip" title="Social Networking Services">Social Networking</span></h3>
						<div id="social_tip" class="tip">
							<p>Expand your organization's reach by maintaining relationships where your audience interacts with friends, family and business colleagues. By interacting with current and new customers directly on Facebook, Twitter, Google Buzz, YouTube.
							<br/><br/><a href="/services/social" class="dialog" title="Social Network Services">Click here</a> to get an estimate on services.</p>
						</div>
					</td>
					<td width="350" valign="top">
						<ul>
							<li>Facebook
								<ul>
									<li>Page Development</li>
									<li>App Development</li>
									<li>Facebook Connect</li>
								</ul>
							</li>
							<li>Twitter
								<ul>
									<li>Page Design</li>
								</ul>
							</li>
							<li>YouTube</li>
							<li>WordPress Blog</li>
							<li>Sharing & Referral Features</li>
						</ul>
					</td>
					<td width="50" valign="middle">
						<a href="/services/social" class="dialog" title="Social Network Services"><img src="/images/icon-services.gif"></a>
					</td>
				</tr>
			</table>

			<div id="socialForm">

			</div>
		</div>
		<div class="service_bottom"></div>

		<div class="service_top"></div>
		<div class="service_mid">
			<table>
				<tr>
					<td valign="middle" width="100"><div id="mobile_icon" class="tooltip" rel="#mobile_tip" title="Mobile Services"></div></td>
					<td valign="middle" width="200">
						<h3><span class="tooltip" rel="#mobile_tip" title="Mobile Services">Mobile Services</span></h3>
						<div id="mobile_tip" class="tip">
							<p>Cyber-NY helps organizations take full advantage of mobile technologies by leveraging existing online assets and creating new mobile channels.  We can develop a mobile-friendly version of your website or develop an SMSText campaign.  Or develop a custom app for iPhone or Google Android OS.
							<br/><br/><a href="/services/mobile" class="dialog" title="Mobile Services">Click here</a> to provide us with your project specifications and get an estimate on services.</p>
						</div>
					</td>
					<td width="350" valign="top">
						<ul>
							<li>SMS Text Gateway</li>
							<li>Twitter & Facebook API</li>
							<li>Mobile Website Development</li>
							<li>iPhone & iPad Development</li>
						</ul>
					</td>
					<td width="50" valign="middle">
						<a href="/services/mobile" class="dialog" title="Mobile Services"><img src="/images/icon-services.gif"></a>
					</td>
				</tr>
			</table>

			<div id="mobileForm">

			</div>
		</div>
		<div class="service_bottom"></div>

		<div class="service_top"></div>
		<div class="service_mid">
			<table>
				<tr>
					<td valign="middle" width="100"><div id="marketing_icon" class="tooltip" rel="#marketing_tip" title="Online Marketing Services"></div></td>
					<td valign="middle" width="200">
						<h3><span class="tooltip" rel="#marketing_tip" title="Online Marketing Services">Online Marketing Services</span></h3>
						<div id="marketing_tip" class="tip">
							<p>Drive qualified traffic to your website and improve conversion rates by placing the right message in front of the right customers.  Cyber-NY can manage your pay per click (PPC) search campaigns on Google, Yahoo and Bing search networks, provide search engine optimization (SEO) services, email marketing, social media campaigns and a variety of other services that drive traffic to your website and increase sales.
							<br/><br/><a href="/services/marketing" class="dialog" title="Online Marketing Services">Click here</a> to provide us with your project specifications and get an estimate on services.</p>
						</div>
					</td>
					<td width="350" valign="top">
						<ul>
							<li>Pay Per Click & Search Marketing (SEM)</li>
							<li>Search Engine Optimization (SEO)</li>
							<li>Email List Management</li>
							<li>Online Sweepstakes Promotions</li>
						</ul>
					</td>
					<td width="50" valign="middle">
						<a href="/services/marketing" class="dialog" title="Online Marketing Services"><img src="/images/icon-services.gif"></a>
					</td>
				</tr>
			</table>

			<div id="marketingForm">

			</div>
		</div>
		<div class="service_bottom"></div>

		<div class="service_top"></div>
		<div class="service_mid">
			<table>
				<tr>
					<td valign="middle" width="100"><div id="ecom_icon" class="tooltip" rel="#ecommerce_tip" title="Ecommerce Services"></div></td>
					<td valign="middle" width="200">
						<h3><span class="tooltip" rel="#ecommerce_tip" title="Ecommerce Services">Ecommerce</span></h3>
						<div id="ecommerce_tip" class="tip">
							<p>Cyber-NY provides all of the components necessary to perform secure online transactions including real-time credit card processing, shopping cart systems and custom shopping experiences, paid subscription based services and complete ERP integration.
							<br/><br/><a href="/services/ecommerce" class="dialog" title="Ecommerce Services">Click here</a> to provide us with your project specifications and get an estimate on services. </p>
						</div>
					</td>
					<td width="350" valign="top">
						<ul>
							<li>PayPal
								<ul>
									<li>Verisign Payflow Pro</li>
									<li>Web Payment Pro</li>
									<li>Web Payment Standard</li>
								</ul>
							</li>
							<li>SSL Certificate</li>
							<li>Shopping Cart or Online Purchase Capabilities</li>
						</ul>
					</td>
					<td width="50" valign="middle">
						<a href="/services/ecommerce" class="dialog" title="Ecommerce Services"><img src="/images/icon-services.gif"></a>
					</td>
				</tr>
			</table>

			<div id="ecomForm">

			</div>
		</div>
		<div class="service_bottom"></div>

		<div class="service_top"></div>
		<div class="service_mid">
			<table>
				<tr>
					<td valign="middle" width="100"><div id="cyber_icon" class="tooltip" rel="#proposal_tip" title="Request a Proposal"></div></td>
					<td valign="middle" width="200">
						<h3><span class="tooltip" rel="#proposal_tip" title="Request a Proposal">Request a Proposal</span></h3>
						<div id="proposal_tip" class="tip">
							<p>At Cyber-NY, we craft highly functional web, mobile and email applications designed to achieve the unique goals of each client.  Let us know more about your project.
							<br/><br/><a href="/services/proposal" class="dialog" title="Request a Proposal">Click here</a> to provide us with your project specifications and get an estimate on services.</p>
						</div>
					</td>
					<td width="350" valign="top">
						<ul>
							<li>Website Design & Development</li>
							<li>Ecommerce Integration</li>
							<li>Database Development</li>
							<li>Flash Animation & Presentation Graphics</li>
							<li>Intranet or Project Management System</li>
							<li>Banner or Email Design</li>
						</ul>
					</td>
					<td width="50" valign="middle">
						<a href="/services/proposal" class="dialog" title="Request a Proposal"><img src="/images/icon-services.gif"></a>
					</td>
				</tr>
			</table>

			<div id="ecomForm">

			</div>
		</div>
		<div class="service_bottom"></div>

	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$('.tooltip').cluetip({
		local: true,
		sticky: true,
		arrows: true,
		cluetipClass: 'jtip'
	});
});
</script>