<form action="/services/social" method="post" id="addForm">
<div id="form-at">

	<br/>
	<label>Service:</label>
	<div class="rounded">
		<select name="data[service]">
			<option value="">Select a Service</option>
		<?php
		foreach ($this->services as $s) {
			echo "<option value=\"$s\">$s</option>";
		}
		?>
		</select>
	</div>

	<br/>
	<label>Name:</label>
	<div class="rounded"><input type="text" name="data[name]" value="<?=$this->name?>" /></div>

	<br/>
	<label>Description:</label>
	<div class="rounded2">
		<textarea name="data[description]" id="description"><?=$this->description?></textarea>
	</div>

	<br/>
	<label>Related website or page:</label>
	<div class="rounded"><input type="text" name="data[website]" value="" /></div>

	<br/>
	<label>When do you need it?</label>
	<div class="rounded"><input type="text" name="data[when]" value="" /></div>

	<br/><br/>
	<div id="form-at-buttonwrap">
		<input type="submit" class="btn-send" name="Send" id="Send" value="" />
	</div>

</div>
</form>

<style>
	/* ComboBox special overwrites */
	.ui-button-icon-only .ui-button-text { padding: 0.35em; }
	.ui-autocomplete-input { padding:0.3em 0 0.35em 0.45em!important; width:375px!important;margin-top:2px!important;}
	.ui-autocomplete { text-align: left; height: 250px; overflow: auto; width:350px; }
</style>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	//$("#clientID").combobox();
	$("#description").bind("click",function() {
		if ($("#description").val() == '<?=$this->description?>') {
			$("#description").val('');
		}
	});
	$("#description").bind("blur",function() {
		if ($("#description").val() == '') {
			$("#description").val('<?=$this->description?>');
		}
	});

	$("#addForm").validate({
		rules: {
			"data[service]": "required",
			"data[description]": "required"
		},
		messages: {
			"data[service]": "Service required",
			"data[description]": "Description required"
        }
	});
});
</script>