<div class="add-ticket-modal modal">
	<form action="/estimates/add" method="post" id="addForm">
		<div class="modal-head"><h1> Add Estimate</h1></div>
		<div class="modal-content">
			<div class="error"><span></span></div>
			<?php
			if ($this->user->cyber_user == 'yes') {
				?>
				<br>
				<label>Client:</label>
				<div class="rounded">
					<?//=$this->formSelect('data[clientID]', '', array('id'=>'clientID', 'class'=>'form-field'), $this->clients)?>
				</div>
			<?php
			}
			?>

			<label>Estimate Name:</label><input type="text" name="data[summary]">
			<label>Page Name or URL:</label><input type="text" name="data[url]">
			<label>Description:</label><textarea name="data[description]" class="tinymce"></textarea>
			<div class="tix-options">
				<select name="data[type]" id="type" class="form-field" style="width:190px;  float:right;">
					<option value="">Estimate Type</option>
					<option value="Retainer Hours">Retainer Hours</option>
					<option value="Project / Fee Based">Project / Fee Based</option>
				</select>
			</div>
			<div id="form-at-buttonwrap">
				<input type="submit" class="search-button" name="Add Estimate" value="Add Estimate">
			</div>
		</div>
	</form>
</div>

<style>
	/* ComboBox special overwrites */
	.ui-autocomplete-input { width:375px!important;}
	.ui-autocomplete { width:350px; }
</style>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		//$("#clientID").combobox();

		jQuery.validator.messages.required = "";
		$("#addForm").validate({
			rules: {
				"data[client_id]": "required",
				"data[summary]": "required",
				"data[description]": "required",
				"data[type]": "required"
			},
			messages: {
				"data[summary]": "Name required",
				"data[description]": "Description required",
				"data[type]": "Set estimate type"
			},
			invalidHandler: function(e, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {
					var message = errors == 1
						? 'You missed 1 field. It has been highlighted below'
						: 'You missed ' + errors + ' fields.  They have been highlighted below';
					$("div.error span").html(message);
					$("div.error").show();
				} else {
					$("div.error").hide();
				}
			}
		});

		tinymce.init({
			width : "600",
			selector: "textarea.tinymce",
			plugins: [
				"autolink lists link image",
				"searchreplace visualblocks",
				"contextmenu paste " //spellchecker (doesn't work)
			],
			toolbar: "bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | cut copy paste | link | undo redo | searchreplace | forecolor | spellchecker ",
			relative_urls : false,
			menubar: false,
			toolbar_items_size: 'small'
		});
	});
</script>
