<div class="add-note-modal modal">
	<form action="/estimates/addnote" method="post" enctype="multipart/form-data" id="noteForm">
		<input type="hidden" name="MAX_FILE_SIZE" value="5000000" />
		<input type="hidden" name="id" value="<?=$this->id?>">

		<div class="modal-head"><h1> Add Note</h1></div>
		<div class="modal-content">
			<label>Note:</label><textarea name="Description" id="description" class="tinymce"></textarea>
			<label>CC:</label><input type="text" name="cc_list"/>
			<label class="attachment">Attachment:</label><input type="file" name="attachment" class="attach-file" />
			<div id="form-at-buttonwrap">
				<input type="submit" class="btn-addnote1" name="Add Note" id="Add Note" value="" />
			</div>
		</div>
	</form>

</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$("#description").focus();

		$('#noteForm').bind('submit', function() {
			$(this).ajaxSubmit({
				beforeSubmit: function(arr, $form, options) {
					if ($("#description").val()=='')
						return false;
				},
				success:    function() {
					parent.closeBPopup();
					parent.updateNotes();
				}
			});
			return false; // <-- important!
		});


		tinymce.init({
			width : "300",
			selector: "textarea.tinymce",
			plugins: [
				"autolink lists link image",
				"searchreplace visualblocks",
				"contextmenu paste " //spellchecker (doesn't work)
			],
			toolbar: "bold italic underline strikethrough | cut copy paste | link | undo redo | searchreplace | forecolor | spellchecker ",
			relative_urls : false,
			menubar: false,
			toolbar_items_size: 'small'
		});
	});
</script>