<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<div id="interior-content">
	<div id="centermain">

		<div id="form-at" class="my-account-section">
			<div class="blueHeader cf">
				<div class="concepts-work"><img src="/images/estimates-icon.png"><h1>Estimates Archive</h1></div>
			</div>
		</div>

	</div>
</div>

<div class="tickets-system tickets-list cf">
	<div class="system-menu">
		<form method="post" action="">
			<p class="row1 archive-search">
				<label>Search:</label><input type="text" name="mask" class="search-box" value="<?=$this->mask?>">

				<label>Date Range:</label>
				<input type="text" class="date-pick search-box" name="date_from" value="<?=$this->date_from?>"><label>to</label>
				<input type="text" class="date-pick search-box" name="date_to" value="<?=$this->date_to?>">

				<input type="submit" class="submit_btn search-button" value="Search" style="margin-left: 10px;">
			</p>
			<div style="clear: both;"></div>
		</form>
	</div>

		<div class="table-wrap">
			<table class="centerTable system">
				<tbody>
				<tr class="tickets-header">
					<th class="th-center"><a href="/estimates/archive/sort/er.id/dir/<?=$dir?>/clientID/<?=$this->clientID?>">Num.</a></th>
					<th><a href="/estimates/archive/sort/er.summary/dir/<?=$dir?>/clientID/<?=$this->clientID?>">Estimate Name</a></th>
					<th><a href="/estimates/archive/sort/UserName/dir/<?=$dir?>/clientID/<?=$this->clientID?>">Requested By:</a></th>
					<th><a href="/estimates/archive/sort/er.created/dir/<?=$dir?>/clientID/<?=$this->clientID?>">Request Date</a></th>
					<th class="th-center">Status</th>
					<th class="th-center">View</th>
				</tr>
				<?php
				foreach($this->estimates as $key => $val) {
					?>
					<tr>
						<td align="center"><?=$val['id']?></td>
						<td width="300"><a href="/estimates/view/clientID/<?=$val['ClientID']?>/id/<?=$val['id']?>"><?=$val['summary']?></a></td>
						<td><?=$val['UserName']?></td>
						<td><?=$val['created']?></td>
						<td align="center"><div class="fa ticket-status-<?=$statusInfo['image']?>" title="<?=$val['status']?>"></div></td>
						<td align="center"><a href="/estimates/view/clientID/<?=$val['ClientID']?>/id/<?=$val['id']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>
			<?php echo $this->paginationControl($this->estimates, 'Sliding', 'pagination_control.phtml'); ?>
		</div>


</div>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$(".date-pick").datepicker();
	});
</script>