<div class="add-ticket-modal modal">
	<form action="/estimates/edit" method="post" id="addForm" target="_parent">
		<div class="modal-head"><h1> Edit Estimate</h1></div>
		<div class="modal-content">
			<?php
			if ($this->user->cyber_user == 'yes') {
				?>
				<br>
				<label>Client:</label>
				<?=$this->estimate['ClientName']?><?//=$this->formSelect('data[client_id]', '', array('id'=>'client_id', 'class'=>'form-field'), $this->clients)?>
			<?php
			}
			?>

			<label>Estimate Name:</label><input type="text" name="data[summary]" value="<?=$this->estimate['summary']?>">
			<label>Page Name or URL:</label><input type="text" name="data[url]" value="<?=$this->estimate['url']?>">
			<label>Description:</label><textarea name="data[description]" class="tinymce"><?=$this->estimate['description']?></textarea>
			<div class="tix-options">
				<select name="data[type]" id="type" class="form-field" style="width:190px;  float:right;">
					<option value="">Estimate Type</option>
					<option value="Retainer Hours" <?=($this->estimate['type']=='Retainer Hours')?"selected":""?>>Retainer Hours</option>
					<option value="Project / Fee Based" <?=($this->estimate['type']=='Project / Fee Based')?"selected":""?>>Project / Fee Based</option>
				</select>
			</div>
			<div id="form-at-buttonwrap">
				<input type="submit" class="btn-add_estimate" name="Add Estimate" value="">
			</div>
		</div>
	</form>
</div>

<style>
		/* ComboBox special overwrites */
	.ui-button-icon-only .ui-button-text { padding: 0.35em; }
	.ui-autocomplete-input { padding:0.3em 0 0.35em 0.45em!important; width:375px!important;}
	.ui-autocomplete { text-align: left; height: 250px; overflow: auto; width:350px; }
</style>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		//$("#clientID").combobox();

		$("#addForm").validate({
			rules: {
				"data[client_id]": "required",
				"data[summary]": "required",
				"data[description]": "required",
				"data[type]": "required"
			},
			messages: {
				"data[summary]": "Name required",
				"data[description]": "Description required",
				"data[type]": "Set estimate type"
			}
		});

		tinymce.init({
			width : "600",
			selector: "textarea.tinymce",
			plugins: [
				"autolink lists link image",
				"searchreplace visualblocks",
				"contextmenu paste " //spellchecker (doesn't work)
			],
			toolbar: "bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | cut copy paste | link | undo redo | searchreplace | forecolor | spellchecker ",
			relative_urls : false,
			menubar: false,
			toolbar_items_size: 'small'
		});
	});
</script>
