<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<div class="tickets-system tickets-list cf">
	<div class="system-menu">
		<div class="concepts-work"><img src="/images/estimates-icon.png"><h1>View Estimates</h1></div>
		<div class="add-tix	">
			<a href="/estimates/add" id="addticket" class="dialog pop-modal" data-pop-up="add-ticket">Add Estimate</a>
		</div>
	</div>

	<div class="table-wrap">
		<table class="centerTable system">
			<tbody>
			<tr class="tickets-header">
				<td width="20"></td>
				<th width=""><a href="/estimates/index/sort/ClientName/dir/<?=$dir?>">Client</a></th>
				<th width="200" class="th-center">View Estimate Requests</th>
			</tr>
			<tfoot>
			<tr>
				<td colspan="9"></td>
			</tr>
			</tfoot>
			<tbody>
			<?php
			foreach($this->clients as $key => $val) {
				?>
				<tr width="840">
					<td></td>
					<td><a href="/estimates/list/clientID/<?=$val['id']?>"><?=$val['ClientName']?></a></td>
					<td align="center"><a href="/estimates/list/clientID/<?=$val['id']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
				</tr>
			<?php
			}
			?>
			</tbody>
		</table>

		<?php echo $this->paginationControl($this->clients, 'Sliding', 'pagination_control.phtml'); ?>
	</div>
</div>


<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	});
</script>