<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div class="tickets-system tickets-list cf">
	<div class="system-menu">
		<div class="view-tix">
			<a>View Estimates</a>
		</div>
		<div class="add-tix">
			<a href="/estimates/add" data-pop-up="add-ticket" title="Add Estimate" class="dialog pop-modal">Add Estimate</a>
		</div>
		<div class="search-tix">
			<form method="post" action="/estimates/list">
				<input type="text" name="mask" value="<?=$this->mask?>" size="20" class="search-box">
				<input type="submit" value="Search" class="search-button">
			</form>
		</div>
	</div>

	<form method="post" action="/estimates/status/clientID/<?=$this->clientID?>">
		<div class="table-wrap">
			<table class="centerTable system">
				<tbody>
				<tr class="tickets-header">
					<th class="th-center"><a href="/estimates/list/clientID/<?=$this->clientID?>/sort/er.id/dir/<?=$dir?>">Num.</a></th>
					<th><a href="/estimates/list/clientID/<?=$this->clientID?>/sort/er.summary/dir/<?=$dir?>">Estimate Name</a></th>
					<th><a href="/estimates/list/clientID/<?=$this->clientID?>/sort/UserName/dir/<?=$dir?>">Requested By:</a></th>
					<th><a href="/estimates/list/clientID/<?=$this->clientID?>/sort/er.created/dir/<?=$dir?>">Request Date</a></th>
					<th class="th-center">Status</th>
					<th class="th-center">View</th>
				</tr>
				<?php
				foreach($this->estimates as $key => $val) {
					?>
					<tr>
						<td align="center"><?=$val['id']?></td>
						<td><a href="/estimates/view/clientID/<?=$val['client_id']?>/id/<?=$val['id']?>"><?=$val['summary']?></a></td>
						<td><?=$val['UserName']?></td>
						<td><?=$val['created']?></td>
						<td align="center"><div class="fa ticket-status-<?=$val['status']?>" title="<?=$val['status']?>"></div></td>
						<td align="center"><a href="/estimates/view/clientID/<?=$val['client_id']?>/id/<?=$val['id']?>"><i class="icn-blue fa fa-arrow-circle-right"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>
			<?php echo $this->paginationControl($this->estimates, 'Sliding', 'pagination_control.phtml'); ?>
		</div>
	</form>

</div>


