<div class="thanks-ticket-modal">
	<div class="modal">
		<div class="modal-head"><h1> Add Estimate</h1></div>
		<div class="modal-content">
			<p>Your Request Has Been Received and will be reviewed within 24 hours.</p>
			<p>An estimate will be sent to you as soon as ready or someone will contact you to get more details.</p>
		</div>
	</div>
</div>