<?php
$estimate = new Cny_Model_Estimate();
?>
<div class="tview-section cf">
	<div class="tview-header">
		<img src="/images/estimates-icon.png" class="headericon">
		<h1>View / Edit Estimate <?php
			if ($this->user->Cyberny_Users_ID) {
				?>
				:: <a href="/estimates/list/clientID/<?=$this->estimate['client_id']?>"><?=$this->estimate['ClientName']?></a>
			<?php
			}
			?>
		</h1>
		<ul class="buttons" style="float: right;">
			<li><a href="/estimates/delete/id/<?=$this->estimate['id']?>" onclick="return confirm('Are you sure you want to delete this estimate? This can not be undone!');" class="search-button">Delete</a></li>
			<li><a href="/estimates/edit/clientID/<?=$this->estimate['client_id']?>/id/<?=$this->estimate['id']?>" class="search-button dialog pop-modal" data-pop-up="edit-ticket">Edit</a></li>
			<li><a href="/estimates/list/clientID/<?=$this->estimate['client_id']?>" class="search-button">Back</a></li>
		</ul>
	</div>
	<div class="tview-info cf">
		<ul>
			<li class="first-child"><span class="title">Estimate Name: </span>
				<?=$this->estimate['summary']?></li>
			<li><span class="title">Date Entered: </span><?=date("m/d/y \<\s\p\a\\n\>g:ia\<\/\s\p\a\\n\>",strtotime($this->estimate['created']))?></li>
			<li><span class="title">Status: </span> <span class=""><?=$this->estimate['status']?></span></li>
			<li><span class="title">Page Name or URL: </span> <a href="<?=$estimate->formatUrl($this->estimate['url'])?>" target="_blank"><?=$this->estimate['url']?></a></li>
		</ul>
		<ul>
			<li><span class="title">Description:</span>
				<div id="html_content">
					<?php
					if (strip_tags($this->estimate['description']) == $this->estimate['description'])
						echo "<p>".nl2br(htmlentities($this->estimate['description']))."</p>";
					else echo preg_replace('@<script[^>]*?.*?</script>@siu',"",$this->estimate['description']);
					?>
				</div>
			</li>
			<li><span class="title">Type: </span></span>  <span class="subtitle3"><?=$this->estimate['type']?></span></li>
		</ul>
	</div>
</div>


<div class="tview-section cf" style="margin-top: 20px;">
	<div class="tview-header"><img src="/images/estimates-icon.png" class="headericon" alt="Estimate Notes"><h1>Estimate Notes</h1>

		<a href="/estimates/addnote/id/<?=$this->estimate['id']?>" title="Add Note" class="pop-modal dialog add-note addnote" data-pop-up="add-note"><img src="/images/add-note.png" alt="Add Note"></a>
	</div>
	<div class="tview-info cf" id="noteList">
		<?php
		foreach ($this->notes as $note) {
			$role_class = ($note['Roles'] == "administrator") ? "2" : "";
			?>
			<div class="notetable" id="note_<?=$note['id']?>">
				<span class="note_id hide"><?=$note['id']?></span>
				<div class="noteheader<?=$role_class?>">
					<div id="notedate">
						<span class="noteheader-datetitle<?=$role_class?>">Date Sent:</span>
						<span class="noteheader-date<?=$role_class?>"><?=date("n/j/y",strtotime($note['created']))?><span class="noteheader-time"><?=date("g:ia",strtotime($note['created']))?></span> <a onclick="removeNote('<?=$note['id']?>')" class="note-closer">x</a></span>
					</div>
					<span class="noteheader-title<?=$role_class?>"><?=$note['name']?> Said...</span>
				</div>
				<div class="noteheader-body">
					<p><?=nl2br($note['message'])?></p>
					<?php
					if ($note['attachment'] && file_exists($_SERVER['DOCUMENT_ROOT'].$this->attachment_path.$note['attachment'])) {
						echo "<div class='attachment'><a href='".$this->attachment_path.$note['attachment']."' target='_blank'>Download Attachment</a></div>";
					}
					?>
				</div>
			</div>

		<?php
		}
		?>
		<div class="centerDiv width-155"><a href="/estimates/addnote/id/<?=$this->estimate['id']?>" title="Add Note" class="pop-modal dialog add-note" data-pop-up="add-note"><img src="/images/add-note-button.jpg" alt="Add Note"></a></div>
	</div>
</div>


<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		setInterval(updateNotes,60000); //1 minute
	});

	function updateNotes() {
		$.getJSON("/estimates/updatenotes/", { last_note: $("#noteList .note_id:first").html(), estimate: "<?=$this->estimate['id']?>" }, function(data){
			$.each(data.items, function(i,item){
				var attachment = "";
				if (item.attachment != "") attachment = "<div class='attachment'><a href='"+item.attachment+"' target='_blank'>Download Attachment</a></div>";
				$("#noteList").prepend('<div class="notetable hide" id="note_'+item.id+'"><span class="note_id hide">'+item.id+'</span><div class="noteheader'+item.role+'"><div id="notedate"><span class="noteheader-datetitle">Date Sent:</span><span class="noteheader-date">'+item.created+'<span class="noteheader-time">'+item.time+'</span> <a onclick="removeNote('+item.id+')" class="note-closer">x</a></span></div><span class="noteheader-title">'+item.name+' Said...</span></div><div class="noteheader-body'+item.role+'"><p>'+item.message+'</p>'+attachment+'</div></div>');
				$("#note_"+item.id).slideDown(1000);
			});
		});
	}

	function removeNote(note_id) {
		var del = confirm("Are you sure you want to delete this note?");

		if (del) {
			$("#note_"+note_id).effect("explode",1000).remove();
			$.post("/estimates/deletenote", { note_id: note_id } );
		}
	}
</script>