<h2>Edit Member</h2>
<ul class="navigation">
	<li><a class="btn_back" href="/admin/members">Back</a></li>
	<!--<li><a class="btn_export" href="">Export</a></li>-->
</ul>
<div style="clear: both;"></div>

<form id="userForm" method="post" action="/admin/members/save/id/<?=$this->id?>">
<div class="datatable">
	<table id="mediamanagertable">
		<thead>
			<tr class="header">
				<th width="125" class="first">
					General Account Info
				</th>
				<th width="575"></th>
				<th class="lastrow"></th>
			</tr>
		</thead>
		<tfoot>
			<tr class="footer">
				<td colspan="4">&nbsp;</td>
			</tr>
		</tfoot>
		<tbody>
			<tr class="shadeoff">
				<td class="firstrow">Username:</td>
				<td>
					<input type="text" name="data[login_username]" value="<?=$this->user['login_username']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Password:</td>
				<td>
					<input type="text" name="data[login_password]" value="<?=$this->user['login_password']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Reset Code:</td>
				<td>
					<input type="text" name="data[reset_code]" value="<?=$this->user['reset_code']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Reset Expire:</td>
				<td>
					<input type="text" name="data[reset_expire]" value="<?=$this->user['reset_expire']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="datatable">
	<table id="mediamanagertable">
		<thead>
			<tr class="header">
				<th width="125" class="first">
					Partner 1
				</th>
				<th width="575"></th>
				<th class="lastrow"></th>
			</tr>
		</thead>
		<tfoot>
			<tr class="footer">
				<td colspan="4">&nbsp;</td>
			</tr>
		</tfoot>
		<tbody>
			<tr class="shadeoff">
				<td class="firstrow">First Name:</td>
				<td>
					<input type="text" name="data[partner1_first_name]" value="<?=$this->user['partner1_first_name']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Last Name:</td>
				<td>
					<input type="text" name="data[partner1_last_name]" value="<?=$this->user['partner1_last_name']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Birthday:</td>
				<td>
					<input type="text" name="data[partner1_birthday]" value="<?=$this->user['partner1_birthday']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Email:</td>
				<td>
					<input type="text" name="data[partner1_email]" value="<?=$this->user['partner1_email']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Gender:</td>
				<td>
					<input type="text" name="data[partner1_gender]" value="<?=$this->user['partner1_gender']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Political Party:</td>
				<td>
					<input type="text" name="data[partner1_political_party]" value="<?=$this->user['partner1_political_party']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Occupation:</td>
				<td>
					<input type="text" name="data[partner1_occupation]" value="<?=$this->user['partner1_occupation']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
		</tbody>
	</table>
</div>


<div class="datatable">
	<table id="mediamanagertable">
		<thead>
			<tr class="header">
				<th width="125" class="first">
					Partner 2
				</th>
				<th width="575"></th>
				<th class="lastrow"></th>
			</tr>
		</thead>
		<tfoot>
			<tr class="footer">
				<td colspan="4">&nbsp;</td>
			</tr>
		</tfoot>
		<tbody>
			<tr class="shadeoff">
				<td class="firstrow">First Name:</td>
				<td>
					<input type="text" name="data[partner2_first_name]" value="<?=$this->user['partner2_first_name']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Last Name:</td>
				<td>
					<input type="text" name="data[partner2_last_name]" value="<?=$this->user['partner2_last_name']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Birthday:</td>
				<td>
					<input type="text" name="data[partner2_birthday]" value="<?=$this->user['partner2_birthday']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Email:</td>
				<td>
					<input type="text" name="data[partner2_email]" value="<?=$this->user['partner2_email']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Gender:</td>
				<td>
					<input type="text" name="data[partner2_gender]" value="<?=$this->user['partner2_gender']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Political Party:</td>
				<td>
					<input type="text" name="data[partner2_political_party]" value="<?=$this->user['partner2_political_party']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Occupation:</td>
				<td>
					<input type="text" name="data[partner2_occupation]" value="<?=$this->user['partner2_occupation']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
		</tbody>
	</table>
</div>


<div class="datatable">
	<table id="mediamanagertable">
		<thead>
			<tr class="header">
				<th width="125" class="first">
					Additional Info
				</th>
				<th width="575"></th>
				<th class="lastrow"></th>
			</tr>
		</thead>
		<tfoot>
			<tr class="footer">
				<td colspan="4">&nbsp;</td>
			</tr>
		</tfoot>
		<tbody>
			<tr class="shadeoff">
				<td class="firstrow">Relationship:</td>
				<td>
					<input type="text" name="data[partner_relationship]" value="<?=$this->user['partner_relationship']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">City:</td>
				<td>
					<input type="text" name="data[location_city]" value="<?=$this->user['location_city']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">State:</td>
				<td>
					<input type="text" name="data[location_state]" value="<?=$this->user['location_state']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Zip Code:</td>
				<td>
					<input type="text" name="data[location_postal_code]" value="<?=$this->user['location_postal_code']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Geo-Location:</td>
				<td>
					<input type="text" name="data[location_lat]" value="<?=$this->user['location_lat']?>">, <input type="text" name="data[location_lon]" value="<?=$this->user['location_lon']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Looking For:</td>
				<td>
					<input type="text" name="data[looking_for]" value="<?=$this->user['looking_for']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Interests:</td>
				<td>
					<input type="text" name="data[interests]" value="<?=$this->user['interests']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Drinking:</td>
				<td>
					<input type="text" name="data[drinking]" value="<?=$this->user['drinking']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Smoking:</td>
				<td>
					<input type="text" name="data[smoking]" value="<?=$this->user['smoking']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Have Children:</td>
				<td>
					<input type="text" name="data[children]" value="<?=$this->user['children']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Number of Children:</td>
				<td>
					<input type="text" name="data[num_children]" value="<?=$this->user['num_children']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Age of Children:</td>
				<td>
					<input type="text" name="data[age_of_children]" value="<?=$this->user['age_of_children']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">About Us:</td>
				<td>
					<textarea name="data[about_us]" rows="10" cols="50"><?=$this->user['about_us']?></textarea>
				</td>
				<td class="lastrow"></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="datatable">
	<table id="mediamanagertable">
		<tr class="shadeoff">
			<td class="firstrow"><input type="submit" value="Save"></td>
			<td></td>
			<td class="lastrow"></td>
		</tr>
	</table>
</div>
</form>

<ul class="navigation">
	<li><a class="btn_back" href="/admin/members">Back</a></li>
	<!--<li><a class="btn_export" href="">Export</a></li>-->
</ul>
<div style="clear: both;"></div>