<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<h2>Member Manager</h2>
<div style="clear: both;"></div>

<div id="search_wrapper">
	<div id="searchcopy">
		<form method="post" action="">
			<p class="row1">
				<label>Search:</label><input type="text" name="mask" style="margin-right: 18px; width: 180px;" value="<?=$this->mask?>">

				<label>Date Range:</label>
				<input type="text" class="date-pick" name="date_from" value="<?=$this->date_from?>"><label>to</label><input type="text" class="date-pick" name="date_to" value="<?=$this->date_to?>">

			</p>
			<div style="clear: both;"></div>
			<p class="row2">
				<label>Relationship:</label>
				<?=$this->formSelect('relationship', $this->relationship, array('id'=>'relationship'), array(""=>"")+$this->relationships)?>

				<input type="submit" class="submit_btn" value="Search">

				<input type="checkbox" name="csv" value="1" class="exportcheck" style="width: 15px;"><label>Export</label>
			</p>
		</form>
	</div>
</div>

<div style="clear: both;"></div>
<?php echo $this->paginationControl($this->userList, 'Sliding', 'pagination_control.phtml'); ?>

<div id="results_wrapper">
	<div class="datatable">
		<table>
			<thead>
				<tr class="header">
					<th class="first"><a href="/admin/members/list/sort/partner1_last_name/dir/<?=$dir?>">Partner 1 Name</a></th>
					<th class="first"><a href="/admin/members/list/sort/partner2_last_name/dir/<?=$dir?>">Partner 2 Name</a></th>
					<th><a href="/admin/members/list/sort/login_username/dir/<?=$dir?>">Username</a></th>
					<th><a href="/admin/members/list/sort/partner_relationship/dir/<?=$dir?>">Relationship</a></th>
					<th><a href="/admin/members/list/sort/last_login/dir/<?=$dir?>">Last Login</a></th>
					<th><a href="/admin/members/list/sort/created/dir/<?=$dir?>">Created</a></th>
					<th>View</th>
					<th>Edit</th>
					<th class="last action">Delete</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="9"></td>
				</tr>
			</tfoot>
			<tbody>
			<?php
			$shade = true;
			foreach($this->userList as $key => $val) {
				if($shade)
					$class = 'shadeoff';
				else
					$class = 'shadeon';
				$shade = !$shade;
			?>
				<tr class="<?=$class?>">
					<td class="firstrow"><a class="blue" href="/admin/members/view/user_id/<?=$val['id']?>"><?=$val['partner1_last_name'].', '.$val['partner1_first_name']?></a></td>
					<td><a class="blue" href="/admin/members/view/user_id/<?=$val['id']?>"><?=$val['partner2_last_name'].', '.$val['partner2_first_name']?></a></td>
					<td><?=$val['login_username']?></td>
					<td><?=$val['partner_relationship']?></td>
					<td><?=($val['last_login'] != 0) ? date("n/j/Y g:ia",strtotime($val['last_login'])) : ""?></td>
					<td><?=($val['created'] != 0) ? date("n/j/Y g:ia",strtotime($val['created'])) : ""?></td>
					<td><a href="/admin/members/view/user_id/<?=$val['id']?>" title="View" class="btn_view">View</a></td>
					<td><a href="/admin/members/edit/user_id/<?=$val['id']?>" title="Edit" class="btn_edit">Edit</a></td>
					<td class="lastrow"><a href="/admin/members/delete/user_id/<?=$val['id']?>" title="Delete" class="btn_delete" onclick="return confirm('Are you sure you want to delete this entry?')">Delete</a></td>
				</tr>
			<?php
			}
			?>
			</tbody>
		</table>
	</div>
</div>

<?php echo $this->paginationControl($this->userList, 'Sliding', 'pagination_control.phtml'); ?>

<script type="text/javascript" charset="utf-8">
Date.format = 'mm/dd/yyyy';
$(document).ready(function() {
	$('.date-pick').datePicker({clickInput:true, startDate:'01/01/1996'});
});
</script>