<h2>View Member</h2>
<ul class="navigation">
	<li><a class="btn_back" href="/admin/members">Back</a></li>
	<li><a class="btn_export" href="/admin/members/export/id/<?=$this->user['id']?>">Export</a></li>
</ul>
<div style="clear: both;"></div>

<div class="datatable">
	<table id="mediamanagertable">
		<thead>
			<tr class="header">
				<th width="125" class="first">
					General Account Info
				</th>
				<th width="575"></th>
				<th class="lastrow"></th>
			</tr>
		</thead>
		<tfoot>
			<tr class="footer">
				<td colspan="4">&nbsp;</td>
			</tr>
		</tfoot>
		<tbody>
			<tr class="shadeoff">
				<td class="firstrow">Username:</td>
				<td>
					<?=$this->user['login_username']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Password:</td>
				<td>
					<?=$this->user['login_password']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Reset Code:</td>
				<td>
					<?=$this->user['reset_code']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Reset Expire:</td>
				<td>
					<?=$this->user['reset_expire']?>
				</td>
				<td class="lastrow"></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="datatable">
	<table id="mediamanagertable">
		<thead>
			<tr class="header">
				<th width="125" class="first">
					Partner 1
				</th>
				<th width="575"></th>
				<th class="lastrow"></th>
			</tr>
		</thead>
		<tfoot>
			<tr class="footer">
				<td colspan="4">&nbsp;</td>
			</tr>
		</tfoot>
		<tbody>
			<tr class="shadeoff">
				<td class="firstrow">First Name:</td>
				<td>
					<?=$this->user['partner1_first_name']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Last Name:</td>
				<td>
					<?=$this->user['partner1_last_name']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Birthday:</td>
				<td>
					<?=$this->user['partner1_birthday']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Email:</td>
				<td>
					<?=$this->user['partner1_email']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Gender:</td>
				<td>
					<?=$this->user['partner1_gender']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Political Party:</td>
				<td>
					<?=$this->user['partner1_political_party']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Occupation:</td>
				<td>
					<?=$this->user['partner1_occupation']?>
				</td>
				<td class="lastrow"></td>
			</tr>
		</tbody>
	</table>
</div>


<div class="datatable">
	<table id="mediamanagertable">
		<thead>
			<tr class="header">
				<th width="125" class="first">
					Partner 2
				</th>
				<th width="575"></th>
				<th class="lastrow"></th>
			</tr>
		</thead>
		<tfoot>
			<tr class="footer">
				<td colspan="4">&nbsp;</td>
			</tr>
		</tfoot>
		<tbody>
			<tr class="shadeoff">
				<td class="firstrow">First Name:</td>
				<td>
					<?=$this->user['partner2_first_name']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Last Name:</td>
				<td>
					<?=$this->user['partner2_last_name']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Birthday:</td>
				<td>
					<?=$this->user['partner2_birthday']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Email:</td>
				<td>
					<?=$this->user['partner2_email']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Gender:</td>
				<td>
					<?=$this->user['partner2_gender']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Political Party:</td>
				<td>
					<?=$this->user['partner2_political_party']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Occupation:</td>
				<td>
					<?=$this->user['partner2_occupation']?>
				</td>
				<td class="lastrow"></td>
			</tr>
		</tbody>
	</table>
</div>


<div class="datatable">
	<table id="mediamanagertable">
		<thead>
			<tr class="header">
				<th width="125" class="first">
					Additional Info
				</th>
				<th width="575"></th>
				<th class="lastrow"></th>
			</tr>
		</thead>
		<tfoot>
			<tr class="footer">
				<td colspan="4">&nbsp;</td>
			</tr>
		</tfoot>
		<tbody>
			<tr class="shadeoff">
				<td class="firstrow">Relationship:</td>
				<td>
					<?=$this->user['partner_relationship']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">City:</td>
				<td>
					<?=$this->user['location_city']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">State:</td>
				<td>
					<?=$this->user['location_state']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Zip Code:</td>
				<td>
					<?=$this->user['location_postal_code']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Geo-Location:</td>
				<td>
					<?=$this->user['location_lat']?>, <?=$this->user['location_lon']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Looking For:</td>
				<td>
					<?=$this->user['looking_for']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Interests:</td>
				<td>
					<?=$this->user['interests']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Drinking:</td>
				<td>
					<?=$this->user['drinking']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Smoking:</td>
				<td>
					<?=$this->user['smoking']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Have Children:</td>
				<td>
					<?=$this->user['children']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Number of Children:</td>
				<td>
					<?=$this->user['num_children']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Age of Children:</td>
				<td>
					<?=$this->user['age_of_children']?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">About Us:</td>
				<td>
					<?=$this->user['about_us']?>
				</td>
				<td class="lastrow"></td>
			</tr>
		</tbody>
	</table>
</div>


<ul class="navigation">
	<li><a class="btn_back" href="/admin/members">Back</a></li>
	<li><a class="btn_export" href="/admin/members/export/id/<?=$this->user['id']?>">Export</a></li>
</ul>
<div style="clear: both;"></div>