<div class="add-note-modal modal">
	<form action="/concept/addnote" method="post" id="noteForm">
		<div class="modal-head"><h1> Add Note</h1></div>
		<div class="modal-content" style="overflow:inherit !important;">

			<input type="hidden" name="id" value="<?=$this->id?>">
			<input type="hidden" name="concept_id" value="<?=$this->concept_id?>">
			<input type="hidden" name="add_like" id="add_like" value="">
			<input type="hidden" name="add_approval" id="add_approval" value="">
			<input type="hidden" name="add_final" id="add_final" value="">


			<label>Note:</label><textarea name="Description" id="description"></textarea>


			<div class="">
				<input type="submit" class="btn-addnote1" name="Add Note" id="Add Note" value="" />
				<div class="conceptLike" onclick="addLike()" style="float:left;margin:4px 0;">Like</div>
				<div class="conceptApprove" onclick="addApproval()" style="float:left;margin:4px 0;">Approve</div>
				<div class="conceptApprove" onclick="addFinalApproval()" style="float:left;margin:4px 0;width:160px;">Final Approve</div>
			</div>

			<div class="concept_notes" style="height:300px;overflow: auto;">
				<table id="addnote_notelist">
					<tbody id="noteList">
					<?php
						foreach ($this->notes as $note) {
						$role_class = ($note['Roles'] == "administrator") ? "2" : "";
					?>
						<tr id="note_<?=$note['id']?>">
							<td colspan="2">
								<span class="note_id hide"><?=$note['id']?></span>
								<div id="notetable">
									<div class="noteheader<?=$role_class?>">
										<span class="noteheader-title"><?=$note['name']?> Said...</span>
										<div id="notedate">
											<span class="noteheader-datetitle">Date Sent:</span>
											<span class="noteheader-date"><?=date("n/j/y",strtotime($note['created']))?><img src="/images/icon-delete.gif" hspace="10" border="0" onclick="removeNote('<?=$note['id']?>')"></span>
										</div>
									</div>
									<div class="noteheader-body<?=$role_class?>">
										<p><?=nl2br($note['note'])?></p>
									</div>
								</div>
							</td>
						</tr>
					<?php
					}
					?>
					</tbody>
				</table>
			</div>
		</div>
	</form>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#description").focus();

	$('#noteForm').bind('submit', function() {
		$(this).ajaxSubmit({
			success:    function() {
				parent.closeBPopup();
			}
		});
		return false; // <-- important!
	});

/*
	$("#noteForm").validate({
		rules: {
			Description: "required"
		},
		messages: {
			Description: "Description required"
        }
	});
*/
});
function addLike() {
	$("#add_like").val("add");
	$('#noteForm').submit();
}
function addApproval() {
	$("#add_approval").val("approve");
	$('#noteForm').submit();
}
function addFinalApproval() {
	$("#add_final").val("final");
	$('#noteForm').submit();
}
</script>