<!--[if IE 7]><style>#slideshow #images {width:99%!important;overflow:hidden!important;}</style><![endif]-->
<?php
//only works since we have 1 image. Not sure proper way to get id of object from paginator object
foreach($this->images as $key => $image) {
	$image_id = $image['id'];
}
?>

<div id="hd">
	<div id="logo">
		<h1><a href="/"><span style="display:none;">Cyber-NY</span></a></h1>
	</div>
	<div id="float-right">
		<h2><?=$this->concept['name']?></h2>
	</div>
	<div id="size">
	</div>
</div>
<div id="nav-wrapper">
	<div id="nav">
		<div id="float-left">
			<h2><?=$this->concept['ClientName']?></h2>
		</div>
		<div id="float-right">
			<h3>Approved Concepts Gallery <span id="pageNum"></span></h3>
			<h4></h4>
		</div>
		<div id="mid_wrapper">
			<div class="slide_pagination">
				<a id="prev" href="#">[previous]</a>
				<span class="pagination_controls"></span>
				<a id="next" href="#">[next]</a>
			</div>
		</div>
	</div>
</div>

<div id="bd">
	<div id="content-wrap">
		<br>
		<div id="wrapper">
			<div id="images">
				<?php
				foreach($this->images as $key => $image) {
					//explicitely set width and height of images so IE doesn't make container to small when set to auto.
					list($width, $height) = getimagesize($_SERVER['DOCUMENT_ROOT'].$this->concept_path.$this->concept['id']."/".$image['src']);
				?>
					<img imgID="<?=$image['id']?>" src="<?=$this->concept_path.$this->concept['id']."/".$image['src']?>" height="<?=$height?>" width="<?=$width?>">
				<?php
				}
				?>
			</div>
		</div>
	</div>
</div>

<div id="ft-break"></div>
<div id="nav">
	<div id="mid_wrapper">
		<div class="slide_pagination">
			<a id="prev" href="#">[previous]</a>
			<span class="pagination_controls"></span>
			<a id="next" href="#">[next]</a>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	var index = 0, hash = window.location.hash;
	if (hash) {
		index = /\d+/.exec(hash)[0];
		index = (parseInt(index) || 1) - 1; // slides are zero-based
	}

	$('#images').cycle({
		fx:			'turnLeft',
		pager:		'.pagination_controls',
		speed:		500,
		next:		'#images, #next',
		prev:		'#prev',
		timeout:	0,
		startingSlide: index,
		pagerAnchorBuilder: function(idx, slide) {
			return '<a href="#">['+(idx+1)+']</a>';
    	},
    	after:		onAfter
	});
});

function onAfter(curr, next, opts) {
    var index = opts.currSlide;
    $('#prev')[index == 0 ? 'hide' : 'show']();
    $('#next')[index == opts.slideCount - 1 ? 'hide' : 'show']();

    $("#pageNum").html(index+1);

    window.location.hash = opts.currSlide + 1;
}
</script>