<?php
//only works since we have 1 image. Not sure proper way to get id of object from paginator object
foreach($this->images as $key => $image) {
	$image_id = $image['id'];
}
?>

<div id="hd">
	<div id="logo">
		<h1><a href="/"><span style="display:none;">Cyber-NY</span></a></h1>
	</div>
	<div id="myrs-float-right">
		<h2><?=$this->concept['title']?></h2>
	</div>
	<div id="size">
		<?=$this->width?>
	</div>
</div>
<div id="nav-wrapper">
	<div id="nav">
		<div id="myrs-float-left">
			<h2><?=$this->concept['ClientName']?></h2>
		</div>
		<div id="myrs-float-right">
			<h3><?=$this->concept['name']?></h3>
			<h4>Round <?=$this->concept['round']?></h4>
		</div>
		<div id="mid_wrapper">
		<?php
		if ($this->user) {
		?>
			<a class="addnote dialog" title="Add Note" href="/concept/addnote/concept_id/<?=$this->concept['id']?>/id/<?=$image_id?>"></a>
		<?php
		}
		?>
			<?php echo $this->paginationControl($this->images, 'Sliding', 'pagination_control.phtml'); ?>
		</div>
	</div>
</div>

<div id="bd">
	<div id="content-wrap">
		<br>
		<div id="wrapper">
			<?php
			foreach($this->images as $key => $image) {
			?>
				<a href="/concept/display2/concept_id/<?=$this->concept['id']?>/page/<?=$this->next?>">
					<img src="<?=$this->concept_path.$this->concept['id']."/".$image['src']?>">
				</a>
			<?php
			}
			?>
		</div>
	</div>
</div>

<div id="ft-break"></div>
<div id="nav">
	<div id="mid_wrapper">
		<?php echo $this->paginationControl($this->images, 'Sliding', 'pagination_control.phtml'); ?>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#wrapper").css("display", "none");
	$("#wrapper").fadeIn(2000);
});

function removeNote(note_id) {
	var del = confirm("Are you sure you want to delete this note?");

	if (del) {
		$("#note_"+note_id).effect("explode",1000).remove();
		$.post("/concepts/deletenote", { note_id: note_id } );
	}
}
</script>