<!--[if IE 7]><style>#slideshow #images {width:99%!important;overflow:hidden!important;}</style><![endif]-->
<?php
//only works since we have 1 image. Not sure proper way to get id of object from paginator object
foreach($this->images as $key => $image) {
	$image_id = $image['id'];
}
?>

<div id="hd">
	<div id="logo">
		<h1><a href="/"><span style="display:none;">Cyber-NY</span></a></h1>
	</div>
	<div id="float-right">
		<h2><?=$this->concept['ClientName']?></h2>
	</div>
	<div id="size">
		<?=$this->width?>
	</div>
</div>
<div id="nav-wrapper">
	<div id="nav">
		<div id="float-left">
			<h2><?=$this->concept['title']?></h2>
		</div>
		<div id="float-right">
			<h3><?=$this->concept['name']?> <span id="pageNum"></span></h3>
			<h4>Round <?=$this->concept['round']?></h4>
		</div>
			<div id="mid_wrapper">
		<?php
		if ($this->user) {
		?>
		<a class="pop-modal dialog add-note blue-btn" data-pop-up="concepts-add-note" title="Add Note" href="/concepts/addnote/concept_id/98/id/291">
								<img alt="Add Note" src="/images/add-note.png">
							</a>
		<?php
		}
		//else {
		//	echo '<a class="addnote dialog" title="Login" href="/concept/login"></a>';
		//}
		?>
			<div class="slide_pagination">
				<a id="prev" href="#"><i class="fa fa-angle-left"></i> prev</a>
				<span class="pagination_controls"></span>
				<a id="next" href="#">next <i class="fa fa-angle-right"></i></a>
			</div>
		</div>	
	</div>
</div>

<div id="bd">
	<div id="content-wrap">
		<br>
		<div id="wrapper">
			<div id="images">
				<?php
				foreach($this->images as $key => $image) {
					//explicitely set width and height of images so IE doesn't make container to small when set to auto.
					list($width, $height) = getimagesize($_SERVER['DOCUMENT_ROOT'].$this->concept_path.$this->concept['id']."/".$image['src']);
				?>
					<img imgID="<?=$image['id']?>" src="<?=$this->concept_path.$this->concept['id']."/".$image['src']?>" height="<?=$height?>" width="<?=$width?>">
				<?php
				}
				?>
			</div>
		</div>
	</div>
</div>

<div id="ft-break"></div>
<div id="nav">
	<div id="mid_wrapper">
		<div class="slide_pagination">
			<a id="prev" href="#"> prev</a>
			<span class="pagination_controls"></span>
			<a id="next" href="#">next</a>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	var index = 0, hash = window.location.hash;
	if (hash) {
		index = /\d+/.exec(hash)[0];
		index = (parseInt(index) || 1) - 1; // slides are zero-based
	}

	$('#images').cycle({
		fx:			'turnLeft',
		pager:		'.pagination_controls',
		speed:		500,
		next:		'#images, #next',
		prev:		'#prev',
		timeout:	0,
		startingSlide: index,
		pagerAnchorBuilder: function(idx, slide) {
			return '<a href="#">'+(idx+1)+'</a>';
    	},
    	after:		onAfter
	});
});

function onAfter(curr, next, opts) {
    var index = opts.currSlide;
    $('#prev')[index == 1 ? 'hide' : 'show']();
    $('#next')[index == opts.slideCount - 1 ? 'hide' : 'show']();

    $("#note_link").attr("href","/concept/addnote/concept_id/<?=$this->concept['id']?>/id/"+$(next).attr("imgID"));
    $("#pageNum").html(index+1);

    window.location.hash = opts.currSlide + 1;
}

function removeNote(note_id) {
	var del = confirm("Are you sure you want to delete this note?");

	if (del) {
		$("#note_"+note_id).effect("explode",1000).remove();
		$.post("/concepts/deletenote", { note_id: note_id } );
	}
}
</script>