<form method="POST" action="/auth/identify" id="loginForm" class="myrs-form">
<?php echo $this->loginform->username ?>
<?php echo $this->loginform->password?>

<p class="myrs-form-actions">
	<input type="submit" value="Log In" />
	or <a href="/auth/forgot">Forgot Password</a>
</p>
<center style="color:#ff0000;font-weight:bold"><?php echo @$this->error ?></center>
<?php echo $this->message ?>
</form>


<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#username").focus();

	$("#loginForm").validate({
		rules: {
			"username": "required",
			"password": "required"
		},
		messages: {
			"username": "<br/>Username required",
			"password": "<br/>Password required"
        }
	});

	$('#loginForm').bind('submit', function() {
		$(this).ajaxSubmit({
			success:    function() {
				$("#dialog").dialog('close');
			}
		});
		return false; // <-- important!
	});
});
</script>