<div class="add-ticket-modal modal<?php if ($this->user->cyber_user == 'yes') { echo " condense-font"; } ?>">
	<form action="/tickets/add" method="post" id="addForm">
		<div class="modal-head"><h1> Add Ticket</h1></div>
		<div class="modal-content">
			<div class="error"><span></span></div>

			<?php
			if ($this->user->cyber_user == 'yes') {
				?>
				<label>Client:</label>
				<div class="ui-autocomplete-wrap">
					<?=$this->formSelect('data[clientID]', '', array('id'=>'clientID', 'class'=>'form-field'), $this->clients)?>
				</div>
			<?php
			}
			?>

			<label>Job Code:</label><input type="text" name="data[job_code]">
			<label>Ticket Name:</label><input type="text" name="data[summary]">
			<label>Page Name or URL:</label><input type="text" name="data[url]">
			<label>Description:</label><textarea name="data[description]" class="tinymce"></textarea>
			<div class="tix-options">
				<?=$this->formSelect('data[priority]', $this->ticket['priority'], array('id'=>'priority', 'style'=>'width:190px;float:left;', 'class'=>'form-field'), array(""=>"Priority")+$this->priorities)?>

				<select name="data[type]" id="type" class="form-field" style="width:190px;  float:right;">
					<option value="">Ticket Type</option>
					<option value="Enhancement">Enhancement</option>
					<option value="Defect">Defect</option>
					<option value="Question">Question</option>
				</select>
			</div>
			<div id="form-at-buttonwrap">
				<input type="submit" class="btn-addticket3" name="Add Ticket" value="">
			</div>
		</div>
	</form>
</div>

<style>
	/* ComboBox special overwrites */
	.ui-autocomplete-input { width:375px!important; }
	.ui-autocomplete { width:350px; }
</style>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#clientID").combobox();

	jQuery.validator.messages.required = "";
	$("#addForm").validate({
		rules: {
			"data[clientID]": "required",
			"data[summary]": "required",
			"data[description]": "required",
			"data[priority]": "required",
			"data[type]": "required"
		},
		messages: {
			"data[summary]": "Name required",
			"data[description]": "Description required",
			"data[priority]": "Set priority",
			"data[type]": "Set ticket type"
        },
		invalidHandler: function(e, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				var message = errors == 1
					? 'You missed 1 field. It has been highlighted below'
					: 'You missed ' + errors + ' fields.  They have been highlighted below';
				$("div.error span").html(message);
				$("div.error").show();
			} else {
				$("div.error").hide();
			}
		}
	});

	tinymce.init({
		width : "600",
		selector: "textarea.tinymce",
		plugins: [
			"autolink lists link image",
			"searchreplace visualblocks",
			"contextmenu paste " //spellchecker (doesn't work)
		],
		toolbar: "bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | cut copy paste | link | undo redo | searchreplace | forecolor | spellchecker ",
		relative_urls : false,
		menubar: false,
		toolbar_items_size: 'small'
	});
});
</script>