<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
$ticket = new Cny_Model_Ticket();
?>


<div class="tickets-system tickets-list cf">
	<div class="system-menu">
		<form method="post" action="">
			<p class="row1 archive-search">
				<label>Search:</label><input type="text" name="mask" class="search-box" value="<?=$this->mask?>">

				<label>Date Range:</label>
				<input type="text" class="date-pick search-box" name="date_from" value="<?=$this->date_from?>"><label>to</label>
				<input type="text" class="date-pick search-box" name="date_to" value="<?=$this->date_to?>">

				<input type="submit" class="submit_btn search-button" value="Search" style="margin-left: 10px;">
			</p>
			<div style="clear: both;"></div>
		</form>
	</div>
			<form method="post" action="/tickets/status/clientID/<?=$this->clientID?>">
			<div class="table-wrap">
			<table class="centerTable system">
				<tbody>
					<tr class="tickets-header">
						<th class="th-center"><a href="/tickets/archive/sort/t.id/dir/<?=$dir?>/clientID/<?=$this->clientID?>">Num.</a></th>
						<th><a href="/tickets/archive/sort/t.summary/dir/<?=$dir?>/clientID/<?=$this->clientID?>">Ticket Name</a></th>
						<th><a href="/tickets/archive/sort/UserName/dir/<?=$dir?>/clientID/<?=$this->clientID?>">Issued By:</a></th>
						<th><a href="/tickets/archive/sort/t.created/dir/<?=$dir?>/clientID/<?=$this->clientID?>">Entry Date</a></th>
						<th><a href="/tickets/archive/sort/t.duedate/dir/<?=$dir?>/clientID/<?=$this->clientID?>">Due Date</a></th>
						<th class="th-center">Priority</th>
						<th class="th-center">Status</th>
						<th class="th-center">View</th>
					</tr>
					<?php
				foreach($this->tickets as $key => $val) {
					$statusInfo = $ticket->statusInfo($val['status']);
					$priorityInfo = $ticket->priorityInfo($val['priority']);
				?>
					<tr>
						<td align="center"><?=$val['id']?></td>
						<td width="300"><a href="/tickets/view/clientID/<?=$val['ClientID']?>/id/<?=$val['id']?>"><?=$val['summary']?></a></td>
						<td><?=$val['UserName']?></td>
						<td><?=$val['created']?></td>
						<td><?=$val['duedate']?></td>
						<td align="center"><div id="ticket_priority_<?=$priorityInfo['image']?>" title="<?=$val['priority']?>"></div></td>
						<td align="center"><div class="fa ticket-status-<?=$statusInfo['image']?>" title="<?=$val['status']?>"></div></td>
						<td align="center"><a href="/tickets/view/clientID/<?=$val['ClientID']?>/id/<?=$val['id']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>
			<?php echo $this->paginationControl($this->tickets, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
			</form>
			
		</div>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$(".date-pick").datepicker();
});
</script>