<div class="add-ticket-modal modal">
	<div class="modal-head"><h1> Edit Ticket</h1></div>
	<div class="modal-content">
		<div class="error"><span></span></div>

		<form action="/tickets/edit/id/<?=$this->ticket['id']?>" method="post" id="editForm" target="_parent">

		<label>Ticket Name:</label>
		<input type="text" name="data[summary]" value="<?=$this->escape($this->ticket['summary'])?>" />

		<?php
		if ($this->user->cyber_user == 'yes') {
			?>
			<label>Client:
				<?=$this->formSelect('clientID', $this->ticket['clientID'], array('id'=>'clientID', 'style'=>'width:190px;', 'class'=>'form-field'), $this->clients)?>
			</label>
		<?php
		}else {
			echo "<input type='hidden' name='data[clientID]' value='{$this->ticket['clientID']}'>";
		}
		?>

		<label>Job Code:</label>
		<input type="text" name="data[job_code]" value="<?=$this->ticket['job_code']?>" style="width:145px;">

		<label>Due Date:</label>
		<?php
		if ($this->user->cyber_user == 'yes') {
		?>
			<input type="text" name="data[duedate]" class="date-pick" style="width:150px;" value="<?=($this->ticket['duedate']) ? date("n/j/Y",strtotime($this->ticket['duedate'])) : "";?>">
		<?php
		}else {
			echo ($this->ticket['duedate']) ? date("n/j/Y",strtotime($this->ticket['duedate'])) : "Pending";
		}
		?>

		<?php
		if ($this->user->cyber_user == 'yes' && $this->user->intranet_admin == 1) {
		?>

		<label>Created By:</label>
		<?=$this->formSelect('data[created_user_id]', $this->ticket['created_user_id'], array('id'=>'created', 'style'=>'width:190px;', 'class'=>'form-field'), $this->users)?>

		<?php
		}
		?>

		<br>
		<label>Assigned Person:</label>
		<?php
		if ($this->user->cyber_user == 'yes') {
		?>
			<?=$this->formSelect('data[assigned_user_id]', $this->ticket['assigned_user_id'], array('id'=>'cyber', 'style'=>'width:190px;', 'class'=>'form-field'), $this->staff)?>
		<?php
		}else {
			echo ($this->ticket['cyber'])?$this->ticket['cyber']:"Pending";
		}
		?>



		<label>Status:</label> <?=$this->formSelect('data[status]', $this->ticket['status'], array('id'=>'status', 'style'=>'width:190px;', 'class'=>'form-field'), $this->statuses)?>

		<?php
		if ($this->user->cyber_user == 'yes') {
		?>

		<label>Retainer:</label>
		<?=$this->formSelect('data[retainer]', $this->ticket['retainer'], array('id'=>'retainer', 'style'=>'width:190px;', 'class'=>'form-field'), array('y'=>'Yes','n'=>'No'))?>

		<?php
		}else {
			echo "<input type='hidden' name='data[retainer]' value='{$this->ticket['retainer']}'>";
		}
		?>

		<label>Page Name or URL:</label>
		<input type="text" name="data[url]" value="<?=$this->ticket['url']?>" />

		<label>Description:</label>
		<textarea name="data[description]" class="tinymce"><?=$this->ticket['description']?></textarea>

		<div class="tix-options">
			<?=$this->formSelect('data[priority]', $this->ticket['priority'], array('id'=>'priority', 'style'=>'width:190px;', 'class'=>'form-field'), $this->priorities)?>

			<select name="data[type]" id="type" class="form-field" style="width:190px;">
				<option value="">Ticket Type</option>
				<option value="Enhancement" <?=($this->ticket['type'] == "Enhancement") ? "SELECTED" : "";?>>Enhancement</option>
				<option value="Defect" <?=($this->ticket['type'] == "Defect") ? "SELECTED" : "";?>>Defect</option>
				<option value="Question" <?=($this->ticket['type'] == "Question") ? "SELECTED" : "";?>>Question</option>
			</select>
		</div>

		<div id="form-at-buttonwrap">
			<input type="submit" class="btn-saveuser" name="Save Ticket" id="Save Ticket" value="">
		</div>

	</div>
	</form>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$(".date-pick").datepicker();

	jQuery.validator.messages.required = "";
	$("#editForm").validate({
		rules: {
			"data[summary]": "required",
			"data[description]": "required",
			"data[priority]": "required",
			"data[type]": "required"
		},
		messages: {
			"data[summary]": "Name required",
			"data[description]": "Description required",
			"data[priority]": "Set priority",
			"data[type]": "Set ticket type"
        },
		invalidHandler: function(e, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				var message = errors == 1
					? 'You missed 1 field. It has been highlighted below'
					: 'You missed ' + errors + ' fields.  They have been highlighted below';
				$("div.error span").html(message);
				$("div.error").show();
			} else {
				$("div.error").hide();
			}
		}
	});

	tinymce.init({
		width : "600",
		selector: "textarea.tinymce",
		plugins: [
			"autolink lists link image",
			"searchreplace visualblocks",
			"contextmenu paste " //spellchecker (doesn't work)
		],
		toolbar: "bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | cut copy paste | link | undo redo | searchreplace | forecolor | spellchecker ",
		relative_urls : false,
		menubar: false,
		toolbar_items_size: 'small'
	});
});
</script>