<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<div class="tickets-system tickets-list cf">
<div class="system-menu">
		<div class="view-tix">
			<a>Tickets</a>
		</div>
		<div class="add-tix">

		</div>
		<div class="add-tix	">
			<a href="/tickets/add" id="addticket" class="dialog pop-modal" data-pop-up="add-ticket">Add Ticket</a>
		</div>
	</div>

			<div class="table-wrap">
			<table class="centerTable system">
				<tbody>
					<tr class="tickets-header">
						<td width="20"></td>
						<th width="347"><a href="/tickets/index/sort/ClientName/dir/<?=$dir?>">Client</a></th>
						<th width="95"><a href="/tickets/index/sort/totalTickets/dir/<?=$dir?>">Total Tickets</a></th>
						<th width="115"><a href="/tickets/index/sort/opened/dir/<?=$dir?>">Opened Tickets</a></th>
						<th width="125"><a href="/tickets/index/sort/unassigned/dir/<?=$dir?>">Unassigned Tickets</a></th>
						<th width="68" class="th-center">Status</th>
						<th width="68" class="th-center">View</th>
					</tr>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				foreach($this->clients as $key => $val) {
					if ($val['percent'] > 90)
						$status_icon = "status_red.gif";
					elseif ($val['percent'] > 60)
						$status_icon = "status_orange.gif";
					elseif ($val['percent'] > 0)
						$status_icon = "status_green.gif";
					else
						$status_icon = "status_white.gif";

				?>
					<tr width="840"  class="">
						<td></td>
						<td><a href="/tickets/list/clientID/<?=$val['id']?>"><?=$val['ClientName']?></a></td>
						<td align="center"><?=intval($val['totalTickets'])?></td>
						<td align="center"><?=intval($val['opened'])?></td>
						<td align="center"><?=intval($val['unassigned'])?></td>
						<td align="center">
							<a href="/retainer/details/clientID/<?=$val['id']?>"><img src="/images/<?=$status_icon?>" title="<?=sec2hm($val['currentHours'])?>"></a>
						</td>
						<td align="center"><a href="/tickets/list/clientID/<?=$val['id']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>

			<?php echo $this->paginationControl($this->clients, 'Sliding', 'pagination_control.phtml'); ?>
		</div>
	</div>


<!--request sent modal-->
<div class="thanks-ticket-modal hide" id="new_ticket_message">
	<div class="modal">
		<div class="modal-head"><h1>Thank You!</h1></div>
		<div class="modal-content">
			<p style="margin:10px 0;">Your Request Has Been Received and will be assigned within 24 hours.</p>

			<p style="text-align:left;">
				<strong>Please Note:</strong> All request are subjet to review and will be scheduled according to priority.
				Our minimum turn-around time is 1 business day and requests posted after 5:00 EST will be entered on the next business day.
				If you need emergency assistance, Please follow up via email or phone at 212-475-2721.
			</p>

			<p style="margin: 10px 0;">
				<a href="">View Service Level Agreement</a>
			</p>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
<?php if ($this->clientadd == "display") { ?>
	$( "#new_ticket_message" ).bPopup();
<?php } ?>
});
</script>