<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
$ticket = new Cny_Model_Ticket();
?>

<div class="tickets-system tickets-list cf">
	<div class="system-menu">
		<div class="view-tix">
			<a><h1>View Tickets</h1></a>
		</div>
		<div class="add-tix">
			<a href="/tickets/add" data-pop-up="add-ticket" title="Add Ticket" class="dialog pop-modal">Add Ticket</a>
		</div>
		<div class="search-tix">
			<form method="post" action="/tickets/list">
				<input type="text" name="mask" value="<?=$this->mask?>" size="20" class="search-box">
				<input type="submit" value="Search" class="search-button">
			</form>
		</div>
	</div>

			<form method="post" action="/tickets/status/clientID/<?=$this->clientID?>">
			<div class="table-wrap">
			<table class="centerTable system">
				<tbody>
					<tr class="tickets-header">
						<?php
						if ($this->user->Cyberny_Users_ID) {
						?>
							<td align="center"></td>
						<?php
						}
						?>
						<th class="th-center"><a href="/tickets/list/clientID/<?=$this->clientID?>/sort/t.id/dir/<?=$dir?>">Num.</a></th>
						<th><a href="/tickets/list/clientID/<?=$this->clientID?>/sort/t.summary/dir/<?=$dir?>">Ticket Name</a></th>
						<th><a href="/tickets/list/clientID/<?=$this->clientID?>/sort/UserName/dir/<?=$dir?>">Issued By:</a></th>
						<th><a href="/tickets/list/clientID/<?=$this->clientID?>/sort/t.created/dir/<?=$dir?>">Entry Date</a></th>
						<th><a href="/tickets/list/clientID/<?=$this->clientID?>/sort/t.duedate/dir/<?=$dir?>">Due Date</a></th>
						<th class="th-center">Priority</th>
						<th class="th-center">Status</th>
						<th class="th-center">View</th>
					</tr>
					<?php
				$shade = true;
				foreach($this->tickets as $key => $val) {
					if($shade)
						$class = 'shadeoff';
					else
						$class = 'shadeon';
					$shade = !$shade;

					$statusInfo = $ticket->statusInfo($val['status']);
					$priorityInfo = $ticket->priorityInfo($val['priority']);
				?>
						<tr>
						<?php
						if ($this->user->Cyberny_Users_ID) {
						?>
							<td align="center">
							<input type="checkbox" name="id[]" value="<?=$val['id']?>">
							</td>
						<?php
						}
						?>
						<td align="center"><?=$val['id']?></td>
						<td><a href="/tickets/view/clientID/<?=$val['ClientID']?>/id/<?=$val['id']?>"><?=$val['summary']?></a></td>
						<td><?=$val['UserName']?></td>
						<td><?=$val['created']?></td>
						<td><?=$val['duedate']?></td>
						<td align="center"><div class="fa ticket-priority-<?=$priorityInfo['image']?>" title="<?=$val['priority']?>"></div></td>
						<td align="center"><div class="fa ticket-status-<?=$statusInfo['image']?>" title="<?=$val['status']?>"></div></td>
						<td align="center"><a href="/tickets/view/clientID/<?=$val['ClientID']?>/id/<?=$val['id']?>"><i class="icn-blue fa fa-arrow-circle-right"></i></a></td>
					</tr>
				<?php
				}
				if($shade) $class = 'shadeoff';
				else $class = 'shadeon';

				if ($this->user->Cyberny_Users_ID) {
				?>
					<tr class="<?=$class?>">
						<td></td>
						<td colspan="8">
							<?=$this->formSelect('status', '', array('id'=>'status'), $this->statuses)?>

							<input type="submit" value="Update Selected">
						</td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>
			<?php echo $this->paginationControl($this->tickets, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
			</form>

		</div>


