<div class="add-note-modal modal">
	<form action="/tickets/reopen" method="post" id="noteForm" target="_parent">
	<input type="hidden" name="id" value="<?=$this->id?>">

		<div class="modal-head"><h1> Add Note</h1></div>
		<div class="modal-content">

			<div style="text-align:center;margin:20px;">
				<p>This ticket has been closed and is no longer active.</p>
				<p>To request additional work or add notes, click below to re-open the ticket.</p>
			</div>

			<br/><br/>
			<div id="form-at-buttonwrap">
				<input type="submit" class="btn-addnote1" name="Add Note" id="Add Note" value="" />
			</div>

		</div>
	</form>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});
</script>