<div class="thanks-ticket-modal">
	<div class="modal">
		<div class="modal-head"><h1> Add Ticket</h1></div>
		<div class="modal-content">
			<p>Your Request Has Been Received and will be assigned within 24 hours.</p>
			<p><strong>Please Note:</strong> All request are subject to review and will be scheduled according to priority. Our minimum turn-around time is 1 business day and requests posted after 5:00 EST will be entered on the next business day. If you need emergency assistance, Please follow up via email or phone at 212-475-2721.</p>
			<p class="service-agreement"><a href="">View Service Level Agreement</a></p>
		</div>
	</div>
</div>