<?php
$ticket = new Cny_Model_Ticket();

$statusInfo = $ticket->statusInfo($this->ticket['status']);
$priorityInfo = $ticket->priorityInfo($this->ticket['priority']);

$estimate = "";
if ($this->tasks) {
	foreach ($this->tasks as $task) {
		$estimate += $task['time_estimate'];
	}
}
?>
<div class="tview-section cf">
	<div class="tview-header">
				<img src="/images/tickets-icon.png" class="headericon">
				<h1><?=$this->ticket['summary']?> <?php
				if ($this->user->Cyberny_Users_ID) {
				?>
				:: <a href="/tickets/list/clientID/<?=$this->ticket['clientID']?>"><?=$this->ticket['ClientName']?></a>
				<?php
				}
				?>
				</h1>
				<?php
				if ($this->user->Cyberny_Users_ID) {
				?>
				<a href="/pm/add/ticket_id/<?=$this->ticket['id']?>/url/<?=base64_encode("/tickets/view/clientID/{$this->ticket['clientID']}/id/{$this->ticket['id']}")?>">Add Sub-Task</a>
				<?php
				}
				?>
				<ul class="buttons" style="float: right;">
					<li><a href="/tickets/delete/id/<?=$this->ticket['id']?>" onclick="return confirm('Are you sure you want to delete this ticket? This can not be undone!');" class="search-button">Delete</a></li>
					<li><a href="/tickets/edit/clientID/<?=$this->ticket['clientID']?>/id/<?=$this->ticket['id']?>" class="search-button dialog pop-modal" data-pop-up="edit-ticket">Edit</a></li>
					<li><a href="/tickets/list/clientID/<?=$this->ticket['clientID']?>" class="search-button">Back</a></li>
				</ul>
</div>
	<div class="tview-info cf">
	<ul>
	<li class="first-child"><span class="title">Date Entered: </span><?=date("m/d/y \<\s\p\a\\n\>g:ia\<\/\s\p\a\\n\>",strtotime($this->ticket['created']))?></li>
	<li><span class="title">Priority: </span><div class="fa ticket-priority-<?=$priorityInfo['image']?>"></div><span class="<?=$priorityInfo['class']?>"><?=ucfirst($this->ticket['priority'])?></span></li>
	<li><span class="title">Status: </span> <span class="<?=$statusInfo['class']?>"><?=$this->ticket['status']?></span></li>
	<li><span class="title">Assigned To: </span> <span class="subtitle2"><?=($this->ticket['assigned'])?$this->ticket['assigned']:"Pending"?></span></li>
	<li><span class="title">Page Name or URL: </span> <a href="<?=$ticket->formatUrl($this->ticket['url'])?>" target="_blank"><?=$this->ticket['url']?></a></li>
	<li><span class="title">Estimated Hours:  </span> <span class="subtitle2"><?=$estimate?></span></li>	
</ul>
	<ul>
	<li class="first-child"><span class="title">Ticket Number:</span> <?=$this->ticket['id']?></li>
	<li><span class="title">Description:</span>
			<div id="html_content">
				<?php
				if (strip_tags($this->ticket['description']) == $this->ticket['description'])
					echo "<p>".nl2br(htmlentities($this->ticket['description']))."</p>";
				else echo preg_replace('@<script[^>]*?.*?</script>@siu',"",$this->ticket['description']);
				?>
			</div>
	</li>
	<li><span class="title">Type: </span></span>  <span class="subtitle3"><?=$this->ticket['type']?></span></li>
	<li><span class="title">Due Date:</span> <span class="subtitle2"><?=($this->ticket['duedate'] && $this->ticket['duedate'] != '1969-12-31 00:00:00') ? date("m/d/y",strtotime($this->ticket['duedate'])) : "Pending";?></span></li>
	<li><span class="title">Job Code:  </span> <span class="subtitle2"><?=$this->ticket['job_code']?></span></li>

</ul>
	<div class="tview-buttons">
		<a href="#" onclick="requestUpdate('<?=$this->ticket['id']?>')"  style="margin-right: 60px;"><img src="/images/req-update-button.jpg" alt="Request an Update" /></a>
		<a href="/tickets/approve/id/<?=$this->ticket['id']?>"><img src="/images/close-button.jpg" alt="Close the Ticket" /></a>
	</div>
	</div>
</div>

		<?php
		if ($this->tasks) {
		?>
		<div class="datatable">
			<table id="mediamanagertable">
				<thead>
					<tr width="840" class="header">
						<th colspan="10">
							<?php
							if ($this->user->Cyberny_Users_ID) {
							?>
							<a href="/pm/add/ticket_id/<?=$this->ticket['id']?>/url/<?=base64_encode("/tickets/view/clientID/{$this->ticket['clientID']}/id/{$this->ticket['id']}")?>" class="addnote">Add Sub-Task</a>
							<?php
							}
							?>
							Sub Tasks
						</th>
					</tr>
					<tr class="header2">
						<th width="10" class="th-center"></th>
						<th width="150">Assigned To</th>
						<th width="580">Task Name</th>
						<th width="100">Status</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				$shade = true;
				foreach($this->tasks as $key => $val) {
					if($shade)
						$class = 'shadeoff';
					else
						$class = 'shadeon';
					$shade = !$shade;
				?>
					<tr width="840" id="<?=$val['id']?>" class="pmrow <?=$class?>">
						<td align="center"></td>
						<td><?=$val['FirstName']." ".$val['LastName']?></td>
						<td><?=$val['Title']?></td>
						<td><?=$val['ProjectStatusName']?></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>
		</div>
		<br/><br/>
		<?php
		}
		?>
<div class="tview-section cf" style="margin-top: 20px;">
	<div class="tview-header"><img src="/images/estimates-icon.png" class="headericon" alt="Ticket Notes"><h1>Notes</h1>

		<a href="/tickets/<?=($this->ticket['status'] == 'Approved & Closed')?"reopen":"addnote"?>/id/<?=$this->ticket['id']?>" title="Add Note" class="pop-modal dialog add-note addnote" data-pop-up="add-note"><img src="/images/add-note.png" alt="Add Note"></a>
	</div>
	<div class="tview-info cf" id="noteList">
		<?php
		foreach ($this->notes as $note) {
			$role_class = ($note['Roles'] == "administrator") ? "2" : "";
		?>
			<div class="notetable" id="note_<?=$note['id']?>">
				<span class="note_id hide"><?=$note['id']?></span>
				<div class="noteheader<?=$role_class?>">
					<div id="notedate">
						<span class="noteheader-datetitle<?=$role_class?>">Date Sent:</span>
						<span class="noteheader-date<?=$role_class?>"><?=date("n/j/y",strtotime($note['created']))?><span class="noteheader-time"><?=date("g:ia",strtotime($note['created']))?></span> <a onclick="removeNote('<?=$note['id']?>')" class="note-closer">x</a></span>
					</div>
					<span class="noteheader-title<?=$role_class?>"><?=$note['name']?> Said...</span>
				</div>
				<div class="noteheader-body">
					<p><?=nl2br($note['message'])?></p>
					<?php
					if ($note['attachment'] && file_exists($_SERVER['DOCUMENT_ROOT'].$this->attachment_path.$note['attachment'])) {
						echo "<div class='attachment'><a href='".$this->attachment_path.$note['attachment']."' target='_blank'>Download Attachment</a></div>";
					}
					?>
				</div>
			</div>

		<?php
		}
		?>
		<div class="centerDiv width-155"><a href="/tickets/<?=($this->ticket['status'] == 'Approved & Closed')?"reopen":"addnote"?>/id/<?=$this->ticket['id']?>" title="Add Note" class="pop-modal dialog add-note" data-pop-up="add-note"><img src="/images/add-note-button.jpg" alt="Add Note"></a></div>
	</div>
</div>

<!--request sent modal-->
<div class="thanks-ticket-modal hide" id="request_sent">
	<div class="modal">
		<div class="modal-head"><h1>Update Request</h1></div>
		<div class="modal-content">
			<p>You're request for an update has been sent.</p>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	setInterval(updateNotes,60000); //1 minute
});

function updateNotes() {
	$.getJSON("/tickets/updatenotes/", { last_note: $("#noteList .note_id:first").html(), ticket: "<?=$this->ticket['id']?>" }, function(data){
		$.each(data.items, function(i,item){
			var attachment = "";
			if (item.attachment != "") attachment = "<div class='attachment'><a href='"+item.attachment+"' target='_blank'>Download Attachment</a></div>";
			$("#noteList").prepend('<div class="notetable hide" id="note_'+item.id+'"><span class="note_id hide">'+item.id+'</span><div class="noteheader'+item.role+'"><div id="notedate"><span class="noteheader-datetitle">Date Sent:</span><span class="noteheader-date">'+item.created+'<span class="noteheader-time">'+item.time+'</span> <a onclick="removeNote('+item.id+')" class="note-closer">x</a></span></div><span class="noteheader-title">'+item.name+' Said...</span></div><div class="noteheader-body'+item.role+'"><p>'+item.message+'</p>'+attachment+'</div></div>');
			$("#note_"+item.id).slideDown(1000);
		});
	});
}

function removeNote(note_id) {
	var del = confirm("Are you sure you want to delete this note?");

	if (del) {
		$("#note_"+note_id).effect("explode",1000).remove();
		$.post("/tickets/deletenote", { note_id: note_id } );
	}
}

function requestUpdate(ticket_id) {
	$("#request_sent").bPopup();

	$.post("/tickets/request", { id: ticket_id }, function() {
		updateNotes();
	} );

	return false;
}
</script>