<div class="add-note-modal modal concepts_add_note">
	<form action="/concepts/addnote" method="post" id="noteForm">
		<div class="modal-head"><h1> Add Note</h1></div>
		<div class="modal-content" style="overflow:inherit !important;">
			<div class="error"><span></span></div>

			<input type="hidden" name="id" value="<?=$this->id?>">
			<input type="hidden" name="concept_id" value="<?=$this->concept_id?>">

			<label>Note:</label>
			<textarea name="Description" id="description"></textarea>

			<div id="form-at-buttonwrap">
				<input type="submit" class="btn-addnote1" name="Add Note" id="Add Note" value="" />
			</div>

		</div>
	</form>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#description").focus();

	$('#noteForm').bind('submit', function() {
		$(this).ajaxSubmit({
			success:    function() {
				parent.closeBPopup();
				parent.updateNotes();
			}
		});
		return false; // <-- important!
	});

	jQuery.validator.messages.required = "";
	$("#noteForm").validate({
		rules: {
			Description: "required"
		},
		messages: {
			Description: "Description required"
        },
		invalidHandler: function(e, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				var message = errors == 1
					? 'You missed 1 field. It has been highlighted below'
					: 'You missed ' + errors + ' fields.  They have been highlighted below';
				$("div.error span").html(message);
				$("div.error").show();
			} else {
				$("div.error").hide();
			}
		}
	});
});
</script>