<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_concepts.png"></td>
			<td width="165"><h1>Concepts & Work</h1></td>
			<td width="368" align="center"></td>
			<td width="324" align="right">
				<ul class="buttons">
					<li><a href="/concepts/view/concept_id/<?=$this->concept_id?>" class="btn-back"></a></li>
				</ul>
			</td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<form method="post" action="/concepts/edit/" id="conceptForm">
		<input type="hidden" name="concept_id" value="<?=$this->concept_id?>">
		<div id="form-at">
			<div id="at-header">
				<h1>Edit Concept</h1>
			</div>

			<br>
			<label>Client:</label>
			<div class="input">
				<?=$this->formSelect('project[client_id]', $this->concept['client_id'], array('id'=>'client', 'style'=>'width:190px;', 'class'=>'form-field'), $this->clients)?>
			</div>

			<br style="clear:both;"/>
			<label>Project Name:</label>
			<div class="input">
				New: <input type="text" name="project[title]" id="project_title" value="<?=(array_key_exists($this->concept['concept_project_id'],$this->projects))?"":$this->concept['title']?>" style="width:200px;" />
				Existing:
				<?=$this->formSelect('data[concept_project_id]', $this->concept['concept_project_id'], array('id'=>'concept_project_id', 'style'=>'width:190px;', 'class'=>'form-field'), $this->projects)?>
			</div>

			<br/>
			<label style="font-size:12px;width:500px;">OR (select either project name above or select from client projects below)</label>

			<br style="clear:both;"/>
			<label>Client Project:</label>
			<div class="input">
				<?=$this->formSelect('project[client_project_id]', $this->concept['client_project_id'], array('id'=>'client_project_id', 'style'=>'width:190px;', 'class'=>'form-field'), $this->client_projects)?>
			</div>

			<br style="clear:both;"/>
			<label>Concept Name:</label>
			<div class="input">
				New: <input type="text" name="data[new_name]" id="new_name" value="<?=(in_array($this->concept['name'],$this->names))?"":$this->concept['name']?>" style="width:200px;" />
				Defaults:
				<?=$this->formSelect('data[name]', $this->concept['name'], array('id'=>'name', 'style'=>'width:190px;', 'class'=>'form-field'), $this->names)?>
			</div>

			<br style="clear:both;">
			<label>Round:</label>
			<div class="input">
				<select name="data[round]">
				<?php
				for($i=1;$i<10;$i++) {
					$selected = ($this->concept['round'] == $i) ? "SELECTED" : "";
					echo "<option value='$i' $selected>$i</option>";
				}
				?>
				</select>
			</div>

			<br style="clear:both;">
			<label>Concept Width:</label>
			<div class="input">
				<?=$this->formSelect('data[concept_width_id]', $this->concept['concept_width_id'], array('id'=>'width', 'style'=>'width:190px;', 'class'=>'form-field'), $this->widths)?>
			</div>

			<br/><br/>
			<div id="form-at-buttonwrap">
				<input type="submit" class="btn-save" name="Submit" id="Submit" value="" />
			</div>
		</div>
		</form>

	</div>
</div>

<style>
	/* ComboBox special overwrites */
	.ui-button-icon-only .ui-button-text { padding: 0.35em; }
	.ui-autocomplete-input { padding:0.3em 0 0.35em 0.45em!important; width:250px!important;margin-top:2px!important;height:18px!important;}
	.ui-autocomplete { text-align: left; height: 250px; overflow: auto; width:250px; }
</style>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#client").combobox();
	$("#client_project_id").combobox();

	$("#conceptForm").validate({
		rules: {
			"project[client_id]": "required",
			"data[round]": "required",
			"data[project_id]": {
				required: function(element) {
	        		if ($("#project_title").val() == "")
			        	return true;
			        else return false;
        		}
			},
			"project[title]": {
				required: function(element) {
	        		if ($("#project_id").val() == "")
			        	return true;
			        else return false;
        		}
			},
			"data[name]": {
				required: function(element) {
	        		if ($("#new_name").val() == "")
			        	return true;
			        else return false;
        		}
			},
			"data[new_name]": {
				required: function(element) {
	        		if ($("#name").val() == "")
			        	return true;
			        else return false;
        		}
			}
		},
		messages: {

        }
	});
});
</script>