<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<div class="tickets-system tickets-list concepts-list cf">
<div class="system-menu">
		<div id="interior-header">
			<div class="concepts-work"><div class="icon-concepts"><img src="/images/concepts-icon.png"></div><h1>Concepts & Work</h1></div>
			<a href="/concepts/add" id="addticket" class="btn-addconcept"><span style="display:none;">Add Concept</span></a>
		</div>
	</div>

			<div class="table-wrap">
			<table class="centerTable system">
				<thead>
					<tr class="tickets-header">
						<td width="20"></td>
						<th width="737"><a href="/concepts/index/sort/ClientName/dir/<?=$dir?>">Client</a></th>
						<th width="83" class="th-center">View</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				foreach($this->clients as $key => $val) {

				?>
					<tr>
						<td></td>
						<td><a href="/concepts/list/clientID/<?=$val['id']?>"><?=$val['ClientName']?></a></td>
						<td align="center"><a href="/concepts/list/clientID/<?=$val['id']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>

			<?php echo $this->paginationControl($this->clients, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
</div>