<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div class="tickets-system tickets-list concepts-list cf">
	<div class="system-menu">
		<div id="interior-header">
			<div class="concepts-work"><div class="icon-concepts"><img src="/images/concepts-icon.png"></div><h1>Concepts & Work</h1></div>
			<?php
			if ($this->user->cyber_user=="yes") {
			?>
				<ul class="buttons" style="margin-top: -10px">
					<li><a href="/concepts/" class="search-button">Back</a></li>
				</ul>
			<?php
			}
			?>
		</div>
	</div>
			<form method="post" action="/tickets/status/clientID/<?=$this->clientID?>">
			<div class="table-wrap">
			<table class="centerTable system">
				<tbody>
					<tr class="tickets-header">
						<th width="20"></th>
						<th width="740"><a href="/concepts/list/sort/title/dir/<?=$dir?>">Project</a></th>
						<th width="80" class="th-center">View</th>
						
						
						<th width="80" class="th-center"><?php
							if ($this->user->cyber_user=="yes") {
							?>Delete<?php
							}
							?>
						</th>
						
					</tr>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				foreach($this->projects as $key => $val) {

				?>
					<tr width="840"  class="<?=$class?>">
						<td align="center"></td>
						<td><?=$val['title']?></td>
						<td align="center"><a href="/concepts/listconcepts/clientID/<?=$val['client_id']?>/id/<?=$val['id']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
						<td align="center">
						<?php if ($val['cnt'] == 0 && $this->user->cyber_user=="yes") { ?>
							<a href="/concepts/deleteconcepts/clientID/<?=$val['client_id']?>/id/<?=$val['id']?>"><i class="icn-red fa fa-ban fa"></i></a>
						<?php } ?>
						</td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>
			<?php echo $this->paginationControl($this->projects, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
			</form>
			
		</div>