<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div class="tickets-system tickets-list cf">
	<div class="system-menu">
		<div class="view-tix">
			<a>Concepts & Work</a>
		</div>

		<ul class="buttons" style="float: right;">
			<li><a href="/concepts/list/clientID/<?=$this->clientID?>" class="search-button">Back</a></li>
		</ul>
	</div>

	<div class="table-wrap">
		<table class="centerTable system">
			<thead>
				<tr class="tickets-header">
					<th width="20"></th>
					<th width="520"><a href="/concepts/listconcepts/sort/name/dir/<?=$dir?>">Concept</a></th>
					<th width="80" class="th-center"><a href="/concepts/listconcepts/sort/round/dir/<?=$dir?>">Round</a></th>
					<th width="80" class="th-center"><a href="/concepts/listconcepts/sort/created/dir/<?=$dir?>">Date</a></th>
					<th width="80" class="th-center">Notes</th>
					<th width="60" class="th-center">View</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="9"></td>
				</tr>
			</tfoot>
			<tbody>
			<?php
			$shade = true;
			foreach($this->concepts as $key => $val) {
				if($shade)
					$class = 'shadeoff';
				else
					$class = 'shadeon';
				$shade = !$shade;

			?>
				<tr width="840"  class="<?=$class?>">
					<td align="center"></td>
					<td><?=$val['title'].": ".$val['name']?></td>
					<td align="center"><?=$val['round']?></td>
					<td align="center"><?=date("n/d/Y",strtotime($val['created']))?></td>
					<td align="center"><a href='/concepts/notes/concept_id/<?=$val['id']?>'><i class="fa fa-comments icn-blue icn-notes"></a></td>
					<td align='center'>
					<?php
					if ($this->user->cyber_user=="yes") {
					?>
						<a href='/concepts/view/concept_id/<?=$val['id']?>'><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i>
					<?php
					}else {
					?>
						<a href='/concept/display/client_id/<?=$this->clientID?>/concept_id/<?=$val['id']?>' target="_blank"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i>
					<?php
					}
					?>
					</td>
				</tr>
			<?php
			}
			?>
			</tbody>
		</table>

		<?php echo $this->paginationControl($this->concepts, 'Sliding', 'pagination_control.phtml'); ?>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});
</script>