<div class="tickets-system tickets-list cf">
	<div class="system-menu">
		<div class="view-tix">
			<a><?=$this->concept['ClientName']." : ".$this->concept['title']." - ".$this->concept['name'].", Rd #".$this->concept['round']?></a>
		</div>

		<ul class="buttons" style="float: right;">
			<li><a href="/concept/display/client_id/<?=$this->concept['client_id']?>/concept_id/<?=$this->concept['id']?>" class="search-button" target="_blank">Concept Slideshow</a></li>
			<li><a href="/concepts/listconcepts/clientID/<?=$this->concept['client_id']?>/id/<?=$this->concept['project_id']?>" class="search-button">Back</a></li>
		</ul>
	</div>


	<div id="conceptForm">

			<div id="conceptView" class="imagenotes">
			<?php
			foreach ($this->images as $image) {
				$liked = ($image['liked']>0)?"like":"";
				$liked = ($image['approved']=='y')?"approved":$liked;
			?>
			<div class="concept-entry cf">
				<div id="img<?=$image['id']?>" class="holder <?=$liked?>">
					<div class="thumb">
						<a href="<?=$this->concept_path.$this->concept['id']."/".$image['src']?>" rel="group" title="<?=$this->concept['title']." - ".$this->concept['name'].", Rd #".$this->concept['round']?>">
							<img src="<?=$this->concept_path.$this->concept['id']."/".$image['src']."_Thumbnail1.jpg"?>">
						</a>
					</div>
					<div class="concept-menu">
						<div class="conceptLike" onclick="addLike(<?=$image['id']?>)"><i class="fa fa-thumbs-o-up"></i><span>Like</span></div>
						<div class="conceptApprove" onclick="addApproval(<?=$image['id']?>)"><i class="fa fa-check-square-o"></i><span>Approve</span></div>
					</div>
				</div>

				<div class="concept_note_list">
					<div class="viewtable" id="image<?=$image['id']?>">
						<div class="tview-header">
							<img class="headericon" alt="Ticket Notes" src="/images/estimates-icon.png">
							<h1>Notes</h1>
							<a class="pop-modal dialog add-note addnote" data-pop-up="concepts-add-note" title="Add Note" href="/concepts/addnote/concept_id/<?=$this->concept['id']?>/id/<?=$image['id']?>">
								<img alt="Add Note" src="/images/add-note.png">
							</a>
						</div>

						<div class="tview-info cf" id="noteList">
							<?php
							$sql = $this->db->quoteInto("SELECT tn.*, CONCAT(u.FirstName, ' ', u.LastName) AS name, u.Roles FROM concept_notes AS tn LEFT JOIN Users_BugTracker AS u ON tn.user_id = u.ID
													WHERE tn.concept_image_id = ? ORDER BY tn.created DESC",$image['id']);
							$notes = $this->db->fetchAssoc($sql);
							foreach ($notes as $note) {
								$role_class = ($note['Roles'] == "administrator") ? "2" : "";
							?>
							<div class="notetable" id="note_<?=$note['id']?>">
								<span class="note_id hide"><?=$note['id']?></span>
								<div class="noteheader<?=$role_class?>">
									<div id="notedate">
										<span class="noteheader-datetitle<?=$role_class?>">Date Sent:</span>
										<span class="noteheader-date"><?=date("n/j/y",strtotime($note['created']))?><span class="noteheader-time"><?=date("g:ia",strtotime($note['created']))?></span> <a onclick="removeNote('<?=$note['id']?>')" class="note-closer">x</a></span>
									</div>
									<span class="noteheader-title<?=$role_class?>"><?=$note['name']?> Said...</span>
								</div>
								<div class="noteheader-body<?=$role_class?>">
									<p><?=nl2br($note['note'])?></p>
								</div>
							</div>
							
							<?php
							}
							?>
						</div>
					</div>
				</div>
			</div>
			<?php
			}
			?>

		</div>
	</div>


<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	setInterval(updateNotes,60000); //1 minute
});

function updateNotes() {
	$(".viewtable").each(function() {
		var image_id = $(this).attr("id").replace("image","");
		$.getJSON("/concepts/updatenotes/", { last_note: $("#image"+image_id+" #noteList .note_id:first").html(), image_id: image_id }, function(data){
			$.each(data.items, function(i,item){
				$("#image"+image_id+" #noteList").prepend('<div class="notetable hide" id="note_'+item.id+'"><span class="note_id hide">'+item.id+'</span><div class="noteheader'+item.role+'"><span class="noteheader-title">'+item.name+' Said...</span><div id="notedate"><span class="noteheader-datetitle">Date Sent:</span><span class="noteheader-date">'+item.created+' <a onclick="removeNote('+item.id+')" class="note-closer">x</a></span></div></div><div class="noteheader-body'+item.role+'"><p>'+item.message+'</p></div></div>');
				$("#note_"+item.id).slideDown(1000);
			});
		});
	});
}

function removeNote(note_id) {
	var del = confirm("Are you sure you want to delete this note?");

	if (del) {
		$("#note_"+note_id).effect("explode",1000).remove();
		$.post("/concepts/deletenote", { note_id: note_id } );
	}
}

function addLike(image_id) {
	$("#img"+image_id).addClass("like");

	$.post("/concepts/addlike/id/"+image_id);

	updateNotes();
}

function addApproval(image_id) {
	$("#img"+image_id).addClass("like");

	$.post("/concepts/addapproval/id/"+image_id);

	updateNotes();
}
</script>