<script src="/js/jquery.uploadifive.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/css/uploadifive.css">
<style type="text/css">
	.uploadifive-button {
		margin-right: 10px;
		/*float: left;*/
	}
	#queue {
		border: 1px dashed #000;
		height: 177px;
		overflow: auto;
		margin-bottom: 10px;
		padding: 0 3px 3px;
		width: 300px;
	}

	.upload_btn {
		background-color: #505050;
		background-image: -moz-linear-gradient(center bottom , #505050 0%, #707070 100%);
		background-position: center top;
		background-repeat: no-repeat;
		border: 2px solid #808080;
		border-radius: 30px;
		color: #FFFFFF;
		font: bold 12px Arial,Helvetica,sans-serif;
		text-align: center;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		text-transform: uppercase;
		line-height: 30px;
		width: 110px;
		float: right;
	}
	.upload_btn:hover {
		background-color: #606060;
		background-image: -moz-linear-gradient(center top , #606060 0%, #808080 100%);
		background-position: center bottom;
	}
</style>

<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_concepts.png"></td>
			<td width="165"><h1>Concepts & Work</h1></td>
			<td width="368" align="center"></td>
			<td width="324" align="right">
				<ul class="buttons">
					<li><a href="/concepts/view/concept_id/<?=$this->concept_id?>" class="btn-back"></a></li>
				</ul>
			</td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<div id="conceptForm">
			<div id="form-at">
				<div id="at-header">
					<h1>Upload Images</h1>
				</div>

				<div align="center">
					<br/><br/>
					<form>
						<h4>Drag & Drop images into the box below or use the buttons below.</h4>
						<br/>
						<div id="queue"></div>
						<div style="width: 300px;margin:auto;position:relative;">
							<input id="file_upload" name="file_upload" type="file" multiple="true">
							<!--<button type="button" class="upload_btn" onclick="javascript:$('#file_upload').uploadifive('upload')">Upload Files</button>-->
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		<?php $timestamp = time();?>
		$(function() {
			$('#file_upload').uploadifive({
				'auto'             : true,
				'checkScript'      : '/concepts/image-exist/concept_id/<?=$this->concept_id?>',
				'formData'         : {
					'timestamp' : '<?php echo $timestamp;?>',
					'token'     : '<?php echo md5('cyberny' . $timestamp);?>'
				},
				//'onUploadComplete' : function(file, data) { console.log(data); },
				//'onQueueComplete': window.location = '/concepts/view/concept_id/<?=$this->concept_id?>',//can't work since queue starts empty
				'queueID'          : 'queue',
				'uploadScript'     : '/concepts/image-save/concept_id/<?=$this->concept_id?>'
			});
		});
	});
</script>