<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_concepts.png"></td>
			<td width="165"><h1>Concepts & Work</h1></td>
			<td width="368" align="center"></td>
			<td width="324" align="right">
				<ul class="buttons">
				<?php
				if ($this->user->cyber_user=="yes") {
				?>
					<li><a href="/concepts/delete/concept_id/<?=$this->concept['id']?>/clientID/<?=$this->concept['client_id']?>" onclick="return confirm('Are you sure you want to delete this concept? This can not be undone!');" class="btn-delete"></a></li>
					<li><a href="/concepts/edit/concept_id/<?=$this->concept['id']?>" class="btn-edit"></a></li>
				<?php
				}
				?>
					<li><a href="/concepts/listconcepts/clientID/<?=$this->concept['client_id']?>/id/<?=$this->concept['project_id']?>" class="btn-back"></a></li>
				</ul>
			</td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<div id="conceptForm">
			<div id="form-at" style="height:auto;">
				<div id="at-header">
					<h1 style="width:auto;"><?=$this->concept['ClientName']." : ".$this->concept['title']." - ".$this->concept['name'].", Rd #".$this->concept['round']?></h1>
					<div style="float:right;padding-right:20px;">
					<?php
					if ($this->user->cyber_user=="yes") {
					?>
						<a href="/concepts/upload/concept_id/<?=$this->concept['id']?>">Upload Images</a>
					<?php
					}
					?>
					</div>
				</div>
				<div id="header2">
					Gallery Link: <a href="/concept/display/client_id/<?=$this->concept['client_id']?>/concept_id/<?=$this->concept['id']?>" target="_blank">http://<?=$_SERVER['HTTP_HOST']?>/concept/display/client_id/<?=$this->concept['client_id']?>/concept_id/<?=$this->concept['id']?></a>
				</div>

				<ul id="conceptView">
				<?php
				foreach ($this->images as $image) {
				?>
					<li class="holder" id="list_<?=$image['id']?>">
						<div class="thumb">
							<img src="<?=$this->concept_path.$this->concept['id']."/".$image['src']."_Thumbnail1.jpg"?>">
						</div>

						<a href="<?=$this->concept_path.$this->concept['id']."/".$image['src']?>" rel="group" title="<?=$this->concept['title']." - ".$this->concept['name'].", Rd #".$this->concept['round']?>" class="btn-view"></a>
					<?php
					if ($this->user->cyber_user=="yes") {
					?>
						<a href="/concepts/deleteimage/id/<?=$image['id']?>" onclick="return confirm('Are you sure you want to delete this image? This can not be undone!');" class="btn-delete"></a>
					<?php
					}
					?>
					</li>
				<?php
				}
				?>
				</ul>

			</div>
		</div>

	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("a[rel=group]").fancybox({
		'transitionIn'		: 'elastic',
		'transitionOut'		: 'elastic',
		'titlePosition' 	: 'over',
		'cyclic'			: true,
		'autoScale'			: false,
		'titleFormat'		: function(title, currentArray, currentIndex, currentOpts) {
			return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
		}
	});

<?php
if ($this->user->cyber_user=="yes") {
?>
	$("#conceptView").sortable({
		update: function(event, ui) {
			var result = $('#conceptView').sortable('serialize');
			$.post("/concepts/reorder/?"+result );
		}
	});
<?php
}
?>

});
</script>