<?php
header("Cache-Control: no-cache, must-revalidate"); // HTTP/1.1
header("Expires: Mon, 26 Jul 1997 05:00:00 GMT"); // Date in the past
header('Content-Type: text/xml');

$max = $this->goal;
foreach ($this->weekly as $week => $value) {
	if (sec2dec($value)>$max) $max=sec2dec($value);
}
$max = $max*1.25;

$chart_tag = "
<chart caption=''
	showLabels='1'
	baseFontSize='9'
	labelDisplay='WRAP'
	xAxisName=''
	yAxisName=''
	showValues='1'
	decimals='0'
	formatNumberScale='0'
	use3DLighting='1'
	rotateLabels='1'
	slantLabels='1'
	maxColWidth='60'
	yAxisMaxValue='{$max}'>";

$chart_tag = ereg_replace("[\n|\r]+","",$chart_tag);
$chart_tag = str_replace("\t"," ",$chart_tag);


print '<?xml version="1.0" encoding="utf-8"?>';
print $chart_tag;

foreach ($this->weekly as $week => $value) {
	print "<set label='{$week}' value='".sec2dec($value)."'/>";
}

print "<trendLines>
      <line startValue='{$this->goal}' color='009933' displayvalue='Goal' />
   </trendLines>
";

print "</chart>";
?>