<div class="tickets-system tickets-list cf">
	<div class="system-menu">
		<div class="ftp-info concepts-work">
			<div class="icon-concepts"><img src="/images/tickets-icon.png"></div>
			<h1>View Activity Details</h1>
		</div>

		<ul class="buttons" style="float: right;">
			<li><a href="/resource/activityreport/type/<?=$this->type?>/from_date/<?=$this->from_date?>/to_date/<?=$this->to_date?>" class="search-button">Back</a></li>
		</ul>
	</div>


<?php
if ($this->tasks) {
	?>
	<div class="table-wrap">
		<table class="centerTable system">
			<thead>
			<tr class="header2">
				<th width="10" class="th-center"></th>
				<th width="580">Task Name</th>
				<th width="100">Status</th>
				<th width="150">Time</th>
			</tr>
			</thead>
			<tfoot>
			<tr>
				<td colspan="9"></td>
			</tr>
			</tfoot>
			<tbody>
			<?php
			foreach($this->tasks as $key => $val) {
				?>
				<tr width="840" id="<?=$val['id']?>" class="pmrow">
					<td align="center"></td>
					<td><?=$val['ClientName']." - ".$val['Title']?></td>
					<td><?=$val['ProjectStatusName']?></td>
					<td><?=sec2hm($val['EndTime']-$val['StartTime'])?></td>
				</tr>
			<?php
			}
			?>
			</tbody>
		</table>
	</div>
	<br/><br/>
<?php
}
?>

<div class="chart">
	<div id="activity_chartDIV"></div>
	<script type="text/javascript">
		<!--
		FusionCharts.setCurrentRenderer('javascript');
		var chart = new FusionCharts("/flash/Column2D.swf", "project_chart", "865", "500", "0", "0");
		chart.setXMLUrl('/resource/activity-chart/id/<?=$this->staff['ID']?>/type/<?=$this->type?>/from_date/<?=$this->from_date?>/to_date/<?=$this->to_date?>');
		chart.render("activity_chartDIV");
		//-->
	</script>
</div>