<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<div class="tickets-system tickets-list cf">
	<div class="projects-list-head system-menu">
		<div class="ftp-info concepts-work">
			<div class="icon-concepts"><img src="/images/icn_task.png"></div>
			<h1>View Daily Activity Report</h1>
		</div>
	</div>

	<div class="table-wrap">

		<form method="post" action="">
		<div class="system-menu">
			<p class="row1 archive-search">
			<?=$this->formSelect('type', $this->type, array('id'=>'type'), array("today"=>"Today","week"=>"Week to Date","month"=>"Month to Date"))?>
				<label> Date Range : </label><input type="text" name="from_date" id="from_date" value="<?=$this->from_date?>" size="10">
				<label>to</label> <input type="text" name="to_date" id="to_date" value="<?=$this->to_date?>" size="10">
						<label>Export Report</label> <input type="checkbox" name="export">
						<input type="submit" value="Search" class="submit_btn search-button">
			</p>
		</div>
			<table class="centerTable system">
				<thead>
					<tr class="tickets-header">
						<th width="4"></th>
						<th width="300">Username</th>
						<th width="150">Weekly Goal Hours</th>
						<th width="120">Total Hours</th>
						<th width="120">Retainer Hours</th>
						<th width="146">Status</th>
					</tr>
				</thead>
				<tbody>
					<?php
					$total_hours = $total_retainer = 0;
					foreach ($this->staff as $staff) {
						if (array_key_exists($staff['ID'],$this->total_hours_wtd) || array_key_exists($staff['ID'],$this->total_retainer_wtd) || $staff['Disabled'] == 'no') {

							$percent = ($staff['activity_goal']) ? (sec2dec($this->total_hours_wtd[$staff['ID']])/$staff['activity_goal'])*100 : 0;

							if ($percent > 90)
								$status_icon = "status_green.gif";
							elseif ($percent > 60)
								$status_icon = "status_orange.gif";
							elseif ($percent > 0)
								$status_icon = "status_red.gif";
							else
								$status_icon = "status_white.gif";
						?>
						<tr width="840">
							<td></td>
							<td><a href="/resource/activitydetail/id/<?=$staff['ID']?>/type/<?=$this->type?>/from_date/<?=$this->from_date?>/to_date/<?=$this->to_date?>"><?=$staff['UserName']?></a></td>
							<td><?=$staff['activity_goal']?></td>
							<td><?=(array_key_exists($staff['ID'],$this->total_hours_wtd))?sec2hm($this->total_hours_wtd[$staff['ID']]):""?></td>
							<td><?=(array_key_exists($staff['ID'],$this->total_retainer_wtd))?sec2hm($this->total_retainer_wtd[$staff['ID']]):""?></td>
							<td align="center"><img src="/images/<?=$status_icon?>" title="Complete: <?=$percent?>%"></td>
						</tr>
					<?php
							$total_hours += (array_key_exists($staff['ID'],$this->total_hours_wtd))?($this->total_hours_wtd[$staff['ID']]):0;
							$total_retainer += (array_key_exists($staff['ID'],$this->total_retainer_wtd))?($this->total_retainer_wtd[$staff['ID']]):0;
						}
					}
					?>
					<tr width="840">
						<td></td>
						<td>Total:</td>
						<td></td>
						<td><?=sec2hm($total_hours)?></td>
						<td><?=sec2hm($total_retainer)?></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$("#from_date").datepicker({ dateFormat: 'yy-mm-dd', defaultDate: '<?=($this->from_date)?$this->from_date:date("Y-m-d")?>' });
		$("#to_date").datepicker({ dateFormat: 'yy-mm-dd', defaultDate: '<?=($this->to_date)?$this->to_date:date("Y-m-d")?>' });
	});
</script>