<div id="interior-header">
	<table width="836" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="left"><img src="/images/icn_my_schdl.png" hspace="4"></td>
			<td width="165"><h1>Approve Request</h1></td>
			<td width="488" align="center"></td>
			<td width="204" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">
		<div class="viewtable">
			<form action="/schedule/approve/id/<?=$this->request['id']?>" method="post" id="editForm">
			<table width="840" class="pm_ticket">
				<thead>
					<tr width="836" class="header">
						<th colspan="2">Request: <?=$this->request['title']?></th>
						<th>
							<ul class="buttons">
								<li><a href="/schedule/list" class="btn-back">back</a></li>
							</ul>
						</th>
					</tr>
					<tr width="836">
						<td colspan="3">
							<table width="836" style="border:0;">
								<tr class="header2">
									<th width="134">Title: </th>
									<th><?=$this->request['title']?></th>
								</tr>
							</table>
						</td>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="3"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr width="836">
						<td width="836" colspan="3">
							<table width="836" style="border:0;">
								<tr>
									<td class="title2" width="150">Start Date: </td>
									<td colspan="3"><?=($this->request['start_date'])?date("m/d/Y",strtotime($this->request['start_date'])):""?></td>
								</tr>
								<tr>
									<td class="title2">End Date: </td>
									<td colspan="3"><?=($this->request['end_date'])?date("m/d/Y",strtotime($this->request['end_date'])):""?></td>
								</tr>
								<tr>
									<td valign="top" class="title2">Description: </td>
									<td colspan="3"><?=$this->request['description']?></td>
								</tr>
								<tr>
									<td class="title2">Type: </td>
									<td colspan="3"><?=$this->types[$this->request['type']]?></td>
								</tr>
								<tr>
									<td class="title2">Status: </td>
									<td colspan="3"><?=$this->formSelect('data[status]', $this->request['status'], array('id'=>'type', 'class'=>'form-field'), $this->statuses)?></td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<br>
		<div id="form-at-buttonwrap">
			<input type="submit" class="btn-save" name="Save Ticket" id="Save Ticket" value="" />
		</div>
		</form>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$(".date-pick").datepicker({defaultDate: "<?=date("m/d/Y")?>"});

	$("#editForm").validate({
		rules: {
			"data[title]": "required",
			"data[start_date]": "required",
			"data[end_date]": "required",
			"data[description]": "required",
			"data[type]": "required"
		},
		messages: {
			"data[title]": "Title required",
			"data[description]": "Description required",
			"data[start_date]": "Start date required",
			"data[end_date]": "End date required",
			"data[type]": "Select type"
        }
	});
});
</script>