<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<div class="tickets-system tickets-list cf">
	<div class="projects-list-head system-menu">
		<div class="ftp-info concepts-work">
			<div class="icon-concepts"><img src="/images/icn_task.png"></div>
			<h1>View Performance Report</h1>
		</div>
	</div>

	<div class="table-wrap">

		<form method="post" action="">
			<div class="system-menu">
				<p class="row1 archive-search">
					<?=$this->formSelect('type', $this->type, array('id'=>'type'), array("today"=>"Today","week"=>"Week to Date","month"=>"Month to Date"))?>
					<label> Date Range : </label><input type="text" name="from_date" id="from_date" value="<?=$this->from_date?>" size="10">
					<label>to</label> <input type="text" name="to_date" id="to_date" value="<?=$this->to_date?>" size="10">
					<!--<label>Export Report</label> <input type="checkbox" name="export">-->
					<input type="submit" value="Search" class="submit_btn search-button">
				</p>
			</div>
			<table class="centerTable system">
				<thead>
				<tr class="tickets-header">
					<th width="4"></th>
					<th width="196">Username</th>
					<th width="100">Tasks</th>
					<th width="100">On Client</th>
					<th width="100">Closed</th>
					<th width="100">Past Due</th>
					<th width="100">Moved</th>
				</tr>
				</thead>
				<tbody>
				<?php
				foreach ($this->staff as $staff) {
					if (array_key_exists($staff['ID'],$this->total_tasks) || array_key_exists($staff['ID'],$this->on_client) || array_key_exists($staff['ID'],$this->closed)
						|| array_key_exists($staff['ID'],$this->past_due) || array_key_exists($staff['ID'],$this->moves) || $staff['Disabled'] == 'no') {

						?>
						<tr width="840">
							<td></td>
							<td><?=$staff['UserName']?></td>
							<td><?=(array_key_exists($staff['ID'],$this->total_tasks))?$this->total_tasks[$staff['ID']]:"0"?></td>
							<td><?=(array_key_exists($staff['ID'],$this->on_client))?$this->on_client[$staff['ID']]:"0"?></td>
							<td><?=(array_key_exists($staff['ID'],$this->closed))?$this->closed[$staff['ID']]:"0"?></td>
							<td><?=(array_key_exists($staff['ID'],$this->past_due))?$this->past_due[$staff['ID']]:"0"?></td>
							<td><?=(array_key_exists($staff['ID'],$this->moves))?$this->moves[$staff['ID']]:"0"?></td>
						</tr>
					<?php
					}
				}
				?>
				</tbody>
			</table>
		</form>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$("#from_date").datepicker({ dateFormat: 'yy-mm-dd', defaultDate: '<?=($this->from_date)?$this->from_date:date("Y-m-d")?>' });
		$("#to_date").datepicker({ dateFormat: 'yy-mm-dd', defaultDate: '<?=($this->to_date)?$this->to_date:date("Y-m-d")?>' });
	});
</script>