<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_my_schdl.png"></td>
			<td width="165"><h1>Request History</h1></td>
			<td width="343" align="center"></td>
			<td width="304" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<form method="post" action="/resource/schedule-list">
		<table width="840" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td width="175">
					<?=$this->formSelect('user_id', $this->user_id, array('id'=>'user_id', 'style'=>'width:150px;'), array(''=>'All Staff')+$this->staff)?>
				</td>
				<td width="175">
					<?=$this->formSelect('status', $this->status, array('id'=>'status', 'style'=>'width:150px;'), array(''=>'All Status','approved'=>'Approved','denied'=>'Denied','pending'=>'Pending'))?>
				</td>
				<td width="150">Date Range :</td>
				<td width="75"><input type="text" name="from_date" id="from_date" value="<?=$this->from_date?>"></td>
				<td width="45" align="center">to</td>
				<td width="75"><input type="text" name="to_date" id="to_date" value="<?=$this->to_date?>"></td>
				<td width="125"><input type="submit" value="Search"></td>
			</tr>
		</table>

		<div class="datatable">
			<table id="mediamanagertable">
				<thead>
					<tr width="840" class="header">
						<th colspan="10">View Requests</th>
					</tr>
					<tr class="header2">
						<th width="20" class="th-center"></th>
						<th width="150"><a href="/resource/schedule-list/sort/start_date/dir/<?=$dir?>">Start Date</a></th>
						<th width="150"><a href="/resource/schedule-list/sort/lastname/dir/<?=$dir?>">Username</a></th>
						<th width="450"><a href="/resource/schedule-list/sort/Title/dir/<?=$dir?>">Title</a></th>
						<th width="120" class="th-center"><a href="/resource/schedule-list/sort/status/dir/<?=$dir?>">Status</a></th>
						<th width="50" class="th-center">View</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				$shade = true;
				foreach($this->requests as $key => $val) {
					if($shade)
						$class = 'shadeoff';
					else
						$class = 'shadeon';
					$shade = !$shade;
				?>
					<tr width="840" class="<?=$class?>">
						<td></td>
						<td><?=date("n/d/y",strtotime($val['start_date']))?></td>
						<td><?=$val['UserName']?></td>
						<td><?=$val['title']?></td>
						<td><?=$val['status']?></td>
						<td align="center"><a href="/resource/schedule-approve/id/<?=$val['id']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>

			<?php //echo $this->paginationControl($this->requests, 'Sliding', 'pagination_control.phtml'); ?>
		</div>
		</form>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$("#from_date").datepicker({ dateFormat: 'yy-mm-dd', defaultDate: '<?=$this->from_date?>' });
		$("#to_date").datepicker({ dateFormat: 'yy-mm-dd', defaultDate: '<?=$this->to_date?>' });
	});
</script>