<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_timesheet.png"></td>
			<td width="165"><h1>Weekly Time Sheet</h1></td>
			<td width="343" align="center"></td>
			<td width="304" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<form method="post" action="">
		<div class="datatable">
			<table id="mediamanagertable">
				<thead>
					<tr width="840" class="header">
						<th colspan="10">Pay Period: <?=$this->pay_period?></th>
					</tr>
					<tr class="header2">
						<th width="20" class="th-center"></th>
						<th width="150">Date</th>
						<th width="450">Total Hours</th>

					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				$shade = true;
				foreach($this->timesheets as $date => $total_time) {
					$timesheet = new Cny_Model_Timesheet();
					if($shade)
						$class = 'shadeoff';
					else
						$class = 'shadeon';
					$shade = !$shade;
				?>
					<tr width="840" class="<?=$class?>">
						<td></td>
						<td><?=date("l",  strtotime($date))?></td>
						<td align="center"><?=$timesheet->sec2hm($total_time)?></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>

			<?php //echo $this->paginationControl($this->requests, 'Sliding', 'pagination_control.phtml'); ?>
		</div>
		</form>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	//
});
</script>