<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_timesheet.png"></td>
			<td width="165"><h1>Weekly Time Sheet</h1></td>
			<td width="343" align="center"></td>
			<td width="304" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">
<?php foreach ($this->employees as $user_id => $person) { ?>
		<form method="post" action="">
		<div class="datatable">
			<table id="mediamanagertable">
				<thead>
					<tr width="840" class="header">
						<th colspan="10">View Time Sheets - <?=$person['name']?></th>
					</tr>
					<tr class="header2">
						<th width="20" class="th-center"></th>
						<th width="150">Pay Period</th>
						<th width="450">Total Hours</th>
						<th width="50" class="th-center">View</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				$shade = true;
				foreach($person['timesheets'] as $year_week => $total_time) {
					$timesheet = new Cny_Model_Timesheet();
					if($shade)
						$class = 'shadeoff';
					else
						$class = 'shadeon';
					$shade = !$shade;

					$year = substr($year_week, 0,4);
					$week = substr($year_week, 4,2);
				?>
					<tr width="840" class="<?=$class?>">
						<td></td>
						<td><?=$timesheet->weekToDates($week,$year)?></td>
						<td align="center"><?=$timesheet->sec2hm($total_time)?></td>
						<td align="center"><a href="/resource/timesheet-detail/week/<?=$year_week?>/user/<?=$user_id?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>

		</div>
		</form>
		<br/><br/>
<?php } ?>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	//
});
</script>