<div id="interior-header">
	<table width="836" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="left"><img src="/images/icn_task.png" hspace="4"></td>
			<td width="165"><h1>Add Task</h1></td>
			<td width="488" align="center"></td>
			<td width="204" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>
<?//=$this->ClientID?>
<div id="interior-content">
	<div id="centermain">
		<div class="viewtable">
			<form action="/pm/add" method="post" id="editForm">
			<input type="hidden" name="url" value="<?=$this->url?>">
			<input type="hidden" name="data[ticket_id]" value="<?=$this->ticket_id?>">
			<table width="840" class="pm_ticket">
				<thead>
					<tr width="836" class="header">
						<th colspan="2">Task Number: </th>
						<th>
							<ul class="buttons">
								<li><a href="<?=$this->back?>" class="btn-back">back</a></li>
							</ul>
						</th>
					</tr>
					<tr width="836">
						<td colspan="3">
							<table width="836" style="border:0;">
								<tr class="header2">
									<th width="134">Task Name: </th>
									<th><input type="text" name="data[Title]" value="" style="width:400px;" /></th>
								</tr>
							</table>
						</td>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="3"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr width="836">
						<td width="836" colspan="3">
							<table width="836" style="border:0;">
								<tr>
									<td width="150" class="title2">Start Date: </td>
									<td><input type="text" name="data[StartDate]" class="date-pick" style="width:100px;" value="<?=date("n/j/Y")?>"></td>
									<td class="title2">Due Date: </td>
									<td>
										<input type="text" name="data[ExpectedEndDate]" class="date-pick" style="width:100px;" value="<?=date("n/j/Y",strtotime("tomorrow"))?>">
						 				<?=$this->formSelect('data[timespan]', "", array('id'=>'timespan', 'style'=>'width:125px;', 'class'=>''), array("1"=>"Morning","2"=>"Afternoon","3"=>"End of Day"))?>
									</td>
								</tr>
								<tr>
									<td class="title2">Priority: </td>
									<td><?=$this->formSelect('data[ProjectPriorityID]', $this->task['ProjectPriorityID'], array('id'=>'status', 'style'=>'width:125px;', 'class'=>''), array(""=>"Select Priority")+$this->priorities)?></td>
									<td class="title2">Status: </td>
									<td><?=$this->formSelect('data[ProjectStatusID]', $this->task['ProjectStatusID'], array('id'=>'status', 'style'=>'width:125px;', 'class'=>''), array(""=>"Select Status")+$this->statuses)?></td>
								</tr>
								<tr>
									<td class="title2">Assigned To:</td>
									<td colspan="2"><?=$this->formSelect('data[UserID]', $this->user->Cyberny_Users_ID, array('id'=>'cyber', 'style'=>'width:190px;', 'class'=>'form-field'), $this->staff)?></td>
									<td class="title2">
										Assigned By:
										<span class="subtitle2"><?=$this->task['assigner']?></span>
									</td>
								</tr>
								<tr>
									<td class="title2">Client: </td>
									<td colspan="2"><?=$this->formSelect('data[ClientID]', $this->ClientID, array('id'=>'client', 'style'=>'width:160px;', 'class'=>'form-field'), $this->clients)?></td>
									<td class="title2">
										Retainer: Yes <input type="radio" name="data[RetainerStatus]" value="y" <?php if ($this->retainer) echo "CHECKED";?>>
										No <input type="radio" name="data[RetainerStatus]" value="n" <?php if (!$this->retainer) echo "CHECKED"?>>
									</td>
								</tr>
								<tr>
									<td class="title2">Project: </td>
									<td colspan="2"><?=$this->formSelect('data[client_project_id]', $this->client_project_id, array('id'=>'client_project_id', 'style'=>'width:160px;', 'class'=>'form-field'), $this->projects)?></td>
									<td class="title2">Job Code: <input type="text" name="data[job_code]" value="<?=$this->job_code?>" style="width:145px;" /></td>
								</tr>
								<tr>
									<td class="title2">Estimate Hours: </td>
									<td colspan="3"><input type="text" name="data[time_estimate]" value="" style="width:100px;" /></td>
								</tr>
								<tr>
									<td class="title2">Page Name or URL: </td>
									<td colspan="3"><input type="text" name="data[url]" value="" style="width:400px;" /></td>
								</tr>
								<tr>
									<td valign="top" class="title2">Description: </td>
									<td colspan="3"><textarea name="data[Description]" rows="15" cols="60" class="tinymce"></textarea></td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<br>
		<div id="form-at-buttonwrap">
			<input type="submit" class="btn-save" name="Save Ticket" id="Save Ticket" value="" />
		</div>

		CC: <input type="text" name="cc" value="">
	</div>
</div>

<style>
	/* ComboBox special overwrites */
	.ui-button-icon-only .ui-button-text { padding: 0.35em; }
	.ui-autocomplete-input { padding:0 0 0 0.25em; width:150px!important;}
	.ui-autocomplete { text-align: left; height: 200px; overflow: auto; width:250px!important; }
	button.ui-button-icon-only  { height:1.4em; width:2em; top:4px; }
</style>

<script type="text/javascript" charset="utf-8">
var days_off = [];
$(document).ready(function() {
	$("#client").combobox();
	$("#cyber").combobox();
	$("#client_project_id").combobox();

	$(".date-pick").datepicker({
		minDate: 0,
		showOtherMonths: true,
		selectOtherMonths: true,

		beforeShow: function() {
			$.ajax({
				dataType: "json",
				url: "/schedule/off",
				async: false,
				data: { user_id: $("#cyber").val(), year: <?=date("Y")?>, month: <?=date("m")?> },
				success: function(data) {
					days_off = [];
					$.each( data, function( key, val ) {
						days_off.push(val);
					});
				}
			});
		},
		onChangeMonthYear: function(year, month) {
			$.ajax({
				dataType: "json",
				url: "/schedule/off",
				async: false,
				data: { user_id: $("#cyber").val(), year: year, month: month },
				success: function(data) {
					days_off = [];
					$.each( data, function( key, val ) {
						days_off.push(val);
					});
				}
			});
		},
		beforeShowDay: function(date) {
			var date_string = date.getFullYear() + '-' + pad((date.getMonth() + 1),2) + '-' + pad(date.getDate(),2);
			if (days_off.indexOf(date_string)>=0) {
				return new Array(false,'','');
			}else {
				return new Array(true,'','');
			}
		}
	});

	$("#editForm").validate({
		rules: {
			"data[Title]": "required",
			"data[ClientID]": "required"
		},
		messages: {
			"data[Title]": "Name required",
			"data[ClientID]": "Select a client"
        }
	});

	tinymce.init({
		width : "600",
		selector: "textarea.tinymce",
		plugins: [
			"autolink lists link image",
			"searchreplace visualblocks",
			"contextmenu paste " //spellchecker (doesn't work)
		],
		toolbar: "bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | cut copy paste | link | undo redo | searchreplace | forecolor | spellchecker ",
		relative_urls : false,
		menubar: false,
		toolbar_items_size: 'small'
	});
});

function pad(number, length) {

	var str = '' + number;
	while (str.length < length) {
		str = '0' + str;
	}

	return str;

}
</script>