<div class="add-note-modal modal">
	<form action="/pm/addtasknote" method="post" enctype="multipart/form-data" id="noteForm">
		<input type="hidden" name="MAX_FILE_SIZE" value="5000000" />
		<input type="hidden" name="id" value="<?=$this->id?>">

		<div class="modal-head"><h1> Add Note</h1></div>
		<div class="modal-content">
			<div class="error"><span></span></div>

			<label>Note:</label>
			<textarea name="Description" id="description" class="tinymce"></textarea>

			<label>CC:</label>
			<input type="text" name="cc_list" style="border:1px solid #666666; margin:4px 0; width:400px;" />

			<label>Attachment:</label>
			<input type="file" name="attachment" />

			<div id="form-at-buttonwrap">
				<input type="submit" class="btn-addnote1" name="Add Note" id="Add Note" value="" />
			</div>
		</div>
	</form>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#description").focus();

	$('#noteForm').bind('submit', function() {
		$(this).ajaxSubmit({
			success:    function() {
				parent.closeBPopup();
				parent.updateNotes();
			}
		});
		return false; // <-- important!
	});

	jQuery.validator.messages.required = "";
	$("#noteForm").validate({
		rules: {
			Description: "required"
		},
		messages: {
			Description: "Description required"
        },
		invalidHandler: function(e, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				var message = errors == 1
					? 'You missed 1 field. It has been highlighted below'
					: 'You missed ' + errors + ' fields.  They have been highlighted below';
				$("div.error span").html(message);
				$("div.error").show();
			} else {
				$("div.error").hide();
			}
		}
	});

	tinymce.init({
		width : "300",
		selector: "textarea.tinymce",
		plugins: [
			"autolink lists link image",
			"searchreplace visualblocks",
			"contextmenu paste " //spellchecker (doesn't work)
		],
		toolbar: "bold italic underline strikethrough | cut copy paste | link | undo redo | searchreplace | forecolor | spellchecker ",
		relative_urls : false,
		menubar: false,
		toolbar_items_size: 'small'
	});
});
</script>