<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<div class="tickets-system tickets-list cf">
	<div class="projects-list-head system-menu">
		<div class="ftp-info concepts-work">
			<div class="icon-concepts"><img src="/images/icn_task.png"></div>
			<h1 class="lh32">All Tasks</h1>
		</div>
		<div class="search-tix">
			<form method="post" action="/pm/all">
				<input type="text" name="mask" value="" size="20" class="search-box">
				<input type="submit" value="Search" class="search-button">
			</form>
		</div>
	</div>

		<div class="table-wrap">
			<table class="centerTable system">
				<thead>
					<tr width="840" class="tickets-header">
						<th width="10" class="th-center"></th>
						<th width="80"><a href="/pm/all/sort/UserName/dir/<?=$dir?>">Owner</a></th>
						<th width="108"><a href="/pm/all/sort/c.ClientName/dir/<?=$dir?>">Client Name</a></th>
						<th width="226"><a href="/pm/all/sort/p.Title/dir/<?=$dir?>">Task Name</a></th>
						<th width="65"><a href="/pm/all/sort/ExpectedEndDate/dir/<?=$dir?>">Due Date</a></th>
						<th width="61" class="th-center"><a href="/pm/index/sort/StatusRank/dir/<?=$dir?>">Status</a></th>
						<th width="61" class="th-center">Type</th>
						<th width="81" class="th-center">Clock In</th>
						<th width="81" class="th-center">Hours</th>
						<th width="61" class="th-center">View</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				$shade = true;
				foreach($this->tasks as $key => $val) {
					$project = new Cny_Model_Project($val);
					if($shade)
						$class = 'shadeoff';
					else
						$class = 'shadeon';
					$shade = !$shade;

					$statusInfo = $project->statusInfo();
					//$priorityInfo = $project->priorityInfo();
				?>
					<tr width="840" id="<?=$val['id']?>" class="pmrow <?=$class?> <?=$statusInfo['class']?>">
						<td align="center"></td>
						<td><a href="/pm/index/user_id/<?=$val['UserID']?>"><?=$val['UserName']?></a></td>
						<td><?=$val['ClientName']?></td>
						<td><?=$val['Title']?></td>
						<td><?=date("n/d/y",$val['ExpectedEndDate'])?></td>
						<td align="center"><div class="fa task-status-<?=$statusInfo['image']?>" title="<?=$val['ProjectStatusName']?>"></div></td>
						<td align="center"><?=$project->titleIcons($val)?></td>
						<td align="center"><?=$project->clock($this->user->Cyberny_Users_ID)?></td>
						<td align="center"><?=$project->sec2hm($val['TotalTime'])?></td>
						<td align="center"><a href="/pm/view/id/<?=$val['id']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>

			<?php echo $this->paginationControl($this->tasks, 'Sliding', 'pagination_control.phtml'); ?>
		</div>
	</div>


<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$.contextMenu({
		selector: 'tbody .pmrow',
		callback: function(action, options) {
			var id = $(this).attr("id");
			if (action == "edit") {
				window.location = "/pm/edit/id/"+id;
				return false;
			}
			else if (action == "clock") {
				window.location = "/pm/clock/return/all/id/"+id;
				return false;
			}
			else if (action == "open") {
				window.location = "/pm/status/return/all/status/open/id/"+id;
				return false;
			}
			else if (action == "client") {
				window.location = "/pm/status/return/all/status/client/id/"+id;
				return false;
			}
			else if (action == "close") {
				window.location = "/pm/status/return/all/status/close/id/"+id;
				return false;
			}
		},
		items: {
			"edit": {name: "Edit", icon: "edit"},
			"sep1": "---------",
			"clock": {name: "Clock In/Out", icon: "clock"},
			"sep2": "---------",
			"open": {name: "Open", icon: "open"},
			"client": {name: "On Client", icon: "client"},
			"close": {name: "Close", icon: "close"}
		}
	});

});
</script>