<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<div class="tickets-system tickets-list cf">
<div class="system-menu">
<div class="concepts-work pt10">
<img src="/images/icn_task.png"><h1>Archived Tasks</h1>
</div>

</div>

<div class="pm-archive-search system-menu">
	<form method="post" action="">
		<div class="owner-client">
			<?=$this->formSelect('search[UserID]', $this->data['UserID'], array('id'=>'staffId', 'style'=>'width:150px;', 'class'=>'form-field'), $this->staff)?>
			<?=$this->formSelect('search[ClientID]', $this->data['ClientID'], array('id'=>'clientId', 'style'=>'width:250px;', 'class'=>'form-field'), $this->clients)?>
			</div>
		<p class="row1 archive-search">
				<label>Task Name:</label> <input type="text" name="search[keyword]" size="30" value="<?=$this->data['keyword']?>">
				<label>From:</label> <input type="text" name="search[dateStart]" size="10" class="date-pick" value="<?=$this->data['dateStart']?>">
				<label>To:</label> <input type="text" name="search[dateEnd]" size="10" class="date-pick" value="<?=$this->data['dateEnd']?>">
				<input type="checkbox" value="export" name="csvExport" class="ml10"> 
				<label>Export</label>
				<input type="submit" value="Search" class="submit_btn search-button">
		</p>
	</form>
</div>

		<div class="table-wrap">
			<table class="centerTable system">
				<tbody>
					<tr class="tickets-header">
						<th width="10" class="th-center"></th>
						<th width="81"><a href="/pm/archive/sort/UserName/dir/<?=$dir?>">Owner</a></th>
						<th width="168"><a href="/pm/archive/sort/c.ClientName/dir/<?=$dir?>">Client Name</a></th>
						<th width="306"><a href="/pm/archive/sort/p.Title/dir/<?=$dir?>">Task Name</a></th>
						<th width="65"><a href="/pm/archive/sort/ExpectedEndDate/dir/<?=$dir?>">Date</a></th>
						<th width="61" class="th-center">Type</th>
						<th width="81" class="th-center">Hours</th>
						<th width="61" class="th-center">View</th>
					</tr>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				$shade = true;
				foreach($this->tasks as $key => $val) {
					$project = new Cny_Model_Project($val);
					if($shade)
						$class = 'shadeoff';
					else
						$class = 'shadeon';
					$shade = !$shade;

					//$priorityInfo = $project->priorityInfo();
				?>
					<tr width="840" id="<?=$val['id']?>" class="pmrow <?=$class?>">
						<td align="center"></td>
						<td><?=$val['UserName']?></td>
						<td><?=$val['ClientName']?></td>
						<td><?=$val['Title']?></td>
						<td><?=date("n/d/y",$val['ExpectedEndDate'])?></td>
						<td align="center"><?=$project->titleIcons($val)?></td>
						<td align="center"><?=$project->sec2hm($val['TotalTime'])?></td>
						<td align="center"><a href="/pm/view/id/<?=$val['id']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>

			<?php echo $this->paginationControl($this->tasks, 'Sliding', 'pagination_control.phtml'); ?>
</div>
</div>
<style>
	/* ComboBox special overwrites */
	.ui-button-icon-only .ui-button-text { padding: 0.35em; }
	.ui-autocomplete-input { padding:0 0 0 0.25em; }
	.ui-autocomplete { text-align: left; height: 250px; overflow: auto; }
	button.ui-button-icon-only  { height:1.4em; width:2em; top:4px; }
</style>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#clientId").combobox();
	$("#staffId").combobox();
	$("#priorityId").combobox();

	$(".date-pick").datepicker();
});
</script>