<script type="text/javascript">
	tinymce.init({
		width : "840",
		selector: "textarea",
		plugins: [
			"autolink lists link image print anchor",
			"searchreplace visualblocks code fullscreen",
			"contextmenu paste " //spellchecker (doesn't work)
		],
		toolbar: "bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | cut copy paste | link | undo redo | searchreplace | forecolor | spellchecker | code print fullscreen",
		relative_urls : false
	});
</script>


<h1 class="sched mb10">Daily Schedule</h1>

<div id="interior-content">
	<div id="centermain">

		<div class="error"><?=$this->message?></div>

		<?php
		$i=1;
		for ($c=$this->start; $c<$this->end; $c++) {
			$day = date('w',mktime(0,0,0,1,$c,date('Y')));
			if ($day > 0 && $day < 6) {
		?>
		<div class="day datatable">
			<div class="title">
				&nbsp;&nbsp;<?=date('l',mktime(0,0,0,1,$c,date('Y')))?>
				<div class="status" id="status<?=$i?>" onclick="changeStatus('<?=$i?>','<?=$c?>')">Hide</div>
			</div>

			<table id="table<?=$i?>">
				<thead>
				<tr class="header2">
					<th width="20"></th>
					<th width="125">Owner</th>
					<th width="225">Client</th>
					<th width="360">Task Title/Description</th>
					<th width="100">Project</th>
					<th width="75" class="th-center">Edit</th>
				</tr>
				</thead>

				<tbody>
			<?php
			$shade = 'odd';
			$shade = true;
			foreach ($this->results[$i] as $row) {
				if($shade)
					$class = 'shadeoff';
				else
					$class = 'shadeon';
				$shade = !$shade;
			?>
				<tr class="<?=$class?>">
					<td></td>
					<td><?=$row['UserName']?></td>
					<td><?=$row['ClientName']?></td>
					<td><?=$row['Title']?></td>
					<td>&nbsp;</td>
					<td align="center"><a href="/pm/view/id/<?=$row['id']?>"><img border="0" src="/images/icon-edit.gif"/></a></td>
				</tr>
			<?php
			}
			?>
				</tbody>
				<tfoot>
				<tr>
					<td colspan="5">
					</td>
				</tr>
				</tfoot>
			</table>
		</div>
		<br/>
		<?
			}
			$i++;
		}
		?>

		<br/><br/>
		<div class="prod-email">
			<form method="post" action="/pm/emaildailyschedule">
			<input type="hidden" name="email" value="email">

			<textarea name="intro" cols="80" rows="20"></textarea>

			<?php
			$i=1;
			for ($c=$this->start; $c<$this->end; $c++) {
				$day = date('w',mktime(0,0,0,1,$c,date('Y')));
				if ($day > 0 && $day < 6) {
			?>
			<input type="hidden" name="days[]" id="day<?=$i?>" value="<?=$c?>">
			<?php
				$i++;
				}
			}
			?>

			<br/>
			<div style="text-align:center;">
				<input type="submit" class="submit_btn search-button" name="Send Email" id="Send Email" value="Send Update" />
			</div>
			</form>
		</div>

	</div>
</div>

<script type="text/javascript">
function changeStatus(idNum,day) {
	if ($("#table"+idNum).css('display') == 'none') {
		$("#table"+idNum).show();
		$("#status"+idNum).html('Hide');
		$("#day"+idNum).val(day);
	}else {
		$("#table"+idNum).hide();
		$("#status"+idNum).html('Show');
		$("#day"+idNum).val('');
	}
}

$(document).ready(function(){

});
</script>