<div id="interior-header">
	<table width="836" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="left"><img src="/images/icn_task.png" hspace="4"></td>
			<td width="165"><h1>Edit Task</h1></td>
			<td width="488" align="center"></td>
			<td width="204" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">
		<div class="viewtable">
			<form action="/pm/edit/id/<?=$this->task['id']?>" method="post" id="editForm">
			<table width="840" class="pm_ticket">
				<thead>
					<tr width="836" class="header">
						<th colspan="2">Task Number: <?=$this->task['id']?></th>
						<th>
							<ul class="buttons">
								<li><a href="/pm/delete/id/<?=$this->task['id']?>" onclick="return confirm('Are you sure you want to delete this ticket? This can not be undone!');" class="btn-delete">delete</a></li>
								<li><a href="/pm/view/id/<?=$this->task['id']?>" class="btn-back">back</a></li>
							</ul>
						</th>
					</tr>
					<tr width="836">
						<td colspan="3">
							<table width="836" style="border:0;">
								<tr class="header2">
									<th width="134">Task Name: </th>
									<th><input type="text" name="data[Title]" value="<?=$this->escape($this->task['Title'])?>" style="width:400px;" /></th>
								</tr>
							</table>
						</td>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="3"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr width="836">
						<td width="836" colspan="3">
							<table width="836" style="border:0;">
								<tr>
									<td width="150" class="title2">Start Date: </td>
									<td><input type="text" name="data[StartDate]" class="date-pick" style="width:100px;" value="<?=($this->task['StartDate']) ? date("n/j/Y",$this->task['StartDate']) : "";?>"></td>
									<td class="title2">Due Date: </td>
									<td>
										<input type="text" name="data[ExpectedEndDate]" id="ExpectedEndDate" class="date-pick" style="width:100px;" value="<?=($this->task['ExpectedEndDate']) ? date("n/j/Y",$this->task['ExpectedEndDate']) : "";?>">
						 				<?=$this->formSelect('data[timespan]', $this->task['timespan'], array('id'=>'timespan', 'style'=>'width:125px;', 'class'=>''), array("1"=>"Morning","2"=>"Afternoon","3"=>"End of Day"))?>
									</td>
								</tr>
								<tr>
									<td class="title2">Priority: </td>
									<td><?=$this->formSelect('data[ProjectPriorityID]', $this->task['ProjectPriorityID'], array('id'=>'priority', 'style'=>'width:125px;', 'class'=>''), array(""=>"Select Priority")+$this->priorities)?></td>
									<td class="title2">Status: </td>
									<td><?=$this->formSelect('data[ProjectStatusID]', $this->task['ProjectStatusID'], array('id'=>'status', 'style'=>'width:125px;', 'class'=>''), array(""=>"Select Status")+$this->statuses)?></td>
								</tr>
								<tr>
									<td class="title2">Assigned To:</td>
									<td colspan="2"><?=$this->formSelect('data[UserID]', $this->task['UserID'], array('id'=>'cyber', 'style'=>'width:190px;', 'class'=>'form-field'), $this->staff)?></td>
									<td class="title2">
										Assigned By:
										<span class="subtitle2"><?=$this->task['assigner']?></span>
									</td>
								</tr>
								<tr>
									<td class="title2">Client: </td>
									<td colspan="2"><?=$this->formSelect('data[ClientID]', $this->task['ClientID'], array('id'=>'client', 'style'=>'width:160px;', 'class'=>'form-field'), $this->clients)?></td>
									<td class="title2">
										Retainer: Yes <input type="radio" name="data[RetainerStatus]" value="y" <?=($this->task['RetainerStatus']=="y")?"CHECKED":"";?>>
										No <input type="radio" name="data[RetainerStatus]" value="n" <?=($this->task['RetainerStatus']!="y")?"CHECKED":"";?>>
									</td>
								</tr>
								<tr>
									<td class="title2">Project: </td>
									<td colspan="2"><?=$this->formSelect('data[client_project_id]', $this->task['client_project_id'], array('id'=>'client_project_id', 'style'=>'width:160px;', 'class'=>'form-field'), $this->projects)?></td>
									<td class="title2">Job Code: <input type="text" name="data[job_code]" value="<?=$this->task['job_code']?>" style="width:145px;" /></td>
								</tr>
								<tr>
									<td class="title2">Estimate Hours: </td>
									<td colspan="3"><input type="text" name="data[time_estimate]" value="<?=$this->task['time_estimate']?>" style="width:100px;" /></td>
								</tr>
								<tr>
									<td class="title2">Page Name or URL: </td>
									<td colspan="3"><input type="text" name="data[url]" value="<?=$this->task['url']?>" style="width:400px;" /></td>
								</tr>
								<tr>
									<td valign="top" class="title2">Description: </td>
									<td colspan="3"><textarea class="tinymce" name="data[Description]" rows="15" cols="60"><?=$this->task['Description']?></textarea></td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<br>
		<div id="form-at-buttonwrap">
			<input type="submit" class="btn-save" name="Save Ticket" value="" onclick="return checkForm();" />
		</div>

		<input type="checkbox" name="resend" value="email"> Re-Email Task
		<br/>
		CC: <input type="text" name="cc" value="">

		<input type="hidden" name="explenation" id="explanation" value="">
		<input type="hidden" name="status_explenation" id="status_explanation" value="">
	</div>
</div>


<!-- modals -->
<div class="thanks-ticket-modal hide" id="request_message">
	<div class="modal">
		<div class="modal-head"><h1>Approval Required</h1></div>
		<div class="modal-content">
			<h2 style="font-size:15px;">Your task will not be moved until it is approved.</h2>

			<p style="margin:10px 0;text-align:left;">
				Add comment regarding this change request:<br/>
				<textarea name="explenation" id="popup_explenation" style="width:375px;height:75px;"></textarea>
			</p>

			<p style="line-height: 14px;">
				<input type="submit" class="btn-save" name="Save Ticket" value="" onclick="processForm()">
				<br/><br/>
				You will receive an email once the assigner has reviewed your request and either approved or denied it.
			</p>
		</div>
	</div>
</div>

<div class="thanks-ticket-modal hide" id="status_message">
	<div class="modal">
		<div class="modal-head"><h1>Comment</h1></div>
		<div class="modal-content">
			<p style="margin:10px 0;text-align:left;">
				Add comment regarding this status change:<br/>
				<textarea name="status_explenation" id="popup_explenation2" style="width:375px;height:75px;"></textarea>
			</p>

			<p style="line-height: 14px;">
				<input type="submit" class="btn-save" name="Save Ticket" value="" onclick="processForm()">
			</p>
		</div>
	</div>
</div>


</form>

<style>
	/* ComboBox special overwrites */
	.ui-button-icon-only .ui-button-text { padding: 0.35em; }
	.ui-autocomplete-input { padding:0 0 0 0.25em; width:150px!important;}
	.ui-autocomplete { text-align: left; height: 200px; overflow: auto; width:250px!important; }
	button.ui-button-icon-only  { height:1.4em; width:2em; top:4px; }
</style>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#client").combobox();
	$("#cyber").combobox();
	$("#client_project_id").combobox();

	$(".date-pick").datepicker({
		minDate: 0,
		showOtherMonths: true,
		selectOtherMonths: true,

		beforeShow: function() {
			$.ajax({
				dataType: "json",
				url: "/schedule/off",
				async: false,
				data: { user_id: $("#cyber").val(), year: <?=date("Y")?>, month: <?=date("m")?> },
				success: function(data) {
					days_off = [];
					$.each( data, function( key, val ) {
						days_off.push(val);
					});
				}
			});
		},
		onChangeMonthYear: function(year, month) {
			$.ajax({
				dataType: "json",
				url: "/schedule/off",
				async: false,
				data: { user_id: $("#cyber").val(), year: year, month: month },
				success: function(data) {
					days_off = [];
					$.each( data, function( key, val ) {
						days_off.push(val);
					});
				}
			});
		},
		beforeShowDay: function(date) {
			var date_string = date.getFullYear() + '-' + pad((date.getMonth() + 1),2) + '-' + pad(date.getDate(),2);
			if (days_off.indexOf(date_string)>=0) {
				return new Array(false,'','');
			}else {
				return new Array(true,'','');
			}
		}
	});
/*
	$("#editForm").validate({
		rules: {
			"data[Title]": "required"
		},
		messages: {
			"data[Title]": "Name required"
        }
	});
*/

	tinymce.init({
		width : "600",
		selector: "textarea.tinymce",
		plugins: [
			"autolink lists link image",
			"searchreplace visualblocks",
			"contextmenu paste " //spellchecker (doesn't work)
		],
		toolbar: "bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | cut copy paste | link | undo redo | searchreplace | forecolor | spellchecker ",
		relative_urls : false,
		menubar: false,
		toolbar_items_size: 'small'
	});
});

function checkForm() {
	if ($("#status").val() != <?=$this->task['ProjectStatusID']?> && $("#ExpectedEndDate").val() != "<?=date("n/j/Y",$this->task['ExpectedEndDate'])?>") {
		alert("Why are you changing the due date and the status at the same time?");
		return false;
	}else if ($("#status").val() != <?=$this->task['ProjectStatusID']?> && ($("#status").val() == 3 || $("#status").val() == 4 )) {
		<? if ($this->task['ticket_id'] > 0) { ?>
		if ($("#status").val() == 3) {
			$("#popup_explenation2").val("Hello,\r\n\r\nThis task has been completed and is ready for review. After your review, return to the ticket and click on the \"approve and close\" button or add notes on any remaining issues. \r\n\r\nNote: If you do not respond to this ticket within 30-days, it will automatically be closed as a completed task and moved to the archive.");
		}else {
			$("#popup_explenation2").val("");
		}
		<?php } ?>

		$('#status_message').bPopup();

		return false;
	}else {
<?php
if ($this->user->Cyberny_Users_ID != 2 && $this->user->Cyberny_Users_ID != $this->task['assigner_id']) {
?>
	if ($("#ExpectedEndDate").val() != "<?=date("n/j/Y",$this->task['ExpectedEndDate'])?>") {
		$('#request_message').bPopup();
		return false;
	}else {
		return true;
	}
<?php
}
?>
	}
}


function processForm() {
	$("#explanation").val($("#popup_explenation").val());
	$("#status_explanation").val($("#popup_explenation2").val());

	$('#editForm').submit();
}

function pad(number, length) {

	var str = '' + number;
	while (str.length < length) {
		str = '0' + str;
	}

	return str;

}
</script>