<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div class="tickets-system tickets-list cf">
	<div class="projects-list-head system-menu">
		<div class="ftp-info concepts-work">
			<div class="icon-concepts"><img src="/images/icn_task.png"></div>
			<h1 class="lh32">Tasks</h1>
		</div>
		<div class="add-task">
				<a href="/pm/add" id="addticket"><img src="/images/add-task-icon.png" width="125" height="34"></a>
		</div>
		<div class="user-switch-drop">
			<form method="post" action="" id="changeUser">
			<?=$this->formSelect('show_user_id', $this->view_user, array('id'=>'user_id', 'style'=>'width:150px;height:25px;', 'class'=>'form-field', 'onchange'=>'$("#changeUser").submit()'), $this->staff)?>
			</form>
		</div>
	</div>



		<form method="post" action="/pm/status">
		<div class="table-wrap">
			<table class="centerTable system">
				<thead>
					<tr width="840" class="hourtrack-header">
						<th colspan="2"></th>
						<th colspan="8" style="text-align: right;">
							<?php
							echo "Total Hours WTD: $this->total_hours_wtd &nbsp;&nbsp;&nbsp;&nbsp; Total Retainer WTD: $this->total_retainer_wtd &nbsp; ";
							?>
						</th>
					</tr>
					<tr class="tickets-header">
						<th width="20" class="th-center"></th>
						<th width="128"><a href="/pm/index/sort/c.ClientName/dir/<?=$dir?>">Client Name</a></th>
						<th width="286"><a href="/pm/index/sort/p.Title/dir/<?=$dir?>">Task Name</a></th>
						<th width="65"><a href="/pm/index/sort/ExpectedEndDate/dir/<?=$dir?>">Due Date</a></th>
						<th width="61" class="th-center"><a href="/pm/index/sort/StatusRank/dir/<?=$dir?>">Status</a></th>
						<th width="61" class="th-center">Type</th>
						<th width="81" class="th-center">Clock In</th>
						<th width="81" class="th-center">Hours</th>
						<th width="51" class="th-center">View</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				foreach($this->tasks as $key => $val) {
					$project = new Cny_Model_Project($val);

					$statusInfo = $project->statusInfo();
					//$priorityInfo = $project->priorityInfo();
				?>
					<tr width="840" id="<?=$val['id']?>" class="pmrow <?=$statusInfo['class']?>">
						<td align="center">
						<?php //if ($this->user->Cyberny_Users_ID == 2) {?>
							<input type="checkbox" name="id[]" value="<?=$val['id']?>">
						<?php //} ?>
						</td>
						<td><?=$val['ClientName']?></td>
						<td>
							<span rel="#tip_<?=$val['id']?>" class="<?=($val['Description'])?"tooltip":""?>"><?=$val['Title']?></span>
							<div id="tip_<?=$val['id']?>" class="tip hide"><?="<code>".$val['Description']."</code>"?></div>
						</td>
						<td><?=date("n/d/y",$val['ExpectedEndDate'])?></td>
						<td align="center"><div class="fa task-status-<?=$statusInfo['image']?>" title="<?=$val['ProjectStatusName']?>"></div></td>
						<td align="center"><?=$project->titleIcons($val)?></td>
						<td align="center"><?=$project->clock($this->user->Cyberny_Users_ID)?></td>
						<td align="center"><?=$project->sec2hm($val['TotalTime'])?></td>
						<td align="center"><a href="/pm/view/id/<?=$val['id']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
					</tr>
				<?php
				}
				?>
					<tr class="pmrow-foot ">
						<td></td>
						<td colspan="8">
							<select name="status">
								<option value="open">Open</option>
								<!--<option value="client">On Client</option>-->
								<option value="close">Close</option>
							</select>

							<input type="submit" value="Update Selected">
						</td>
					</tr>
				</tbody>
			</table>

			<?php echo $this->paginationControl($this->tasks, 'Sliding', 'pagination_control.phtml'); ?>
		</div>
		</form>
	</div>

<div class="thanks-ticket-modal hide" id="request_message">
	<div class="modal">
		<div class="modal-head">
			<h1>Comment</h1>
			<a class="close-modal posright"></a>
		</div>
		<div class="modal-content">
			<form method="post" action="/pm/status" target="_parent">
				<input type="hidden" name="id" id="cs_id" value="">
				<input type="hidden" name="status" id="cs_status" value="">

				<label>Add comment regarding this status change:</label>
				<textarea name="explenation" id="popup_explenation" style="width:375px;height:75px;"></textarea>

				<div id="form-at-buttonwrap">
					<input type="submit" class="btn-save" name="Save Ticket" value="">
				</div>

				<p id="no_email" style="display:none;">
					<input type="checkbox" name="no_email" value="1"> Don't send email to client.
				</p>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
var tickets = new Array();
<?php
foreach($this->tasks as $key => $val) {
	if ($val['ticket_id']>0) {
?>
		tickets.push(<?=$val['id']?>);
<?php
	}
}
?>

$(document).ready(function() {
	$.contextMenu({
		selector: 'tbody .pmrow',
		callback: function(action, options) {
			var id = $(this).attr("id");
			$("#no_email").hide();
			if (action == "edit") {
				window.location = "/pm/edit/id/"+id;
				return false;
			}
			else if (action == "clock") {
				window.location = "/pm/clock/return/index/id/"+id;
				return false;
			}
			else if (action == "open") {
				window.location = "/pm/status/return/index/status/open/id/"+id;
				return false;
			}
			else if (action == "client") {
				//window.location = "/pm/status/return/index/status/client/id/"+id;
				$("#cs_id").val(id);
				$("#cs_status").val("client");
				$("#no_email").show();

				if (in_array(id,tickets)) {
					$("#popup_explenation").val("Hello,\r\n\r\nThis task has been completed and is ready for review. After your review, return to the ticket and click on the \"approve and close\" button or add notes on any remaining issues. \r\n\r\nNote: If you do not respond to this ticket within 30-days, it will automatically be closed as a completed task and moved to the archive.");
				}else {
					$("#popup_explenation").val("");
				}

				this.contextMenu("hide");
				$('#request_message').bPopup({escClose:false, modalClose:false, closeClass: 'close-modal' });
				return false;
			}
			else if (action == "close") {
				//window.location = "/pm/status/return/index/status/close/id/"+id;
				$("#cs_id").val(id);
				$("#cs_status").val("close");

				this.contextMenu("hide");
				$('#request_message').bPopup({escClose:false, modalClose:false, closeClass: 'close-modal'});
				return false;
			}
		},
		items: {
			"edit": {name: "Edit", icon: "edit"},
			"sep1": "---------",
			"clock": {name: "Clock In/Out", icon: "clock"},
			"sep2": "---------",
			"open": {name: "Open", icon: "open"},
			"client": {name: "On Client", icon: "client"},
			"close": {name: "Close", icon: "close"}
		}
	});

	$('.tooltip').cluetip({
		local: true,
		showTitle: false,
		width: 400,
		cluetipClass: 'jtip',
		hoverIntent: {
			sensitivity:  1,
			interval:     100
		}
	});
});
</script>