<?php
$weekint = 7*24*3600;
$weekstart = strtotime(date("Y",$this->time)."W".date("W",$this->time));
?>
<div class="schedule-head">
	<img src="/images/icn_task.png">
	<h1 style="color:#0f84c1;">Production Schedule</h1>
	<a href="/pm/add" id="addticket" class="btn-addtask"><img src="/images/add-task-icon.png" width="125" height="34"></a>
</div>


<div id="interior-content">
	<div id="centermain">

		<div class="">
			<table id="mediamanagertable">
				<thead>
					<tr width="840" class="header">
						<th colspan="10">Production Planner</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td width="31" valign="top">
							<a href="/pm/productionschedule/timestamp/<?=$this->time-$weekint?>"><img src="/images/arrow-orange.gif" width="17" height="20" hspace="4" border="0"></a>
						</td>
						<td width="89">
							<a href="/pm/productionschedule/timestamp/<?=$this->time-$weekint?>">previous week</a >
						</td>
						<td width="600" align="center">
							current week: <?=date('F d, Y', $weekstart)?>
						</td>
						<td width="89" align="right">
							<a href="/pm/productionschedule/timestamp/<?=$this->time+$weekint?>">next week</a>
						</td>
						<td width="31" valign="top">
							<a href="/pm/productionschedule/timestamp/<?=$this->time+$weekint?>"><img src="/images/arrow-green.gif" width="17" height="20" hspace="4" border="0"></a>
						</td>
					</tr>
				</tbody>
			</table>

			<br>
			<table width="840" border="0" align="left" cellpadding="0" cellspacing="0">
				<tr valign="top">
					<td width="6"><img src="/images/morning.gif" width="27" hspace="8" vspace="10"></td>
					<td width="790">
						<table width="790" border="0" align="center" cellpadding="0" cellspacing="0" class="planner_border">
							<tr>
								<td valign="top">
									<table width="790" border="0" cellpadding="2" cellspacing="0" background="/images/back_grey.gif" id="planner_date">
										<tr align="center">
											<td width="153"><?php echo str_replace(' ', '&nbsp;',date('l, M d', $weekstart))?>
											</td>
											<td width="155"><?php echo str_replace(' ', '&nbsp;',date('l, M d', $weekstart + (24*3600))) ?>
											</td>
											<td width="155"><?php echo str_replace(' ', '&nbsp;',date('l, M d', $weekstart + (2*24*3600))) ?>
											</td>
											<td width="155"><?php echo str_replace(' ', '&nbsp;',date('l, M d', $weekstart + (3*24*3600))) ?>
											</td>
											<td width="156"><?php echo str_replace(' ', '&nbsp;',date('l, M d', $weekstart + (4*24*3600))) ?>
											</td>
										</tr>
									</table>
									<table height="250" width="790" border="0" cellpadding="0" cellspacing="0" background="/images/back_green.gif" id="planner_table1">
									<?php
									$a1 = $a2 = $a3 = $a4 = $a5 = $b1 = $b2 = $b3 = $b4 = $b5 = $c1 = $c2 = $c3 = $c4 = $c5 = array();
									$tmp = array();
									foreach ($this->projects as $row) {
										//print_r($row);
										$td = '&nbsp;';
										$planner_array = array("1"=>array("2"=>"a1","3"=>"a2","4"=>"a3","5"=>"a4","6"=>"a5","class"=>"morning"),
																"2"=>array("2"=>"b1","3"=>"b2","4"=>"b3","5"=>"b4","6"=>"b5","class"=>"afternoon"),
																"3"=>array("2"=>"c1","3"=>"c2","4"=>"c3","5"=>"c4","6"=>"c5","class"=>"endofday"));


										$td = "<div id='project_{$row['id']}' class='sortable {$planner_array[$row['timespan']]['class']}'><a href='/pm/view/id/{$row['id']}' class='planner_client_title'>{$row['ClientName']}:</a> <a href='/pm/view/id/{$row['id']}' class='planner_project'>{$row['Title']}</a><br><a href='/pm/index/user_id/{$row['UserID']}' class='planner_assigned_to'>{$row['UserName']}</a></div>";
										if (array_key_exists($row['timespan'],$planner_array))
											if (array_key_exists($row['WeekDay'],$planner_array[$row['timespan']]))
												$tmp = $planner_array[$row['timespan']][$row['WeekDay']];

										if ($tmp)
											array_push($$tmp, $td);

									}

									$max1 = get_rows(count($a1),count($a2),count($a3),count($a4),count($a5));
									$max2 = get_rows(count($b1),count($b2),count($b3),count($b4),count($b5));
									$max3 = get_rows(count($c1),count($c2),count($c3),count($c4),count($c5));
								?>
										<tr valign="top">
											<td width="154">
												<div id="morning_<?=date('mdY', $weekstart) ?>" class="due_morning sortableWrapper">
												<?php
													foreach($a1 AS $val){
														echo $val;
													}
												?>
												</div>
												&nbsp;
											</td>
											<td width="154">
												<div id="morning_<?=date('mdY', $weekstart + (24*3600)) ?>" class="due_morning sortableWrapper">
												<?php
													foreach($a2 AS $val){
														echo $val;
													}
												?>
												</div>
												&nbsp;
											</td>
											<td width="154" class="">
												<div id="morning_<?=date('mdY', $weekstart + (2*24*3600)) ?>" class="due_morning sortableWrapper">
												<?php
													foreach($a3 AS $val){
														echo $val;
													}
												?>
												</div>
												&nbsp;
											</td>
											<td width="154" class="">
												<div id="morning_<?=date('mdY', $weekstart + (3*24*3600)) ?>" class="due_morning sortableWrapper">
												<?php
													foreach($a4 AS $val){
														echo $val;
													}
												?>
												</div>
												&nbsp;
											</td>
											<td width="154" class="">
												<div id="morning_<?=date('mdY', $weekstart + (4*24*3600)) ?>" class="due_morning sortableWrapper">
												<?php
													foreach($a5 AS $val){
														echo $val;
													}
												?>
												</div>
												&nbsp;
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table width="840" border="0" align="left" cellpadding="0" cellspacing="0">
				<tr valign="top">
					<td width="6"><img src="/images/afternoon.gif" width="27" height="201" hspace="8" vspace="10"></td>
					<td width="790">
						<table width="790" border="0" align="center" cellpadding="0" cellspacing="0" class="planner_border">
							<tr>
								<td valign="top">
									<table height="250" width="790" border="0" cellpadding="0" cellspacing="0" background="/images/back_grey.gif" id="planner_table2">
			                			<tr valign="top">
											<td width="153">
												<div id="afternoon_<?=date('mdY', $weekstart) ?>" class="due_afternoon sortableWrapper">
												<?php
													foreach($b1 AS $val){
														echo $val;
													}
												?>
												</div>
												&nbsp;
											</td>
											<td width="155">
												<div id="afternoon_<?=date('mdY', $weekstart + (24*3600)) ?>" class="due_afternoon sortableWrapper">
												<?php
													foreach($b2 AS $val){
														echo $val;
													}
												?>
												</div>
												&nbsp;
											</td>
											<td width="154" class="">
												<div id="afternoon_<?=date('mdY', $weekstart + (2*24*3600)) ?>" class="due_afternoon sortableWrapper">
												<?php
													foreach($b3 AS $val){
														echo $val;
													}
												?>
												</div>
												&nbsp;
											</td>
											<td width="154" class="">
												<div id="afternoon_<?=date('mdY', $weekstart + (3*24*3600)) ?>" class="due_afternoon sortableWrapper">
												<?php
													foreach($b4 AS $val){
														echo $val;
													}
												?>
												</div>
												&nbsp;
											</td>
											<td width="155" class="">
												<div id="afternoon_<?=date('mdY', $weekstart + (4*24*3600)) ?>" class="due_afternoon sortableWrapper">
												<?php
													foreach($b5 AS $val){
														echo $val;
													}
												?>
												</div>
												&nbsp;
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table width="840" border="0" align="left" cellpadding="0" cellspacing="0">
				<tr valign="top">
					<td width="6"><img src="/images/endofday.gif" width="27" height="211" hspace="8" vspace="10"></td>
					<td width="790">
						<table height="250" width="790" border="0" align="center" cellpadding="0" cellspacing="0" class="planner_border">
							<tr>
								<td valign="top">
									<table width="790" border="0" cellpadding="0" cellspacing="0" background="/images/back_blue.gif" id="planner_table3">
			                			<tr valign="top">
											<td width="154">
												<div id="endofday_<?=date('mdY', $weekstart) ?>" class="due_endofday sortableWrapper">
												<?php
													foreach($c1 AS $val){
														echo $val;
													}
												?>
												</div>
												&nbsp;
											</td>
											<td width="154">
												<div id="endofday_<?=date('mdY', $weekstart + (24*3600)) ?>" class="due_endofday sortableWrapper">
												<?php
													foreach($c2 AS $val){
														echo $val;
													}
												?>
												</div>
												&nbsp;
											</td>
											<td width="154" class="">
												<div id="endofday_<?=date('mdY', $weekstart + (2*24*3600)) ?>" class="due_endofday sortableWrapper">
												<?php
													foreach($c3 AS $val){
														echo $val;
													}
												?>
												</div>
												&nbsp;
											</td>
											<td width="154" class="">
												<div id="endofday_<?=date('mdY', $weekstart + (3*24*3600)) ?>" class="due_endofday sortableWrapper">
												<?php
													foreach($c4 AS $val){
														echo $val;
													}
												?>
												</div>
												&nbsp;
											</td>
											<td width="153" class="">
												<div id="endofday_<?=date('mdY', $weekstart + (4*24*3600)) ?>" class="due_endofday sortableWrapper">
												<?php
													foreach($c5 AS $val){
														echo $val;
													}
												?>
												</div>
												&nbsp;
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
<?php if ($this->user->intranet_admin == 1) { ?>
		$('div.sortableWrapper').droppable({
			tolerance: 'pointer',
			drop: function(event, ui) {
				//$(this).attr("id"); //day dropped into
				//ui.draggable //element being dragged

				var TOD = $(this).attr("id").replace(/_\d*/gi, "");
				var pID = ui.draggable.attr("id").replace("project_","");
				var newDate = $(this).attr("id").replace(/\D*_/gi, "");
				var newDateFormatted = newDate.substring(4) + "-" + newDate.substring(0,2) + "-" + newDate.substring(2,4);

				if(TOD == "morning")
					ui.draggable.css("background-color","#66C449");
				else if(TOD == "afternoon")
					ui.draggable.css("background-color","#2A2B2A");
				else
					ui.draggable.css("background-color","#2E377B");

				ui.draggable.css({'left':'0','top':'0'}).appendTo($(this)).hide().fadeIn();

				$.post("/pm/prodscheduleajax",{id: pID, timeOfDay: TOD, newDate: newDateFormatted});
			}
		});

		$(".sortable").draggable();
<?php } ?>
});
</script>
<?php
function get_rows($x1,$x2,$x3,$x4,$x5){
	$val = $x1;
	if($val < $x2)
		$val = $x2;

	if($val < $x3)
		$val = $x3;

	if($val < $x4)
		$val = $x4;

	if($val < $x5)
		$val = $x5;

	return $val+3;
}
?>