<div class="add-ticket-modal modal">
	<form action="/pm/quick" method="post" enctype="multipart/form-data" id="editForm">

		<div class="modal-head"><h1> Quick task</h1></div>
		<div class="modal-content modalW480">
			<div class="error"><span></span></div>

			<label>Title:</label>
			<?=$this->formSelect('data[Title]', "", array('id'=>'title', 'style'=>'width:250px;', 'class'=>'form-field'), $this->titles)?>

			or <input type="text" name="title" value="" style="width:190px;display:inline;" placeholder="Custom Title">

			<label>Client:</label>
			<div class="ui-autocomplete-wrap">
				<?=$this->formSelect('data[ClientID]', '', array('id'=>'client', 'style'=>'width:160px;', 'class'=>'form-field'), $this->clients)?>
			</div>

			<label>Retainer:</label>
			<input type="checkbox" name="data[RetainerStatus]" value="y" checked>

			<label>Start Time:</label>
			<?=$this->formSelect('time', '', array('id'=>'time', 'style'=>'width:160px;', 'class'=>'form-field'), $this->times)?>

			<div id="form-at-buttonwrap" class="mTB20">
				<input type="submit" class="btn-addtask" name="Add Task" value="">
			</div>

		</div>
	</form>
</div>


<style>
		/* ComboBox special overwrites */
	.ui-button-icon-only .ui-button-text { padding: 0.35em; }
	.ui-autocomplete-input { padding:0 0 0 0.25em; width:150px!important;}
	.ui-autocomplete { text-align: left; height: 200px; overflow: auto; width:250px!important; }
	button.ui-button-icon-only  { height:34px; width:2em; top:-1px; }
</style>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$("#description").focus();

		$("#client").combobox();

		jQuery.validator.messages.required = "";
		$("#editForm").validate({
			rules: {
				"data[Title]": "required",
				"data[ClientID]": "required"
			},
			messages: {
				"data[Title]": "Select a title",
				"data[ClientID]": "Select a client"
			},
			invalidHandler: function(e, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {
					var message = errors == 1
						? 'You missed 1 field. It has been highlighted below'
						: 'You missed ' + errors + ' fields.  They have been highlighted below';
					$("div.error span").html(message);
					$("div.error").show();
				} else {
					$("div.error").hide();
				}
			}
		});
	});
</script>
