<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_task.png"></td>
			<td width="265"><h1>Task Change Requests</h1></td>
			<td width="243" align="center"></td>
			<td width="304" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<div class="datatable">
			<table id="mediamanagertable">
				<thead>
					<tr width="840" class="header">
						<th colspan="10">Approval Requests</th>
					</tr>
					<tr class="header2">
						<th width="20" class="th-center"></th>
						<th width="150">Owner</th>
						<th width="250">Task</a></th>
						<th width="125">Orig. Due Date</th>
						<th width="125">New Due Date</th>
						<th width="120">Status</th>
						<th width="50" class="th-center">View</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				$shade = true;
				foreach($this->approvals as $key => $val) {
					if($shade)
						$class = 'shadeoff';
					else
						$class = 'shadeon';
					$shade = !$shade;
				?>
					<tr width="840" class="<?=$class?>">
						<td></td>
						<td><?=$val['owner']?></td>
						<td><?=$val['Title']?></td>
						<td><?=date("n/d/y",$val['original_date'])?></td>
						<td><?=date("n/d/y",$val['new_date'])?></td>
						<td><?=$val['status']?></td>
						<td align="center"><a href="/pm/requestview/id/<?=$val['task_id']?>/request_id/<?=$val['id']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>
		</div>

		<br/><br/>
		<div class="datatable">
			<table id="mediamanagertable">
				<thead>
					<tr width="840" class="header">
						<th colspan="10">View Requests</th>
					</tr>
					<tr class="header2">
						<th width="20" class="th-center"></th>
						<th width="450">Task</a></th>
						<th width="125">Orig. Due Date</th>
						<th width="125">New Due Date</th>
						<th width="120">Status</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				$shade = true;
				foreach($this->requests as $key => $val) {
					if($shade)
						$class = 'shadeoff';
					else
						$class = 'shadeon';
					$shade = !$shade;
				?>
					<tr width="840" class="<?=$class?>">
						<td></td>
						<td><?=$val['Title']?></td>
						<td><?=date("n/d/y",$val['original_date'])?></td>
						<td><?=date("n/d/y",$val['new_date'])?></td>
						<td><?=$val['status']?></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>
		</div>

	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	//
});
</script>