<?php
$project = new Cny_Model_Project($this->task);
$statusInfo = $project->statusInfo();
$priorityInfo = $project->priorityInfo();
?>
<div id="interior-header">
	<table width="836" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="left"><img src="/images/icn_task.png" hspace="4"></td>
			<td width="165"><h1>View Task Change Request</h1></td>
			<td width="488" align="center"></td>
			<td width="204" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">
		<div class="viewtable">
			<form method="post" action="">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th colspan="2">Request for Change</th>
						<th>
							<ul class="buttons">
								<li><a href="/pm/requests" class="btn-back">back</a></li>
							</ul>
						</th>
					</tr>
					<tr width="836" class="header2">
						<th colspan="3">Task Name: <span class="header2-subtitle"><?=$this->task['Title']?></span></th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="3"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr width="836">
						<td width="150" class="title2">Original Due Date: </td>
						<td><span class="subtitle2"><?=($this->request['original_date']) ? date("n/d/y",$this->request['original_date']) : "";?></span></td>
					</tr>
					<tr>
						<td width="150" class="title2">Requested Due Date: </td>
						<td><span class="subtitle2"><?=($this->request['new_date']) ? date("n/d/y",$this->request['new_date']) : "";?></span></td>
					</tr>
					<tr>
						<td class="title2">Status: </td>
						<td>
							<?=$this->formSelect('data[status]', $this->request['status'], array('id'=>'status', 'class'=>'form-field'), $this->statuses)?>
						</td>
					</tr>
					<tr>
						<td class="title2">Reason/Explanation: </td>
						<td><textarea name="data[explenation]" rows="5" cols="45"></textarea></td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<br/><input class="btn-save" type="submit" value="" name="Save">
						</td>
					</tr>
				</tbody>
			</table>
			</form>
		</div>

		<br/><br/>
		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th colspan="2">Task Number: <?=$this->task['id']?></th>
						<th></th>
					</tr>
					<tr width="836" class="header2">
						<th colspan="3">Task Name: <span class="header2-subtitle"><?=$this->task['Title']?></span></th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="3"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr width="836">
						<td width="218" class="title2">Start Date: <span class="subtitle2"><?=date("m/d/y",$this->task['StartDate'])?></span></td>
						<td width="294" class="title2">Due Date: <span class="subtitle2"><?=($this->task['ExpectedEndDate']) ? date("m/d/y",$this->task['ExpectedEndDate']) : "";?> <?php switch($this->task['timespan']) {case "1":echo"Morning";break; case "2":echo"Afternoon";break; case "3":echo"End of Day";}?></span></td>
						<td width="332" class="title2">
							Priority:  <div id="task_priority_<?=$priorityInfo['image']?>"></div><span class="<?=$priorityInfo['class']?>"> <?=ucfirst($this->task['PriorityName'])?></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							Status:  <div class="fa task-status-<?=$statusInfo['image']?>"></div><span class="<?=$statusInfo['class']?>"> <?=$this->task['ProjectStatusName']?></span>
						</td>
					</tr>
					<?php
					if ($this->task['created_by']) {
					?>
					<tr>
						<td class="title2">Created By: <span class="subtitle2"><?=$this->task['created_by']?></span></td>
						<td class="title2">Company: <span class="subtitle2"><?=$this->task['ClientName']?></span></td>
						<td>&nbsp;</td>
					</tr>
					<?php
					}
					?>
					<tr>
						<td class="title2">Assigned To: <span class="subtitle2"><?=$this->task['UserName']?></span></td>
						<td class="title2">Assigned By: <span class="subtitle2"><?=$this->task['assigner']?></span></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td class="title2">Client: <span class="subtitle2"><?=$this->task['ClientName']?></span></td>
						<td class="title2">Retainer: <span class="subtitle2"><?=($this->task['RetainerStatus']=="y")?"Yes":"No";?></span></td>
						<td class="title2"></td>
					</tr>
					<tr>
						<td colspan="3" class="title2">
							Client Project: <a href="/projects/view/id/<?=$this->task['client_project_id']?>"><?=$this->task['ClientProject']?></a>
						</td>
					</tr>
					<tr>
						<td colspan="3" class="title2">
							Estimate Hours: <?=$this->task['time_estimate']?>
						</td>
					</tr>
					<tr>
						<td colspan="3" class="title2">
							Page Name or URL: <a href="<?=$project->formatUrl($this->task['url'])?>" target="_blank"><?=$this->task['url']?></a>
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<div id="description" class="defaults">
								<span class="title">Description:</span >
								<div id="html_content">
									<?php
									if (strip_tags($this->task['Description']) == $this->task['Description'])
										echo "<p>".nl2br(htmlentities($this->task['Description']))."</p>";
									else echo preg_replace('@<script[^>]*?.*?</script>@siu',"",$this->task['Description']);
									?>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br><br>

		<div class="datatable">
			<table id="mediamanagertable">
				<thead>
					<tr width="836" class="header">
						<th width="836" colspan="10">Task Activity</th>
					</tr>
					<tr class="header2">
						<th width="10" class="th-center"></th>
						<th width="100">User</th>
						<th width="100">Date</th>
						<th width="180">Start</th>
						<th width="180">End</th>
						<th width="100">Total</th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="10"></td>
					</tr>
				</tfoot>
				<tbody id="activityList">
				<?php
				$shade = true;
				foreach ($this->activity as $activity) {
					if($shade) $class = 'shadeoff';
					else $class = 'shadeon';
					$shade = !$shade;
				?>
						<tr width="836" class="<?=$class?>">
							<td></td>
							<td><?=$activity['UserName']?></td>
							<td><?=date('m/d/y', $activity['StartTime'])?></td>
							<td><?=date('h:i a',$activity['StartTime'])?></td>
							<td><?=($activity['EndTime'] == null)?"Open*":date('h:i a',$activity['EndTime'])?></td>
							<td><?=($activity['EndTime'] == null)?$project->clock($this->user->Cyberny_Users_ID):$project->sec2hm($activity['EndTime']-$activity['StartTime'])?></td>
						</tr>
				<?php
				}
				?>
				</tbody>
			</table>
		</div>
		<br/><br/>

<?php
if ($this->task['ticket_id']) {
?>
		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th width="836">Ticket Notes</th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="2"></td>
					</tr>
				</tfoot>
				<tbody id="noteList">
				<?php
				foreach ($this->notes as $note) {
					$role_class = ($note['Roles'] == "administrator") ? "2" : "";
				?>
					<tr width="836" id="note_<?=$note['id']?>">
						<td colspan="2">
							<span class="note_id hide"><?=$note['id']?></span>
							<div id="notetable">
								<div class="noteheader<?=$role_class?>">
									<span class="noteheader-title"><?=$note['name']?> Said...</span>
									<div id="notedate">
										<span class="noteheader-datetitle">Date Sent:</span>
										<span class="noteheader-date"><?=date("n/j/y",strtotime($note['created']))?><span class="noteheader-time"><?=date("g:ia",strtotime($note['created']))?></span> </span>
									</div>
								</div>
								<div class="noteheader-body<?=$role_class?>">
									<p><?=nl2br($note['message'])?></p>
									<?php
									if ($note['attachment'] && file_exists($_SERVER['DOCUMENT_ROOT'].$this->attachment_path.$note['attachment'])) {
										echo "<div class='attachment'><a href='".$this->attachment_path.$note['attachment']."' target='_blank'>Download Attachment</a></div>";
									}
									?>
								</div>
							</div>
						</td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>
		</div>
<?php
}
?>
	</div>
</div>


<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	//
});
</script>