<?php
$project = new Cny_Model_Project($this->task);
$statusInfo = $project->statusInfo();
$priorityInfo = $project->priorityInfo();
?>
<div class="tview-section cf">
	<div class="tview-header ctr7">
		<img src="/images/tickets-icon.png" class="headericon">
		<h1>View Task # <?=$this->task['id']?></h1>
		<ul class="buttons" style="float: right;">
			<li><a href="/pm/delete/id/<?=$this->task['id']?>" onclick="return confirm('Are you sure you want to delete this ticket? This can not be undone!');" class="btn-delete">delete</a></li>
			<li><a href="/pm/edit/id/<?=$this->task['id']?>" class="btn-edit">edit</a></li>
			<?php if ($this->prev == "project" && $this->task['client_project_id']) { ?>
				<li><a href="/projects/view/id/<?=$this->task['client_project_id']?>/#tasks" class="btn-back">back</a></li>
			<?php }else { ?>
				<li><a href="/pm/" class="btn-back">back</a></li>
			<?php } ?>
		</ul>
	</div>
	<div class="tview-info cf view-info ctr8">

			<table width="840">
				<tfoot>
					<tr class="footer">
						<td colspan="3"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr width="836">
						<th colspan="3" class="title2">Task Name: <span class="subtitle2"><?=$this->task['Title']?></span></th>
					</tr>
					<tr width="836">
						<td width="218" class="title2">Start Date: <span class="subtitle2"><?=date("m/d/y",$this->task['StartDate'])?></span></td>
						<td width="294" class="title2">Due Date: <span class="subtitle2"><?=($this->task['ExpectedEndDate']) ? date("m/d/y",$this->task['ExpectedEndDate']) : "";?> <?php switch($this->task['timespan']) {case "1":echo"Morning";break; case "2":echo"Afternoon";break; case "3":echo"End of Day";}?></span></td>
						<td width="332" class="title2">
							Priority:  <div id="task_priority_<?=$priorityInfo['image']?>"></div><span class="<?=$priorityInfo['class']?>"> <?=ucfirst($this->task['PriorityName'])?></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							Status:  <div class="fa task-status-<?=$statusInfo['image']?>"></div><span class="<?=$statusInfo['class']?>"> <?=$this->task['ProjectStatusName']?></span>
						</td>
					</tr>
					<?php
					if ($this->task['created_by']) {
					?>
					<tr>
						<td class="title2">Created By: <span class="subtitle2"><?=$this->task['created_by']?></span></td>
						<td class="title2">Company: <span class="subtitle2"><?=$this->task['ClientName']?></span></td>
						<td>&nbsp;</td>
					</tr>
					<?php
					}
					?>
					<tr>
						<td class="title2">Assigned To: <span class="subtitle2"><?=$this->task['UserName']?></span></td>
						<td class="title2">Assigned By: <span class="subtitle2"><?=$this->task['assigner']?></span></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td class="title2">Client: <span class="subtitle2"><?=$this->task['ClientName']?></span></td>
						<td class="title2">Retainer: <span class="subtitle2"><?=($this->task['RetainerStatus']=="y")?"Yes":"No";?></span></td>
						<td class="title2">
							<div style="float:left;">FTP:</div>
							<ul id="pm_ftp">
							<?php
							foreach ($this->ftps as $ftp) {
								echo "<li><a href='/ftp/view/id/{$ftp['id']}'>{$ftp['website']}</a></li>";
							}
							?>
							</ul>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="title2">
							Client Project: <a href="/projects/view/id/<?=$this->task['client_project_id']?>"><?=$this->task['ClientProject']?></a>
						</td>
						<td class="title2">Job Code: <span class="subtitle2"><?=$this->task['job_code']?></span></td>
					</tr>
					<tr>
						<td colspan="3" class="title2">
							Estimate Hours: <?=$this->task['time_estimate']?>
						</td>
					</tr>
					<tr>
						<td colspan="3" class="title2">
							Page Name or URL: <a href="<?=$project->formatUrl($this->task['url'])?>" target="_blank"><?=$this->task['url']?></a>
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<div id="description" class="defaults">
								<span class="title">Description:</span >
								<div id="html_content">
									<?php
									if (strip_tags($this->task['Description']) == $this->task['Description'])
										echo nl2br($this->task['Description']);
									else echo "<code>".($this->task['Description'])."</code>";
									?>
									<?php /*
									if (strip_tags($this->task['Description']) == $this->task['Description'])
										echo "<p>".nl2br(htmlentities($this->task['Description']))."</p>";
									else echo preg_replace('@<script[^>]*?.*?</script>@siu',"",$this->task['Description']);
									*/ ?>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
	</div>

	<div class="table-wrap cf">
		<table class="centerTable table2 ctr8 mt20">
			<thead>
				<tr class="hourtrack-header">
					<th colspan="10">Task Activity</th>
				</tr>
				<tr class="tickets-header">
					<th width="10" class="th-center"></th>
					<th width="100">User</th>
					<th width="100">Date</th>
					<th width="180">Start</th>
					<th width="180">End</th>
					<th width="100">Total</th>
					<th width="60" class="th-center">Edit</th>
					<th width="60" class="th-center">Delete</th>
				</tr>
			</thead>
			<tfoot>
				<tr class="footer">
					<td colspan="10"></td>
				</tr>
			</tfoot>
			<tbody class="activity-table">
				<?php
				foreach ($this->activity as $activity) {
					if ($activity['id'] == $this->activity_id) {
					?>
						<a name="<?=$activity['id']?>"></a>
						<form method="post" action="/pm/editactivity/id/<?=$this->task['id']?>/activity/<?=$activity['id']?>">
						<tr class="pmrow">
							<td></td>
							<td><?=$activity['UserName']?></td>
							<td></td>
							<td><input type="text" name="start" value="<?=date("m/d/y h:i a",$activity['StartTime'])?>"></td>
							<td><input type="text" name="end" value="<?=($activity['EndTime'])?date("m/d/y h:i a",$activity['EndTime']):""?>"></td>
							<td></td>
							<td colspan="2" align="center">
								<input type="submit" value="Save"> | <button type="button" onclick="window.location='/pm/view/id/<?=$this->task['id']?>'">Cancel</button>
							</td>
						</tr>
						</form>
					<?php
					}else {
				?>
						<tr class="pmrow">
							<td></td>
							<td><?=$activity['UserName']?></td>
							<td><?=date('m/d/y', $activity['StartTime'])?></td>
							<td><?=date('h:i a',$activity['StartTime'])?></td>
							<td><?=($activity['EndTime'] == null)?"Open*":date('h:i a',$activity['EndTime'])?></td>
							<td><?=($activity['EndTime'] == null)?$project->clock($this->user->Cyberny_Users_ID):$project->sec2hm($activity['EndTime']-$activity['StartTime'])?></td>
							<td align="center">
								<a href="/pm/view/id/<?=$this->task['id']?>/activity/<?=$activity['id']?>/#<?=$activity['id']?>"><i class="icn-edit fa fa-pencil-square-o"></i></a>
							</td>
							<td align="center">
								<a href="/pm/deleteactivity/id/<?=$this->task['id']?>/activity/<?=$activity['id']?>" onclick="return confirm('Are you sure you want to delete this entry? This can NOT be undone!')"><i class="icn-red fa fa-ban fa"></i></a>
							</td>
						</tr>
				<?php
					}
				}
				if (!$this->activity_id) {
				?>
					<form method="post" action="/pm/addactivity/id/<?=$this->task['id']?>">
					<tr class="pmrow">
						<td></td>
						<td><?=$this->user->UserName?></td>
						<td></td>
						<td><input type="text" name="start" value=""></td>
						<td><input type="text" name="end" value=""></td>
						<td></td>
						<td colspan="2" align="center">
							<input type="submit" value="Add">
						</td>
					</tr>
					</form>
				<?php
				}
				?>
				</tbody>
			</table>
		</div>
		<br/><br/>

	<div class="table-wrap cf">
		<table class="centerTable table2 ctr8">
			<thead>
				<tr class="hourtrack-header">
					<th colspan="10">Movement Activity</th>
				</tr>
				<tr class="tickets-header">
					<th width="10" class="th-center"></th>
					<th width="100">User</th>
					<th width="140">Moved From</th>
					<th width="140">Moved To</th>
					<th width="400">Reason</th>
				</tr>
			</thead>
			<tfoot>
				<tr class="footer">
					<td colspan="10"></td>
				</tr>
			</tfoot>
			<tbody class="activity-table">
			<?php
			foreach ($this->movement as $activity) {
			?>
					<tr class="<?=$class?>">
						<td></td>
						<td><?=$activity['UserName']?></td>
						<td><?=date('m/d/y', $activity['original_date'])?></td>
						<td><?=date('m/d/y', $activity['new_date'])?></td>
						<td><?=$activity['explenation']?></td>
					</tr>
			<?php
			}
			?>
			</tbody>
		</table>
	</div>


<?php
if ($this->task['ticket_id']) {
?>
	<div class="tview-section cf" style="margin-top: 20px;">
		<div class="tview-header"><img src="/images/estimates-icon.png" class="headericon" alt="Ticket Notes"><h1>Ticket Notes</h1>

			<a href="/tickets/addnote/id/<?=$this->ticket['id']?>" title="Add Note" class="pop-modal dialog add-note addnote" data-pop-up="add-note"><img src="/images/add-note.png" alt="Add Note"></a>
		</div>
		<div class="tview-info cf" id="noteList">
			<?php
			foreach ($this->notes as $note) {
				$role_class = ($note['Roles'] == "administrator") ? "2" : "";
				?>
				<div class="notetable" id="note_<?=$note['id']?>">
					<span class="note_id hide"><?=$note['id']?></span>
					<div class="noteheader<?=$role_class?>">
						<div id="notedate">
							<span class="noteheader-datetitle<?=$role_class?>">Date Sent:</span>
							<span class="noteheader-date<?=$role_class?>"><?=date("n/j/y",strtotime($note['created']))?><span class="noteheader-time"><?=date("g:ia",strtotime($note['created']))?></span> <a onclick="removeNote('<?=$note['id']?>')" class="note-closer">x</a></span>
						</div>
						<span class="noteheader-title<?=$role_class?>"><?=$note['name']?> Said...</span>
					</div>
					<div class="noteheader-body">
						<p><?=nl2br($note['message'])?></p>
						<?php
						if ($note['attachment'] && file_exists($_SERVER['DOCUMENT_ROOT'].$this->attachment_path.$note['attachment'])) {
							echo "<div class='attachment'><a href='".$this->attachment_path.$note['attachment']."' target='_blank'>Download Attachment</a></div>";
						}
						?>
					</div>
				</div>

			<?php
			}
			?>
			<div class="centerDiv width-155"><a href="/tickets/addnote/id/<?=$this->ticket['id']?>" title="Add Note" class="pop-modal dialog add-note" data-pop-up="add-note"><img src="/images/add-note-button.jpg" alt="Add Note"></a></div>
		</div>
	</div>

<?php
}
?>


			<div class="tview-section cf" style="margin-top: 20px;">
				<div class="tview-header"><img src="/images/estimates-icon.png" class="headericon" alt="Task Notes"><h1>Task Notes</h1>

					<a href="/pm/addtasknote/id/<?=$this->ticket['id']?>" title="Add Note" class="pop-modal dialog add-note addnote" data-pop-up="add-note"><img src="/images/add-note.png" alt="Add Note"></a>
				</div>
				<div class="tview-info cf" id="task_noteList">
					<?php
					foreach ($this->task_notes as $note) {
						$role_class = ($note['Roles'] == "administrator") ? "2" : "";
						?>
						<div class="notetable" id="tasknote_<?=$note['id']?>">
							<span class="note_id hide"><?=$note['id']?></span>
							<div class="noteheader<?=$role_class?>">
								<div id="notedate">
									<span class="noteheader-datetitle<?=$role_class?>">Date Sent:</span>
									<span class="noteheader-date<?=$role_class?>"><?=date("n/j/y",strtotime($note['created']))?><span class="noteheader-time"><?=date("g:ia",strtotime($note['created']))?></span> <a onclick="removeNote('<?=$note['id']?>')" class="note-closer">x</a></span>
								</div>
								<span class="noteheader-title<?=$role_class?>"><?=$note['name']?> Said...</span>
							</div>
							<div class="noteheader-body">
								<p><?=nl2br($note['message'])?></p>
								<?php
								if ($note['attachment'] && file_exists($_SERVER['DOCUMENT_ROOT'].$this->attachment_path.$note['attachment'])) {
									echo "<div class='attachment'><a href='".$this->attachment_path.$note['attachment']."' target='_blank'>Download Attachment</a></div>";
								}
								?>
							</div>
						</div>

					<?php
					}
					?>
					<div class="centerDiv width-155"><a href="/pm/addtasknote/id/<?=$this->ticket['id']?>" title="Add Note" class="pop-modal dialog add-note" data-pop-up="add-note"><img src="/images/add-note-button.jpg" alt="Add Note"></a></div>
				</div>
			</div>

	</div>


<!--request sent modal-->
<div class="thanks-ticket-modal hide" id="request_sent">
	<div class="modal">
		<div class="modal-head"><h1>Update Request</h1></div>
		<div class="modal-content">
			<p>You're request for an update has been sent.</p>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	<?php if ($this->task['ticket_id']) { ?>
	setInterval(updateNotes,60000); //1 minute
	<?php } ?>
	setInterval(updateTaskNotes,60000); //1 minute
});

function updateNotes() {
	$.getJSON("/tickets/updatenotes/", { last_note: $("#noteList .note_id:first").html(), ticket: "<?=$this->ticket['id']?>" }, function(data){
		$.each(data.items, function(i,item){
			var attachment = "";
			if (item.attachment != "") attachment = "<div class='attachment'><a href='"+item.attachment+"' target='_blank'>Download Attachment</a></div>";
			$("#noteList").prepend('<div class="notetable hide" id="note_'+item.id+'"><span class="note_id hide">'+item.id+'</span><div class="noteheader'+item.role+'"><div id="notedate"><span class="noteheader-datetitle">Date Sent:</span><span class="noteheader-date">'+item.created+'<span class="noteheader-time">'+item.time+'</span> <a onclick="removeNote('+item.id+')" class="note-closer">x</a></span></div><span class="noteheader-title">'+item.name+' Said...</span></div><div class="noteheader-body'+item.role+'"><p>'+item.message+'</p>'+attachment+'</div></div>');
			$("#note_"+item.id).slideDown(1000);
		});
	});
}

function removeNote(note_id) {
	var del = confirm("Are you sure you want to delete this note?");

	if (del) {
		$("#note_"+note_id).effect("explode",1000).remove();
		$.post("/tickets/deletenote", { note_id: note_id } );
	}
}

function requestUpdate(ticket_id) {
	$("#request_sent").bPopup();

	$.post("/tickets/request", { id: ticket_id }, function() {
		updateNotes();
	} );

	return false;
}

function updateTaskNotes() {
	$.getJSON("/pm/updatetasknotes/", { last_note: $("#task_noteList .note_id:first").html(), task: "<?=$this->task['id']?>" }, function(data){
		$.each(data.items, function(i,item){
			var attachment = "";
			if (item.attachment != "") attachment = "<div class='attachment'><a href='"+item.attachment+"' target='_blank'>Download Attachment</a></div>";
			$("#task_noteList").prepend('<div class="notetable hide" id="tasknote_'+item.id+'"><span class="note_id hide">'+item.id+'</span><div class="noteheader'+item.role+'"><div id="notedate"><span class="noteheader-datetitle">Date Sent:</span><span class="noteheader-date">'+item.created+'<span class="noteheader-time">'+item.time+'</span> <a onclick="removeTaskNote('+item.id+')" class="note-closer">x</a></span></div><span class="noteheader-title">'+item.name+' Said...</span></div><div class="noteheader-body'+item.role+'"><p>'+item.message+'</p>'+attachment+'</div></div>');
			$("#tasknote_"+item.id).slideDown(1000);
		});
	});
}

function removeTaskNote(note_id) {
	var del = confirm("Are you sure you want to delete this note?");

	if (del) {
		$("#tasknote_"+note_id).effect("explode",1000).remove();
		$.post("/pm/deletetasknote", { note_id: note_id } );
	}
}
</script>