<h2>Add Admin User</h2>
<ul class="navigation">
	<li><a class="btn_back" href="/admin/users">Back</a></li>
	<!--<li><a class="btn_export" href="">Export</a></li>-->
</ul>
<div style="clear: both;"></div>

<form id="userForm" method="post" action="/admin/users/insert">
<div class="datatable">
	<table id="mediamanagertable">
		<thead>
			<tr class="header">
				<th width="125" class="first"><?=$this->user['firstname']." ".$this->user['lastname']?></th>
				<th width="575"></th>
				<th class="lastrow"></th>
			</tr>
		</thead>
		<tfoot>
			<tr class="footer">
				<td colspan="4">&nbsp;</td>
			</tr>
		</tfoot>
		<tbody>
			<tr class="shadeoff">
				<td class="firstrow">First Name:</td>
				<td>
					<input type="text" name="data[firstname]" value="<?=$this->user['firstname']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Last Name:</td>
				<td>
					<input type="text" name="data[lastname]" value="<?=$this->user['lastname']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Username:</td>
				<td>
					<input type="text" name="data[username]" value="<?=$this->user['username']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Email:</td>
				<td>
					<input type="text" name="data[email]" value="<?=$this->user['email']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Password:</td>
				<td>
					<input type="text" name="data[userpassword]" value="<?=$this->user['userpassword']?>">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Confirm Password:</td>
				<td>
					<input type="text" name="data[cuserpassword]" value="">
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow">Role:</td>
				<td>
					<?=$this->formSelect('role', $this->role, array('id'=>'role'), $this->roles)?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeon">
				<td class="firstrow">Status:</td>
				<td>
					<?=$this->formSelect('status', $this->status, array('id'=>'status'), $this->statuses)?>
				</td>
				<td class="lastrow"></td>
			</tr>
			<tr class="shadeoff">
				<td class="firstrow"><input type="submit" value="Save"></td>
				<td></td>
				<td class="lastrow"></td>
			</tr>
		</tbody>
	</table>
</div>
</form>

<ul class="navigation">
	<li><a class="btn_back" href="/admin/users">Back</a></li>
	<!--<li><a class="btn_export" href="">Export</a></li>-->
</ul>
<div style="clear: both;"></div>