<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<h2>User Manager</h2>
<div style="clear: both;"></div>

<div id="search_wrapper">
	<div id="searchcopy">
		<form method="post" action="">
			<p class="row1">
				<label>Search:</label><input type="text" name="mask" style="margin-right: 18px; width: 180px;" value="<?=$this->mask?>">
				<!--
				<label>Date Range:</label>
				<input type="text" class="date-pick" name="date_from"><label>to</label><input type="text" class="date-pick" name="date_to">
				-->
				<label>Role:</label>
				<?=$this->formSelect('role', $this->role, array('id'=>'role'), array(""=>"")+$this->roles)?>

				<label>Status:</label>
				<?=$this->formSelect('status', $this->status, array('id'=>'status'), array(""=>"")+$this->statuses)?>
			</p>
			<div style="clear: both;"></div>
			<p class="row2">
				<input type="submit" class="submit_btn" value="Search">

				<input type="checkbox" name="csv" value="1" class="exportcheck" style="width: 15px;"><label>Export</label>
			</p>
		</form>
	</div>
</div>

<div style="clear: both;"></div>
<?php echo $this->paginationControl($this->userList, 'Sliding', 'pagination_control.phtml'); ?>

<div id="results_wrapper">
	<div class="datatable">
		<table>
			<thead>
				<tr class="header">
					<th class="first"><a href="/admin/users/list/sort/lastname/dir/<?=$dir?>">Name</a></th>
					<th><a href="/admin/users/list/sort/role/dir/<?=$dir?>">Role</a></th>
					<th><a href="/admin/users/list/sort/username/dir/<?=$dir?>">Username</a></th>
					<th><a href="/admin/users/list/sort/lastlogin/dir/<?=$dir?>">Last Login</a></th>
					<th><a href="/admin/users/list/sort/status/dir/<?=$dir?>">Status</a></th>
					<th>View</th>
					<th>Edit</th>
					<th class="last action">Delete</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="9"></td>
				</tr>
			</tfoot>
			<tbody>
			<?php
			$shade = true;
			foreach($this->userList as $key => $val) {
				if($shade)
					$class = 'shadeoff';
				else
					$class = 'shadeon';
				$shade = !$shade;
			?>
				<tr class="<?=$class?>">
					<td class="firstrow"><a class="blue" href="/admin/users/edit/user_id/<?=$val['id']?>"><?=$val['lastname'].', '.$val['firstname']?></a></td>
					<td><?=$val['role']?></td>
					<td><?=$val['username']?></td>
					<td><?=($val['lastlogin'] != 0) ? date("n/j/Y g:ia",strtotime($val['lastlogin'])) : ""?></td>
					<td><?=$val['status']?></td>
					<td><a href="/admin/users/edit/user_id/<?=$val['id']?>" title="View" class="btn_view">View</a></td>
					<td><a href="/admin/users/edit/user_id/<?=$val['id']?>" title="Edit" class="btn_edit">Edit</a></td>
					<td class="lastrow"><a href="/admin/users/delete/user_id/<?=$val['id']?>" title="Delete" class="btn_delete" onclick="return confirm('Are you sure you want to delete this entry?')">Delete</a></td>
				</tr>
			<?php
			}
			?>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$('.date-pick').datePicker({clickInput:true, startDate:'01/01/1996'});
});
</script>