<div id="interior-header">
	<table width="895" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_contact.png"></td>
			<td width="165"><h1>Contact</h1></td>
			<td width="488" align="center"></td>
			<td width="204" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<table width="836" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td class="greenHeader">Offices</td>
			</tr>
			<tr>
				<td>
					<table width="760" border="0" align="center" cellpadding="2" cellspacing="0">
						<tr>
							<td colspan="3">&nbsp;</td>
						</tr>
						<tr>
							<td width="290" valign="top">
								<h4>New York Office</h4>

								34 East 23rd Street, 4th Floor<br>
								New York, NY 10010
								<div align="left">
									Toll Free:  <span class="bodytextLargeBold">1-888-70-CYBER</span><br>
									Telephone:<span class="blue_button_link"> 212-475-2721</span><br>
									E-mail: <a href="mailto:contact@cyber-ny.com">contact@cyber-ny.com</a>
								</div>
							</td>
							<td width="290" valign="top">
								<h4>San Francisco Office</h4>

								582 Market Street, Suite 1706<br>
								San Francisco, CA 94104
								<div align="left">
									Toll Free:  <span class="bodytextLargeBold">1-888-70-CYBER</span><br>
									Telephone:<span class="blue_button_link"> 415-738-6195</span><br>
									E-mail: <a href="mailto:contact@cyber-sf.com">contact@cyber-sf.com</a>
								</div>
							</td>
							<td>
								<h4>Accounts & Billing</h4>
								<a href="https://www.cyber-ny.com/payonline/" target="_blank">Online Bill Payments</a>

								<br/>
								Accounts Payable:<br/>
								<a href="mailto:billing@cyber-ny.com">billing@cyber-ny.com</a>

								<br/>
								<h4>Technical Support</h4>
								Email, Domains, and Hosting:<br/>
								<a href="mailto:support@cyber-ny.com">support@cyber-ny.com</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<br/><br/>

		<table width="836" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td class="greenHeader">Contact Us</td>
			</tr>
			<tr>
				<td>
					<form action="/contact/index" method="post" id="myForm">
					<div id="form-at" style="border:0;">
						<br/>
						<label>NAME:</label>
						<div class="rounded"><input type="text" name="data[name]" value="<?=$this->data['name']?>" /></div>

						<br>
						<label>EMAIL:</label>
						<div class="rounded"><input type="text" name="data[email]" value="<?=$this->data['email']?>" /></div>

						<br>
						<div class="rounded" id="categoryDiv">
							<select name="data[category]" id="category">
								<option value="">Select Category</option>
								<option value="Hosting Support">Hosting Support</option>
								<option value="Email Support">Email Support</option>
								<option value="Billing">Billing</option>
								<option value="Technical Support">Technical Support</option>
								<option value="New Business / Sales Request">New Business / Sales Request</option>
								<option value="General Question">General Question</option>
								<option value="Other">Other</option>
							</select>
						</div>

						<br>
						<label>COMMENTS:</label>
						<div class="rounded2">
							<textarea name="data[question]"></textarea>
						</div>

						<br>
						<div id="form-at-buttonwrap" style="margin:0;">
							<input type="submit" class="btn-send" name="Submit" id="Submit" value="" />
						</div>
					</div>
					</form>
				</td>
			</tr>
		</table>

	</div>
</div>

<style>
	/* ComboBox special overwrites */
	.ui-button-icon-only .ui-button-text { padding: 0.35em; }
	.ui-autocomplete-input { padding:0.3em 0 0.25em 0.45em!important; width:380px!important;}
	.ui-autocomplete { text-align: left; height: 250px; overflow: auto; width:380px; }
</style>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#category").combobox();
	$("#categoryDiv .ui-autocomplete-input").unbind("click").attr("disabled","disabled");

	$("#myForm").validate({
		rules: {
			"data[name]": {
				required: true
			},
			"data[email]": {
				required: true,
				email: true
			},
			"data[category]": {
				//required: true
			},
			"data[question]": {
				required: true
			}

		},
		messages: {
			"data[name]": "Name required",
			"data[email]": "Email required",
			"data[category]": "Choose a category",
			"data[question]": "Enter your questions/comments"
        }
	});
});
</script>