<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<div id="interior-content">
	<div id="centermain">

		<div id="form-at" class="my-account-section">
			<div class="blueHeader cf">
				<div class="concepts-work"><img src="/images/billing-icon.png"><h1>Billing</h1></div>	
			</div>
			<div class="my-account-info"></div>
		</div>

	</div>
</div>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});
</script>