<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_server.png"></td>
			<td width="368"><h1>Add Server Information</h1></td>
			<td width="165" align="center"></td>
			<td width="324" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<form method="post" action="/servers/add" id="editForm">
		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th colspan="2">
							Add Server
							<ul class="buttons">
								<li><a href="/servers" class="btn-back"></a></li>
							</ul>
						</th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="3"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr width="836">
						<td width="160" class="title2">Name:</td>
						<td><input type="text" name="data[name]" value="<?=$this->server['name']?>"></td>
					</tr>
					<tr>
						<td class="title2">Client:</td>
						<td>
							<?=$this->formSelect('data[clientId]', $this->server['clientId'], array('id'=>'clientId', 'style'=>'width:250px;', 'class'=>'form-field'), $this->clients)?>
						</td>
					</tr>
					<tr>
						<td class="title2">Type:</td>
						<td>
							<?=$this->formSelect('data[type]', $this->server['type'], array('id'=>'type', 'style'=>'width:250px;', 'class'=>''), array(""=>"Select Type", "Dedicated"=>"Dedicated", "Shared"=>"Shared", "Cloud"=>"Cloud"))?>
						</td>
					</tr>
					<tr>
						<td class="title2">Host:</td>
						<td><input type="text" name="data[host]" value="<?=$this->server['host']?>"></td>
					</tr>
					<tr>
						<td class="title2">Owned By:</td>
						<td>
							<?=$this->formSelect('data[owned]', $this->server['owned'], array('id'=>'owned', 'style'=>'width:250px;', 'class'=>''), array(""=>"Select Owner", "Cyber-NY"=>"Cyber-NY", "Client"=>"Client"))?>
						</td>
					</tr>
					<tr>
						<td class="title2">Server Number:</td>
						<td><input type="text" name="data[serverNumber]" value="<?=$this->server['serverNumber']?>"></td>
					</tr>
					<tr>
						<td class="title2">IP:</td>
						<td><input type="text" name="data[IP]" value="<?=$this->server['IP']?>"></td>
					</tr>
					<tr>
						<td class="title2">Webmin URL:</td>
						<td><input type="text" name="data[webminUrl]" value="<?=$this->server['webminUrl']?>" size="40"></td>
					</tr>
					<tr>
						<td class="title2">Database URL:</td>
						<td><input type="text" name="data[databaseUrl]" value="<?=$this->server['databaseUrl']?>" size="40"></td>
					</tr>

				</tbody>
			</table>
		</div>

		<br/>

		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th width="418">Notes</th>
						<th width="418"></th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="2"></td>
					</tr>
				</tfoot>
				<tbody id="noteList">
					<tr width="836">
						<td colspan="2">
							<div id="notetable">
								<div class="noteheader-body">
									<p><textarea name="data[notes]" rows="10" cols="90"><?=nl2br($this->server['notes'])?></textarea></p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<br>
		<div id="form-at-buttonwrap">
			<input type="submit" class="btn-save" name="Save FTP" id="Save FTP" value="" />
		</div>

		</form>

	</div>
</div>

<style>
	/* ComboBox special overwrites */
	.ui-button-icon-only .ui-button-text { padding: 0.35em; }
	.ui-autocomplete-input { padding:0 0 0 0.25em; }
	.ui-autocomplete { text-align: left; height: 250px; overflow: auto; }
	button.ui-button-icon-only  { height:1.4em; width:2em; top:4px; }
</style>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$("#clientId").combobox();

	$("#editForm").validate({
		rules: {
			"data[name]": "required",
			"data[clientId]": "required",
			"data[type]": "required",
			"data[owned]": "required"
		},
		messages: {
			"data[website]": "Name required",
			"data[clientId]": "Description required",
			"data[type]": "Server type required",
			"data[owned]": "Please select owner"
        }
	});
});
</script>
