<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<div class="tickets-system tickets-list cf">

<div class="system-menu">
		<div class="section-title">
		<i class="fa fa-hdd-o"></i>
		<h1>Server Information</h1>
		</div>
	</div>





		<div class="table-wrap">
			<table class="centerTable system">
				<tbody>
					<tr class="tickets-header">
						<th width="25" class="th-center"></th>
						<th width="150"><a href="/servers/index/sort/name/dir/<?=$dir?>">Server</a></th>
						<th width="150"><a href="/servers/index/sort/ClientName/dir/<?=$dir?>">Client</a></th>
						<th width="80"><a href="/servers/index/sort/type/dir/<?=$dir?>">Type</a></th>
						<th width="100"><a href="/servers/index/sort/IP/dir/<?=$dir?>">Primary IP</a></th>
						<th width="80"><a href="/servers/index/sort/host/dir/<?=$dir?>">Host</a></th>
						<th width="40" class="th-center">Webmin</th>
						<th width="50" class="th-center">DB</th>
						<th width="50" class="th-center">Status</th>
						<th width="50" class="th-center">View</th>
						<th width="50" class="th-center">Delete</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
				<?php
				$shade = true;
				foreach($this->servers as $key => $val) {
					if($shade)
						$class = 'shadeoff';
					else
						$class = 'shadeon';
					$shade = !$shade;
				?>
					<tr width="840"  class="<?=$class?>">
						<td align="center"></td>
						<td><?=$val['name']?></td>
						<td><?=$val['ClientName']?></td>
						<td><?=$val['type']?></td>
						<td><?=$val['IP']?></td>
						<td><?=$val['host']?></td>
						<td align="center">
						<?php
						if ($val['webminUrl']) {
							echo '<a href="'.$val['webminUrl'].'" target="_blank"><img src="/images/webmin.gif" border=0></a>';
						}else {
							echo "N/A";
						}
						?>
						</td>
						<td align="center">
						<?php
						if ($val['databaseUrl']) {
							echo '<a href="'.$val['databaseUrl'].'" target="_blank"><img src="/images/database.gif" border=0></a>';
						}else {
							echo "N/A";
						}
						?>
						</td>
						<td align="center">
						<?php
						if ($val['IP'] != '') {
							$pingDomain = new Cny_View_Helper_PingDomain();
							$status = $pingDomain->pingDomain($val['IP']);
							if ($status != -1) echo "<img src='/images/status_up.png' title='$status ms'>";
							else echo "<img src='/images/status_down.png'>";
						}
						?>
						</td>
						<td align="center"><a href="/servers/view/id/<?=$val['id']?>"><i class="icn-blue fa fa-arrow-circle-right icn-arrow-right"></i></a></td>
						<td align="center"><a href="/servers/delete/id/<?=$val['id']?>" onclick="return confirm('Are you sure you want to delete this server? This can not be undone!');"><i class="icn-red fa fa-ban fa"></i></a></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>

			<?php echo $this->paginationControl($this->servers, 'Sliding', 'pagination_control.phtml'); ?>
		</div>
	</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});
</script>