<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_server.png"></td>
			<td width="368"><h1>View Server Information</h1></td>
			<td width="165" align="center"></td>
			<td width="324" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th colspan="2">
							View Server: <?=$this->server['name']?>
							<ul class="buttons">
								<li><a href="/servers/delete/id/<?=$this->server['id']?>" onclick="return confirm('Are you sure you want to delete this server? This can not be undone!');" class="btn-delete"></a></li>
								<li><a href="/servers/edit/id/<?=$this->server['id']?>" class="btn-edit"></a></li>
								<li><a href="/servers" class="btn-back"></a></li>
							</ul>
						</th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="3"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr width="836">
						<td width="120" class="title2">Name:</td>
						<td><?=$this->server['name']?>	</td>
					</tr>
					<tr>
						<td class="title2">Client:</td>
						<td><?=$this->server['ClientName']?></td>
					</tr>
					<tr>
						<td class="title2">Type:</td>
						<td><?=$this->server['type']?></td>
					</tr>
					<tr>
						<td class="title2">Host:</td>
						<td><?=$this->server['host']?></td>
					</tr>
					<tr>
						<td class="title2">Owned By:</td>
						<td><?=$this->server['owned']?></td>
					</tr>
					<tr>
						<td class="title2">Server Number:</td>
						<td><?=$this->server['serverNumber']?></td>
					</tr>
					<tr>
						<td class="title2">IP:</td>
						<td><?=$this->server['IP']?></td>
					</tr>
					<tr>
						<td class="title2">Server Status:</td>
						<td><?=$this->server['server_status']?></td>
					</tr>
					<tr>
						<td class="title2">Webmin URL:</td>
						<td><?=$this->server['webminUrl']?></td>
					</tr>
					<tr>
						<td class="title2">Database URL:</td>
						<td><?=$this->server['databaseUrl']?></td>
					</tr>

				</tbody>
			</table>
		</div>

		<br/>

		<div class="viewtable">
			<table width="840">
				<thead>
					<tr width="836" class="header">
						<th width="418">Notes</th>
						<th width="418"></th>
					</tr>
				</thead>
				<tfoot>
					<tr class="footer">
						<td colspan="2"></td>
					</tr>
				</tfoot>
				<tbody id="noteList">
					<tr width="836">
						<td colspan="2">
							<div id="notetable">
								<div class="noteheader-body">
									<p><?=nl2br($this->server['notes'])?></p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});

function displayPassword(id) {
	$("#"+id).load("/ftp/password", {password: id, ftp_id: "<?=$this->ftp['id']?>"});
}

function selectNode (node) {
	//This is a third party function written by Martin Honnen
	//In comp.lang.javascript
	//http://groups-beta.google.com/group/comp.lang.javascript/browse_thread/thread/2b389e61c7b951f2/99b5f1bee9922c39?lnk=gst&q=(doc+%3D+node.ownerDocu ment)+%26%26+(win+%3D+doc.defaultView)&rnum=1&hl=e n#99b5f1bee9922c39

	var selection, range, doc, win;
	if ((doc = node.ownerDocument) && (win = doc.defaultView) && typeof win.getSelection != 'undefined' && typeof doc.createRange != 'undefined' && (selection = window.getSelection()) && typeof selection.removeAllRanges != 'undefined') {
		range = doc.createRange();
		range.selectNode(node);
		selection.removeAllRanges();
		selection.addRange(range);
	} else if (document.body && typeof document.body.createTextRange != 'undefined' && (range = document.body.createTextRange())) {
		range.moveToElementText(node);
		range.select();
	}
}
</script>