<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_tools.png"></td>
			<td width="165"><h1>Tools</h1></td>
			<td width="243" align="center"></td>
			<td width="404" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<div class="datatable">
			<table id="mediamanagertable" width="840">
				<thead>
					<tr width="840" class="header">
						<th colspan="10">Sitemap</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr width="840"  class="shadeoff">
						<td align="center">
							Copy into a file named sitemap.xml and place in HTML root of website or <a href="/tools/sitemap-download">download file</a>.<br/><br/>
							<textarea rows="40" cols="120"><?=$this->sitemap?></textarea>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});
</script>