<style>
#interior-content .sitemap_results h2 {
	background: transparent;
}
#interior-content .sitemap_results h1 {
	font-weight: bold;
	font-size: 16px;
}
</style>
<div id="interior-header">
	<table width="840" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="39" align="center"><img src="/images/icn_tools.png"></td>
			<td width="165"><h1>Tools</h1></td>
			<td width="243" align="center"></td>
			<td width="404" align="right"></td>
		</tr>
	</table>
	<hr/><br/>
</div>

<div id="interior-content">
	<div id="centermain">

		<div class="datatable">
		<form method="post" action="">
			<div class="error sitemap_results"><?=$this->message?></div>

			<table id="mediamanagertable" width="840">
				<thead>
					<tr width="840" class="header">
						<th colspan="10">Sitemap Generator</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="9"></td>
					</tr>
				</tfoot>
				<tbody>
					<tr width="840"  class="shadeoff">
						<td align="center" width="100">Full Path to sitemap.xml : </td>
						<td>
							<input type="text" name="url" value="" size="60">
						</td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<input type="submit" value="Generate">
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});
</script>