<?php
	$this->headLink()->prependStylesheet('/css/reset-fonts-grids.css');
	$this->headLink()->appendStylesheet('/css/styles.css');
	$this->headLink()->appendStylesheet('/css/cyber.css');
	$this->headLink()->appendStylesheet('/css/ie.css', 'screen', 'lte IE 7');
	$this->headLink()->appendStylesheet('/css/ie6.css', 'screen', 'lte IE 6');
	$this->headlink()->appendStylesheet('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
	$this->headLink()->appendStylesheet('http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/start/jquery-ui.css');
	$this->headLink()->appendStylesheet('/css/jquery.contextMenu.css');
	$this->headLink()->appendStylesheet('/css/jquery.fancybox-1.3.1.css');
	$this->headLink()->appendStylesheet('/css/jquery.cluetip.css');
	$this->headLink()->appendStylesheet('/css/modal.css');
	$this->headLink()->appendStylesheet('/css/jqueryui.css');

	$this->headScript()->prependFile('http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js');
	$this->headScript()->appendFile('http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js');
	$this->headScript()->appendFile('/js/jquery.ajaxForm.js');
	$this->headScript()->appendFile('http://ajax.microsoft.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js');
	$this->headScript()->appendFile('http://ajax.microsoft.com/ajax/jquery.validate/1.11.1/additional-methods.js');
	$this->headScript()->appendFile('//tinymce.cachefly.net/4.0/tinymce.min.js');
	$this->headScript()->appendFile('/js/FusionCharts.js');
	$this->headScript()->appendFile('/js/jquery-ui.combobox.js');
	$this->headScript()->appendFile('/js/jquery.contextMenu.js');
	$this->headScript()->appendFile('/js/jquery.fancybox-1.3.1.pack.js');
	$this->headScript()->appendFile('/js/jquery.easing-1.3.pack.js');
	$this->headScript()->appendFile('/js/jquery.cluetip.js');
	$this->headScript()->appendFile('/js/jquery.hoverIntent.min.js');
	$this->headScript()->appendFile('/js/jquery.bpopup.min.js');
	$this->headScript()->appendFile('/js/main.js');
	$this->headScript()->appendFile('/js/unitpngfix.js','text/javascript',array('conditional' => 'lt IE 7'));


?>
<?php //$this->auth = Zend_Auth::getInstance();?>
<?php
// echo $this->action('init', 'page', 'admin')
?>
<?php echo $this->doctype(); ?>
<html>
<head>
<?php
echo $this->headMeta();
echo $this->headTitle()->setSeparator(' :: ');
echo $this->headLink();
echo $this->headStyle();
echo $this->headScript();
?>
</head>
<body id="<?=$this->placeholder('section');?>">

	<div id="content_wrapper">
		<div id="page-wrap">
			<div id="document-wrap">
				<div id="hd">
					<div id="logo">
						<h1><a href="/"><span style="display:none;">Cyber-NY</span></a></h1>
					</div>
					<div id="search-wrap" class="cybernav">
						<ul class="floating-nav quicklinks">
							<!--<li class="portal_talk"><a href="#" onclick="openIM(); return false;">Portal Talk<sup style="color:red;font-size: 11px;position: relative;top: -3px;">beta</sup></a></li>-->
							<li><a href="/pm/quick" class="dialog pop-modal" data-pop-up="add-ticket"><i class="fa fa-plus-circle"></i></a></li>
							<li><a href="/calendar"><i class="fa fa-calendar"></i>Calendar</a></li>
							<li><a href="/servers" class="server-status"><i class="fa fa-hdd-o"></i>Servers</a></li>
							<li><a href="/wiki" target="_blank"><i class="fa fa-code"></i>Wiki</a></li>
							<li><a href="http://ratreport.cyber-ny.com/wp-admin" target="_blank"><i class="fa fa-book"></i>Blog</a></li>
						</ul>
					</div>
				</div>
				<div id="nav-wrap" class="staff-nav">
					<div id="nav">
						<?php if($this->loggedInUser()) { ?>
						<div id="logout"><a href="/auth/logout"><img src="/images/logout.gif" border="0"></a></div>
						<ul id="<?=$this->placeholder('section');?>">
							<li id="nav-home"><a href="/"><span class="nav-size">Home</span></a></li>
							<li id="nav-pm"><a href="/pm"><span class="nav-size">Project Manager</span></a>
								<ul>
									<span class="nav-arrow"></span>
									<li><a href="/pm">My Tasks</a></li>
									<li><a href="/pm/all">All Tasks</a></li>
									<li><a href="/pm/quick" class="dialog pop-modal" data-pop-up="add-quick-task">Quick Task</a></li>
									<li><a href="/pm/add">Add Task</a></li>
									<li><a href="/pm/archive">Archive</a></li>
									<li><a href="">Schedules</a>
										<ul>
											<span class="subnav-arrow"></span>
											<li><a href="/pm/productionschedule">Production</a></li>
											<li><a href="/pm/dailyschedule" class="last-child">Daily</a></li>
										</ul>
									</li>
									<li><a href="/projects/list">Projects</a>
										<ul>
											<span class="subnav-arrow"></span>
											<li><a href="/projects/add">Add</a></li>
											<li><a href="/projects/archive" class="last-child">Archive</a></li>
										</ul>
									</li>
									<li><a href="/pm/activityreport" class="last-child">Activity Report</a></li>
								</ul>
							</li>
							<li id="nav-tickets"><a href="/tickets"><span class="nav-size">Tickets</span></a>
								<ul>
									<span class="nav-arrow"></span>
									<li><a href="/tickets">View</a></li>
									<li><a href="/tickets/add" id="addticket" class="dialog pop-modal" data-pop-up="add-cyber-ticket">Add</a></li>
									<li><a href="/tickets/archive" class="last-child">Archive</a></li>
								</ul>
							</li>
							<li id="nav-clients"><a href="/clients"><span class="nav-size">Clients</span></a>
								<ul>
									<span class="nav-arrow"></span>
									<li><a href="/clients">View</a></li>
									<li><a href="/clients/add">Add</a></li>
									<li><a href="/estimates">Estimates</a></li>
									<li><a href="/reporting" class="last-child">Retainer</a></li>
								</ul>
							</li>
							<li id="nav-ftp"><a href="/ftp"><span class="nav-size">FTP</span></a>
								<ul>
									<span class="nav-arrow"></span>
									<li><a href="/ftp">FTP Info</a></li>
									<li><a href="/ftp/add" class="last-child">Add FTP</a></li>
								</ul>
							</li>
							<li id="nav-concepts"><a href="/concepts"><span class="nav-size">Concepts</span></a>
								<ul>
									<span class="nav-arrow"></span>
									<li><a href="/concepts">View</a></li>
									<li><a href="/concepts/add" class="last-child">Add</a></li>
								</ul>
							</li>
							<!--<li id="nav-tools"><a href="/tools"><span class="nav-size">Tools</span></a></li>-->
							<li id="nav-schedule"><a href="/schedule"><span class="nav-size">My Schedule</span></a>
								<ul>
									<span class="nav-arrow"></span>
									<li><a href="/schedule">Schedule</a></li>
									<li><a href="/schedule/request" class="dialog last-child pop-modal" data-pop-up="schedule-requests">Requests</a></li>
								</ul>
							</li>
							<li id="nav-resource"><a href="/resource"><span class="nav-size">Resources</span></a>
								<ul>
									<span class="nav-arrow"></span>
									<li><a href="/resource/activityreport" class="last-child">Daily Activity Report</a></li>
								</ul>
							</li>
							<li id="nav-admin"><a href="/users"><span class="nav-size">Account</span></a>
								<ul>
									<span class="nav-arrow"></span>
									<li><a href="/users">Admin</a></li>
									<li><a href="/users/add">Add</a></li>
									<li><a href="/auth/logout" class="last-child">Logout</a></li>
								</ul>
							</li>
						</ul>
						<?php
						}
						?>
					</div>
				</div>
				<div id="subnav">
					<div id="navbar-sub">
						<div id="navbar-sub-title2"><span style="display:none;">Cyber-NY Portal</span></div>
						<ul id="<?=$this->placeholder('sub_section');?>">
							<?=$this->placeholder('subSectionMenu');?>
						</ul>
					</div>
				</div>

				<div id="bd">
					<div id="content-wrap">
						<div id="wrapper">
							<div id="date"><?=date("l F j, Y")?></div>

							<?php echo $this->layout()->content; ?>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="ft-break"></div>
		<div style="clear: both;padding-top: 70px; "></div>
		<div id="footer_wrapper">
            <div id="footer">
				<div id="ft">
					Copyright &#169; <?=date("Y")?> <a href="http://www.cyber-ny.com/" target="_blank">Cyber-NY</a> |
					<a href="http://www.cyber-ny.com/" target="_blank">www.cyber-ny.com</a> |
					 212.475.2721
				</div>
            </div>
		</div>
	</div>

	<div class="modal-trigger">
		<a class="close-modal posright"></a>
		<div class="modal-container"></div>
	</div>
<script type="text/javascript">
$(document).ready(function(){
	$('.slide-toggler').click(function(){
		$('.user-switch').slideToggle();
	});


});
</script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	//check server status
	serverStatus();
	setInterval(serverStatus,60000); //1 minute
});

function serverStatus() {
	$.getJSON("/servers/status/", function(data){
		if (data=="1") $(".server-status").html('<i class="fa fa-hdd-o server-up"></i><span>Servers</span>');
		else $(".server-status").html('<i class="fa fa-exclamation-triangle server-down"></i><strong style="color:red;">Servers</strong>');
	});
}


</script>
</body>
</html>