<?php
	$this->headLink()->prependStylesheet('/css/reset-fonts-grids.css');
	$this->headLink()->appendStylesheet('/css/styles.css');
	$this->headLink()->appendStylesheet('/css/ie.css', 'screen', 'lte IE 7');
	$this->headLink()->appendStylesheet('/css/ie6.css', 'screen', 'lte IE 6');
	$this->headLink()->appendStylesheet('/css/jquery-ui-1.8.custom.css');
	//$this->headLink()->appendStylesheet('/css/jquery.fancybox-1.3.1.css');
	$this->headlink()->appendStylesheet('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
	$this->headLink()->appendStylesheet('/css/jquery.cluetip.css');
	$this->headLink()->appendStylesheet('/css/modal.css');

	$this->headScript()->prependFile('http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js');
	$this->headScript()->appendFile('http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js');
	$this->headScript()->appendFile('/js/jquery.ajaxForm.js');
	$this->headScript()->appendFile('http://ajax.microsoft.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js');
	$this->headScript()->appendFile('http://ajax.microsoft.com/ajax/jquery.validate/1.11.1/additional-methods.js');
	$this->headScript()->appendFile('//tinymce.cachefly.net/4.0/tinymce.min.js');
	$this->headScript()->appendFile('/js/jquery-ui.combobox.js');
	//$this->headScript()->appendFile('/js/jquery.fancybox-1.3.1.pack.js');
	$this->headScript()->appendFile('/js/jquery.easing-1.3.pack.js');
	$this->headScript()->appendFile('/js/jquery.cluetip.js');
	$this->headScript()->appendFile('/js/jquery.bpopup.min.js');
	$this->headScript()->appendFile('/js/main.js');
	$this->headScript()->appendFile('/js/unitpngfix.js','text/javascript',array('conditional' => 'lt IE 7'));



?>
<?php //$this->auth = Zend_Auth::getInstance();?>
<?php
// echo $this->action('init', 'page', 'admin')
?>
<?php echo $this->doctype(); ?>
<html>
<head>
<?php
echo $this->headMeta();
echo $this->headTitle()->setSeparator(' :: ');
echo $this->headLink();
echo $this->headStyle();
echo $this->headScript();
?>

</head>
<body id="<?=$this->placeholder('section');?>">
<div class="slideout-bar">
	<div class="user-switch">
		<div class="slide-content">
		<div class="dashtitle"><h1><i class="fa fa-gear"></i> Account Settings</h1></div>
		<form method="post" action="/auth/choose" id="changeClientForm" class="users">
								<label>Switch User Accounts:</label>
								<select name="client_id" id="client_id" style="width:150px;">
									<?php
									$auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('portal'));
									$user = $auth->getIdentity();
									foreach ($this->userClients() as $client_id => $client_name) {
										$selected = ($user->ClientID == $client_id)?"selected":"";
									?>
									<option value="<?=$client_id?>" <?=$selected?>><?=$client_name?></option>
									<?php } ?>
								</select>
							</form>
		<div class="logout">
		<a class="search-button" href="/settings">Account Info <i class="fa fa-user"></i></a>
		<a class="search-button" href="/account">Users <i class="fa fa-users"></i></a>
		<a class="search-button" href="/auth/logout">Logout <i class="fa fa-sign-out"></i></a>
		
		</div>
	</div>
	</div>
		<a class="slide-toggler">
		Account <i class="fa fa-gear"></i></a>
</div>
	<div id="content_wrapper">
		<div id="page-wrap">
			<div id="document-wrap">
				<div id="hd">
					<div id="logo">
						<h1><a href="/"><span style="display:none;">Cyber-NY</span></a></h1>
					</div>
					<div id="search-wrap">
						<div id="myrs-float-left">
							<div id="phone"></div>1-888-70-CYBER <span class="links-phone">212-475-2721</span>

						</div>
						<div id="myrs-float-right">
							<ul class="social-icons">
								<li><a target="_blank" href="https://www.facebook.com/cyberny"><img src="/images/fb-icn.jpg" alt="icon" /></a></li>
								<li><a target="_blank" href="https://twitter.com/cyberny"><img src="/images/tw-icn.jpg" alt="icon" /></a></li>
								<li><a target="_blank" href="http://www.linkedin.com/company/cyber-ny-interactive"><img src="/images/li-icn.jpg" alt="icon" /></a></li>
								<li><a target="_blank" href="https://plus.google.com/102235210084805794226"><img src="/images/gp-icn.jpg" alt="icon" /></a></li>
								<li><a target="_blank" href="mailto:contact@cyber-ny.com"><img src="/images/em-icn.jpg" alt="icon" /></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div id="nav-wrap">
					<div id="nav">
						<?php if($this->loggedInUser()) { ?>
						<div id="logout">
							<?php
							if ($this->userClients()) {
							?>
							<form method="post" action="/auth/choose" id="changeClientForm">
								Select Account:
								<select name="client_id" id="client_id" style="width:150px;">
									<?php
									$auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('portal'));
									$user = $auth->getIdentity();
									foreach ($this->userClients() as $client_id => $client_name) {
										$selected = ($user->ClientID == $client_id)?"selected":"";
									?>
									<option value="<?=$client_id?>" <?=$selected?>><?=$client_name?></option>
									<?php } ?>
								</select>
							</form>
							<?php } ?>
							<a href="/auth/logout"><img src="/images/logout.gif" border="0"></a>
						</div>
						<ul id="<?=$this->placeholder('section');?>">
							<li id="nav-home"><a href="/">Home</a></li>
							<li id="nav-tickets"><a href="/tickets">Tickets</a>
								<ul>
									<span class="nav-arrow"></span>
									<li><a href="/tickets/list">View Tickets</a></li>
									<li><a href="/tickets/add" data-pop-up="add-ticket" title="Add Ticket" class="dialog pop-modal">Add Ticket</a></li>
									<li><a href="/tickets/archive" class="last-child">Archive</a></li>
								</ul>
							</li>
							<li id="nav-pay"><a href="/estimates">Estimates</a>
								<ul>
									<span class="nav-arrow"></span>
									<li><a href="/estimates">View Estimates</a></li>
									<li><a href="/estimates/add" data-pop-up="add-ticket" class="dialog pop-modal">Add Estimates</a></li>
									<li><a href="/estimates/archive" class="last-child">Archive</a></li>
								</ul>

							</li>
							<li id="nav-concepts"><a href="/concepts/list">Concepts</a></li>
							<li id="nav-retainer"><a href="/reporting">Reporting</a></li>
							<li id="nav-contact"><a href="/billing">Billing</a>
								<ul>
									<span class="nav-arrow"></span>
									<li><a href="/billing/invoices">Invoices</a></li>
									<li><a href="https://www.cyber-ny.com/payonline/" target="_blank" class="last-child">Pay Online</a></li>
								</ul>
							</li>
							<li><a href="/auth/logout">Logout</a></li>
						</ul>
						<?php
						}
						?>
					</div>
				</div>

				<div id="bd">
					<div id="content-wrap">
						<br>
						<div id="wrapper">
							<div id="date"><?=date("l F j, Y")?></div>

							<?php echo $this->layout()->content; ?>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="ft-break"></div>
		<div style="clear: both;padding-top: 70px; "></div>
		<div id="footer_wrapper">
            <div id="footer">
				<div id="ft">
					Copyright &#169; <?=date("Y")?> <a href="http://www.cyber-ny.com/" target="_blank">Cyber-NY</a> |
					<a href="http://www.cyber-ny.com/" target="_blank">www.cyber-ny.com</a> |
					212.475.2721
				</div>
            </div>
		</div>
	</div>

<div class="modal-trigger">
	<a class="close-modal posright"></a>
	<div class="modal-container"></div>
</div>



<script type="text/javascript">
$(document).ready(function(){
	$('.slide-toggler').click(function(){
		$('.user-switch').slideToggle();
	});


});
</script>
</body>
</html>