<?php
	//$this->headLink()->prependStylesheet('/css/reset-fonts-grids.css');
	$this->headLink()->appendStylesheet('/css/styles.css');
	$this->headLink()->appendStylesheet('/css/login.css');
	$this->headLink()->appendStylesheet('/css/datePicker.css');
	$this->headLink()->appendStylesheet('/css/ie.css', 'screen', 'lte IE 7');

	$this->headScript()->prependFile('http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js');
	$this->headScript()->appendFile('http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js');
	$this->headScript()->appendFile('http://ajax.microsoft.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js');
	$this->headScript()->appendFile('http://ajax.microsoft.com/ajax/jquery.validate/1.11.1/additional-methods.js');
	$this->headScript()->appendFile('/js/unitpngfix.js','text/javascript',array('conditional' => 'lt IE 7'));
?>
<?php //$this->auth = Zend_Auth::getInstance();?>
<?php
// echo $this->action('init', 'page', 'admin')
?>
<?php echo $this->doctype(); ?>
<html>
<head>
<?php
echo $this->headMeta();
echo $this->headTitle()->setSeparator(' :: ');
echo $this->headLink();
echo $this->headStyle();
echo $this->headScript();
?>

</head>
<body id="<?=$this->placeholder('section');?>">
	<div id="background_largeImg"></div>

	<div id="login_wrapper">
		<?php echo $this->layout()->content; ?>
	</div>

	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			var rnd = Math.floor((Math.random()*7)+1);
			var img_url = "/images/backgrounds/background_"+rnd+".jpg";

			var img = new Image();
			$(img).on("load",function () {
				$(this).hide();
				$("#background_largeImg").css( "background-image", "url("+img_url+")").fadeIn(800);
			}).attr('src', img_url);

		});
	</script>
</body>
</html>