<?php
$this->headLink()->prependStylesheet('/css/normalize.css');
$this->headLink()->appendStylesheet('/css/modal.css');
$this->headLink()->appendStylesheet('http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/start/jquery-ui.css');
$this->headLink()->appendStylesheet('/css/jqueryui.css');

$this->headScript()->prependFile('http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js');
$this->headScript()->appendFile('http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js');
$this->headScript()->appendFile('http://ajax.microsoft.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js');
$this->headScript()->appendFile('http://ajax.microsoft.com/ajax/jquery.validate/1.11.1/additional-methods.js');
$this->headScript()->appendFile('//tinymce.cachefly.net/4.0/tinymce.min.js');
$this->headScript()->appendFile('/js/jquery-ui.combobox.js');
$this->headScript()->appendFile('/js/jquery.ajaxForm.js');
?>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<?php
	echo $this->headMeta();
	echo $this->headTitle()->setSeparator(' :: ');
	echo $this->headLink();
	echo $this->headStyle();
	echo $this->headScript();
	?>
</head>
<body>

<?php echo $this->layout()->content; ?>

</body>
</html>