<?php
	$this->headLink()->prependStylesheet('/css/reset-fonts-grids.css');
	$this->headLink()->appendStylesheet('/css/styles.css');
	$this->headLink()->appendStylesheet('/css/ie.css', 'screen', 'lte IE 7');
	$this->headLink()->appendStylesheet('/css/ie6.css', 'screen', 'lte IE 6');
	$this->headLink()->appendStylesheet('/css/jquery-ui-1.8.custom.css');
	$this->headLink()->appendStylesheet('/css/jquery.cluetip.css');
	$this->headLink()->appendStylesheet('/css/modal.css');
	$this->headlink()->appendStylesheet('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
	$this->headScript()->prependFile('http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js');
	$this->headScript()->appendFile('http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js');
	$this->headScript()->appendFile('/js/jquery.ajaxForm.js');
	$this->headScript()->appendFile('http://ajax.microsoft.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js');
	$this->headScript()->appendFile('http://ajax.microsoft.com/ajax/jquery.validate/1.11.1/additional-methods.js');
	$this->headScript()->appendFile('/js/jquery.cycle.all.js');
	$this->headScript()->appendFile('/js/jquery.easing-1.3.pack.js');
	$this->headScript()->appendFile('/js/jquery-ui.combobox.js');
	$this->headScript()->appendFile('/js/jquery.bpopup.min.js');
	$this->headScript()->appendFile('/js/main.js');
	$this->headScript()->appendFile('/js/unitpngfix.js','text/javascript',array('conditional' => 'lt IE 7'));

?>
<?php //$this->auth = Zend_Auth::getInstance();?>
<?php
// echo $this->action('init', 'page', 'admin')
?>
<?php echo $this->doctype(); ?>
<html>
<head>

<?php
echo $this->headMeta();
echo $this->headTitle()->setSeparator(' :: ');
echo $this->headLink();
echo $this->headStyle();
echo $this->headScript();
?>

</head>
<body id="slideshow">
	<div id="content_wrapper">
		<div id="page-wrap">
			<div id="document-wrap">
				<?php echo $this->layout()->content; ?>
			</div>
		</div>
	</div>

	<br/><br/>

	<div class="modal-trigger">
		<a class="close-modal posright"></a>
		<div class="modal-container"></div>
	</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

});
</script>

</body>
</html>